@charset "utf-8";
/* CSS Document */

/*----------------常规----------------*/
.bg_white{ background-color:#fff;}
.bg_grey{ background-color:#efefef;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
input[type="radio"]{ background: url(../img/rdo.png) no-repeat;}

/*----------------登录----------------*/
.login_bg{ background:url(../img/login/bg.jpg) no-repeat; background-size:100% auto;}
.login-box{ width:100%;}
.login-logo{ width:25%; margin:30px 37.5% 20px 37.5%; border-radius:300px;}
.login-box .input-box{ background:#fff; border-top:#f5fafc 1px solid; border-bottom:#ddeef1 1px solid;}
.login-box .input-box.ricon { padding-right:56px;}
.login-box .input-box input{ color:#383636; text-indent:20px;}
.login-box .input-box.ricon i{ right:16px;}
.login-box .input-box .input-icon-clear{ background-image:url(../img/login/del.png);}
.login-submit{ margin:20px auto; display:block; width:90%; background:#00afdc;}
.login-submit:active{ background:#00a5cf;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.login_btm{ position:absolute; bottom:30px; width:88%; margin-left:6%;}
.login_btm a{ color:#0570b1;}

/*----------------注册----------------*/
.iconline-arrow-left{ background:url(../img/titlebar/back.png) no-repeat; background-size:100% auto;}
.iconline-arrow-left:active{ background:url(../img/titlebar/back-c.png) no-repeat; background-size:100% auto;}
.tyy .titlebar .iconfont{ width:32px; height:32px;}
.reg_block{ background-color:#f9f9f9; top:0; position:relative; padding:10px 0 0 0; padding: 0;}
.reg_block .tabbar[data-tabtype="rect"]{ background:#efefef; border:0; width:60%; margin:0 auto; border-radius:4px;}
.reg_block .tabbar[data-tabtype="rect"] .tab{ border:0;}
.reg_block .tabbar[data-tabtype="rect"] .tab .tab-label{ font-size:16px;}
.reg_block .tabbar[data-tabtype="rect"] .tab:active, .tabbar[data-tabtype="rect"] .tab.active{ background:#37acf4;}
.reg_input .input-box{ background:#f9f9f9; border-top:0; border-bottom:#cecece 1px solid;}
.reg_input .input-box.ricon { padding-right:116px;}
.reg_input .input-box input{ color:#ababab; text-indent:20px; font-size:14px;}
.reg_input .input-box .reg_obtain{ background-color:#70b92c; height:30px; line-height:30px; border-radius:4px; width:100px; text-align:center; display:inline-block; color:#fff; position:absolute; top:50%; -webkit-transform: translateY(-50%); right:16px;}
.reg_input .input-box .reg_obtain:active{ background-color:#669d2a;}
.reg_input .input-box .reg_obtain_grey{ background-color:#efefef; color:#969696;}
.reg-submit{ position:relative; margin:16px auto 10px auto; display:block; width:90%; background:#70b92c;}
.reg-submit:active{ background-color:#669d2a;}
.reg_btm{ position:absolute; bottom:0; width:100%; border-top:#cecece 1px solid; color:#808080; text-align:center; height:50px; line-height:50px;}
.reg_btm a{ color:#37acf4;}

/*----------------找回密码----------------*/
.find_block{ background-color:#f9f9f9; position:relative; margin:10px 0 30px 0;}
.find_block input{ color:#ababab; text-indent:20px; font-size:14px;}
.iconline-arrow-right{ background:url(../img/titlebar/search.png) no-repeat; background-size:100% auto;}
.iconline-arrow-right:active{ background:url(../img/titlebar/search-c.png) no-repeat; background-size:100% auto;}

/*----------------首页----------------*/
.tabbar_weather[data-tabtype="slide"] .tab:active,.tabbar[data-tabtype="slide"] .tab.active{ border-width:0 0 4px 0; color:#dd0016; border-color:#dd0016;}
.tabbar{ background-color:#f8f8f8;	border-color:#cccccc; color:#8a8a8a; border-width:1px 0 0 0;border-style:solid;}
.tabbar_weather .tab-label{ font-size:14px;}
.tab:active,.tab.active,.tab.current{-webkit-box-sizing:border-box;color:#37acf4;}
.tab-icon+.tab-label{ height: 14px; line-height:14px; margin: 2px 0 0 0;}
.tab-icon-home{	background-image:url(../img/tabbar/tab-home.png);}
.tab-icon-resources{ background-image:url(../img/tabbar/tab-resources.png);}
.tab-icon-forms{ background-image:url(../img/tabbar/tab-forms.png);}
.tab-icon-staff{ background-image:url(../img/tabbar/tab-staff.png);}
.tab-icon-more{	background-image:url(../img/tabbar/tab-more.png);}
.tab-icon-home{	background-image:url(../img/tabbar/tab_home.png);}
.tab-icon-forum{ background-image:url(../img/tabbar/tab_forum.png);}
.tab-icon-quality{ background-image:url(../img/tabbar/tab_quality.png);}
.tab-icon-mine{	background-image:url(../img/tabbar/tab_mine.png);}
.mainnews_tit{ border-bottom:#dddddd 1px solid; padding:10px; height:20px; line-height:20px; vertical-align:top;}
.mainnews_tit i{ background-color:#00b0df; width:4px; height:20px; display:inline-block; margin-right:5px;}
.mainnews_tit a{ float:right; display:inline; color:#00b0df;}

.custom-main.swiper-container{ background-color:#fff;}
.custom-main .swiper-slide{ background-color:#fff;}
/*调整小点点位置*/
.custom-main.swiper-container-horizontal > .swiper-pagination{bottom:50px;}
.custom-main .swiper-title{background-color:rgba(0,0,0,.4)}
/*菱形小点点*/
.custom-main .swiper-pagination-bullet{
   width: 0;
   height: 0;
   border-left: 6px solid transparent;   
   border-right: 6px solid transparent;   
   border-bottom:  6px solid rgba(255,255,255,.7);
   
   /*去除原始样式*/
   border-radius:0;
   background-color:transparent;
}
.custom-main .swiper-pagination-bullet:after {  
   content:"";  
   position: absolute;
   width: 0;
   height: 0;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent; 
   border-top: 6px solid rgba(255,255,255,.7);
   margin-top:6px;
   margin-left:-6px;
}
.custom-main .swiper-pagination-bullet-active{ 
   border-bottom: 6px solid #37acf4;   
}  
.custom-main .swiper-pagination-bullet-active:after {
   border-top: 6px solid #37acf4;
}

/*----------------资讯----------------*/
.listitem_info{}
.listitem_info li .limg{ width:25%;}
.listitem_info li .rcaption span{ color:#dd0016;}
.information_detail_block{ padding:10px 10px; line-height:26px;}
.information_detail_block .mtt{ color:#191919; font-size:16px;}
.info_detail{ width: 100%; height: 20px; line-height:20px; padding:10px 0;}
.info_detail .info{ float:left; font-size: 12px;}
.info_detail .praise{ float: right;}
.info_detail .praise .zan{background:url(../img/forum/zan.png) no-repeat; background-size:100% 100%; width:20px; height:20px; display:inline-block; margin-right:5px; vertical-align: middle;}
.info_detail .praise label{ vertical-align: middle; font-size: 12px;}
.info_detail .praise:active .zan{background:url(../img/forum/zan-c.png) no-repeat; background-size:100% 100%;}
.info_detail .praise:active label{ color: #37acf4;}

/*----------------资讯详情----------------*/
.titlebar .titlebar_infodetail_ricon{ position:absolute; z-index:2; right:8px; display:block; top:50%; -webkit-transform:translateY(-50%); font-style:normal; font-size:14px; color:#fff; background:url(../img/reddot.png) no-repeat; background-size:100% 100%; padding:2px 8px; height:20px; line-height:24px;}
.comment_footer{ border-top:#cccccc 1px solid; background:#f5f5f5; padding:5px 0 5px 0; height:40px;}
.comment_footer_area{ width:auto; color:#999; height:38px; line-height:38px; background:#fff; border:#ddd 1px solid; border-radius:60px; margin:0 88px 0 8px;}
.comment_footer_area:focus{border-bottom: 1px #3779d0 solid;}
.comment_footer_area .edit_icon{ background:url(../img/footer_edit.png) no-repeat; background-size:100% auto; width:24px; height:24px; display:inline-block; margin:8px 8px 0 8px;}
.footer_share{ background:url(../img/footer_share.png) no-repeat; background-size:100% auto; width:32px; height:32px; margin:5px 8px 0 0;}
.footer_share:active,.footer_share.active{ background:url(../img/footer_share-c.png) no-repeat; background-size:100% auto;}
.footer_collect{ background:url(../img/footer_collect.png) no-repeat; background-size:100% auto; width:32px; height:32px; margin:5px 8px 0 0;}
.footer_collect:active,.footer_collect.active{ background:url(../img/footer_collect-c.png) no-repeat; background-size:100% auto;}
.titlebar a:last-child.disable{	color:#aaa;}
.comment_footer_area_none{ margin:0 8px 0 8px;}

/*----------------资讯详情-评论----------------*/
.pop_comment{ background:#f8f8f8; position:fixed; z-index:1000; height:154px; width:100%; bottom:0;}
.pop_comment .titlebar{ background-color:transparent;}
.pop_comment .titlebar a{ color:#333333;}
.pop_comment .titlebar a#pop_sent{ color: #37acf4;}
.pop_comment .titlebar h1{ color:#333333;}
.pop_comment .area{ width:96%; margin:0 0 0 1.9%; height:100px; border:#ddd 1px solid;}
.pop_comment .area textarea{ width:96%; border:0; background:#fff; height:90px; padding:5px 2%; font-family:"Microsoft Yahei"; font-size: 14px;}
.pop_comment .titlebar a#pop_sent.disable{ color:#aaa;}

/*----------------社区----------------*/
.community_list{}
.community_list .icon-man{ background:url(../img/list/list_icon01.png) no-repeat; background-size:100% auto;}
.square{ border-radius:0; width:56px; height:56px;}
.square-blue{ background:#36a3f0;}
.square-red{ background:#ff5561;}
.square-oqange{ background:#f87811;}
.square-green{ background:#18b97b;}
.square-yellow{ background:#fcb51e;}
.square i{ width:44px; height:44px;}
.community_list li .limg{ width:56px; height:56px;}
.community_list li .text{ padding: 3px 0;}
.community_list li .text .mtit{ color:#0f1011; font-size:16px; line-height:1em;}
.community_list li .text .record{ color:#b8babd; font-size: 12px; margin: 4px 0; line-height:1em;}
.community_list li .text .record span{ margin: 0 10px;}
.community_list li .text .ftit{ color:#b8babd; line-height:1em;}
.community_list li .text .ftit span{ margin-right:5px;}
.community_list li .text i{ width:20px; height:20px; display:inline-block;}
.community_list li .text .forum_icon_tie{ background:url(../img/forum/tie.png) no-repeat; background-size:100% auto;}
.community_list li .text .forum_icon_peo{ background:url(../img/forum/peo.png) no-repeat; background-size:100% auto;}
.community_list li .ricon, .community_list .li .ricon{ width: 24px; height: 24px;}

/*----------------论坛----------------*/
.forum_search{ background:#f9f9f9; border-bottom:#cecece 1px solid; padding:10px 10px;}
.forum_search .input-box{ margin:0;}
.input-icon-search{ background:url(../img/forum/search.png) no-repeat; background-size:100% 100%; width:20px; height:20px;}
.forumlist{}
.forumlist li{ margin:10px 0 0 0; padding:10px 0; padding-bottom:46px; border-top:#ddd 1px solid; background:#fff;}
.forumlist li .limg{ width:48px;}
ul.noclick li:active{ background-color:white;}
.forumlist_top{ margin:10px 0 10px 0;}
.forumlist_btm{ border-top:#ddd 1px solid;}
.forumlist_ul li .limg{ margin-left:10px;}
.forumlist_ul li .text{ margin-right:10px; height: 32px; padding: 8px 0 8px 0;}
.forumlist_ul li .info{ padding: 0 10px;}
.forumlist li .mmtt{ color:#5c5a58; font-size:16px; height: 16px; margin-bottom: 1px;}
.forumlist li .mmtt.orange{ color:#f17b0d;}
.forumlist li .mmtt.blue{ color:#37acf4;}
.forumlist li .info{ clear:both; margin:10px 0 0 0; color: #565656; line-height:1.5em;}
.forumlist li .iimg{ margin-left:10px;}
.forumlist li .iimg img{ margin:5px 0; width:80%;}
.forumlist li .btmbar{ width:100%; display:table; background:#fdfdfd; padding:10px 0; position:absolute; bottom:0; left:0;}
.forumlist li .btmbar a{ display:table-cell; text-align:center; height:20px; color:#b7b5b3; border-right:#f3f3f3 1px solid;}
.forumlist li .btmbar a label{vertical-align: middle;}
.forumlist li .btmbar a:active{ color:#37acf4;}
.forumlist li .btmbar .icon{ width:16px; height:16px; display:inline-block; margin-right:5px; vertical-align: middle;}
.forumlist li .btmbar .icon_zan{ background:url(../img/forum/zan.png) no-repeat; background-size:100% auto;}
.forumlist li .btmbar a.active{ color:#37acf4;}
.forumlist li .btmbar a:active .icon_zan,.forumlist li .btmbar a.active .icon_zan{ background:url(../img/forum/zan-c.png) no-repeat; background-size:100% auto;}
.forumlist li .btmbar .icon_pin{ background:url(../img/forum/pin.png) no-repeat; background-size:100% auto;}
.forumlist li .btmbar a:active .icon_pin,.forumlist li .btmbar a.active .icon_pin{ background:url(../img/forum/pin-c.png) no-repeat; background-size:100% auto;}
.forumlist li .btmbar .icon_share{ background:url(../img/forum/share.png) no-repeat; background-size:100% auto;}
.forumlist li .btmbar a:active .icon_share,.forumlist li .btmbar a.active .icon_share{ background:url(../img/forum/share-c.png) no-repeat; background-size:100% auto;}
.forumlist li .btmbar a:last-child{ border-right:0;}
.forum_footer .tabbar .tab{ border-right:#cdcdcd 1px solid}
.forum_footer .tabbar .tab:last-child{ border-right:0;}

/*----------------论坛详情----------------*/
.forum_detail_tit{ font-size:16px; padding:10px 10px 0 10px;}
.forumdetail li{ padding:10px 10px; margin:0 0 0 0; border-top:0;}
.forumdetail li .text{ height: 32px; padding: 8px 0;}
.forumdetail li .detailicon{ text-align:right; position: absolute; top:24px; right: 10px; height: 20px;}
.forumdetail li .detailicon a{ display:inline-block; height:20px; color:#58777f; margin:0 0 0 15px;}
.forumdetail li .detailicon a i{ vertical-align: middle; margin:0 5px 0 0;}
.forumdetail li .detailicon a label{ vertical-align: middle;}
.forumdetail li .detailicon .icon_zan{ background:url(../img/forum/zan-c.png) no-repeat; background-size:100% auto; display:inline-block; width:16px; height:16px;}
.forumdetail li .detailicon .icon_pin{ background:url(../img/forum/pin-c.png) no-repeat; background-size:100% auto; display:inline-block; width:16px; height:16px;}

/*----------------发表新帖----------------*/
.forum_release_block{ background:#fff; border-top:#e3e3e3 1px solid; border-bottom:#e3e3e3 1px solid; overflow:hidden; padding:0 10px;}
.forum_release_block .label-left{ text-indent:5px; font-size:14px;}
.forum_release_block .input-box{ border:0;}
.forum_release_block .input-box input[type="text"]{ text-align:right; padding-right:30px;}
.forum_release_block .input-box .check{ height:20px; line-height:20px; padding:10px 0 10px 0; text-indent:10px; text-align:right; color:#37acf4;}
.forum_release_block .input-box i.icon{ background:url(../img/list/arrow.png) no-repeat; background-size:100% auto; width:24px; height:24px; right:0; display:inline-block;}
.htit{ padding:10px 10px; font-size:16px;}
.forum_release_block textarea{ width:100%; border:0; border-bottom:#ddd 1px solid; height:120px; color:#767676; font-family: "Microsoft Yahei"; font-size:14px; padding: 10px 0;}
.forum_release_block .photo{ background-image:url(../img/photo.jpg);background-repeat:no-repeat;background-position:center center; background-size:cover; display:inline-block; width:44px; height:44px; margin:5px 0;}
.button_release{ background-color:#70b92c; width:94%; margin:10px 3%;}
.button_release:active{ background-color:#669d2a;}
.add_release_block .apply_box select{ font-size: 14px; font-family: "Microsoft Yahei"; direction: rtl; text-indent: 0; color: #34a8f1; background: transparent;}
.add_release_block .apply_box select option{ direction: rtl; color: #333;}

/*----------------投票----------------*/
.iconline-arrow-right-add{ background:url(../img/titlebar/add.png) no-repeat; background-size:100% auto;}
.iconline-arrow-right-add:active{ background:url(../img/titlebar/add-c.png) no-repeat; background-size:100% auto;}
.votelist{ position:relative; padding:10px 0 0 0;}
.votelist li{ background-color:white; margin-bottom:10px; border-top:#f6f6f6 1px solid; border-bottom:#f6f6f6 1px solid;}
ul.noclick li:active{ background-color:white;}
.votelist .limg{ width: 48px;}
.votelist .text{ height: 32px; padding: 8px 0;}
.votelist .text .mmtt{ color:#2c4780; font-weight:bold; font-size:16px; height: 16px; margin-bottom: 1px;}
.votelist .text .sm{ height: 12px;}
.votelist .info{ line-height:24px; margin:10px 0 0 0;}
.votelist .info img{ margin-top:5px;}
.votelist .text_info{ color:#aaa; margin: 10px 0 0 0;}
.text_end{ color:#16a7de; text-align:center; font-size:16px; padding:5px 0;}
.votelist_icon_bg{ background:url(../img/vote/votelist_bg_end.png) no-repeat; background-size:100% auto; position:absolute; right:0; top:0; width:64px; height:12px; padding:7px 0 6px 0; color:white; text-align:center; font-size:12px; font-style:normal;}

/*----------------投票详情----------------*/ 
.vote_detail_line{ background-color:#f0f0f0; height:10px; width:100%; border-top:#c0c0c0 1px solid;}
.vote_detail{ padding:10px;}
.vote_detail .limg{ margin-right:10px; float:left;}
.vote_detail .text{}
.vote_detail .text small{ margin-top:4px;}
.vote_detail .text .mmtt{}
.vote_detail small{ display:block; height: 12px;}
.vote_detail_bar{ width:100%;}
.vote_detail_bar li{ width:100%; background:#fbfbfb; border:0; padding:10px 0; margin-bottom:2px; position:relative;}
.vote_detail_bar li .vote_detail_bg{ position:absolute; top:0; bottom:0; left:0; z-index:2; background:#e4f8ff;}
.vote_detail_bar li .text{ color:#7d7d7d; position:relative; z-index:9; padding:0 80px 0 20px;}
.vote_detail_bar li .text .num{ right:10px;}
.vote_detail_bar li .text .num i{ font-style:normal; font-size:18px; margin:0 5px;}
.vote_detail_text_end{ color:#aaa; padding:10px 10px;}
.text_grey{ color:#9f9f9f;}

/*----------------新增投票----------------*/ 
.vote_block{ background-color:white; border-bottom:#e3e3e3 1px solid; border-top:#e3e3e3 1px solid; margin-top:10px; color:#aaaaaa;}
.optionlist{ padding-left:40px;}
.optionlist input{ padding:10px 0; height:20px; border:0; border-bottom:#e3e3e3 1px solid; width:100%;}
.vote_add{ position:relative; height:20px; padding:10px 0; text-indent:40px;}
.vote_add .licon{ position:absolute; top:50%; display:inline-block;-webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); margin-top:-10px\0; width:24px; height:24px; left:8px;}
.vote_add .icon-add{ background:url(../img/vote/icon_add.png) no-repeat; background-size:100% auto;}
.vote_add_text{ color:#aaaaaa; padding:10px 10px;}
.vote_block .input-box{ border:0;}
.vote_block .label-left{ color:#757575; height: 20px; line-height: 20px; padding: 10px 0;}
.vote_block .label-right{ color:#000; text-align:right;}
.vote_block .label-right label{ display: inline-block;}
.vote_block .label-right input{ text-align:right; vertical-align: middle; margin-right: 5px;}
.vote_block .label-right select{ text-align:right;}
.vote_block .label-right select option{ text-align:right;}
.vote_block .input-box span{ padding:10px 0; height:20px; display:inline-block; vertical-align: middle;}
.vote_block .toggle{ margin:5px 4px 0 0;}
.input-icon-arrow{ background:url(../img/list/arrow.png) no-repeat; background-size:100% 100%;}
.mr10{ margin-right:10px;}

/*----------------我的-用户/经销商----------------*/ 
.user_bg{ background:url(../img/mine/img.jpg) no-repeat; background-size:100% 100%; padding:50px 25px;}
.user_bg .limg{ float:left; margin-right:20px; width:64px; height: 64px; border-radius:100px;}
.user_bg .text{ margin-top:10px; color:#9d9999;}
.user_bg .text .mtt,.user_bg .text .mtt a{ font-size:16px; color:#383636;}
.minelist hr{ margin-top:0; margin-left:10px;}
.minelist li{ border-bottom:0;}
.minelist li .licon{ width:20px; height:20px; left:15px;}
.minelist li .ricon{ width:20px; height:20px;}
.minelist li .ricon~.text{ color:#333; padding-left:30px; padding-right:60px;}
.rnum{ position:absolute; top:50%; display: inline-block; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); margin-top: -10px\0;}
.rcircle{ background-color:#ef490f; border-radius:20px; width:10px; height:10px;}
.minelist li .rnum{ right:34px; font-style:normal; color:#ef490f;}
.icon-person{ background:url(../img/mine/mine_person.png) no-repeat; background-size:100% auto;}
.icon-news{ background:url(../img/mine/mine_news.png) no-repeat; background-size:100% auto;}
.icon-commodity{ background:url(../img/mine/mine_commodity.png) no-repeat; background-size:100% auto;}
.icon-repairs{ background:url(../img/mine/mine_repairs.png) no-repeat; background-size:100% auto;}
.icon-home_furnishing{ background:url(../img/mine/mine_home_furnishing.png) no-repeat; background-size:100% auto;}
.icon-evaluate{ background:url(../img/mine/mine_evaluate.png) no-repeat; background-size:100% auto;}
.icon-collect{ background:url(../img/mine/mine_collect.png) no-repeat; background-size:100% auto;}
.icon-dealer_news{ background:url(../img/mine/mine_dealer_news.png) no-repeat; background-size:100% auto;}
.icon-search{ background:url(../img/mine/mine_search.png) no-repeat; background-size:100% auto;}
.icon-exit{ background:url(../img/mine/mine_exit.png) no-repeat; background-size:100% auto;}

/*----------------个人信息-消费者----------------*/
.button_cancel{ background:#db5324;}
.button_cancel:active{ background:#cb4415;}
.customerlist li .licon{ font-style:normal; width:100px;}
.customerlist li .ricon~.text{ text-align:right; color:#37acf4; padding-right:20px;}
.customerlist li .ricon~.text a{ color:#37acf4;}
.customerlist li .ricon~.text.disable{ color:#aaa;}
.customerlist li .micon~.text{ padding-right:5px;}
.customerlist li.picbar .licon{ width:44px; height:44px;}
.customerlist li.picbar .licon img{ width: 100%;}
.customerlist li.picbar .ricon~.text{ height:44px; line-height:44px; padding-left:50px;}

/*----------------我的商品----------------*/
.commodity_block{ background:#fff; position:static; padding:10px 0 0 0;}
.commodity_block .tabbar[data-tabtype="slide"]{ background:#fff; border:0; width:60%; margin:0 auto; padding:0 0 10px 0; border-radius:4px;}
.commodity_block .tabbar[data-tabtype="slide"] .tab{ border:0; background:#efefef;}
.commodity_block .tabbar[data-tabtype="slide"] .tab .tab-label{ font-size:16px;}
.commodity_block .tabbar[data-tabtype="slide"] .tab.active , .commodity_block .tabbar[data-tabtype="slide"] .tab:active{ background:#37acf4; color:#fff;}
.commodity_block .tabbar[data-tabtype="slide"] .tab:first-child{ border-top-left-radius:4px; border-bottom-left-radius:4px;}
.commodity_block .tabbar[data-tabtype="slide"] .tab:last-child{ border-top-right-radius:4px; border-bottom-right-radius:4px;}
.commodity_block .swiper-container{ background-color:#fff;}
.commodity_block .swiper-slide{ background-color:#fff;}
.commodity_item{ border-top:#cecece 1px solid;}
.commodity_item li .limg{ border:#cecece 1px solid; width: 80px;}
.commodity_item li .text .mtt{ color:#313131; margin-top:5px; font-size:16px;}
.commodity_item li .text .link{ border:#dd0016 1px solid; color:#dd0016; border-radius:4px; padding:2px 10px; display:inline-block; margin-top:5px;}
.commitem_top{ padding:0 5px 10px 5px; margin-bottom:10px; position:relative; border-bottom:#cecece 1px solid;}
.commitem_top .link_repair{ color:#37acf4; position:absolute; top:0; right:10px;}
.commitem_top .mtext{ padding-right:80px;}
.commitem_top .mtext .date{ color:#9c9c9c;}
.commodity_item02 li{ padding:10px 0;}
.commodity_item02 li .limg{ margin-left:10px;}
.commodity_item02 li .text{ margin-right:10px;}
.commodity_item_sh{ background:#efefef;}
.commodity_item_sh li{ margin-bottom:10px; border-top:#cecece 1px solid; background:#fff;}
.commodity_item_sh li .limg{ border:#cecece 1px solid; width: 80px;}
.commodity_item_sh li .text{ padding:0 5px;}
.commodity_item_sh li .text .mtt{ color:#313131; margin-top:5px; font-size:16px;}
.commodity_item_sh li .text .link{ border:#dd0016 1px solid; color:#dd0016; border-radius:4px; padding:2px 10px; display:inline-block; margin-top:5px;}
.commodity_item_sh li .text .c_red{ color:#da5324;}
.commodity_item_sh li .text .c_green{ color:#71ba2d;}

/*----------------新增商品----------------*/ 
.iconline-arrow-right-edit{ background:url(../img/titlebar/edit.png) no-repeat; background-size:100% auto;}
.iconline-arrow-right-edit:active{ background:url(../img/titlebar/edit-c.png) no-repeat; background-size:100% auto;}
.mine_comm_add_block{ border-bottom:#cecece 1px solid; border-top:#cecece 1px solid; background:#fff; padding:10px 10px; position:relative; min-height:40px; color:#555555;}
.mine_comm_add_block .icon-code{ position:absolute; top:50%; display:inline-block; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform: translateY(-50%); margin-top: -10px\0; right:20px; background:url(../img/icon_code.png) no-repeat; background-size:100% 100%; width:32px; height:32px;}
.mine_comm_add_block .iin{ height:20px; padding:10px 0; border:0; width:100%; color:#555;}
.add_comm{ text-align:center; padding: 20px 10px; margin-top:10px;}
.add_comm .mpic{ width:30%; border:#ddd 1px solid; margin:0 0 10px 35%;}
.add_comm .mpic img{ width: 100%;}
.add_comm .mtt{ color:#313131; font-size:16px;}
.add_comm small{ color:#9c9c9c;}

/*----------------商品售后-详情----------------*/
.after_sale_detail_block{ border-top:#e8e8e8 1px solid; margin-bottom: 10px;}
.after_sale_detail_block .itemblock{ border-bottom:#e8e8e8 1px solid; background:#fff; padding:10px 0; color:#474444;}
.after_sale_detail_block .itemblock .after_sale_detail_top{ padding:5px 0 5px 0; position:relative; height: 20px;}
.after_sale_detail_block .itemblock .after_sale_detail_top .mt{ color:#da5324; vertical-align: middle; height: 20px;}
.after_sale_detail_block .itemblock .after_sale_detail_top .mmtt{ color:#37acf4;}
.after_sale_detail_block .itemblock .after_sale_detail_top .tel{ position:absolute; right:10px; color:#4d6efe;}
.after_sale_detail_block .itemblock .after_sale_detail_top .icon{ width:20px; height:20px; line-height:20px; margin:0 10px; display:inline-block; vertical-align: middle;}
.after_sale_detail_block .itemblock .after_sale_detail_top .icon_after_sale{ background:url(../img/mine/icon_after_sale.png) no-repeat; background-size:100% 100%;}
.after_sale_detail_block .itemblock .after_sale_detail_top .icon_people{ background:url(../img/mine/icon_people.png) no-repeat; background-size:100% 100%;}
.after_sale_detail_block .itemblock .after_sale_detail_top .icon_question{ background:url(../img/mine/icon_question.png) no-repeat; background-size:100% 100%;}
.after_sale_detail_block .itemblock .after_sale_detail_top .icon_store{ background:url(../img/mine/icon_store.png) no-repeat; background-size:100% 100%;}
.after_sale_detail_block .itemblock .mtext{ padding-left:45px;}
.after_sale_detail_item{ background:#efefef; margin-bottom:10px; background:#fff; overflow:hidden; padding:10px 0;}
.after_sale_detail_item .limg{ border:#cecece 1px solid; float:left; margin:0 10px; width: 80px;}
.after_sale_detail_item .text{ margin-right:10px;}
.after_sale_detail_item .text .mtt{ color:#313131; margin-top:5px; font-size:16px;}
.after_sale_detail_item .text small{ color:#aaa;}
.after_sale_detail_item .text .money{ color:#ff2a43;}

/*----------------申请售后----------------*/ 
.mime_apply_block{ margin-top: 10px;}
.mime_apply_block .label-left{ color:#171717; height: 20px; line-height: 20px; padding: 10px 0;}
.mime_apply_block .label-right{ text-align:right; padding:10px 32px 10px 0; height:20px;}
.mime_apply_block .label-right .check{ padding:0; color:#171717;}
.mime_apply_block .label-right label{ margin-top:8px; color:#c6c6c6;}
.mime_apply_block .label-right input[type="radio"]:checked~span{ color:#70b92c;}
.mime_apply_block .apply_box{padding:0 32px 0 0;}
.mime_apply_block .apply_box select{ font-size: 14px; font-family: "Microsoft Yahei"; direction: rtl; text-indent: 0; background: transparent;}
.mime_apply_block .apply_box select option{ direction: rtl;}
.mine_apply_btm{ padding:15px 0; text-align:center; width:100%; color:#c2c2c2;}
.mine_apply_btm span{ color:#00b0dd;}

/*----------------服务评价----------------*/
.mine_evaluation_block{ border-bottom:#ececec 1px solid; border-top:#ececec 1px solid; background:#fff; overflow:hidden; position:relative; padding:10px 80px 10px 50px;}
.mine_evaluation_block .zp{ position:absolute; left:10px; color:#606064;}
.mine_evaluation_block .star_text{ position:absolute; right:10px; color:#8b8b8b;}
/*----------------star----------------*/
.star-rating{
	position:relative;
	width:110px;
	height:20px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating li{
	display: inline;
}
.star-rating a, 
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}

.star-rating a:active,
.star-rating a.active{
	background-position: left bottom;
}
.star-rating a.one-star{
	width:20%;
	z-index:6;
}
.star-rating a.two-stars{
	width:40%;
	z-index:5;
}
.star-rating a.three-stars{
	width:60%;
	z-index:4;
}
.star-rating a.four-stars{
	width:80%;
	z-index:3;
}
.star-rating a.five-stars{
	width:100%;
	z-index:2;
}
.star-rating .current-rating{
	z-index:1;
	background-position: left bottom;
}	

/* for an inline rater */
.inline-rating{
	display:inline-block;
	vertical-align: middle;
}

/* smaller star */
.small-star{
	width:110px;
	height:20px;
}
.small-star,
.small-star a:active,
.small-star a.active{
	background-image:url(../img/mine/star_small.png);
	line-height: 20px;
	height:20px;
}

/*----------------评论回复----------------*/ 
.reply_comments li{ border-top:0; margin:0;}
.reply_comments_name{ color:#36a3f0;}
.reply_comments_block{ padding:10px 10px 10px 10px; color:#565656;}
.reply_comments_block .info{ padding:3px 0;}

/*----------------资讯配置----------------*/ 
.infor_figur_tit{ text-align:center; color:#c6c6c6; padding:10px 0;}
.infor_figur_mtt{ background-color:#f6f6f6; color:#959595; padding:5px 10px;}
.infor_figur_block{ overflow: hidden;}
.infor_figur_block a{ height: 40px; width: 30%; text-align:center; margin:10px 1.65%; float: left; display: inline;}
.infor_figur_block a i{ font-style: normal; color:#848484; border:#d0d0d0 1px solid; border-radius:20px; background-color:#f6f6f6; display: block; padding:8px 0; height: 20px; line-height: 20px;}
.infor_figur_block a:active i,.infor_figur_block a.active i{ color: #37acf4; border:#37acf4 1px solid;}

/*----------------填写地址----------------*/ 
.address_block .input-box{ background-color: #f9f9f9; padding:10px;}
.address_block textarea{ width:100%; display:block; border: 0; color:#ababab; height: 60px; background-color: #f9f9f9;}

/*----------------投票选择----------------*/ 
.vote_choice_bar li{ position: relative;}
.vote_choice_bar label{ padding: 0 10px 0 10px; display: block;}
.vote_choice_bar label input[type="radio"]{ background:url(../img/rdo.png) no-repeat; position:absolute; width: 22px; height: 22px; margin-right: 10px; top: 50%; -webkit-transform: translateY(-50%);}
.vote_choice_bar label input[type="checkbox"]{ background:url(../img/cbo.png) no-repeat; position:absolute; width: 22px; height: 22px; margin-right: 10px; top: 50%; -webkit-transform: translateY(-50%);}
.vote_choice_bar label input[type="checkbox"]:checked,.vote_choice_bar label input[type="radio"]:checked { background-position:-44px 0;}
.vote_choice_bar label input[type="checkbox"] + span, .vote_choice_bar label input[type="radio"] + span{ display: block; marhin:0; padding-left: 25px;}

/*----------------重置密码----------------*/ 
.reset_input .input-box input.reg_obtain{ text-indent: 0;}
.reset_input .input-box input.reg_obtain[disabled]{ background-color:#efefef; color:#969696;}

/*----------------我的商品-搜索+扫描----------------*/ 
.iconline-arrow-right-code{ background:url(../img/titlebar/code.png) no-repeat; background-size: 100% auto;}
.iconline-arrow-right-code:active{ background:url(../img/titlebar/code-c.png) no-repeat; background-size: 100% auto;}
.mine_commodity_input_block .label-right input{ padding: 0; text-align: right}
.code_input_block{ height: 40px; position: relative; padding:10px 60px 10px 10px;}
.code_input_block input{ height: 20px; line-height:20px; padding:10px 0; border: 0; background: #f6f6f6; border-radius: 20px; width: 100%;}
.code_input_block a{ position:absolute; top:10px; right:0; height: 20px; line-height:20px; padding:10px 0; color: #37acf4; width:60px; text-align: center; display: block;}
.mine_commodity_input_block .input-box i.data_month{ position: absolute; width: 24px; font-style: normal; text-align:center;}

/*----------------我的收藏----------------*/
.icon_top_delete{ background:url(../img/titlebar/del.png) no-repeat; background-size:100% auto;}
.icon_top_delete:active{ background:url(../img/titlebar/del-c.png) no-repeat; background-size:100% auto;}
.mine_collect li .detailicon .icon_zan{ background: url(../img/forum/zan.png) no-repeat; background-size: 100% auto;}
.mine_collect li .detailicon a:active .icon_zan{ background: url(../img/forum/zan-c.png) no-repeat; background-size: 100% auto;}
.mine_collect li .detailicon .icon_pin{ background: url(../img/forum/pin.png) no-repeat; background-size: 100% auto;}
.mine_collect li .detailicon a:active .icon_pin{ background: url(../img/forum/pin-c.png) no-repeat; background-size: 100% auto;}
.mine_collect li .detailicon a{ color:#b7b5b3;}
.mine_collect li .detailicon a:active{ color:#37acf4}
.mine_collect_dellist li{ position: relative; padding-right:60px;}
.mine_collect_dellist li .detailicon{ right:60px;}
.mine_collect_dellist li .rcaption{ right:60px;}
.mine_collect_delete{ display:none; position:absolute; right:8px; background-color: #f5376c; color: #fff; border-radius:4px; width: 44px; height:20px; line-height:20px; padding:5px 0; text-align: center; top:50%;margin-top:-10px;}
.mine_collect_dellist{}
.mine_collect_dellist .mine_collect_delete{	display:block;}

/*----------------水质检测----------------*/
.icon_top_location{ background:url(../img/titlebar/ding.png) no-repeat; background-size:100% auto;}
.icon_top_location:active{ background:url(../img/titlebar/ding-c.png) no-repeat; background-size:100% auto;}
.icon_top_share{ background:url(../img/titlebar/share.png) no-repeat; background-size:100% auto;}
.icon_top_share:active{ background:url(../img/titlebar/share-c.png) no-repeat; background-size:100% auto;}
.water_block{ background-color: #fff;}
.water_box .gauge{ top:90px;}
.water_box .gauge_top_text{ position: absolute; top: 5px; left:10px; right:10px; color: #fff;}
.water_box .gauge_top_text .location{ padding-right:80px;}
.water_box .gauge_top_text .detection{ position:absolute; top:10px; right:0; width:70px; padding:2px 0; background-color: #fff; border-radius:4px; color: #37acf4; text-align: center; font-size: 12px;}
.water_box .gauge_tit{ position: absolute; top:50px; text-align: center; width: 100%; color: #fff; font-weight: normal;}
.water_box .gauge_tit span{ font-size:22px;}
.water_box .minfo{ text-align: center; color: #fff; position: absolute; top: 300px; width: 100%;}
.water_info{ padding:10px 10px;}
.water_info .tips{ color: #aaa;}
.water_list{ position:absolute; top:330px; width:100%; overflow: hidden; border-top:#fff 1px solid; border-top:rgba(255, 255, 255, 0.2) 1px solid;}
.water_list li{ float:left; display:inline; width: 25%; text-align: center; padding-top: 5px;}
.water_list li a{ color: #fff; display: block;}
.water_list li a:active{ opacity: 0.5;}
.water_list li .icon{ width: 32px; height: 32px; display: inline-block;}
.watericon_recommend{ background:url(../img/water/zan.png) no-repeat; background-size: 100% auto;}
.watericon_recommend:active{ background:url(../img/water/zan-c.png) no-repeat; background-size: 100% auto;}
.watericon_other{ background:url(../img/water/else.png) no-repeat; background-size: 100% auto;}
.watericon_other:active{ background:url(../img/water/else-c.png) no-repeat; background-size: 100% auto;}
.watericon_tds{ background:url(../img/water/what.png) no-repeat; background-size: 100% auto;}
.watericon_tds:active{ background:url(../img/water/what-c.png) no-repeat; background-size: 100% auto;}
.watericon_edit{ background:url(../img/water/xiu.png) no-repeat; background-size: 100% auto;}
.watericon_edit:active{ background:url(../img/water/xiu-c.png) no-repeat; background-size: 100% auto;}
.water_tit{ border-bottom:0;}
.water_tit a{ color: #aaa; vertical-align: top;}
.water_tit .write{ width:20px; height:20px; display:inline-block; background:url(../img/water/write.png) no-repeat; background-size: 100% auto; }

/*----------------性别----------------*/ 
.sex_box .sexli{ padding:10px 15px; position: relative;}
.sex_box .sexli:active{ background-color:rgba(0,0,0,0.2);}
.sex_box .sexli .gou{ display:none; background:url(../img/gou.png) no-repeat; background-size: 100% auto; width: 20px; height: 20px; position: absolute; right:10px; top:10px;}
.sex_box .sexli.active .gou{ display: block;}

/*----------------相册----------------*/ 
.photobar{ position: relative; height: 44px; margin:5px 0;}
.photobar .photo{ position: absolute; left:0; top:0; margin:0;}
.photobar .photohtml{ background-image:url(../img/photo.jpg);background-repeat:no-repeat;background-position:center center; background-size:cover; display:inline-block; width:44px; height:44px; margin:0 0 0 54px;}

/*----------------分享----------------*/ 
.share_block{ display:none; position: fixed; top:0; bottom:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); z-index: 5;}
.sharebar{ position:fixed; bottom:0; z-index:6; background-color:rgba(255,255,255,0.9); border:0; color: #333; padding:10px 0;}
.sharebar .tab-icon{ width: 44px; height: 44px;}
.tab-icon-qq{ background:url(../img/share/qqshare.png) no-repeat; background-size: 100% 100%;}
.tab-icon-wx{ background:url(../img/share/weixin.png) no-repeat; background-size: 100% 100%;}
.tab-icon-dx{ background:url(../img/share/mes.png) no-repeat; background-size: 100% 100%;}
.tab-icon-yj{ background:url(../img/share/email.png) no-repeat; background-size: 100% 100%;}
.weixin_block{ display:none; position: fixed; bottom:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); z-index: 6;}
.weixin_block .weixinbar{ position:fixed; bottom:0; z-index:6; background-color:rgba(255,255,255,0.9); width: 100%;}
.weixin_block .weixinbar .bar{ width:100%; text-align:center; color: #333; height:40px; line-height:40px;}
.weixin_block .weixinbar .bar:active{ background-color:rgba(0,0,0,0.2);}
.weixin_block .weixinbar input.bar{background-color:transparent;}
.weixin_block .weixinbar hr{ color:#cecece; margin:0;}

/*----------------一键查询----------------*/ 
.account_block{ padding: 0 10px;}
.account_block li{ border-bottom: #ddd 1px solid; padding: 10px 10px;}
.account_block li .red{ color:#ef490f; font-size: 18px; margin-right: 5px;}
.order_item .commitem_top .mtext{ padding-right: 0;}
.order_item .text p{ padding: 2px 0;}
.comtiy .mtext p{ padding: 2px 0;}
.comtiy .text{}
.comtiy .text p{ display: table; width: 100%; font-size: 13px; padding: 2px 0;}
.comtiy .text span{ display: table-cell; width: 50%;}
.button_top_search{ width: 100%; margin: 6px 0 0 0;}

/*----------------待评价----------------*/ 
.toevaluate_block{ background:#efefef;}
.toevaluate_block .commitem_top .link_repair{ border:#37acf4 1px solid; border-radius:4px; padding: 2px 10px;}
.toevaluate_block .commodity_item_sh li .text{ color: #898989; padding: 0;}
.toevaluate_block .commodity_item_sh li .text .mtt{ margin-top:0; font-size: 14px;}

/*----------------一键报修----------------*/ 
.mine_repair_block li{ padding: 10px 15px; border-bottom:#eee 1px solid; background-color: #fff;}
.mine_repair_block li:active{ background-color:rgba(0,0,0,0.2);}

/*----------------水质-定位----------------*/ 
.choose_tit{ padding: 10px 10px;}
input.choose_input{ position:relative; background-color: #fff; border-width:1px 0 1px 0; padding:12px 0; text-indent:12px; border-color:#ddd; width: 100%;}
.choose_list{ position:absolute; background-color: #fff; width: 100%;}
.choose_list li{ padding:6px 12px; color: #898989;}
.choose_list li:active{ background-color:rgba(0,0,0,0.2);}
.aside_block{ background-color:#fff; color: #333333;}
.aside_block .aside_item h3{ text-align: center; font-size: 16px; height: 43px; line-height:43px; color: #37acf4; font-weight: normal;}
.aside_block .aside_item hr{ margin:0;}
.aside_block .aside_item input{ background-color: #fff; border-radius: 20px; width: 80%; padding: 2px 0; margin:10px 10%;}
.aside_block .aside_item .list{ width: 90%; padding: 2px 0; margin:0 0 10px 10%;}
.aside_block .aside_item .list li{ border-bottom:#ddd 1px solid; padding: 5px 10px;}

/*----------------订单详情----------------*/ 
.order_detail{ margin:0 10px;}
.order_detail .label-left{ font-size:14px; width: 40%; height:20px; line-height: 20px; padding: 10px 0;}
.order_detail .label-right{ text-align: right; line-height: 20px; min-height:20px; padding:10px 0; font-size: 14px; color: #555; padding-right: 2%; width: 58%;}

/*----------------照片控件----------------*/ 
.grid-cell:last-child{ margin-bottom:0;}
