@charset "utf-8";
/* CSS Document */

/*----------------常规----------------*/
body{ background-color:#fff;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

/*----------------资讯配置----------------*/
.infor_figur_tit{ text-align:center; color:#c6c6c6; padding:10px 0;}
.infor_figur_mtt{ background-color:#f6f6f6; color:#959595; padding:5px 10px;}
.infor_figur_block{ overflow: hidden;}
.infor_figur_block a{ height: 40px; width: 30%; text-align:center; margin:10px 1.65%; float: left; display: inline;}
.infor_figur_block a i{ font-style: normal; color:#848484; border:#d0d0d0 1px solid; border-radius:20px; background-color:#f6f6f6; display: block; padding:8px 0; height: 20px; line-height: 20px;}
.infor_figur_block a:active i,.infor_figur_block a.active i{ color: #37acf4; border:#37acf4 1px solid;}
