/*----------------delay:start-----------------*/
.delay1{
    animation-delay:100ms;
    -webkit-animation-delay:100ms;
}
.delay2{
    animation-delay:200ms;
    -webkit-animation-delay:200ms;
}
.delay3{
    animation-delay:300ms;
    -webkit-animation-delay:300ms;
}
.delay4{
    animation-delay:400ms;
    -webkit-animation-delay:400ms;
}
.delay5{
    animation-delay:500ms;
    -webkit-animation-delay:500ms;
}
.delay6{
    animation-delay:600ms;
    -webkit-animation-delay:600ms;
}
.delay7{
    animation-delay:700ms;
    -webkit-animation-delay:700ms;
}
.delay8{
    animation-delay:800ms;
    -webkit-animation-delay:800ms;
}
/*----------------delay:end-----------------*/