@charset "utf-8";
/* CSS Document */

/*----------------常规----------------*/
body{ background-color: #fff; }
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

/*----------------资讯----------------*/
.information_detail_block{ padding:10px 10px; line-height:26px;}
.information_detail_block .mtt{ color:#191919; font-size:16px;}
.info_detail{ width: 100%; height: 20px; line-height:20px; padding:10px 0;}
.info_detail .info{ float:left; font-size: 12px;}
.info_detail .praise{ float: right;}
.info_detail .praise label{ vertical-align: middle; font-size: 12px;}
.info_detail .praise:active label{ color: #37acf4;}

/*----------------资讯详情----------------*/
.titlebar .titlebar_infodetail_ricon{ position:absolute; z-index:2; right:8px; display:block; top:50%; -webkit-transform:translateY(-50%); font-style:normal; font-size:14px; color:#fff; background:url(../img/detail-news/reddot.png) no-repeat; background-size:cover; padding:0 8px; height:24px; line-height:24px;}
.comment_footer{ border-top:#cccccc 1px solid; background:#f5f5f5; padding:5px 0 5px 0; height:40px;}
.comment_footer_area{ width:auto; color:#999; height:38px; line-height:38px; background:#fff; border:#ddd 1px solid; border-radius:60px; margin:0 88px 0 8px;}
.comment_footer_area:focus{border-bottom: 1px #3779d0 solid;}
.comment_footer_area .edit_icon{ background:url(../img/detail-news/footer_edit.png) no-repeat; background-size:cover; width:24px; height:24px; display:inline-block; margin:8px 8px 0 8px;}
.footer_share{ background:url(../img/detail-news/footer_share.png) no-repeat; background-size:cover; width:32px; height:32px; margin:5px 8px 0 0;}
.footer_share:active,.footer_share.active{ background:url(../img/detail-news/footer_share-c.png) no-repeat; background-size:cover;}
.footer_collect{ background:url(../img/detail-news/footer_collect.png) no-repeat; background-size:cover; width:32px; height:32px; margin:5px 8px 0 0;}
.footer_collect:active,.footer_collect.active{ background:url(../img/detail-news/footer_collect-c.png) no-repeat; background-size:cover;}
.titlebar a:last-child.disable{ color:#aaa;}
.comment_footer_area_none{ margin:0 8px 0 8px;}

/*----------------资讯详情-评论----------------*/
.pop_comment{ background:#f8f8f8; position:fixed; z-index:1000; height:154px; width:100%; bottom:0;}
.pop_comment .titlebar{ background-color:transparent; border-bottom:0;}
.pop_comment .titlebar a{ color:#333333; font-size: 14px; position: absolute;}
.pop_comment .titlebar a:first-child{ left: 8px; }
.pop_comment .titlebar a:last-child{ right: 8px; }
.pop_comment .titlebar a#pop_sent{ color: #37acf4;}
.pop_comment .titlebar h1{ text-align: center;}
.pop_comment .area{ width:96%; margin:0 0 0 1.9%; height:100px; border:#ddd 1px solid;}
.pop_comment .area textarea{ width:100%; border:0; background:#fff; height:100px; padding:5px 2%; font-family:"Microsoft Yahei"; font-size: 14px;}
.pop_comment .titlebar a#pop_sent.disable{ color:#aaa;}



