@charset "utf-8";
/* CSS Document */

/*----------------首页----------------*/
.tabbar{ background-color:#f8f8f8;	border-color:#cccccc; color:#8a8a8a; border-width:1px 0 0 0;border-style:solid;}
.tab:active,.tab.active,.tab.current{-webkit-box-sizing:border-box;color:#37acf4;}
.tab-icon+.tab-label{ height: 14px; line-height:14px; margin: 2px 0 0 0;}

/*----------------论坛----------------*/
.list li { display:block; padding: 0 8px; box-sizing: border-box; border-width: 1px 0 1px 0; border-style: solid;}
.list li .justify-block{
  display: flex;
  display: -webkit-flex;
  display: box;
  display: -webkit-box;
}
.list li {
  border-color: #dddddd;
  background-color: #ffffff;
}
.list li:active {
  background-color: #f4f4f4;
}
.forumlist li{ margin:10px 0 0 0;}
ul.noclick li:active{ background-color:white;}
.forumlist li .info{ line-height:1.5em;}
.forumlist li .btmbar{ width:100%; display:table; padding:10px 0;}
.forumlist li .btmbar a{ display:table-cell; text-align:center; height:20px; color:#b7b5b3; border-right:#f3f3f3 1px solid;}
.forumlist li .btmbar a label{vertical-align: middle;}
.forumlist li .btmbar .icon{ margin-right:5px;}
.forumlist li .btmbar a.active,.forumlist li .btmbar a:active{ color:#37acf4;}
.forumlist li .btmbar a:last-child{ border-right:0;}
.arrowbar .tab .tab-label, .menubar .tab .tab-label{ height: 40px; line-height: 40px; }