@charset "utf-8";
/* CSS Document */

/*----------------常规----------------*/
.bg_white{ background-color:#fff;}
.bg_grey{ background-color:#efefef;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
input[type="radio"]{ background: url(../img/rdo.png) no-repeat;}

/*----------------登录----------------*/
.login_bg{ background:url(../img/login/bg.jpg) no-repeat; background-size:cover;}
.login-box{ width:100%;}
.login-logo{ width:25%; margin:30px 37.5% 20px 37.5%; border-radius:100%;}
.login-box .input-box{ background:#fff; border-top:#f5fafc 1px solid; border-bottom:#ddeef1 1px solid;}
.login-box .input-box.ricon {}
.login-box .input-box input{ color:#383636; text-indent:20px;}
.login-box .input-box.ricon i{ right:16px;}
.login-box .input-box .input-icon-clear{ background-image:url(../img/login/del.png);}
.login-submit{ margin:20px auto; display:block; width:90%; background:#00afdc;}
.login-submit:active{ background:#00a5cf;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.login_btm{ position:absolute; bottom:30px; width:88%; margin-left:6%;}
.login_btm a{ color:#0570b1;}

