/*-----------------------------------------------------login2:start-----------------------------------------------------*/
body{
	 background:url(../img/login2/bg.png) no-repeat right bottom;
	 background-size:100% auto;
	 min-height:370px;
}
.login-box{
	margin:0 auto;
	width: 70%;
}
.login-logo{
	margin:30px 0 30px 0;
	width:60%;
}
.input-box.feature{
	margin:10px 0 0 0;
	border:none;
	border-bottom:1px solid #ddd;
}
.login-submit{
	border-radius:40px;
	width:100%;
}
.login-cbo{
	padding: 10px 0 34px 0;
}
.input-box.licon i, .input-box.lricon i:first-child{
	font-size: 30px;
	left:0px;
}
.input-box .icon-eye-fill{
	color:#e1e1e1;
}
.icon-eye-fill.active{
}
/*-----------------------------------------------------login2:end-----------------------------------------------------*/