.grid {
	background: #fff;
	margin:12px 0 0 0;
	border-top: 1px solid #ddd;	
	border-bottom: 1px solid #ddd;	
}
.grid.app a{
	color:white;
}
.grid .grid1 {
	-webkit-animation-delay:100ms;
	-ms-animation-delay:100ms;
	animation-delay:100ms;
}

.grid .grid2 {
	-webkit-animation-delay:200ms;
	-ms-animation-delay:200ms;
	animation-delay:200ms;
}
.grid .grid3 {
	-webkit-animation-delay:300ms;
	-ms-animation-delay:300ms;
	animation-delay:300ms;
}
.grid .grid4 {
	-webkit-animation-delay:400ms;
	-ms-animation-delay:400ms;
	animation-delay:400ms;
}
.grid .grid5 {
	-webkit-animation-delay:500ms;
	-ms-animation-delay:500ms;
	animation-delay:500ms;
}
.grid .grid6 {
	-webkit-animation-delay:600ms;
	-ms-animation-delay:600ms;
	animation-delay:600ms;
}
.grid .grid7 {
	-webkit-animation-delay:700ms;
	-ms-animation-delay:700ms;
	animation-delay:700ms;
}
.grid .grid8 {
	-webkit-animation-delay:800ms;
	-ms-animation-delay:800ms;
	animation-delay:800ms;
}
.delay0{
	
}