/*-----------------------------------------------------main2:start-----------------------------------------------------*/
/*学习资料*/
.modebox .topic{
	display:none;
}
.modebox,.mode-list,.mode-area,.mode-video{
	position:relative;
}
.modebox .modecase-img{
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
.mode-list .modecase{
	position:relative;
	height:100px;
	width:100%;
	border-bottom:1px solid #ddd;
}
.mode-list .modecase:active{
	background-color:#f8f8f8;
}
.mode-list .modecase-img{
	position:absolute;
	left:8px;
	top:10px;
	width:150px;
	height:80px;
}
.mode-list .modecase-title{
	position:absolute;
	left:170px;
	top:10px;
	right:10px;
	bottom:10px;
}
.mode-area{
	padding:5px;
	background-color:#f8f8f8;
}

.mode-area .modecase{
	position:relative;
	width:50%;
	height:200px;
	box-sizing:border-box;
	float:left;
	padding:20px;
	
	background-color:white;
	border:9px solid transparent;
	border-image:url(../img/main2/mode-area.png) 28 28 round;
}
.mode-area .modecase-img{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:70px;
}
.mode-area .modecase-title{
	position:absolute;
	left:10px;
	right:10px;
	bottom:0px;
	height:60px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.modebox.mode-video{
	padding:5px;
}
.modebox.mode-video .topic{
	display: block;
}
.mode-video .modecase{
	position:relative;
	width:50%;
	height:160px;
	box-sizing:border-box;
	float:left;

	border:9px solid white;
}
.mode-video .modecase-img{
	position:absolute;
	width:100%;
	height:100%;
}
.mode-video .modecase-title{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	height:40px;
	line-height:40px;
	padding:0 8px;
	box-sizing:border-box;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color:rgba(0,0,0,.7);
	color:white;
}
.introduce{
	padding:10px;
}
.introduce li:not(:first-child):not(:last-child){
	color:#aaa;
	font-size: 14px;
	padding: 8px 0;
}
.introduce .title .dot{
	width:10px;
	height:10px;
	display: inline-block;
	background-color:#3476d4;
	border-radius: 100%;
	vertical-align: middle;
}
.introduce .title .dot+label{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	color:#333;
	font-size: 16px;
}
/*-----------------------------------------------------main2:end-----------------------------------------------------*/

/*-----------------------------------------------------下拉菜单:start-----------------------------------------------------*/
.dropdownmenu-mask{
	position:fixed;
	z-index:999;
	top:44px;background-color:rgba(0,0,0,.7);width:100%;height:100%;
	overflow:auto;
	display:none;
}
.dropdownmenu{
	width:100%;
	background-color:#36acf4;
	padding:0 0 10px 0;
	display:none;
}
.dropdownmenu label{
	display:block;
	padding:20px 0;
	color:rgba(255,255,255,.5);
	text-align:center;
}
.dropdownmenu label:active,.dropdownmenu label.active{
	color:white;
}
/*-----------------------------------------------------下拉菜单:end-----------------------------------------------------*/