/*-----------------------------------------------------main5:start-----------------------------------------------------*/
.mainbar{
	position:relative;
	padding:6px 60px;
	box-sizing:border-box;
	background-color:#15aaeb;
}
.mainbar .logo{
	position:absolute;
	left:0;
	top:0;
	width:60px;
	height:44px;
	text-align:center;
	line-height:44px;
	background-image:url(../img/main5/logo.png);
	background-size:34px 34px;
	background-position:center center;
	background-repeat:no-repeat;
}
.mainbar .mes{
	position:absolute;
	right:0;
	top:0;
	width:60px;
	height:44px;
	text-align:center;
	line-height:44px;
	background-image:url(../img/main5/mes.png);
	background-size:28px 28px;
	background-position:center center;
	background-repeat:no-repeat;
}
.mainbar .search{
	height:32px;background-color:white;text-align:center;width:100%;line-height:32px;border-radius:4px;
}
/*-----------------------------------------------------main5:end-----------------------------------------------------*/