/*-----------------------------------------------------main1:start-----------------------------------------------------*/
.cell{
	box-sizing:border-box;
	border-color:white;
	border-style:solid;
	border-width:0;
	position:relative;
	height:120px;
}
.cell img{
	width:35px;
}
.cell label{
	position:absolute;
	left:8px;
	bottom:8px;
	color:white;
	font-size:12px;
}
.cell .listitem li{
	color:white;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

.cell1{
	width:50%;height:260px;border-width:4px 2px 2px 4px;background-color:#32a9fd;float:left;
}
.cell1 small{
	color:rgba(255,255,255,.7);
}
.cell2{
	background-color:#d9532d;height:140px;width:100%;border-width:4px 4px 2px 2px;float:left;
	padding:0 8px;
}
.cell2 .listitem li .ricon{
	min-width:12px;
	min-height:12px;
}
.cell3{
	width:50%;background-color:#57b40d;border-width:2px 2px 2px 2px;float:left;
}
.cell4{
	width:50%;background-color:#bb1e49;border-width:2px 4px 2px 2px;float:left;
}
.cell5{
	width:50%;border-width:2px 2px 2px 4px;background-color:#5d90c9;float:left;
}
.cell6{
	width:25%;border-width:2px 2px 2px 2px;background-color:#00b9df;float:left;
}
.cell7{
	width:25%;border-width:2px 4px 2px 2px;background-color:#5532aa;float:left;
}
.cell8{
	width:25%;border-width:2px 2px 4px 4px;background-color:#9e00a6;float:left;
}
.cell9{
	width:25%;border-width:2px 2px 4px 2px;background-color:#00b9df;float:left;
}
.cell10{
	width:50%;border-width:2px 4px 4px 2px;background-color:#e63955;float:left;
}
.cell1:active{
	background-color:#106efb;
}
.cell3:active{
	background-color:#217e04;
}
.cell4:active{
	background-color:#88091a;
}
.cell5:active{
	background-color:#254f9f;
}
.cell6:active{
	background-color:#0085c5;
}
.cell7:active{
	background-color:#201070;
}
.cell8:active{
	background-color:#60006a;
}
.cell9:active{
	background-color:#0085c5;
}
.cell10:active{
	background-color:#d11320;
}
/*-----------------------------------------------------main1:end-----------------------------------------------------*/

/*-----------------------------------------------------侧边栏:start-----------------------------------------------------*/
.photo{
	width:100px;height:100px;background:url(../img/main1/photo.jpg) no-repeat center center;background-size:contain;border-radius:100%;overflow:hidden;margin:44px auto 4px auto;
}
.photo-department{
	opacity:0.2;text-align:center;
	font-size:14px;
}
.aside-list{
	text-align:center;margin-top:44px;opacity:0.5;
}
.aside-list:active{
	opacity:1;
}
.aside-list-icon{
	background-repeat:no-repeat;background-size:contain;width:32px;height:32px;display:inline-block;vertical-align:middle;
}
.aside-list-icon + label{
	margin-left:10px;vertical-align:middle;
}
.aside-list-icon.lock{
	background-image:url(../img/main1/lock.png);
}
.aside-list-icon.pattern{
	background-image:url(../img/main1/pattern.png);
}
.aside-list-icon.exit{
	background-image:url(../img/main1/exit.png);
}
/*-----------------------------------------------------侧边栏:end-----------------------------------------------------*/