@charset "utf-8";
/* CSS Document */

/*----------------常规----------------*/
.bg_white{ background-color:#fff;}
.bg_grey{ background-color:#efefef;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
input[type="radio"]{ background: url(../img/rdo.png) no-repeat;}

/*----------------首页----------------*/
.tabbar_weather[data-tabtype="slide"] .tab:active,.tabbar[data-tabtype="slide"] .tab.active{ border-width:0 0 4px 0; color:#dd0016; border-color:#dd0016;}
.tabbar{ background-color:#f8f8f8;	border-color:#cccccc; color:#8a8a8a; border-width:1px 0 0 0;border-style:solid;}
.tabbar_weather .tab-label{ font-size:14px;}
.tab:active,.tab.active,.tab.current{-webkit-box-sizing:border-box;color:#37acf4;}
.tab-icon+.tab-label{ height: 14px; line-height:14px; margin: 2px 0 0 0;}
.icon-home{	background-image:url(../img/tabbar/tab_home.png);}
.icon-forum{ background-image:url(../img/tabbar/tab_forum.png);}
.icon-quality{ background-image:url(../img/tabbar/tab_quality.png);}
.icon-mine{	background-image:url(../img/tabbar/tab_mine.png);}
.mainnews_tit{ border-bottom:#dddddd 1px solid; padding:10px; height:20px; line-height:20px; vertical-align:top;}
.mainnews_tit i{ width:4px; height:20px; display:inline-block; margin-right:5px;}
.mainnews_tit a{ float:right; display:inline;}
.mainnews_tit span{ display: inline-block; vertical-align:top;}
.custom-main.swiper-container{ background-color:#fff;}
.custom-main .swiper-slide{ background-color:#fff;}
/*调整小点点位置*/
.custom-main.swiper-container-horizontal > .swiper-pagination{bottom:50px;}
.custom-main .swiper-title{background-color:rgba(0,0,0,.4)}
/*菱形小点点*/
.custom-main .swiper-pagination-bullet{
   width: 0;
   height: 0;
   border-left: 6px solid transparent;   
   border-right: 6px solid transparent;   
   border-bottom:  6px solid rgba(255,255,255,.7);
   
   /*去除原始样式*/
   border-radius:0;
   background-color:transparent;
}
.custom-main .swiper-pagination-bullet:after {  
   content:"";  
   position: absolute;
   width: 0;
   height: 0;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent; 
   border-top: 6px solid rgba(255,255,255,.7);
   margin-top:6px;
   margin-left:-6px;
}
.custom-main .swiper-pagination-bullet-active{ 
   border-bottom: 6px solid #37acf4;   
}
.custom-main .swiper-pagination-bullet-active:after {
   border-top: 6px solid #37acf4;
}

/*----------------资讯----------------*/
.listitem_info{}
.listitem_info li .rcaption span{ color:#dd0016;}



.slide-mainnews-container{ height: 100%;}
.slider-slide{ height: 100%;}
