@charset "utf-8";
/* CSS Document */

/*----------------常规----------------*/
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}


/*----------------我的-用户/经销商----------------*/ 
.vote_block{ background-color:white; margin-top:10px;}
.user_bg{ background:url(../img/mine/img.jpg) no-repeat; background-size:100% 100%; padding:50px 25px;}
.user_bg .limg{ float:left; margin-right:20px; width:64px; height: 64px; border-radius:100px;}
.user_bg .text{ margin-top:10px; color:#9d9999;}
.user_bg .text .mtt,.user_bg .text .mtt a{ font-size:16px; color:#383636;}

