@charset "utf-8";
/* CSS Document */

/*----------------常规----------------*/
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

/*----------------我的商品-搜索+扫描----------------*/
.add_comm{ background:#fff; padding:10px 10px; position:relative; min-height:40px; text-align:center; padding: 20px 10px;}
.add_comm .mpic{ width:30%; border:#ddd 1px solid; margin:0 0 10px 35%;}
.add_comm .mpic img{ width: 100%;}
.add_comm .mtt{ color:#313131; font-size:16px;}
.add_comm small{ color:#9c9c9c;}
.code_input_block{ background:#fff; overflow:hidden; padding:0 10px; height: 40px; position: relative; padding:10px 60px 10px 10px;}
.code_input_block input{ height: 20px; line-height:20px; padding:10px 0; border: 0; background: #f6f6f6; border-radius: 20px; width: 100%; text-indent: 10px;}
.code_input_block a{ position:absolute; top:10px; right:0; height: 20px; line-height:20px; padding:10px 0; color: #37acf4; width:60px; text-align: center; display: block;}

.group{ margin:10px 0;}