@charset "utf-8";
/* CSS Document */

/*----------------注册----------------*/
.reg_block{ background-color:#f9f9f9; top:0; position:relative; padding:10px 0 0 0; padding: 0;}
.reg_input .input-box{ background:#f9f9f9; border-top:0; padding: 0;}
.reg_input .input-box.ricon { padding-right:116px;}
.reg_input .input-box input{ text-indent:20px;}
.reg_input .input-box .reg_obtain{ background-color:#70b92c; height:30px; line-height:30px; border-radius:4px; width:100px; text-align:center; text-indent: 0; color:#fff; position:absolute; top:50%; -webkit-transform: translateY(-50%); right:16px;}
.reg_input .input-box .reg_obtain:active{ background-color:#669d2a;}
.reg_input .input-box .reg_obtain[disabled]{ background-color:#efefef; color:#969696;}
.reg-submit{ position:relative; margin:16px auto 10px auto; display:block; width:90%; background:#70b92c;}
.reg-submit:active{ background-color:#669d2a;}
.reg_btm{ position:absolute; bottom:0; width:100%; border-top:#cecece 1px solid; color:#808080; text-align:center; height:50px; line-height:50px;}
.reg_btm a{ color:#37acf4;}