@charset "utf-8";
/* CSS Document */

/*----------------常规----------------*/
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

/*----------------投票----------------*/
.votelist{ padding:10px 0 0 0;}
.votelist li{ background-color:white; margin-bottom:10px; border-top:#f6f6f6 1px solid; border-bottom:#f6f6f6 1px solid;}
ul.noclick li:active{ background-color:white;}
.votelist .info{ line-height:24px; margin:10px 0 0 0;}
.votelist .info img{ margin-top:5px;}
.votelist .text_info{ color:#aaa; margin: 10px 0 0 0;}
.text_end{ color:#16a7de; text-align:center; font-size:16px; padding:5px 0;}
.votelist_icon_bg{ -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0 50%);clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0 50%); background-color: #d7d7d7; position:absolute; right:0; top:0; width:64px; height:12px; padding:7px 0 6px 0; color:white; text-align:center; font-size:12px; font-style:normal;}

/*----------------投票详情----------------*/
.list li{ display:block; position:relative;}
.list .justify-block{ display:flex; display:-webkit-flex; display:box; display:-webkit-box;}




