.cascader-exception {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cascader-exception-button {
  display: flex;
  height: 40px;
  margin: 10px 12px;
  border-radius: 10px;
  font-size: @font-size-l;
}
.cascader-list-divider {
  background-color: var(--divider-bg);
  padding: var(--space-s) var(--space-xl);
  font-size: var(--font-size-s);
}
