.cascader-main-result {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cascader-main {
  position: relative;
  overflow: auto;
  .flex-1;
}
.cascader-list-divider {
  background-color: var(--divider-bg);
  padding: var(--space-s) var(--space-xl);
  font-size: var(--font-size-s);
}
