@import 'Item/FormItem.less';
@import 'Label/FormLabel.less';
@import 'Main/FormMain.less';

.form-wrapper {
  position: relative;
  display: block;
}

// .form-layout-horizontal {
// }

.form-layout-vertical {
  .form-item-label {
    margin-bottom: var(--space-m);
  }
}
