@import 'Item/FormItem.less';
@import 'Name/FormName.less';
@import 'Value/FormValue.less';

.form-wrapper {
  position: relative;
  display: block;
  line-height: 1.5;
}

// .form-layout-horizontal {
// }

.form-layout-vertical {
  .form-item-name {
    margin-bottom: var(--space-m);
  }
}
