// ToolBar search
.toolbar-search {
  display: flex;
  flex: auto;
  align-items: center;
  gap: 8px;

  // 折叠模式: 展开时要占满
  &.expand {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 12px;
    background-color: var(--navbar-bg);
  }

  // 折叠模式: 仅显示一个搜索图标
  &.collapse {
    flex: none;

    .toolbar-search-collapse {
      display: block;
      color: var(--tertiary);
      .toolbar-search-collapse-icon {
        width: 22px;
        height: 22px;
        font-size: 22px;
        font-family: 'seeds-icons';
        &:extend(.seeds-icon-search all);
      }
    }

    .toolbar-search-form,
    .toolbar-search-button-ok,
    .toolbar-search-button-cancel,
    .toolbar-search-button-barcode {
      display: none;
    }
  }
}

// Input wrapper
.toolbar-search-form {
  align-items: center;
  flex: auto;
}

// Input
.toolbar-search-input {
  background-color: white;
  border-radius: 8px;
  height: 30px;
  padding: 0 8px;
}
.toolbar-search-input-left-icon {
  font-family: 'seeds-icons';
  &:extend(.seeds-icon-search all);
  margin-right: 6px;
  color: var(--tertiary);
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
}

// Ok button
.toolbar-search-button-ok {
  padding: 0 2px;
  color: @primary;
}

// Cancel button
.toolbar-search-button-cancel {
  padding: 0 2px;
}

// Qrcode button
.toolbar-search-button-barcode {
  background-color: white;
  padding: 0px 6px;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  border: 0;
}

.toolbar-search-button-barcode-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  pointer-events: none;
  font-family: 'seeds-icons';
  &:extend(.seeds-icon-barcode all);
}
