.modal-filtercombo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: var(--radius-m);
  color: var(--secondary);
  &.active {
    color: var(--primary);
  }
}

.modal-filtercombo-button-icon {
  font-family: 'seeds-icons';
  &:extend(.seeds-icon-filter-menu all);
  width: 18px;
  height: 18px;
  font-size: 18px;
}
