.modal-filtermodal {
  width: 85%;
  height: 100%;
  background-color: white;
}

.modal-filtermodal-layout {
  background-color: white;
}

.modal-filtermodal-footer {
  display: flex;
  gap: 8px;
  background-color: white;
  padding: 8px 12px;
  .border-t;
}
.modal-filtermodal-footer-config {
  height: 40px;
}
.modal-filtermodal-footer-config-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  font-family: 'seeds-icons';
  &:extend(.seeds-icon-config all);
}
.modal-filtermodal-footer-config-name {
  font-size: var(--font-size-s);
}
.modal-filtermodal-footer-button {
  flex: 1;
  border-radius: 8px;
  height: 40px;
  border: 0;
}
.modal-filtermodal-footer-button-reset {
  background: var(--app-background-color);
}
.modal-filtermodal-footer-button-ok {
  color: white;
  background: var(--primary);
}
