$font-size:15px;
$font-family:Arial,"Microsoft Yahei";
$body-bg:#eaeaea;
$body-color:#333;

$primary-bg:#20aeff;
$primary-bg-active:lighten($primary-bg, 20%);
$primary-color:white;
$primary-color-active:lighten($primary-color, 10%);

$mask-bg:rgba(0,0,0,.4);

$sub-color:#9e9e9e;
$placeholder:#ccc;
$link:$primary-bg;
$link-active:$primary-bg-active;
$border:#d1d1d1;
$dpborder:#e5e5e5;

/*控件*/
$aside-bg:$body-bg;

$input-bg:white;

$bar-bg:#f9f9f9;
$bar-bg-active:#f9f9f9;
$bar-border:$border;
$bar-border-active:$primary-bg;
$bar-button:$primary-bg;
$bar-button-active:transparentize($bar-button,0.5);
$bar-color:#333;
$bar-color-active:$primary-bg;

$bar-reverse-bg:$primary-bg;
$bar-reverse-bg-active:$primary-bg;
$bar-reverse-border:$primary-bg;
$bar-reverse-border-active:white;
$bar-reverse-button:white;
$bar-reverse-button-active:transparentize($bar-reverse-button,0.5);
$bar-reverse-color:white;
$bar-reverse-color-active:white;

$button-bg:white;
$button-color:$body-color;
$button-bg-active:#f4f4f4;
$button-border:$dpborder;

$button-tip-bg:rgba(0, 0, 0, .15);

$prompt-bg:rgba(0,0,0,.6);
$toast-bg:rgba(0,0,0,.6);

$photo-bg:#ddd;
$photo-color:$placeholder;

$calendar-active-color:$primary-color;
$calendar-active-border:$primary-bg;
$calendar-active-bg:$primary-bg;

$progress-bg:#f2f2f2;

/*常用颜色*/
$disable-bg:#d1d1d1;
$submit-bg:#68c75f;
$cancel-bg:#F86868;
$success-bg:#4DDB63;
$info-bg:#5bc0de;
$warn-bg:#f4984e;

$submit-bg-active:lighten($submit-bg,20%);
$cancel-bg-active:lighten($cancel-bg,20%);
$success-bg-active:lighten($success-bg,20%);
$info-bg-active:lighten($info-bg,20%);
$warn-bg-active:lighten($warn-bg,20%);

$tip-bg:#ff5656;
$tip-color:white;

$random1-bg:#53c6fd;
$random2-bg:#ffae02;
$random3-bg:#3ae3ea;
$random4-bg:#ff6f36;
$random5-bg:#cf7af3;
$random6-bg:#4cd32e;
$random7-bg:#4587f7;
$random8-bg:#00c2eb;
$random9-bg:#ff618f;
$random10-bg:#21d9a1;