/*----------------inputtext.less(start)--------------*/
.input-text{
  box-sizing:border-box;
  min-height:@input-text-height;
  line-height:@input-text-height;
  padding:@input-text-padding;
  text-align: left;
}
/*----------------inputtext.less(end)--------------*/