// Share控件
// 分享(基于.mask)
.share-mask {
  // doing something
}
// 微信弹出提示
.share-tip-arrow {
  position: absolute;
  top: 15.15px;
  right: 19.85px;
  width: 58.15px;
  height: 74.35px;
  background-image: url('//res.waiqin365.com/d/seedsui/share/tip_arrow.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
.share-tip {
  position: absolute;
  top: 104.5px;
  left: 50%;
  display: inline-block;
  width: auto;
  min-width: 50%;
  max-width: 85%;
  padding: 20px 15px;
  text-align: left;
  background: #fff;
  border-radius: 4px;
  transform: translate(-50%, 0);
  p {
    color: #151515;
    font-size: 16px;
    white-space: nowrap;
  }
  p:nth-of-type(even) {
    margin-top: 10px;
  }
  img {
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
  }
}
// Modal
.share-modal {
  background-color: white;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

// 安全区适配
.share-modal.safeArea {
  &:extend(.safe-area all);
  &:extend(.safe-area.border-bottom all);
}

.share-modal-title {
  text-align: center;
  padding: 18px 0;
  color: var(--default);
  font-size: var(--font-size-m);
}
.share-modal-main {
  padding: 30px 0;
}
.share-modal-footer-button-cancel {
  .font-size-xl;
  text-align: center;
  padding: 20px 0;
  .border-t;
  color: var(--secondary);
  font-size: var(--font-size-xl);
}

// Main
.share {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  row-gap: 20px;
}
.share-item {
  box-sizing: border-box;
  text-align: center;
}
.share-item-icon {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  &.wechat {
    background-image: url('//res.waiqin365.com/d/seedsui/share/wechat.png');
  }
  &.miniprogram {
    background-image: url('//res.waiqin365.com/d/seedsui/share/miniprogram.png');
  }
  &.wecom {
    background-image: url('//res.waiqin365.com/d/seedsui/share/wework.png');
  }
  &.moments {
    background-image: url('//res.waiqin365.com/d/seedsui/share/moments.png');
  }
  &.dingtalk {
    background-image: url('//res.waiqin365.com/d/seedsui/share/dingtalk.png');
  }
  &.lark {
    background-image: url('//res.waiqin365.com/d/seedsui/share/lark.png');
  }
}
.share-item-label {
  margin-top: 10px;
  color: #666;
  font-size: 13px;
  line-height: 16px;
}
