// 废弃的样式(后续的版本中将全部删除，用到的尽快替换掉)
// 随机颜色
@random1-bg: #53c6fd;
@random2-bg: #ffae02;
@random3-bg: #3ae3ea;
@random4-bg: #ff6f36;
@random5-bg: #cf7af3;
@random6-bg: #4cd32e;
@random7-bg: #4587f7;
@random8-bg: #00c2eb;
@random9-bg: #ff618f;
@random10-bg: #21d9a1;

// 按钮
.button {
  // 投影按钮
  &.shadow {
    // 分别指投影的：右、下、模糊、扩展、颜色
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    &:active,
    &.active {
      margin: 2px 0 -2px 0;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
  }

  // 按钮-在bar上
  &.bar {
    color: @default;
    background-color: transparent;
    border-color: transparent;
  }
  // 取消按钮
  &.cancel {
    color: @button-danger-color;
    background-color: @button-danger-bg-color;
    border-color: @button-danger-border-color;
  }
  // 提交按钮
  &.submit {
    color: @button-success-color;
    background-color: @button-success-bg-color;
    border-color: @button-success-border-color;
  }
  // 信息按钮
  &.info {
    color: white;
    background-color: #39abf2;
    border-color: #39abf2;
  }
  // 警告按钮
  &.warn {
    color: @button-warning-color;
    background-color: @button-warning-bg-color;
    border-color: @button-warning-border-color;
  }

  // 禁用按钮
  &.disabled,
  &[disabled] {
    color: white;
    background-color: @disabled;
    border-color: @disabled;
  }
}

// 线框模式
.button.outline {
  // 线框-主色按钮
  &.primary {
    color: @primary;
    background-color: transparent;
    border-color: @primary;
  }
  // 线框-取消按钮
  &.cancel {
    color: lighten(@danger, 20%);
    background-color: transparent;
    border-color: @danger;
  }
  // 线框-提交按钮
  &.submit {
    color: @success;
    background-color: transparent;
    border-color: @success;
  }
  // 线框-信息按钮
  &.info {
    color: #39abf2;
    background-color: transparent;
    border-color: #39abf2;
  }
  // 线框-警告按钮
  &.warn {
    color: @warning;
    background-color: transparent;
    border-color: @warning;
  }

  // 线框-禁用按钮
  &.disabled,
  &[disabled] {
    color: #adadad;
    background-color: #f3f4f5;
    border-color: #e5e5e5;
  }
}
