/*
定义变量-----------------------------------------------------------------------------------------
*/
// 动画时长(例如遮等)
@animation-duration: 400ms;

// 文字尺寸
@font-size-xl: 20px;
@font-size-lg: 16px;
@font-size-md: 14px;
@font-size-sm: 12px;
@font-size-xs: 9px;

// 基础颜色
@primary: #ff9008;
@submit: #68c75f;
@cancel: #f86868;
@success: #4ddb63;
@info: #39abf2;
@hint: #d29bce;
@disabled: #ced2d7;
@link: #0076ff;
@warn: #f4984e;
@sub: #949ca4;
@placeholder: #b6b6b6;

@body-bg: #f5f5f9;
@body-color: #333;

// 遮罩颜色
/* prettier-ignore */
@mask-bg: rgba(0,0,0,.4);

// 常用颜色
// 常用颜色: primary
@primary-color: white;
@primary-bg: @primary;
@primary-border: @primary;
@primary-color-active: white;
@primary-bg-active: @primary;
@primary-border-active: @primary;

@primary-outline-color: @primary;
@primary-outline-bg: #fff7e6;
@primary-outline-border: @primary;
@primary-outline-color-active: lighten(@primary-outline-color, 20%);
@primary-outline-bg-active: lighten(@primary-outline-bg, 20%);
@primary-outline-border-active: lighten(@primary-outline-border, 20%);

// 常用颜色: submit
@submit-color: white;
@submit-bg: #68c75f;
@submit-border: #68c75f;
@submit-color-active: white;
@submit-bg-active: lighten(@submit-bg, 20%);
@submit-border-active: lighten(@submit-bg, 20%);

@submit-outline-color: #68c75f;
@submit-outline-bg: #f6ffed;
@submit-outline-border: #68c75f;
@submit-outline-color-active: lighten(@submit-outline-color, 20%);
@submit-outline-bg-active: lighten(@submit-outline-color, 20%);
@submit-outline-border-active: lighten(@submit-outline-color, 20%);

// 常用颜色: cancel
@cancel-color: white;
@cancel-bg: #f86868;
@cancel-border: #f86868;
@cancel-color-active: white;
@cancel-bg-active: lighten(@cancel-bg, 20%);
@cancel-border-active: lighten(@cancel-bg, 20%);

@cancel-outline-color: #f86868;
@cancel-outline-bg: #fff1f0;
@cancel-outline-border: #f86868;
@cancel-outline-color-active: lighten(@cancel-outline-color, 20%);
@cancel-outline-bg-active: lighten(@cancel-outline-color, 20%);
@cancel-outline-border-active: lighten(@cancel-outline-color, 20%);

// 常用颜色: success
@success-color: white;
@success-bg: #4ddb63;
@success-border: #4ddb63;
@success-color-active: white;
@success-bg-active: lighten(@success-bg, 20%);
@success-border-active: lighten(@success-bg, 20%);

@success-outline-color: #4ddb63;
@success-outline-bg: #f6ffed;
@success-outline-border: #4ddb63;
@success-outline-color-active: lighten(@success-outline-color, 20%);
@success-outline-bg-active: lighten(@success-outline-color, 20%);
@success-outline-border-active: lighten(@success-outline-color, 20%);

// 常用颜色: info
@info-color: white;
@info-bg: #39abf2;
@info-border: #39abf2;
@info-color-active: white;
@info-bg-active: lighten(@info-bg, 20%);
@info-border-active: lighten(@info-bg, 20%);

@info-outline-color: #39abf2;
@info-outline-bg: #e6f4ff;
@info-outline-border: #39abf2;
@info-outline-color-active: lighten(@info-outline-color, 20%);
@info-outline-bg-active: lighten(@info-outline-color, 20%);
@info-outline-border-active: lighten(@info-outline-color, 20%);

// 常用颜色: link
@link-color: white;
@link-bg: #0076ff;
@link-border: #0076ff;
@link-color-active: white;
@link-bg-active: lighten(@link-bg, 20%);
@link-border-active: lighten(@link-bg, 20%);

@link-outline-color: #0076ff;
@link-outline-bg: #e6f4ff;
@link-outline-border: #0076ff;
@link-outline-color-active: lighten(@link-outline-color, 20%);
@link-outline-bg-active: lighten(@link-outline-color, 20%);
@link-outline-border-active: lighten(@link-outline-color, 20%);

// 常用颜色: warn
@warn-color: white;
@warn-bg: #f4984e;
@warn-border: #f4984e;
@warn-color-active: white;
@warn-bg-active: lighten(@warn-bg, 20%);
@warn-border-active: lighten(@warn-bg, 20%);

@warn-outline-color: #f4984e;
@warn-outline-bg: #fffbe6;
@warn-outline-border: #f4984e;
@warn-outline-color-active: lighten(@warn-outline-color, 20%);
@warn-outline-bg-active: lighten(@warn-outline-color, 20%);
@warn-outline-border-active: lighten(@warn-outline-color, 20%);

// 常用颜色: hint
@hint-color: white;
@hint-bg: #d29bce;
@hint-border: #d29bce;
@hint-color-active: white;
@hint-bg-active: lighten(@hint-bg, 20%);
@hint-border-active: lighten(@hint-bg, 20%);

@hint-outline-color: #d29bce;
@hint-outline-bg: #fff2e8;
@hint-outline-border: #d29bce;
@hint-outline-color-active: lighten(@hint-outline-color, 20%);
@hint-outline-bg-active: lighten(@hint-outline-color, 20%);
@hint-outline-border-active: lighten(@hint-outline-color, 20%);

// 常用颜色: disabled
@disabled-color: white;
@disabled-bg: #ced2d7;
@disabled-border: #ced2d7;
@disabled-color-active: #ced2d7;
@disabled-bg-active: #f3f4f5;
@disabled-border-active: #ced2d7;

@disabled-outline-color: #adadad;
@disabled-outline-bg: #f3f4f5;
@disabled-outline-border: #e5e5e5;
@disabled-outline-color-active: lighten(@disabled-outline-color, 20%);
@disabled-outline-bg-active: lighten(@disabled-outline-color, 20%);
@disabled-outline-border-active: lighten(@disabled-outline-color, 20%);

// 常用颜色: 按钮默认样式
@button-color: @body-color;
@button-bg: transparent;
@button-border: @dpborder;
@button-color-active: @body-color;
@button-bg-active: transparent;
@button-border-active: @dpborder;

// badge
@badge-bg: #ff5656;
@badge-color: white;

@random1-bg: #53c6fd;
@random2-bg: #ffae02;
@random3-bg: #3ae3ea;
@random4-bg: #ff6f36;
@random5-bg: #cf7af3;
@random6-bg: #4cd32e;
@random7-bg: #4587f7;
@random8-bg: #00c2eb;
@random9-bg: #ff618f;
@random10-bg: #21d9a1;

// 头像控件
@avatar-background-size: cover;
@avatar-color: @placeholder;
@avatar-bg: #ddd;
@avatar-border: 0;

// 缩略图控件
@thumbnail-background-size: contain;
@thumbnail-bg: white;
@thumbnail-border: 1px solid #e5e5e5;

// 边框颜色
@border: #e5e5e5;
@dpborder: #e5e5e5;
