/*
定义变量-----------------------------------------------------------------------------------------
*/
// 动画时长(例如遮等)
@animation-duration: 400ms;

// 文字尺寸
@font-size-xxl: 20px;
@font-size-xl: 18px;
@font-size-l: 16px;
@font-size-m: 14px;
@font-size-s: 12px;
@font-size-xs: 9px;

// body颜色
@body-bg-color: #f2f2f6;

// 边框颜色
@border-color: #eeeeee;

// 遮罩颜色
/* prettier-ignore */
@mask-bg-color: rgba(0,0,0,.4);

// 基础颜色(控件多基于如下几种颜色)
:root {
  --default: #333;
  --secondary: #949ca4;
  --placeholder: #b6b6b6;
  --disabled: #ced2d7;
  --primary: #ff9008;
  --link: #0076ff;
  --warning: #f4984e;
  --danger: #f86868;
  --success: #68c75f;
}
@default: var(--default);
@secondary: var(--secondary);
@placeholder: var(--placeholder);
@disabled: var(--disabled);
@primary: var(--primary);
@link: var(--link);
@warning: var(--warning);
@danger: var(--danger);
@success: var(--success);

// 按钮
@import 'variables/Button.less';

// 标记
@import 'variables/Mark.less';
