/*
定义变量-----------------------------------------------------------------------------------------
*/
// 动画时长(例如遮等)
@animation-duration: 400ms;

// 文字尺寸
@font-size-xxl: 20px;
@font-size-xl: 18px;
@font-size-lg: 16px;
@font-size-md: 14px;
@font-size-sm: 12px;
@font-size-xs: 9px;

// body颜色
@body-bg-color: #f2f2f6;

// 边框颜色
@border-color: #eeeeee;

// 遮罩颜色
/* prettier-ignore */
@mask-bg: rgba(0,0,0,.4);

// 基础颜色(控件多基于如下几种颜色)
@secondary: #949ca4;
@disabled: #ced2d7;
@default: #333;
@primary: #ff9008;
@link: #0076ff;
@warning: #f4984e;
@danger: #f86868;
@success: #68c75f;

// 按钮
@import 'variables/Button.less';

@placeholder: #b6b6b6;

// 常用颜色

// 缩略图控件
@thumbnail-background-size: contain;
@thumbnail-bg: white;
@thumbnail-border: 1px solid #e5e5e5;
