// .actionsheet-mask{} // 遮罩, 基于.mask
.actionsheet {
  position: absolute;
  bottom: 0;

  padding: 0 12px 8px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  // 动画使用.popup-animation
}

.actionsheet-option,
.actionsheet-cancel {
  display: block;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  &:active {
    background-color: @border;
  }
}
.actionsheet-option {
  position: relative;
  .border-b;
  &.active {
    color: @primary-bg;
  }
}

.actionsheet-cancel {
  margin-top: 8px;

  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
}

.actionsheet-group {
  max-height: 400px;
  overflow: auto;

  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.85);
}
