// Alert框（@deprecated废弃, 使用Modal代替）
.alert-mask {
  &.active {
    z-index: 10;
  }
}
.alert {
  width: auto;
  min-width: 280px;
  max-width: 75vw;
  margin: 0 auto;
  overflow: hidden;
  font-size: @font-size-lg;

  background-color: white;
  border-color: @border;
  border-style: solid;
  border-width: 0;

  border-radius: 8px;
  // 动画使用.popup-animation
}
// 身体
.alert-body {
  // .border-b;
  max-height: 300px;
  padding: 32px 24px;
  overflow: auto;
  line-height: 1.2em;
  text-align: center;
}
// 身体-标题
.alert-caption {
  font-weight: 500;
}
.alert-caption + .alert-content {
  margin-top: 16px;
}
// 身体-内容区域
.alert-content {
  display: block;
  color: @secondary;
  word-wrap: break-word;
}
.alert-content-icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px auto 12px auto;
}
// 底部
.alert-footer {
  padding-top: 1px;
  font-weight: 500;
  .flex;
  .border-t;
}
.alert-cancel {
  .flex !important;
  .flex-1;
  width: 100%;
  height: 56px;
  border-width: 0 !important;

  * {
    pointer-events: none;
  }
}
.alert-submit {
  .flex !important;
  .flex-1;
  width: 100%;
  height: 56px;
  color: @primary;
  border-width: 0 !important;

  * {
    pointer-events: none;
  }
}
.alert-cancel + .alert-submit {
  .border-l;
}
