// Attach附件选择
.attach {
  .attach-item {
    margin-top: 16px;
  }
  // 上传中样式
  &.uploading {
    .attach-upload-icon {
      display: none;
    }
    .attach-upload-loading {
      display: block;
    }
  }
}
// 上传按钮
.attach-upload {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .flex-middle;
  .flex-center;
  padding: 0 8px;
  height: 28px;
  display: inline-flex;
  position: relative;
  background-color: #f5f5f5;
  color: #8c8c8c;
  border-radius: 4px;

  input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

// 上传图标与文字
.attach-upload-loading,
.attach-upload-icon,
.attach-upload-label {
  pointer-events: none;
}
.attach-upload-loading {
  display: none;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
.attach-upload-loading-icon {
  .flex;
  .flex-center;
  .flex-middle;
  .loading-circle-chase;
  svg {
    width: 12px;
    height: 12px;
    circle {
      stroke: #8c8c8c;
      stroke-width: 4;
    }
  }
}
.attach-upload-icon {
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  font-family: 'iconfont';
  &:extend(.icon-plus-fill all);
  margin-right: 8px;
}

// 单项
.attach-item {
  .flex;
  .flex-middle;
}
.attach-item-type {
  .flex;
  .flex-middle;
  .flex-center;
  color: @sub;
  font-family: 'iconfont';
  pointer-events: none;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #f5bda0;
  &.video {
    &:extend(.icon-file-video all);
  }
  &.text {
    &:extend(.icon-file-text all);
  }
  &.word {
    color: #83a4eb;
    &:extend(.icon-file-word all);
  }
  &.unknown {
    &:extend(.icon-file-unknow all);
  }
  &.audio {
    &:extend(.icon-file-audio all);
  }
  &.excel {
    color: #8ad4aa;
    &:extend(.icon-file-excel all);
  }
  &.pack {
    &:extend(.icon-file-pack all);
  }
  &.pic {
    &:extend(.icon-file-pic all);
  }
  &.pdf {
    &:extend(.icon-file-pdf all);
  }
  &.ppt {
    color: #e7896d;
    &:extend(.icon-file-ppt all);
  }
}
.attach-item-label {
  margin-left: 6px;
  pointer-events: none;
  .flex-1;
  .nowrap;
  .ellipsis;
}
.attach-item-delete {
  .flex;
  .flex-middle;
  .flex-center;
  color: #d9d9d9;
  font-family: 'iconfont';
  font-size: 16px;
  width: 16px;
  height: 16px;
  &:extend(.icon-plus-fill all);
  transform: rotate(45deg);
}
