// BI-环形图
@bi-doughtut-size: 50px;
@bi-doughtut-line-width: 3px;
.bi-doughtut {
  position: relative;
  width: @bi-doughtut-size;
  height: @bi-doughtut-size;
  .flex;
  .flex-middle;
  .flex-center;
  // 颜色
  &.white .bi-doughtut-circle {
    border: @bi-doughtut-line-width solid fade(white, 20%);
  }
  &.white .bi-doughtut-caption {
    color: white;
  }
  &.white .bi-doughtut-circle.left {
    border-bottom: @bi-doughtut-line-width solid white;
    border-left: @bi-doughtut-line-width solid white;
  }
  &.white .bi-doughtut-circle.right {
    border-top: @bi-doughtut-line-width solid white;
    border-right: @bi-doughtut-line-width solid white;
  }

  &.info .bi-doughtut-circle {
    border: @bi-doughtut-line-width solid fade(@info-bg, 20%);
  }
  &.info .bi-doughtut-caption {
    color: @info-bg;
  }
  &.info .bi-doughtut-circle.left {
    border-bottom: @bi-doughtut-line-width solid @info-bg;
    border-left: @bi-doughtut-line-width solid @info-bg;
  }
  &.info .bi-doughtut-circle.right {
    border-top: @bi-doughtut-line-width solid @info-bg;
    border-right: @bi-doughtut-line-width solid @info-bg;
  }

  &.success .bi-doughtut-circle {
    border: @bi-doughtut-line-width solid fade(@success-bg, 20%);
  }
  &.success .bi-doughtut-caption {
    color: @success-bg;
  }
  &.success .bi-doughtut-circle.left {
    border-bottom: @bi-doughtut-line-width solid @success-bg;
    border-left: @bi-doughtut-line-width solid @success-bg;
  }
  &.success .bi-doughtut-circle.right {
    border-top: @bi-doughtut-line-width solid @success-bg;
    border-right: @bi-doughtut-line-width solid @success-bg;
  }

  &.warn .bi-doughtut-circle {
    border: @bi-doughtut-line-width solid fade(@warn-bg, 20%);
  }
  &.warn .bi-doughtut-caption {
    color: @warn-bg;
  }
  &.warn .bi-doughtut-circle.left {
    border-bottom: @bi-doughtut-line-width solid @warn-bg;
    border-left: @bi-doughtut-line-width solid @warn-bg;
  }
  &.warn .bi-doughtut-circle.right {
    border-top: @bi-doughtut-line-width solid @warn-bg;
    border-right: @bi-doughtut-line-width solid @warn-bg;
  }

  &.hint .bi-doughtut-circle {
    border: @bi-doughtut-line-width solid fade(@hint-bg, 20%);
  }
  &.hint .bi-doughtut-caption {
    color: @hint-bg;
  }
  &.hint .bi-doughtut-circle.left {
    border-bottom: @bi-doughtut-line-width solid;
    border-left: @bi-doughtut-line-width solid @hint-bg;
  }
  &.hint .bi-doughtut-circle.right {
    border-top: @bi-doughtut-line-width solid @hint-bg;
    border-right: @bi-doughtut-line-width solid @hint-bg;
  }

  &.cancel .bi-doughtut-circle {
    border: @bi-doughtut-line-width solid fade(@cancel-bg, 20%);
  }
  &.cancel .bi-doughtut-caption {
    color: @cancel-bg;
  }
  &.cancel .bi-doughtut-circle.left {
    border-bottom: @bi-doughtut-line-width solid @cancel-bg;
    border-left: @bi-doughtut-line-width solid @cancel-bg;
  }
  &.cancel .bi-doughtut-circle.right {
    border-top: @bi-doughtut-line-width solid @cancel-bg;
    border-right: @bi-doughtut-line-width solid @cancel-bg;
  }

  &.submit .bi-doughtut-circle {
    border: @bi-doughtut-line-width solid fade(@submit-bg, 20%);
  }
  &.submit .bi-doughtut-caption {
    color: @submit-bg;
  }
  &.submit .bi-doughtut-circle.left {
    border-bottom: @bi-doughtut-line-width solid @submit-bg;
    border-left: @bi-doughtut-line-width solid @submit-bg;
  }
  &.submit .bi-doughtut-circle.right {
    border-top: @bi-doughtut-line-width solid @submit-bg;
    border-right: @bi-doughtut-line-width solid @submit-bg;
  }

  &.disabled .bi-doughtut-circle {
    border: @bi-doughtut-line-width solid @disabled-bg;
  }
  &.disabled .bi-doughtut-caption {
    color: #acacac;
  }
  &.disabled .bi-doughtut-circle.left {
    border-bottom: @bi-doughtut-line-width solid @disabled-bg;
    border-left: @bi-doughtut-line-width solid @disabled-bg;
  }
  &.disabled .bi-doughtut-circle.right {
    border-top: @bi-doughtut-line-width solid @disabled-bg;
    border-right: @bi-doughtut-line-width solid @disabled-bg;
  }
}
.bi-doughtut-caption {
  display: block;
  font-size: 12px;
}
.bi-doughtut-wrapper {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.bi-doughtut-wrapper.left {
  left: 0;
}
.bi-doughtut-wrapper.right {
  right: 0;
}
.bi-doughtut-circle {
  position: absolute;
  top: 0;
  width: @bi-doughtut-size - @bi-doughtut-line-width * 2;
  height: @bi-doughtut-size - @bi-doughtut-line-width * 2;
  border: @bi-doughtut-line-width solid @success-bg;
  border-radius: 50%;
}
.bi-doughtut-circle.left,
.bi-doughtut-circle.right {
  transform: rotate(-135deg);
  transition-timing-function: linear;
  transition-duration: 0ms;

  transition-property: transform;
}
.bi-doughtut-circle.left {
  border-bottom: @bi-doughtut-line-width solid @primary;
  border-left: @bi-doughtut-line-width solid @primary;
}
.bi-doughtut-circle.right {
  right: 0;
  border-top: @bi-doughtut-line-width solid @primary;
  border-right: @bi-doughtut-line-width solid @primary;
}
