// BI-Gauge仪表盘
@bi-gauge-bgs: #1693ce, #19a4e5, #14ba91, #16c447, #2fcf1f, #7cce16, #c0ac05, #c26900, #c02e00,
  #bf1200, #760403;
@-webkit-keyframes bi-gauge-box-bg1 {
  0% {
    background-color: extract(@bi-gauge-bgs, 0);
  }
  100% {
    background-color: extract(@bi-gauge-bgs, 1);
  }
}
@-webkit-keyframes bi-gauge-box-bg2 {
  0% {
    background-color: extract(@bi-gauge-bgs, 0);
  }
  50% {
    background-color: extract(@bi-gauge-bgs, 1);
  }
  100% {
    background-color: extract(@bi-gauge-bgs, 2);
  }
}
@-webkit-keyframes bi-gauge-box-bg3 {
  0% {
    background-color: extract(@bi-gauge-bgs, 0);
  }
  33% {
    background-color: extract(@bi-gauge-bgs, 1);
  }
  67% {
    background-color: extract(@bi-gauge-bgs, 2);
  }
  100% {
    background-color: extract(@bi-gauge-bgs, 3);
  }
}
@-webkit-keyframes bi-gauge-box-bg4 {
  0% {
    background-color: extract(@bi-gauge-bgs, 0);
  }
  25% {
    background-color: extract(@bi-gauge-bgs, 1);
  }
  50% {
    background-color: extract(@bi-gauge-bgs, 2);
  }
  75% {
    background-color: extract(@bi-gauge-bgs, 3);
  }
  100% {
    background-color: extract(@bi-gauge-bgs, 4);
  }
}
@-webkit-keyframes bi-gauge-box-bg5 {
  0% {
    background-color: extract(@bi-gauge-bgs, 0);
  }
  20% {
    background-color: extract(@bi-gauge-bgs, 1);
  }
  40% {
    background-color: extract(@bi-gauge-bgs, 2);
  }
  60% {
    background-color: extract(@bi-gauge-bgs, 3);
  }
  80% {
    background-color: extract(@bi-gauge-bgs, 4);
  }
  100% {
    background-color: extract(@bi-gauge-bgs, 5);
  }
}
@-webkit-keyframes bi-gauge-box-bg6 {
  0% {
    background-color: extract(@bi-gauge-bgs, 0);
  }
  16% {
    background-color: extract(@bi-gauge-bgs, 1);
  }
  33% {
    background-color: extract(@bi-gauge-bgs, 2);
  }
  50% {
    background-color: extract(@bi-gauge-bgs, 3);
  }
  66% {
    background-color: extract(@bi-gauge-bgs, 4);
  }
  87% {
    background-color: extract(@bi-gauge-bgs, 5);
  }
  100% {
    background-color: extract(@bi-gauge-bgs, 6);
  }
}
@-webkit-keyframes bi-gauge-box-bg7 {
  0% {
    background-color: extract(@bi-gauge-bgs, 0);
  }
  14% {
    background-color: extract(@bi-gauge-bgs, 1);
  }
  28% {
    background-color: extract(@bi-gauge-bgs, 2);
  }
  43% {
    background-color: extract(@bi-gauge-bgs, 3);
  }
  57% {
    background-color: extract(@bi-gauge-bgs, 4);
  }
  71% {
    background-color: extract(@bi-gauge-bgs, 5);
  }
  86% {
    background-color: extract(@bi-gauge-bgs, 6);
  }
  100% {
    background-color: extract(@bi-gauge-bgs, 7);
  }
}
@-webkit-keyframes bi-gauge-box-bg8 {
  0% {
    background-color: extract(@bi-gauge-bgs, 0);
  }
  12% {
    background-color: extract(@bi-gauge-bgs, 1);
  }
  25% {
    background-color: extract(@bi-gauge-bgs, 2);
  }
  37% {
    background-color: extract(@bi-gauge-bgs, 3);
  }
  50% {
    background-color: extract(@bi-gauge-bgs, 4);
  }
  62% {
    background-color: extract(@bi-gauge-bgs, 5);
  }
  75% {
    background-color: extract(@bi-gauge-bgs, 6);
  }
  87% {
    background-color: extract(@bi-gauge-bgs, 7);
  }
  100% {
    background-color: extract(@bi-gauge-bgs, 8);
  }
}
@-webkit-keyframes bi-gauge-box-bg9 {
  0% {
    background-color: extract(@bi-gauge-bgs, 0);
  }
  11% {
    background-color: extract(@bi-gauge-bgs, 1);
  }
  22% {
    background-color: extract(@bi-gauge-bgs, 2);
  }
  33% {
    background-color: extract(@bi-gauge-bgs, 3);
  }
  44% {
    background-color: extract(@bi-gauge-bgs, 4);
  }
  55% {
    background-color: extract(@bi-gauge-bgs, 5);
  }
  67% {
    background-color: extract(@bi-gauge-bgs, 6);
  }
  78% {
    background-color: extract(@bi-gauge-bgs, 7);
  }
  89% {
    background-color: extract(@bi-gauge-bgs, 8);
  }
  100% {
    background-color: extract(@bi-gauge-bgs, 8);
  }
}
@-webkit-keyframes bi-gauge-box-bg10 {
  0% {
    background-color: extract(@bi-gauge-bgs, 0);
  }
  10% {
    background-color: extract(@bi-gauge-bgs, 1);
  }
  20% {
    background-color: extract(@bi-gauge-bgs, 2);
  }
  30% {
    background-color: extract(@bi-gauge-bgs, 3);
  }
  40% {
    background-color: extract(@bi-gauge-bgs, 4);
  }
  50% {
    background-color: extract(@bi-gauge-bgs, 5);
  }
  60% {
    background-color: extract(@bi-gauge-bgs, 6);
  }
  70% {
    background-color: extract(@bi-gauge-bgs, 7);
  }
  80% {
    background-color: extract(@bi-gauge-bgs, 8);
  }
  90% {
    background-color: extract(@bi-gauge-bgs, 9);
  }
  100% {
    background-color: extract(@bi-gauge-bgs, 10);
  }
}

.bi-gauge-box {
  position: relative;
  overflow: hidden;
  background-color: extract(@bi-gauge-bgs, 0);

  background-repeat: no-repeat;
  background-size: 100% 100%;

  animation-duration: 0ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.bi-gauge-box.bg1 {
  animation-name: bi-gauge-box-bg1;
}
.bi-gauge-box.bg2 {
  animation-name: bi-gauge-box-bg2;
}
.bi-gauge-box.bg3 {
  animation-name: bi-gauge-box-bg3;
}
.bi-gauge-box.bg4 {
  animation-name: bi-gauge-box-bg4;
}
.bi-gauge-box.bg5 {
  animation-name: bi-gauge-box-bg5;
}
.bi-gauge-box.bg6 {
  animation-name: bi-gauge-box-bg6;
}
.bi-gauge-box.bg7 {
  animation-name: bi-gauge-box-bg7;
}
.bi-gauge-box.bg8 {
  animation-name: bi-gauge-box-bg8;
}
.bi-gauge-box.bg9 {
  animation-name: bi-gauge-box-bg9;
}
.bi-gauge-box.bg10 {
  animation-name: bi-gauge-box-bg10;
}
.bi-gauge {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-image: url(//res.waiqin365.com/d/seedsui/bi-gauge/gauge.png);
  background-size: 100% 100%;
}
.bi-gauge-pointer {
  position: absolute;
  bottom: 45px;
  left: 52px;
  width: 60px;
  height: 60px;
  background-image: url(//res.waiqin365.com/d/seedsui/bi-gauge/pointer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform-origin: 48px 13px;
  transition-timing-function: linear;
  transition-duration: 0ms;
  transition-property: transform;
}
.bi-gauge-caption {
  position: absolute;
  bottom: 25px;
  width: 100%;
  color: #59bdfc;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
