// Button按钮
// 按钮-在bar上(废弃）
@button-bar-color: @body-color;
@button-bar-bg: transparent;
@button-bar-border: transparent;

@button-bar-color-active: @body-color;
@button-bar-bg-active: transparent;
@button-bar-border-active: transparent;

// 基础样式
.button {
  box-sizing: border-box;

  // height: 32px;
  // line-height:normal;
  // line-height: 0;
  vertical-align: middle;

  border-style: solid;
  border-width: 1px;
  &:extend(.appearance);
  .inline-flex;
  .flex-middle;
  .flex-center;

  // 默认按钮
  &,
  &.normal {
    color: @button-color;
    background-color: @button-bg;
    border-color: @button-border;
    &:active,
    &.active {
      color: @button-color-active;
      background-color: @button-bg-active;
      border-color: @button-border-active;
    }
  }
  // Bar按钮(废弃）
  &.bar {
    color: @button-bar-color;
    background-color: @button-bar-bg;
    border-color: @button-bar-border;
    &:active,
    &.active {
      color: @button-bar-color-active;
      background-color: @button-bar-bg-active;
      border-color: @button-bar-border-active;
    }
  }
}

// 填充模式
.button {
  // 主色按钮
  &.primary {
    color: white;
    background-color: @primary;
    border-color: @primary;
    &:active,
    &.active {
      color: white;
      background-color: @primary;
      border-color: @primary;
    }
  }
  // 取消按钮
  &.cancel {
    color: white;
    background-color: @danger;
    border-color: @danger;
    &:active,
    &.active {
      color: white;
      background-color: lighten(@danger, 20%);
      border-color: lighten(@danger, 20%);
    }
  }
  // 提交按钮
  &.submit {
    color: white;
    background-color: @success;
    border-color: @success;
    &:active,
    &.active {
      color: white;
      background-color: lighten(@success, 20%);
      border-color: lighten(@success, 20%);
    }
  }
  // 信息按钮
  &.info {
    color: @info-color;
    background-color: @info-bg;
    border-color: @info-border;
    &:active,
    &.active {
      color: @info-color-active;
      background-color: @info-bg-active;
      border-color: @info-border-active;
    }
  }
  // 链接按钮
  &.link {
    color: @link-color;
    background-color: @link-bg;
    border-color: @link-border;
    &:active,
    &.active {
      color: @link-color-active;
      background-color: @link-bg-active;
      border-color: @link-border-active;
    }
  }
  // 警告按钮
  &.warn {
    color: @warn-color;
    background-color: @warn-bg;
    border-color: @warn-border;
    &:active,
    &.active {
      color: @warn-color-active;
      background-color: @warn-bg-active;
      border-color: @warn-border-active;
    }
  }
  // 完成按钮
  &.success {
    color: white;
    background-color: @success;
    border-color: @success;
    &:active,
    &.active {
      color: white;
      background-color: lighten(@success, 20%);
      border-color: lighten(@success, 20%);
    }
  }
  &[disabled] {
    pointer-events: none;
  }
  // 禁用按钮
  &.disabled,
  &[disabled] {
    color: @disabled-color;
    background-color: @disabled-bg;
    border-color: @disabled-border;
    &:active,
    &.active {
      color: @disabled-color-active;
      background-color: @disabled-bg-active;
      border-color: @disabled-border-active;
    }
  }
}

// 线框模式
.button.outline {
  // 线框-主色按钮
  &.primary {
    color: @primary;
    background-color: transparent;
    border-color: @primary;
    &:active,
    &.active {
      color: lighten(@primary, 20%);
      border-color: lighten(@primary, 20%);
    }
  }
  // 线框-取消按钮
  &.cancel {
    color: lighten(@danger, 20%);
    background-color: transparent;
    border-color: @danger;
    &:active,
    &.active {
      color: lighten(@danger, 20%)-active;
      border-color: lighten(@danger, 20%);
    }
  }
  // 线框-提交按钮
  &.submit {
    color: @success;
    background-color: transparent;
    border-color: @success;
    &:active,
    &.active {
      color: lighten(@success, 20%);
      border-color: lighten(@success, 20%);
    }
  }
  // 线框-信息按钮
  &.info {
    color: @info-outline-color;
    background-color: transparent;
    border-color: @info-outline-border;
    &:active,
    &.active {
      color: @info-outline-color-active;
      border-color: @info-outline-border-active;
    }
  }
  // 线框-链接按钮
  &.link {
    color: @link-outline-color;
    background-color: transparent;
    border-color: @link-outline-border;
    &:active,
    &.active {
      color: @link-outline-color-active;
      border-color: @link-outline-border-active;
    }
  }
  // 线框-警告按钮
  &.warn {
    color: @warn-outline-color;
    background-color: transparent;
    border-color: @warn-outline-border;
    &:active,
    &.active {
      color: @warn-outline-color-active;
      border-color: @warn-outline-border-active;
    }
  }
  // 线框-完成按钮
  &.success {
    color: @success;
    background-color: transparent;
    border-color: @success;
    &:active,
    &.active {
      color: lighten(@success, 20%);
      border-color: lighten(@success, 20%);
    }
  }
  // 线框-禁用按钮
  &.disabled,
  &[disabled] {
    color: @disabled-outline-color;
    background-color: @disabled-outline-bg;
    border-color: @disabled-outline-border;
    &:active,
    &.active {
      color: @disabled-outline-color-active;
      border-color: @disabled-outline-border-active;
    }
  }
}

// 按钮尺寸
.button {
  height: 32px;
  padding: 0 12px;
  font-size: @font-size-md;
  &.xs {
    height: 20px;
    padding: 0 5px;
    font-size: 12px;
  }
  &.sm {
    height: 24px;
    padding: 0 12px;
    font-size: 12px;
  }
  &.md {
  }
  &.lg {
    height: 44px;
    padding: 0 12px;
    font-size: @font-size-lg;
  }
  &.xl {
    height: 54px;
    padding: 0 15px;
    // 字号太大会不好看
    font-size: @font-size-lg;
  }
}

// 投影按钮
.button.shadow {
  // 分别指投影的：右、下、模糊、扩展、颜色
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  &:active,
  &.active {
    margin: 2px 0 -2px 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
}
