// 省市区选择
.cascader-modal {
  .flex;
  .flex-vertical;
  position: absolute;
  bottom: 0;

  box-sizing: border-box;
  width: 100%;
  height: 460px;
  background-color: white;
  border-radius: 4px 4px 0 0;
  // 动画使用.popup-animation
  .picker-header {
    height: auto;
    // background-image: none;
  }
  .picker-header-title {
    flex: 1;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
  }
}
.cascader-modal-list {
  position: relative;
  padding: 10px 0px;
  overflow: auto;
  .flex-1;
}
.cascader-modal-option {
  .flex;
  .flex-middle;
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  * {
    pointer-events: none;
  }
  &.active {
    background-color: #f8f9f9;
    .cascader-modal-option-icon {
      display: block;
    }
    .cascader-modal-option-caption {
      color: @primary;
      // font-weight: 600;
    }
  }
}
.cascader-modal-option-caption {
  .flex-1;
}
.cascader-modal-option-icon {
  display: none;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  color: @primary-bg;
  font-size: 14px;
  font-family: 'iconfont';
  line-height: 14px;
  &:extend(.icon-ok-fill all);
}
.cascader-tabs {
  display: flex;
  margin: 0 12px;
  overflow-x: auto;
  // text-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
}
.cascader-tab {
  height: 32px;
  margin-right: 20px;
  line-height: 32px;
  &.active {
    font-weight: 600;
    border-bottom: 2px solid @primary-bg;
  }
}
