// Checkbox控件
.checkbox {
  .inline-flex;
  .flex-middle;
  vertical-align: middle;
  // 禁用状态
  &[disabled] {
    .checkbox-input {
      background-color: #f8f7f7;
      border-color: #e5e5e5;
    }
    .checkbox-caption,
    &[data-checked='true'] {
      opacity: 0.5;
    }
  }

  // 选中状态
  &[data-checked='true'] {
    .checkbox-input {
      border: 0;
      background-color: @primary-bg;
      color: white;
      // 勾
      font-family: 'iconfont';
      &:extend(.icon-ok-fill all);
      &:before {
        width: 12px;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
      }
    }
  }
}

// 圆框
.checkbox-input {
  .inline-flex;
  .flex-middle;
  .flex-center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #b6b6b6;
  border-radius: 100%;
}

// caption
.checkbox-caption {
  margin-left: 4px;
}
