// Checkbox控件
.checkbox {
  .inline-flex;
  .flex-middle;
  vertical-align: middle;
  // 禁用状态
  &[disabled] {
    .checkbox-input {
      background-color: #f8f7f7;
      border-color: #e5e5e5;
    }
    .checkbox-caption,
    &[data-checked='true'] {
      opacity: 0.5;
    }
  }
}

// 选中状态
.checkbox[data-checked='true'] {
  .checkbox-input {
    .checkbox-input-checked;
  }
}

// 圆框
.checkbox-input {
  .inline-flex;
  .flex-middle;
  .flex-center;
  line-height: 14px;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #ced2d8;
  border-radius: 100%;
}

// 圆框-选中
.checkbox-input-checked {
  border: 0;
  background-color: @primary-bg;
  color: white;
  // 勾
  font-family: 'iconfont';
  &:extend(.icon-ok-fill all);
  &:before {
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
  }
}

// caption
.checkbox-caption {
  margin-left: 4px;
}
