// DateRangePopover日期快捷选择弹窗
.datepopover {
}
// 下拉选项
.datepopover-option {
  padding: 10px 12px;
}
// 自定义时间弹出框中的日期选择控件
.datepopover-dialog-inputbox {
  width: 100%;
  text-align: center;
  background: #f7f9fc;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  & + .datepopover-dialog-inputbox {
    margin-top: 8px;
  }
  .input-text {
    margin: 0 12px;
  }
}
