// DatePicker
// DatePicker.RangeCombo日期快捷选择弹窗
.datepicker-tooltip {
}
// 下拉选项
.datepicker-tooltip-option {
  padding: 10px 12px;
}
// 自定义时间弹出框中的日期选择控件
.datepicker-modal-combo {
  width: 100%;
  text-align: center;
  background: #f7f9fc;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  & + .datepicker-modal-combo {
    margin-top: 8px;
  }
  .input-text {
    margin: 0 12px;
  }
}

// DatePicker.Tabs
.datepicker-types {
  .flex;
  .flex-middle;
  height: 44px;
  padding: 0 12px;
}
.datepicker-types-tabs {
  height: 24px;
  margin: 0 !important;
  border-radius: 4px;
}
.datepicker-types-content {
  .flex-1;
}
.datepicker-types-date {
  display: inline-block;
}
.datepicker-types-prev {
}
.datepicker-types-next {
}
