// Dragrefresh下拉刷新控件
@keyframes dfAnimate-spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//pull类型
.df-pull {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.df-pull-box {
  .flex;
  .flex-middle;
  .flex-center;
  height: 50px;
  color: #777;
}
.df-pull-caption {
  display: block;
  height: 20px;
  line-height: 20px;
}
.df-pull-icon {
  display: block;

  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url(//res.waiqin365.com/d/seedsui/dragrefresh/pull.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  transition-timing-function: ease-in;
  transition-duration: @animation-duration;
  transition-property: transform;

  &.df-pull-icon-up {
    transform: rotate(0deg);
  }
  &.df-pull-icon-down {
    transform: rotate(180deg);
  }
  &.df-pull-icon-none {
    display: none;
  }
  &.df-pull-icon-loading {
    background-position: left bottom;
    transition-duration: 0ms;
    animation: dfAnimate-spinner 1000ms infinite linear;
  }
}
//circle类型
.df-circle {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 48px;
  height: 48px;
  margin-left: -20px;
  color: @primary-bg;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 32px 32px;
  border-radius: 100%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);

  transition-timing-function: ease-in;
  transition-duration: @animation-duration;
  transition-property: transform;
  .flex;
  .flex-middle;
  .flex-center;
  &.df-circle-show {
    transform: translate3d(0, 120px, 0) rotate(0deg);
  }
}
.df-circle-icon {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-image: url(//res.waiqin365.com/d/seedsui/dragrefresh/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition-timing-function: ease-in;
  transition-duration: @animation-duration;
  transition-property: transform;
  &.df-circle-icon-loading {
    animation: dfAnimate-spinner 1000ms infinite linear;
  }
}
.df-circle-icon-none {
  display: none;
}
