// FixTable
// 表格整体样式
.fixtable {
  position: relative;
  overflow: auto;

  // 表格样式
  table {
    // 列宽由表格宽度和列宽度设定
    table-layout: fixed;
    border-collapse: collapse;
    // min-width: 100%; // 设置最小宽度会导致计算时出现问题
  }

  // th文字不加粗
  th {
    font-weight: normal;
  }

  // 头部颜色
  thead th,
  thead td {
    background-color: #f7f7f7;
  }

  // 身体颜色
  tbody th,
  tbody td {
    background-color: white;
  }

  // 底部颜色
  tfoot th,
  tfoot td {
    background-color: #f7f7f7;
  }

  // 线框与布局
  td,
  th {
    z-index: 0;

    padding: 10px;

    // 一行显示
    // overflow: hidden; // 多余隐藏的话将会使投影看不见
    // text-overflow: ellipsis;
    white-space: nowrap;

    border-color: #e0e0e0;
    border-right: 1px solid @border;
    border-bottom: 1px solid @border;

    // 没有padding, 用于计算真实的宽度
    &.nopadding {
      padding: 0;
    }

    // td内div, 消除padding和border对设置的宽度影响
    > div {
      box-sizing: border-box;
    }
    // td内div, 默认不换行, 用于判断内容是否超出td限制
    > div.init {
      display: block;
      overflow: initial;
      white-space: nowrap;
      -webkit-box-orient: initial;
      -webkit-line-clamp: initial;
    }
    // td内div, 超出td宽度限制时, 多行显示
    > div.wrap {
      white-space: normal;
    }
  }

  // td固定定位
  .sticky {
    position: sticky;
    // 解决左右滚动时sticky线条丢失的问题
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      border-right: 1px solid @border;
      border-bottom: 1px solid @border;
      content: '';
      pointer-events: none;
    }
  }
  // 左边投影
  &.fixtable-ping-left {
    .left-last {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -1px;
        z-index: 999;
        width: 30px;
        box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.15);
        transform: translateX(100%);
        transition: box-shadow 0.3s;
        content: '';
        pointer-events: none;
      }
    }
  }
  // 右边投影
  &.fixtable-ping-right {
    .right-first {
      &::after {
        position: absolute;
        top: 0;
        bottom: -1px;
        left: 0;
        width: 30px;
        box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.15);
        transform: translateX(-100%);
        transition: box-shadow 0.3s;
        content: '';
        pointer-events: none;
      }
    }
  }
}

// 表格固定
.fixtable-table {
  z-index: 0;
  margin-top: -1px;
}
// 冻结头
.fixtable-table.frozen-thead thead th {
  top: 0;
  &:extend(.sticky all);

  // 冻结头中的冻结列
  &.sticky {
    z-index: 1;
  }
}
// 冻结头
.fixtable-table.frozen-tfoot tfoot th {
  bottom: 0;
  &:extend(.sticky all);

  // 冻结头中的冻结列
  &.sticky {
    z-index: 1;
  }
}
