// InputText文本框控件(@deprecated废弃, 使用Input.Text代替)
.input-text-box {
  .flex;
  .flex-middle;
  .flex-1;
  .licon {
    margin-right: 4px;
  }
  .ricon {
    margin-left: 4px;
    color: rgba(0, 0, 0, 0.2);
  }
  .input-text,
  .input-textarea,
  .input-pre-box,
  .input-area {
    display: block;
    width: 100%;
    line-height: normal;
    .flex-1;
  }
}
