// InputLocation定位(@deprecated废弃, 使用Location.Combo代替)
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
// .input-location, .input-location-error{
// }
.input-location,
.input-location textarea {
  color: @sub;
}
.input-location-error,
.input-location-error textarea {
  color: @cancel-bg;
}
.input-location-success,
.input-location-success textarea {
  color: @link-bg;
}
.input-location-icon {
  width: 24px;
  height: 24px;
}
.input-location-icon-location {
  background-image: url(//res.waiqin365.com/d/seedsui/icon/location.png);
}
.input-location-icon-choose {
  background-image: url(//res.waiqin365.com/d/seedsui/icon/location-choose.png);
}
.input-location-icon-location {
  &.input-location-icon-active {
    animation-name: rotate360;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
