// Legend
.legend {
  .flex;
  .flex-middle;
  position: relative;
  &:before,
  &:after {
    display: block;
    height: 1px;
    background-color: @border-color;
    content: '';
    .flex-1;
  }
}
.legend-caption {
  display: block;
  padding: 0 10px;
  color: @secondary;
}
