// 定位控件
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// .location-combo, .location-combo-error{
// }
.location-combo,
.location-combo textarea {
  color: @sub;
}
.location-combo-error,
.location-combo-error textarea {
  color: @cancel-bg;
}
.location-combo-success,
.location-combo-success textarea {
  color: @link-bg;
}
.location-combo-icon {
  width: 24px;
  height: 24px;
  background-size: contain;
}
.location-combo-icon-location {
  background-image: url(//res.waiqin365.com/d/seedsui/icon/location.png);
  &.active {
    animation-name: rotate360;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
.location-combo-icon-choose {
  background-image: url(//res.waiqin365.com/d/seedsui/icon/location-choose.png);
}
.location-combo-icon-preview {
  background-image: url(//res.waiqin365.com/d/seedsui/icon/location-choose.png);
}
// 弹框
.location-modal {
  .flex;
  .flex-vertical;
  position: absolute;
  bottom: 0;

  box-sizing: border-box;
  width: 100%;
  height: 600px;
  background-color: white;
  border-radius: 4px 4px 0 0;
}

/*
* 地图选择、地图预览控件
*/
.mappage-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  // 隐藏百度logo
  .anchorBL {
    display: none;
  }
}
// 定位插件
.mappage-control-location {
  .flex;
  .flex-center;
  .flex-middle;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 120px;
  left: 12px;
  width: 36px;
  height: 36px;
  color: #333;
  background: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(118, 163, 210, 0.2);
  border-radius: 8px;
}
.mappage-control-location-icon {
  .flex;
  .flex-center;
  .flex-middle;
  font-family: 'iconfont';
  &:extend(.icon-map-location all);
  font-size: 20px;
  width: 20px;
  height: 20px;
}
.mappage-control-location-label {
  margin-top: 4px;
  text-align: center;
  &:extend(.font-size-sm);
}
// 缩放插件
.mappage-control-zoom {
  .flex;
  .flex-center;
  .flex-middle;
  .flex-vertical;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 120px;
  right: 12px;
  width: 36px;
  height: 72px;
  color: #333;
  background: #ffffff;
  box-shadow: 0px 2px 7px 0px rgba(35, 63, 92, 0.2);
  border-radius: 8px;
}
.mappage-control-zoom-out,
.mappage-control-zoom-in {
  .flex;
  .flex-center;
  .flex-middle;
  width: 32px;
  height: 36px;
  .mappage-control-zoom-icon {
    font-family: 'iconfont';
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}
.mappage-control-zoom-in {
  box-shadow: inset 0px -0.5px 0px 0px rgba(230, 231, 232, 1);
  .mappage-control-zoom-icon {
    &:extend(.icon-map-zoom-in all);
  }
}
.mappage-control-zoom-out {
  .mappage-control-zoom-icon {
    &:extend(.icon-map-zoom-out all);
  }
}

// 中心标记
.mappage-icon-current {
  background: url(//res.waiqin365.com/d/seedsui/location/marker-red.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mappage-marker-center {
  .mappage-icon-current;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 24px;
  height: 32px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  user-select: none;
}

// 搜索
.mappage-search-header {
  gap: 8px;
  .flex;
  .flex-middle;
  padding: 8px 12px;
}
.mappage-search-header-button-search {
  padding: 4px;
  color: @primary-bg;
}
.mappage-search-header-input {
  .flex-1;
  .bordered;
  border-radius: 4px;
}
.mappage-search-body {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  background-color: white;
}

// 附近推荐
.mappage-nearby {
  background-color: white;
  &.active {
    .mappage-nearby-body {
      display: block;
    }
  }
}
.mappage-nearby-toggle {
  text-align: center;
  padding: 10px 0;
}
.mappage-nearby-body {
  display: none;
}

// 附近推荐-tabs
.mappage-nearby-tabs {
}
// 附近推荐-结果
.mappage-nearby-main {
  position: relative;
  height: 190px;
  overflow: auto;
}

// 地图-地点列表
.mappage-info-card {
  background: white;
  box-shadow: 0px 4px 8px 0px rgba(223, 221, 225, 0.45);
  border-radius: 12px;
  position: absolute;
  bottom: 6px;
  right: 12px;
  left: 12px;
}
.mappage-info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  background-color: white;
  .checkbox {
    visibility: hidden;
  }
  &.active {
    .checkbox {
      visibility: visible;
      // display: inline-flex;
    }
  }
}
.mappage-info-item-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 30px;
  color: @primary-color;
  background-color: @primary-bg;
  border-radius: 4px;
  margin-right: 12px;
}
.mappage-info-item-prefix {
  .icon {
    .icon.size20;
    color: @placeholder;
  }
}
.mappage-info-item-content {
  flex: 1;
  padding: 10px 0;
}
.mappage-info-item-description {
  color: @placeholder;
}

// 导航
.mappage-navigation {
  color: @primary;
  line-height: 21px;
  margin-left: 8px;
  .mappage-navigation-icon {
    font-family: 'iconfont';
    font-size: 16px;
    &:extend(.icon-navigation all);
  }
}
