/*
 * 文本框
 */

// 定位控件
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// .location-combo, .location-combo-error{
// }
.location-combo,
.location-combo textarea {
  color: @sub;
}
.location-combo-error,
.location-combo-error textarea {
  color: @danger;
}
.location-combo-success,
.location-combo-success textarea {
  color: @link-bg;
}
.location-combo-icon {
  width: 24px;
  height: 24px;
  background-size: contain;
}
.location-combo-icon-location {
  .flex;
  .flex-middle;
  .flex-center;
  font-family: 'iconfont';
  &:extend(.icon-map-zoom-update all);
  color: #aab1b8;
  font-size: 16px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;

  &.active {
    animation-name: rotate360;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
.input-clear + .location-combo-icon-location {
  margin-left: 18px;
}
.location-combo-icon-choose {
  background-image: url(//res.waiqin365.com/d/seedsui/icon/location-choose.png);
}
.location-combo-icon-preview {
  background-image: url(//res.waiqin365.com/d/seedsui/icon/location-choose.png);
}

// 页面
.location-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.location-page-mappage {
  .position-relative;
}
.mappage-main {
  .flex-1;
  .position-relative;
}
// 弹框
.location-modal {
  .flex;
  .flex-vertical;
  position: absolute;
  bottom: 0;

  box-sizing: border-box;
  width: 100%;
  height: 600px;
  background-color: white;
  border-radius: 4px 4px 0 0;
}

/*
* 地图选择、地图预览控件
*/
.mappage-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  // 隐藏百度logo
  .anchorBL {
    display: none;
  }
}

// 所有控件
.mappage-bottom-container {
  position: absolute;
  right: 12px;
  left: 12px;
  bottom: 0;
  padding-bottom: 6px;
}

// 定位插件
.mappage-controls {
  .flex;
  .flex-between;
  .flex-bottom;
  margin-bottom: 12px;
}
.mappage-control-location {
  .inline-flex;
  .flex-center;
  .flex-middle;
  width: 36px;
  height: 36px;
  color: #333;
  background: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(118, 163, 210, 0.2);
  border-radius: 8px;
}
.mappage-control-location-icon {
  .flex;
  .flex-center;
  .flex-middle;
  font-family: 'iconfont';
  &:extend(.icon-map-location all);
  font-size: 22px;
  width: 22px;
  height: 22px;
}
.mappage-control-location-label {
  margin-top: 4px;
  text-align: center;
  &:extend(.font-size-sm);
}
// 缩放插件
.mappage-control-zoom {
  .inline-flex;
  .flex-center;
  .flex-middle;
  .flex-vertical;
  width: 36px;
  height: 72px;
  color: #333;
  background: #ffffff;
  box-shadow: 0px 2px 7px 0px rgba(35, 63, 92, 0.2);
  border-radius: 8px;
}
.mappage-control-zoom-out,
.mappage-control-zoom-in {
  .flex;
  .flex-center;
  .flex-middle;
  width: 32px;
  height: 36px;
  .mappage-control-zoom-icon {
    .flex;
    .flex-center;
    .flex-middle;
    font-family: 'iconfont';
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}
.mappage-control-zoom-in {
  box-shadow: inset 0px -0.5px 0px 0px rgba(230, 231, 232, 1);
  .mappage-control-zoom-icon {
    &:extend(.icon-map-zoom-in all);
  }
}
.mappage-control-zoom-out {
  .mappage-control-zoom-icon {
    &:extend(.icon-map-zoom-out all);
  }
}

// 中心标记
.mappage-marker-center {
  background: url(//res.waiqin365.com/d/seedsui/map/map-mark-point.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 44px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  transform: translate(-50%, -50%);
  // 中心位置偏移
  // margin-top: -50px;
  cursor: pointer;
  user-select: none;
}

// 搜索
.mappage-search-navigation {
  .flex;
  .flex-middle;
  background: #ffffff;
  box-shadow: 0px 2px 7px 0px rgba(35, 63, 92, 0.2);
  border-radius: 8px;
  height: 36px;
  padding: 0 12px;

  position: absolute;
  top: 12px;
  right: 12px;
  left: 12px;
  z-index: 1;
}
.mappage-search-navigation-icon {
  font-family: 'iconfont';
  font-size: 16px;
  color: #a9b1b9;
  &:extend(.icon-search all);
  vertical-align: middle;
}
.mappage-search-navigation-label {
  color: #a9b1b9;
  letter-spacing: 0;
  height: 100%;
  .flex;
  .flex-middle;
  margin-left: 4px;
}
.mappage-search-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.mappage-search-header {
  gap: 8px;
  .flex;
  .flex-middle;
  padding: 12px 12px;
  background-color: #fff;
}

.mappage-search-header-cancel {
  font-size: 15px;
  color: #4f565d;
}
.mappage-search-header-input {
  .flex;
  .flex-middle;
  .flex-1;
  background: #ffffff;
  border: 1px solid rgba(255, 144, 8, 1);
  border-radius: 8px;
  height: 36px;
  padding: 0 12px;
  .input-text {
    margin-left: 4px;
  }
}
.mappage-search-header-input-icon {
  .mappage-search-navigation-icon;
}

.mappage-search-body {
  flex: 1;
  overflow: auto;
  background-color: white;
}

// 附近推荐
.mappage-nearby {
  background-color: white;
}
.mappage-nearby-toggle {
  text-align: center;
  padding: 10px 0;
  color: @primary;
}
.mappage-nearby-toggle-label {
}
.mappage-nearby-toggle-arrow {
  .shape-triangle-down;
  margin-left: 8px;
  transition: all 0.2s ease;
  transform: rotate(0deg) translateY(1px);
  border-top-color: @primary;
}
.mappage-nearby-body {
  display: none;
}

// 附近推荐-tabs
.mappage-nearby-tabs {
  display: flex;
  align-items: center;
  height: 30px;
  overflow-x: auto;
  white-space: nowrap;
  gap: 6px;
  margin: 0 12px;
}
.mappage-nearby-tab {
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto; /* 确保子项宽度不会自动伸缩 */
  background: #f2f2f6;
  border-radius: 4px;
  padding: 0 8px;
  height: 24px;
  color: #191c1f;
  font-size: 14px;
  &.active {
    color: @primary;
  }
}

// 附近推荐-结果
.mappage-nearby-main {
  position: relative;
  height: 305px;
  overflow: auto;
}

// 地图-地点列表
.mappage-info-card {
  background: white;
  box-shadow: 0px 4px 8px 0px rgba(223, 221, 225, 0.45);
  border-radius: 12px;
  overflow: hidden;

  &.active {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    border-radius: 12px 12px 0 0;
    // 展开附近
    .mappage-nearby-body {
      display: block;
    }
    // 旋转附近箭头
    .mappage-nearby-toggle-arrow {
      transform: rotate(180deg) translateY(1px);
    }
  }
}
.mappage-info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 12px;
  background-color: white;
  .border-b;
  .checkbox {
    visibility: hidden;
  }
  &.active {
    .checkbox {
      visibility: visible;
      // display: inline-flex;
    }
  }
}
.mappage-info-item-content {
  flex: 1;
  padding: 12px 0;
}
.mappage-info-item-content-title {
  .flex;
  .flex-middle;
  font-size: 16px;
  color: #1a1c1f;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: bold;
}
.mappage-info-item-content-description {
  .flex;
  .flex-middle;
  color: #77818c;
  margin-top: 6px;
}
.mappage-info-item-checkbox {
  .flex;
  .flex-vertical;
  .flex-bottom;
}

// 导航
.mappage-navigation {
  color: #4e5054;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-left: 8px;
  .mappage-navigation-icon {
    font-family: 'iconfont';
    font-size: 14px;
    &:extend(.icon-navigation all);
  }
}

// 底部
.mappage-footer {
  .flex;
  gap: 12px;
  padding: 6px 12px;
  background-color: white;
  box-shadow: inset 0px 0.5px 0px 0px rgba(230, 232, 235, 1);
}
.mappage-footer-ok,
.mappage-footer-clear {
  font-weight: bold;
  font-size: 16px;
  .flex-1;
  height: 40px;
  border-radius: 10px;
}
.mappage-footer-ok {
  background-color: @primary;
  border-color: @primary;
  color: white;
}
.mappage-footer-clear {
  background: #e7e9eb;
}
