.map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // 降低地图瓦片图层级别
  .leaflet-pane {
    z-index: 1;
  }
  // 完全隐藏logo, 会违反Google的使用条款, 请自行修改
  .leaflet-bottom.leaflet-left {
    display: none;
  }
  .leaflet-bottom.leaflet-right {
    display: none;
  }
}

// 地图容器
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// 缩放插件
.map-zoomControl {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  .inline-flex;
  .flex-center;
  .flex-middle;
  .flex-vertical;
  width: 36px;
  height: 72px;
  color: #333;
  background: #ffffff;
  box-shadow: 0px 2px 7px 0px rgba(35, 63, 92, 0.2);
  border-radius: 8px;
}
.map-zoomControl-out,
.map-zoomControl-in {
  .flex;
  .flex-center;
  .flex-middle;
  width: 32px;
  height: 36px;
  .map-zoomControl-icon {
    .flex;
    .flex-center;
    .flex-middle;
    font-family: 'iconfont';
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}
.map-zoomControl-in {
  box-shadow: inset 0px -0.5px 0px 0px rgba(230, 231, 232, 1);
  .map-zoomControl-icon {
    &:extend(.icon-map-zoom-in all);
  }
}
.map-zoomControl-out {
  .map-zoomControl-icon {
    &:extend(.icon-map-zoom-out all);
  }
}

// 中心标记
.map-center-marker {
  background-image: url(//res.waiqin365.com/d/seedsui/leaflet/images/marker-custom-position.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 44px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  transform: translate(-50%, -50%);
  // 中心位置偏移
  // margin-top: -50px;
  cursor: pointer;
  user-select: none;

  &.active {
    background-image: url(//res.waiqin365.com/d/seedsui/leaflet/images/marker-custom-shop.png);
  }
}

// 定位
.map-locationControl {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  .inline-flex;
  .flex-center;
  .flex-middle;
  width: 36px;
  height: 36px;
  color: #333;
  background: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(118, 163, 210, 0.2);
  border-radius: 8px;
}
.map-locationControl-icon {
  .flex;
  .flex-center;
  .flex-middle;
  font-family: 'iconfont';
  &:extend(.icon-map-location all);
  font-size: 22px;
  width: 22px;
  height: 22px;
}
.map-locationControl-label {
  margin-top: 4px;
  text-align: center;
  &:extend(.font-size-s);
}

// 搜索控件
.map-searchControl-navigation {
  .flex;
  .flex-middle;
  background: #ffffff;
  box-shadow: 0px 2px 7px 0px rgba(35, 63, 92, 0.2);
  border-radius: 8px;
  height: 36px;
  padding: 0 12px;

  position: absolute;
  top: 12px;
  right: 12px;
  left: 12px;
  z-index: 1;
}
.map-searchControl-navigation-icon {
  font-family: 'iconfont';
  font-size: 16px;
  color: #a9b1b9;
  &:extend(.icon-search all);
  vertical-align: middle;
}
.map-searchControl-navigation-label {
  color: #a9b1b9;
  letter-spacing: 0;
  height: 100%;
  .flex;
  .flex-middle;
  margin-left: 4px;
}
.map-searchControl-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.map-searchControl-header {
  gap: 8px;
  .flex;
  .flex-middle;
  padding: 12px 12px;
  background-color: #fff;
}

.map-searchControl-header-cancel {
  font-size: 15px;
  color: #4f565d;
}
.map-searchControl-header-input {
  .flex;
  .flex-middle;
  .flex-1;
  background: #ffffff;
  border: 1px solid @primary;
  border-radius: 8px;
  height: 36px;
  padding: 0 12px;
  .input-text {
    margin-left: 4px;
  }
}
.map-searchControl-header-input-icon {
  .map-searchControl-navigation-icon;
}

.map-searchControl-body {
  position: relative;
  flex: 1;
  overflow: auto;
  background-color: white;
}
.map-searchControl-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 12px;
  background-color: white;
  .border-b;
}
.map-searchControl-item-content {
  flex: 1;
  padding: 12px 0;
}
.map-searchControl-item-content-title {
  .flex;
  .flex-middle;
  font-size: 16px;
  color: #1a1c1f;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: bold;
}
.map-searchControl-item-content-description {
  .flex;
  .flex-middle;
  color: #77818c;
  margin-top: 6px;
}

// 附近推荐
.map-nearbyControl {
  position: absolute;
  right: 12px;
  left: 12px;
  bottom: 6px;
  max-height: 80%;
  z-index: 1;
  background-color: white;
  background: white;
  box-shadow: 0px 4px 8px 0px rgba(223, 221, 225, 0.45);
  border-radius: 12px;
  overflow: hidden;
  .checkbox-input {
    border: 0;
  }
  &.active {
    .map-nearbyControl-body {
      display: block;
    }
  }
}
.map-nearbyControl-toggle {
  text-align: center;
  padding: 10px 0;
  color: @primary;
}
.map-nearbyControl-toggle-label {
}
.map-nearbyControl-toggle-arrow {
  .shape-triangle-down;
  margin-left: 8px;
  transition: all 0.2s ease;
  transform: rotate(0deg) translateY(1px);
  border-top-color: @primary;
}
.map-nearbyControl-body {
  display: none;
}

// 附近推荐-tabs
.map-nearbyControl-tabs {
  display: flex;
  align-items: center;
  height: 30px;
  overflow-x: auto;
  white-space: nowrap;
  gap: 6px;
  margin: 0 12px;
}
.map-nearbyControl-tab {
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto; /* 确保子项宽度不会自动伸缩 */
  background: #f2f2f6;
  border-radius: 4px;
  padding: 0 8px;
  height: 24px;
  color: #191c1f;
  font-size: 14px;
  &.active {
    color: @primary;
  }
}

// 附近推荐-结果
.map-nearbyControl-main {
  position: relative;
  height: 305px;
  overflow: auto;
}
.map-nearbyControl-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 12px;
  background-color: white;
  .border-b;
}
.map-nearbyControl-item-content {
  flex: 1;
  padding: 12px 0;
}
.map-nearbyControl-item-content-title {
  .flex;
  .flex-middle;
  font-size: 16px;
  color: #1a1c1f;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: bold;
}
.map-nearbyControl-item-content-description {
  .flex;
  .flex-middle;
  color: #77818c;
  margin-top: 6px;
}
.map-nearbyControl-item-checkbox {
  .flex;
  .flex-vertical;
  .flex-bottom;
}
// 导航
.map-nearbyControl {
  color: #4e5054;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  .map-nearbyControl-icon {
    font-family: 'iconfont';
    font-size: 14px;
    &:extend(.icon-navigation all);
  }
}
