// 中心标记
.map-marker-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 16px;
  height: 27px;
  margin: 0px;
  padding: 0px;
  background: url(//res.waiqin365.com/d/seedsui/mapview/location_red_shadow.png);
  background-size: contain;
  border: 0px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  user-select: none;
}
// 搜索
.map-search-header {
  gap: 8px;
  .flex;
  .flex-middle;
  padding: 8px 12px;
}
.map-search-header-button-search {
  padding: 4px;
  color: @primary;
}
.map-search-header-input {
  .flex-1;
  .bordered;
  border-radius: 4px;
}
.map-search-body {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  background-color: white;
}
.map-search-item {
  display: flex;
  align-items: center;
}
.map-search-item-prefix {
  .icon {
    .icon.size20;
    margin-left: 4px;
    color: #b6b6b6;
  }
}
.map-search-item-content {
  flex: 1;
  margin-left: 4px;
  padding: 10px 0;
  .border-b;
}
.map-search-item-description {
  color: #b6b6b6;
}

// 地图-容器
.map-footer-content {
  &:extend(.flex-1);
}
// 地图-底部
.map-footer {
  padding: 10px 12px;
  &:extend(.bg-white);
  &:extend(.flex);
  &:extend(.flex-middle);
}
.map-footer-content-caption {
}
.map-footer-content-sndcaption {
  padding-top: 2px;
  color: #b6b6b6;
  &:extend(.color-sub);
  &:extend(.font-size-s);
}
.map-footer-submit {
  padding: 2px 6px;
  color: @primary;
  border: 1px solid @border-color;
  border-radius: 4px;
}
