// Mark标签
.mark {
  padding: 2px 5px;

  color: white;
  font-size: @font-size-sm;
  border-radius: 3px;
}
.mark.disabled {
  background-color: @disabled-bg;
}
.mark.disabled.outline {
  color: @disabled-bg;
  background-color: transparent;
  border: 1px solid @disabled-bg;
}
.mark.info {
  background-color: @info-bg;
}
.mark.info.outline {
  color: @info-bg;
  background-color: transparent;
  border: 1px solid @info-bg;
}
.mark.link {
  background-color: @link-bg;
}
.mark.link.outline {
  color: @link-bg;
  background-color: transparent;
  border: 1px solid @link-bg;
}
.mark.success {
  background-color: @success-bg;
}
.mark.success.outline {
  color: @success-bg;
  background-color: transparent;
  border: 1px solid @success-bg;
}
.mark.cancel {
  background-color: @cancel-bg;
}
.mark.cancel.outline {
  color: @cancel-bg;
  background-color: transparent;
  border: 1px solid @cancel-bg;
}
.mark.warn {
  background-color: @warn-bg;
}
.mark.warn.outline {
  color: @warn-bg;
  background-color: transparent;
  border: 1px solid @warn-bg;
}
.mark.hint {
  background-color: @hint-bg;
}
.mark.hint.outline {
  color: @hint-bg;
  background-color: transparent;
  border: 1px solid @hint-bg;
}
.mark.primary {
  background-color: @primary-bg;
}
.mark.primary.outline {
  color: @primary-bg;
  background-color: transparent;
  border: 1px solid @primary-bg;
}
