// Mark标签
.mark {
  padding: 2px 5px;

  color: white;
  font-size: @font-size-sm;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}
.mark.disabled {
  color: @disabled-color;
  background-color: @disabled-bg;
  border-color: @disabled-border;
}
.mark.disabled.outline {
  color: @disabled-outline-color;
  background-color: @disabled-outline-bg;
  border-color: @disabled-outline-border;
}
.mark.disabled.color {
  color: @disabled-outline-color;
  background-color: @disabled-outline-bg;
  border: 0;
}
.mark.info {
  color: @info-color;
  background-color: @info-bg;
  border-color: @info-border;
}
.mark.info.outline {
  color: @info-outline-color;
  background-color: @info-outline-bg;
  border-color: @info-outline-border;
}
.mark.info.color {
  color: @info-outline-color;
  background-color: @info-outline-bg;
  border: 0;
}
.mark.link {
  color: @link-color;
  background-color: @link-bg;
  border-color: @link-border;
}
.mark.link.outline {
  color: @link-outline-color;
  background-color: @link-outline-bg;
  border-color: @link-outline-border;
}
.mark.link.color {
  color: @link-outline-color;
  background-color: @link-outline-bg;
  border: 0;
}
.mark.success {
  color: @success-color;
  background-color: @success-bg;
  border-color: @success-border;
}
.mark.success.outline {
  color: @success-outline-color;
  background-color: @success-outline-bg;
  border-color: @success-outline-border;
}
.mark.success.color {
  color: @success-outline-color;
  background-color: @success-outline-bg;
  border: 0;
}
.mark.cancel {
  color: @cancel-color;
  background-color: @cancel-bg;
  border-color: @cancel-border;
}
.mark.cancel.outline {
  color: @cancel-outline-color;
  background-color: @cancel-outline-bg;
  border-color: @cancel-outline-border;
}
.mark.cancel.color {
  color: @cancel-outline-color;
  background-color: @cancel-outline-bg;
  border: 0;
}
.mark.submit {
  color: @success-color;
  background-color: @success-bg;
  border-color: @success-border;
}
.mark.submit.outline {
  color: @success-outline-color;
  background-color: @success-outline-bg;
  border-color: @success-outline-border;
}
.mark.submit.color {
  color: @success-outline-color;
  background-color: @success-outline-bg;
  border: 0;
}
.mark.warn {
  color: @warn-color;
  background-color: @warn-bg;
  border-color: @warn-border;
}
.mark.warn.outline {
  color: @warn-outline-color;
  background-color: @warn-outline-bg;
  border-color: @warn-outline-border;
}
.mark.warn.color {
  color: @warn-outline-color;
  background-color: @warn-outline-bg;
  border: 0;
}
.mark.hint {
  color: @hint-color;
  background-color: @hint-bg;
  border-color: @hint-border;
}
.mark.hint.outline {
  color: @hint-outline-color;
  background-color: @hint-outline-bg;
  border-color: @hint-outline-border;
}
.mark.hint.color {
  color: @hint-outline-color;
  background-color: @hint-outline-bg;
  border: 0;
}
.mark.primary {
  color: white;
  background-color: @primary;
  border-color: @primary;
}
.mark.primary.outline {
  color: @primary;
  background-color: #fff7e6;
  border-color: @primary;
}
.mark.primary.color {
  color: @primary;
  background-color: #fff7e6;
  border: 0;
}
