// MenuTree侧边菜单
@menutree-bg: #fff;
@menutree-tag-color: #666;
@menutree-tag-bg: transparent;
@menutree-tag-color-active: #666;
@menutree-tag-bg-active: transparent;
// 菜单容器旁边主体容器
.menucontainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 96px;
  box-sizing: border-box;
  overflow: auto;
  background-color: white;
}
// 菜单容器
.menutree {
  width: 96px;
  overflow: auto;
  background-color: @menutree-bg;
  &:extend(.border-r all);
}
// 菜单容器-下级容器
.menutree-tag + ul {
  display: none;
  margin-right: 1px;
  background-color: #f5f5f9;
}
.menutree-tag.expand + ul {
  display: block;
}
// 菜单
.menutree-tag {
  .flex;
  .flex-middle;
  .flex-center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  padding: 0 6px;
  color: @menutree-tag-color;
  font-size: 14px;
  text-align: left;
  background-color: @menutree-tag-bg;
  // 画个底线
  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #e5e5e5;
    content: '';
    // border-bottom: 1px dotted #bfbfbf;
  }
  // 二级选中
  & + ul .menutree-tag.active {
    color: @primary;
    &:before {
      width: 0;
    }
  }
  & > * {
    pointer-events: none;
  }
}
// 菜单-选中
.menutree-tag.active {
  color: @menutree-tag-color-active;
  background-color: @menutree-tag-bg-active;
  // 左侧选中块
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: @primary;
    content: '';
  }
}
// 菜单-文字
.menutree-tag-font {
  padding: 0 2px;
  &:extend(.flex-1);
  &:extend(.nowrap2);
}
// 菜单-图标
.menutree-tag-icon {
  display: block;
  width: 15px;
  vertical-align: -2px;
}
// 菜单-更多箭头
.menutree-more {
  &:extend(.shape-triangle-down);
}
// 菜单-更多箭头-展开
.menutree-tag.expand {
  // 更多箭头
  .menutree-more {
    transform: rotate(180deg);
    transform-origin: center;
  }
}
