// Modal遮罩, 基于.mask
.modal-mask {
  &.active {
    z-index: 2;
  }
}
.modal {
  position: absolute;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  // 动画使用.popup-animation
}

// 带按钮的对话框
.modal-alert {
  width: auto;
  width: 75%;
  max-height: 70%;
  margin: 0 auto;
  overflow: hidden;
  font-size: @font-size-lg;

  background: rgba(255, 255, 255, 0.96);
  backdrop-filter: blur(10px); /* 背景模糊效果，可以根据需求调整模糊半径 */
  border-color: @border;
  border-style: solid;
  border-width: 0;

  border-radius: 16px;
  // 动画使用.popup-animation
}
// 身体
.modal-body {
  max-height: 300px;
  padding: 20px 12px;
  overflow: auto;
  line-height: 1.2em;
  text-align: center;
}
// 身体-标题
.modal-caption {
  font-weight: 500;
  font-size: 18px;
  color: #1a1c1f;
}
.modal-caption + .modal-content {
  margin-top: 10px;
}
// 身体-内容区域
.modal-content {
  display: block;
  font-size: 15px;
  color: #35393e;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  word-wrap: break-word;
}
// 底部
.modal-footer {
  padding-top: 1px;
  font-weight: 500;
  display: flex;
  .border-t;
}
.modal-cancel,
.modal-ok {
  display: flex;
  flex: 1;
  width: 100%;

  height: 46px;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  font-weight: 400;

  * {
    pointer-events: none;
  }
}
.modal-cancel {
  color: #36383a;
  border-width: 0 !important;

  * {
    pointer-events: none;
  }
}
.modal-ok {
  color: @primary-bg;
  border-width: 0 !important;

  * {
    pointer-events: none;
  }
}
.modal-cancel + .modal-ok {
  .border-l;
}

// Dropdown
.modal-dropdown-nav {
  display: inline-flex;
  align-items: center;
  height: 32px;
  &.active {
    .modal-dropdown-title-arrow {
      transform: rotate(-180deg) translateY(-1px);
    }
  }
}
.modal-dropdown-title-text {
}
.modal-dropdown-title-arrow {
  .shape-triangle-down;
  margin-left: 8px;
  transition: all 0.2s ease;
  transform: rotate(0deg) translateY(1px);
}
.modal-dropdown-modal {
  width: 100%;
  background-color: white;
  border-radius: 0 0 16px 16px;
}
