// Modal遮罩, 基于.mask
.modal-mask {
  &.active {
    z-index: 2;
  }
}
.modal {
  position: absolute;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  // 动画使用.popup-animation
}

// 带按钮的对话框
.modal-alert {
  width: auto;
  min-width: 280px;
  max-width: 75vw;
  margin: 0 auto;
  overflow: hidden;
  font-size: @font-size-lg;

  background-color: white;
  border-color: @border;
  border-style: solid;
  border-width: 0;

  border-radius: 8px;
  // 动画使用.popup-animation
}
// 身体
.modal-body {
  // .border-b;
  max-height: 300px;
  padding: 32px 24px;
  overflow: auto;
  line-height: 1.2em;
  text-align: center;
}
// 身体-标题
.modal-caption {
  font-weight: 500;
}
.modal-caption + .modal-content {
  margin-top: 16px;
}
// 身体-内容区域
.modal-content {
  display: block;
  color: @sub;
  word-wrap: break-word;
}
.modal-content-icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px auto 12px auto;
}
// 底部
.modal-footer {
  padding-top: 1px;
  font-weight: 500;
  .flex;
  .border-t;
}
.modal-cancel {
  .flex !important;
  .flex-1;
  width: 100%;
  height: 56px;
  border-width: 0 !important;

  * {
    pointer-events: none;
  }
}
.modal-ok {
  .flex !important;
  .flex-1;
  width: 100%;
  height: 56px;
  color: @primary-bg;
  border-width: 0 !important;

  * {
    pointer-events: none;
  }
}
.modal-cancel + .modal-ok {
  .border-l;
}
