// NoData暂无数据
.nodata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nodata-caption {
  color: #949ca4;
  margin-top: 12px;
}
.nodata-image {
  width: 150px;
}
