// Notice提示页
@notice-color: @secondary;
// @notice-bg: @body-bg-color;
.notice {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: @notice-color;
  // background-color: @notice-bg;
  .flex;
  .flex-middle;
}

.notice-wrapper {
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

.notice-icon {
  width: 120px;
  height: 120px;
  font-size: 120px;
}

.notice-caption {
  margin: 10px 20px 0;
}

.notice-sndcaption {
  margin: 10px 20px 0;
}

.notice-icon-error {
  background-image: url('//res.waiqin365.com/d/waiqin365_h5/components/error.png');
}

.notice-icon-nodata {
  background-image: url('//res.waiqin365.com/d/waiqin365_h5/components/empty.png');
}
