// 颜色
@numbox-border: @dpborder;

// 尺寸
@numbox-xl-width: 170px;
@numbox-xl-height: 40px;

@numbox-lg-width: 120px;
@numbox-lg-height: 32px;

@numbox-md-width: 100px;
@numbox-md-height: 26px;

@numbox-sm-width: 80px;
@numbox-sm-height: 22px;

.numbox,
.numbox.md {
  width: @numbox-md-width;
  height: @numbox-md-height;
}
.numbox.xl {
  width: @numbox-xl-width;
  height: @numbox-xl-height;
  .numbox-button {
    width: @numbox-xl-height;
  }
}
.numbox.lg {
  width: @numbox-lg-width;
  height: @numbox-lg-height;
  .numbox-button {
    width: @numbox-lg-height;
  }
}
.numbox.sm {
  width: @numbox-sm-width;
  height: @numbox-sm-height;
  .numbox-button {
    width: @numbox-sm-height;
  }
  .numbox-input {
    font-size: 12px;
  }
}

.numbox-input,
.numbox-button {
  height: 100%;
}
.numbox-button {
  line-height: 100%;
}

.numbox {
  .inline-flex;
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border-radius: 4px;
  &:extend(.flex-middle);
  &:extend(.bordered);
  .ricon {
    display: block;
    margin-right: 4px;
    margin-left: 4px;
    color: rgba(0, 0, 0, 0.2);
  }
}

// 文本框
.numbox-input-wrapper {
  &:extend(.flex-1);
  .numbox-input {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    border-radius: 0;
    &:extend(.appearance);
    &:extend(.flex-1);
  }
}

// 按钮
.numbox-button {
  display: block;
  width: @numbox-md-height;

  font-size: 20px;
  background-color: white;
  border-width: 0;
  &:extend(.appearance);
}
.numbox-button-minus {
  left: 0;
  color: @primary;
  border-right: 1px solid @numbox-border;
  &[disabled] {
    .setMinusDisabled();
  }
}
.numbox-button-plus {
  right: 0;
  color: @primary-color;
  background-color: @primary-bg;
  border-left: 1px solid @primary-bg;
  &[disabled] {
    .setPlusDisabled();
  }
}

// 禁用
.setPlusDisabled() {
  // color: #ccc;
  // background-color: white;
  // border-left: 1px solid @numbox-border;
  opacity: 0.6;
}
.setMinusDisabled() {
  color: #ccc;
}
.setInputDisabled() {
  color: #ccc;
  opacity: 1;
  -webkit-text-fill-color: #ccc;
}
.numbox[disabled] {
  pointer-events: none;
  .numbox-input,
  input[type='number']:disabled {
    .setInputDisabled();
  }

  .numbox-button-minus {
    .setMinusDisabled();
  }
  .numbox-button-plus {
    .setPlusDisabled();
  }
}
