// Pages
// 经测试, 以下齐流海适配方法不工作
// @safe-bottom: calc(~"constant(safe-area-inset-bottom) - 49px"); // ios11安全区域: 向刘海再移动49px
// @safe-bottom: constant(safe-area-inset-bottom); // ios11安全区域: 刘海留白,内容只显示在安全区域
// @supports (bottom: constant(safe-area-inset-bottom)) {
//   .pages {
//     bottom: @safe-bottom;
//   }
// }
.pages {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}

// 适配刘海屏
.pages.ios-bang {
  // 适配齐流海: iphoneX、iphoneXs、iphoneXR, 微信头部高度88, 小程序头部高度87, 减掉头部高度为实际高度
  @media only screen and (device-width: 375px) and (height: 724px) and (-webkit-device-pixel-ratio: 3) {
    bottom: 34px;
  }
  @media only screen and (device-width: 375px) and (height: 725px) and (-webkit-device-pixel-ratio: 3) {
    bottom: 34px;
  }
  @media only screen and (device-width: 414px) and (height: 808px) and (-webkit-device-pixel-ratio: 3) {
    bottom: 34px;
  }
  @media only screen and (device-width: 414px) and (height: 807px) and (-webkit-device-pixel-ratio: 3) {
    bottom: 34px;
  }
  @media only screen and (device-width: 414px) and (height: 808px) and (-webkit-device-pixel-ratio: 2) {
    bottom: 34px;
  }
  @media only screen and (device-width: 414px) and (height: 807px) and (-webkit-device-pixel-ratio: 2) {
    bottom: 34px;
  }

  // iphoneX、iphoneXs、iphoneXR
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    bottom: 34px;
  }
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    bottom: 34px;
  }
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    bottom: 34px;
  }

  // iPhone 12 and iPhone 12 Pro
  @media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    bottom: 34px;
  }
  // iPhone 12 Pro Max
  @media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
    bottom: 34px;
  }
}

// Page
.page {
  // flex布局
  .flex;
  .flex-vertical;

  // 共用
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: @body-bg;
}
