// Picker选择器
@picker-bg: white;
@picker-button-color: @primary;
@picker-button-disabled-color: #d1d1d1;
@picker-header-bg: #fff;
// picker遮罩, 基于.mask
.picker-mask {
}
.picker {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;

  background-color: @picker-bg;
  transform: translate3d(0, 100%, 0);
  transition-duration: @animation-duration;
  transition-property: transform, opacity, visibility;
  &.active {
    transform: translate3d(0, 0, 0);
  }
}
.picker-header {
  .flex;
  .flex-middle;
  position: relative;
  height: 50px;
  background-color: @picker-header-bg;
  &:extend(.border-b);
  justify-content: space-between;
}

// 头部圆角
.picker,
.picker-header {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.picker-header {
  margin: 0 12px;
}
// 按钮
.picker-submit {
  display: block;
  height: 32px;
  margin-right: 2px;
  color: @picker-button-color;
  line-height: 32px;
  font-size: 15px;
  &.disabled {
    color: @picker-button-disabled-color;
    pointer-events: none;
  }
}
.picker-cancel,
.picker-close {
  display: block;
  height: 32px;
  color: @picker-button-color;
  line-height: 32px;
  &.disabled {
    color: @picker-button-disabled-color;
    pointer-events: none;
  }
}
.picker-close {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
}
.picker-icon-close {
  font-family: 'iconfont';
  text-align: center;
  font-size: 14px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  &:extend(.icon-close-fill all);
  color: @placeholder;
}
.picker-header-title {
  .text-center;
  position: absolute;
  font-size: 16px;
  left: 50px;
  right: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}
.picker-wrapper {
  position: relative;
  display: block;
  height: 215px;
  overflow: hidden;
}
// 槽容器
.picker-slotbox {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
// 一槽
.picker-slot {
  display: table-cell;
  padding-top: 86px;
  padding-bottom: 86px;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  li {
    height: 44px;
    padding: 0 8px;
    overflow: hidden;

    color: @body-color;
    font-size: 17px;
    line-height: 44px;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
    &.active {
      color: @body-color;
    }
  }
  &.lock li.active {
    color: @placeholder;
  }
}
// 遮皮
.picker-layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  &:before,
  &:after {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 82px;
    content: '';
  }
  &:before {
    top: 0;
    background: fade(@picker-bg, 70%);
  }
  &:after {
    bottom: 0;
    background: fade(@picker-bg, 70%);
  }
}
// 遮皮选中
.picker-layer-frame {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 46px;
  transform: translateY(-50%);
  pointer-events: none;
  &:extend(.border-tb all);
}

// 选择器中的tabs
.picker-tabs {
  .tabs-line;
  .tabs-line-width100;
  // 文字
  .tab,
  .tab.active {
    .tab-caption {
      .color-sub;
      .font-size-sm;
    }
    .tab-sndcaption {
      .color-body;
      .font-size-md;
    }
  }
}
