// PickerDistrict街道选择
.picker-district-mask {
} // 遮罩, 基于.mask
// .actionsheet-mask{} // 遮罩, 基于.mask
.picker-district {
  .flex;
  .flex-vertical;
  position: absolute;
  bottom: 0;

  box-sizing: border-box;
  width: 100%;
  height: 460px;
  background-color: white;
  border-radius: 4px 4px 0 0;
  // 动画使用.popup-animation
}
// 头部
.picker-district-header {
  .flex;
  .flex-middle;
}
.picker-district-header-title {
  .text-center;
  .flex-1;
  height: 60px;
  font-size: @font-size-l;
  line-height: 60px;
}
// 按钮
.picker-district-submit {
  display: block;
  height: 32px;
  margin-right: 8px;
  padding: 0 5px;
  color: @picker-button-primary-color;
  line-height: 32px;
  &.disabled {
    color: @picker-button-disabled-color;
    pointer-events: none;
  }
}
.picker-district-cancel {
  display: block;
  height: 32px;
  margin-left: 8px;
  padding: 0 5px;
  color: @picker-button-primary-color;
  line-height: 32px;
  &.disabled {
    color: @picker-button-disabled-color;
    pointer-events: none;
  }
}
.picker-district-tabbar {
  .flex;
  margin: 0 12px;
  overflow-x: auto;
}
.picker-district-tab {
  height: 32px;
  margin-right: 20px;
  line-height: 32px;
  &.active {
    font-weight: 600;
    border-bottom: 2px solid @primary;
  }
}
.picker-district-body {
  position: relative;
  padding: 10px 12px;
  overflow: auto;
  .flex-1;
}
.picker-district-option {
  .flex;
  .flex-middle;
  height: 40px;
  line-height: 40px;
  * {
    pointer-events: none;
  }
  &.active {
    .picker-district-option-icon {
      display: block;
    }
    .picker-district-option-caption {
      font-weight: 600;
    }
  }
}
.picker-district-option-caption {
  .flex-1;
}
.picker-district-option-icon {
  display: none;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  color: @primary;
  font-size: 14px;
  font-family: 'iconfont';
  line-height: 14px;
  &:extend(.icon-ok-fill all);
}
.picker-district-error,
.picker-district-load {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  .flex;
  .flex-middle;
  .flex-center;
  .flex-vertical;
}
.picker-district-error {
  top: 94px;
  background-color: white;
}
.picker-district-error-icon {
  color: @secondary;
  font-size: 80px;
  font-family: 'iconfont';
  &:extend(.icon-notice-data all);
  &:extend(.size80 all);
}
.picker-district-error-label {
  margin-top: 8px;
  color: @secondary;
  font-size: @font-size-s;
}
.picker-district-load-icon {
}
.picker-district-load-label {
  margin-top: 8px;
  color: @secondary;
  font-size: @font-size-s;
}
