// Result
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.result-image {
  width: 160px;
  margin: 0 auto;
}

.result-title {
  color: #949ca4;
  margin: 12px 20px 0;
  text-align: center;
}

.result-button {
  display: flex;
  height: 40px;
  margin: 0 12px;
  border-radius: 10px;
  font-size: @font-size-l;
}

.result-button + .result-button {
  margin-top: 16px;
}
