// SafeArea安全区域
.safe-area {
  --multiple: var(--safe-area-multiple, 1);
  // 定位
  &.top {
    top: calc(env(safe-area-inset-top) * var(--multiple));
  }
  &.bottom {
    bottom: calc(env(safe-area-inset-bottom) * var(--multiple));
  }
  // 间距
  &.padding-top {
    padding-top: calc(env(safe-area-inset-top) * var(--multiple));
  }
  &.padding-bottom {
    padding-bottom: calc(env(safe-area-inset-bottom) * var(--multiple));
  }
  &.margin-top {
    padding-top: calc(env(safe-area-inset-top) * var(--multiple));
  }
  &.margin-bottom {
    padding-bottom: calc(env(safe-area-inset-bottom) * var(--multiple));
  }
  // 高度
  &.height-top {
    height: calc(env(safe-area-inset-top) * var(--multiple));
  }
  &.height-bottom {
    height: calc(env(safe-area-inset-bottom) * var(--multiple));
  }
  // 边框
  &.border-top,
  &.border-bottom {
    border-style: solid;
    border-width: 0;
    border-color: transparent;
  }
  &.border-top {
    border-top-width: calc(env(safe-area-inset-top) * var(--multiple));
  }
  &.border-bottom {
    border-bottom-width: calc(env(safe-area-inset-bottom) * var(--multiple));
  }
}

// 只对遮罩生效的安全区
.safe-area-mask {
  // 弹窗
  body > .mask > [data-animation='slideUp'],
  #root > .mask > [data-animation='slideUp'] {
    &:extend(.safe-area all);
    &:extend(.safe-area.border-bottom all);
  }
}

// 根元素安全区，业务无需控制安全区
.safe-area-root {
  #root {
    &:extend(.safe-area all);
    &:extend(.safe-area.border-bottom all);
  }
}
