// SafeArea安全区域
.safe-area {
  --multiple: var(--safe-area-multiple, 1);
  &.top {
    padding-top: calc(env(safe-area-inset-top) * var(--multiple));
  }
  &.bottom {
    padding-bottom: calc(env(safe-area-inset-bottom) * var(--multiple));
  }
  &.top-height {
    padding-top: calc(env(safe-area-inset-top) * var(--multiple));
  }
  &.bottom-height {
    height: calc(env(safe-area-inset-bottom) * var(--multiple));
  }
}
