// Select
/*
Select.Checkbox
*/
.select-checkbox-group {
  padding: 1px 0;
}
.select-checkbox-item {
  margin: 10px 0;
  .checkbox,
  .radio {
    .flex;
  }
  .checkbox-caption,
  .radio-caption {
    .flex-1;
  }
}

/*
Select.Combo
*/
// .select-modal-wrapper {
//   position: relative;
//   display: block;
//   height: auto;
//   min-height: 200px;
//   max-height: 557px;
//   overflow: auto;
//   .nodata {
//     margin: 10px 0;
//   }
//   .nodata-image {
//     width: 150px;
//   }
// }

// 列表分组
.select-group-headline {
  padding: 12px 4px 0 4px;
  margin: 0 12px;
}
.select-group-caption {
  color: @tertiary;
  font-size: @font-size-m;
}
.select-group-description {
  color: @tertiary;
  font-size: @font-size-s;
  margin-top: 4px;
}

.select-group-options {
  // 分组选项容器
}
// 选项
.select-option {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 4px;
  margin: 0 12px;
  gap: 8px;
  font-size: 16px;
  .border-b;
}
// 主体
.select-option-main {
  .flex-1;
}
// 主体-Avatar
.select-option-main-avatar {
}
// 主体-内容
.select-option-main-content {
}
.select-option-main-title {
  position: relative;
  display: block;
  pointer-events: none;
}
.select-option-main-description {
  color: @tertiary;
  font-size: @font-size-s;
  margin-top: 4px;
}

// 选项-选中框左右排版
[checked-position='right'] {
  .left {
    display: none;
  }
}
[checked-position='left'] {
  .right {
    display: none;
  }
}
// 选项-禁用
.select-option.disabled {
  opacity: 0.5;
  pointer-events: none;
}

// 选项-checkbox
[checked-type='checkbox'] {
  .checked-input {
    .checkbox-input;
  }
}
[checked-type='checkbox'].active {
  .select-option-checkbox {
    .checked-input {
      .checkbox-input-checked;
    }
  }
}

// 选项-tick
[checked-type='tick'] {
  .checked-input {
    width: 18px;
    height: 18px;
  }
}
[checked-type='tick'].active {
  .select-option-main-title {
    color: @primary;
  }
  .select-option-tick {
    .checked-input {
      width: 18px;
      height: 18px;
      font-size: 18px;
      pointer-events: none;
      font-family: 'iconfont';
      &:extend(.icon-ok-fill all);
      color: @primary;
    }
  }
}

// 选项-corner
[checked-type='corner'] {
  .select-option-corner {
    // 三角位置
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    z-index: 1;
  }
}
[checked-type='corner'].active {
  // 右
  .select-option-corner {
    // 三角
    &::before {
      display: block;
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      content: '';
      border-bottom: 30px solid transparent;
    }
    // 勾
    .checked-input {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: 'iconfont';
      &:extend(.icon-select all);
      color: @primary;
      width: 12px;
      height: 12px;
      font-size: 12px;
    }
  }

  // 右
  .select-option-corner.right {
    // 三角
    right: 0;
    text-align: right;
    padding-right: 2px;
    &::before {
      right: 0;
      border-right: 30px solid #ffe8cd;
    }
  }

  // 左
  .select-option-corner.left {
    // 三角
    left: 0;
    text-align: left;
    padding-left: 2px;
    &::before {
      left: 0;
      border-left: 30px solid #ffe8cd;
    }
  }
}
