// Select
// Select.Checkbox
.select-checkbox-group {
  padding: 1px 0;
}
.select-checkbox-item {
  margin: 10px 0;
  .checkbox,
  .radio {
    .flex;
  }
  .checkbox-caption,
  .radio-caption {
    .flex-1;
  }
}
// Select.Combo
@select-modal-color-active: @primary-bg;
.select-modal {
  background-color: @picker-bg;
  &:extend(.picker);
}
.select-modal.active {
  &:extend(.picker.active);
}
.select-modal-wrapper {
  position: relative;
  display: block;
  height: auto;
  min-height: 200px;
  max-height: 215px;
  overflow: auto;
  .nodata {
    margin: 10px 0;
  }
  .nodata-image {
    width: 150px;
  }
}
// 列表选项
.select-modal-option {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  .border-b;

  // ue要求改为checkbox
  .checkbox {
    margin-right: 8px;
    margin-left: 4px;
    pointer-events: none;
  }
}

.select-modal-option.active {
  // ue要求改为checkbox
  .checkbox {
    .checkbox-input {
      border: 0;
      background-color: @primary-bg;
      color: white;
      // 勾
      font-family: 'iconfont';
      &:extend(.icon-ok-fill all);
      &:before {
        width: 12px;
        height: 12px;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  // color: @select-modal-color-active;
  // .select-modal-option-tick {
  //   visibility: visible;
  // }
}
.select-modal-option-caption {
  position: relative;
  display: block;
  pointer-events: none;
  &:extend(.flex-1);
}
// .select-modal-option-tick {
//   width: 16px;
//   height: 16px;
//   font-size: 16px;
//   font-family: 'iconfont';
//   visibility: hidden;
//   pointer-events: none;
//   &:extend(.icon-ok-fill all);
// }
