// 签名
.signature {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}
// 按钮
.signature-colors {
  position: absolute;
  left: 0;
  top: 0;
}
.signature-color {
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

// 按钮
.signature-buttons {
  position: absolute;
  right: 0;
  top: 0;
}
.signature-button-clear {
  padding: 8px;
  border: 1px solid @primary;
}
.signature-button-cancel {
  padding: 8px;
  border: 1px solid @danger;
}
.signature-button-submit {
  padding: 8px;
  border: 1px solid @primary;
}
