// Stencil初始化加载模板
.stencil {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  background-color: #fff;
  background-repeat: repeat-y;
  background-position: top;
  background-size: contain;
}
// 列表类型
.stencil-list {
  background-image: url(//res.waiqin365.com/d/seedsui/stencil/stencil-list.png);
}
