// Sticker
@sticker-color: @badge-color;
@sticker-bg: @badge-bg;
@sticker-font-size: @font-size-sm;
.sticker {
  position: absolute;
  width: 0px;
  height: 0px;

  color: @sticker-color;
  border-color: @sticker-bg;
  border-style: solid;
  border-width: 0;
  span {
    position: absolute;
    padding: 0 2px;
    font-size: @sticker-font-size;
  }
  &.top,
  &.top span {
    top: 0;
  }
  &.top {
    border-top-width: 32px;
  }
  &.top span {
    min-width: 30px;
    margin-top: -30px;
  }
  &.left,
  &.left span {
    left: 0;
  }
  &.left {
    border-right-color: transparent;
    border-right-width: 56px;
  }
  &.right,
  &.right span {
    right: 0;
    text-align: right;
  }
  &.right {
    border-left-color: transparent;
    border-left-width: 56px;
  }
  &.bottom,
  &.bottom span {
    bottom: 0;
  }
  &.bottom {
    border-bottom-width: 32px;
  }
  &.bottom span {
    margin-bottom: -30px;
  }
}
.sticker.sticker-icon {
  &.top {
    border-top-width: 28px;
  }
  &.top span {
    margin-top: -26px;
  }
  &.left {
    border-right-width: 28px;
  }
  &.right {
    border-left-width: 28px;
  }
  &.bottom {
    border-bottom-width: 28px;
  }
}

.sticker-line {
  position: absolute;
  width: 100px;
  height: 20px;

  color: @sticker-color;
  text-align: center;
  background-color: @sticker-bg;
  transform-origin: center;
  .flex;
  .flex-middle;
  .flex-center;
  &.top {
    top: 13px;
    &.left {
      left: -20px;
      transform: rotate(-42deg);
    }
    &.right {
      right: -20px;
      transform: rotate(42deg);
    }
  }
  &.bottom {
    bottom: 15px;
    &.left {
      left: -24px;
      transform: rotate(42deg);
    }
    &.right {
      right: -24px;
      transform: rotate(-42deg);
    }
  }
}
