// 开关控件
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;

  // 小球风格
  // background-color:transparent;
  // border:1px solid @dpborder;

  // ios风格
  background-color: white;
  border: none;
  border-radius: 30px;
  box-shadow: inset 0 0 0 1px @dpborder;
  transition-duration: 200ms;
  transition-property: background-color, border;

  // 文字
  &:after {
    position: absolute;
    top: 50%;
    // ios风格
    right: 11px;

    // 小球风格
    // color: @placeholder;

    // ios风格
    color: @placeholder;
    transform: translateY(-50%);
    content: attr(data-off);
  }
  // 圆点
  .switch-handle {
    position: absolute;
    top: 50%;
    left: 0;

    // 小球风格
    // width: 20px;
    // height: 20px;
    // transform:translate(4px,-50%);
    // background-color:@dpborder;

    // ios风格
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);
    transform: translate(2px, -50%);
    transition-duration: 200ms;
    transition-property: transform, border, width;
    pointer-events: none;
  }
  &.active {
    // 小球风格

    // ios风格
    background-color: @primary-bg;
    box-shadow: none;

    &:after {
      right: auto;
      left: 11px;

      // 小球风格
      // color: @placeholder;

      // ios风格
      color: white;
      // 文字
      content: attr(data-on);
    }

    .switch-handle {
      top: 50%;
      // 圆点
      left: 0;
      background-color: white;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.21);

      // 小球风格
      // transform: translate(34px,-50%);
      // background-color: @primary-bg;

      // ios风格
      transform: translate(32px, -50%);
    }
  }

  &.notext {
    // 无文字时宽度应当小一些
    width: 50px;
    &.active {
      .switch-handle {
        // 小球风格
        // transform: translate(24px,-50%);
        // ios风格
        transform: translate(22px, -50%);
      }
    }
    &:after {
      content: none;
    }
  }
}
.switch[data-readonly='true'] {
  pointer-events: none;
}
.switch[data-disabled='true'] {
  pointer-events: none;
}

.switch.sm {
  height: 28px;
  .switch-handle {
    height: 20px;
    width: 20px;
  }
  &.notext {
    width: 44px;
  }
}
