// Tabbar (@deprecated废弃, 使用Tabs代替)
// Tabbar-line
@tabbar-line-color: #666;
@tabbar-line-bg: #fff;
@tabbar-line-border: @border-color;
@tabbar-line-color-active: @primary;
@tabbar-line-bg-active: transparent;
@tabbar-line-border-active: @primary;

@tabbar-line-reverse-color: white;
@tabbar-line-reverse-bg: @primary;
@tabbar-line-reverse-border: @primary;
@tabbar-line-reverse-color-active: white;
@tabbar-line-reverse-bg-active: @primary;
@tabbar-line-reverse-border-active: white;

// Tabbar-rect
@tabbar-rect-color: #666;
@tabbar-rect-bg: white;
@tabbar-rect-border: @border-color;
@tabbar-rect-color-active: white;
@tabbar-rect-bg-active: @primary;

@tabbar-rect-reverse-color: white;
@tabbar-rect-reverse-bg: @primary;
@tabbar-rect-reverse-border: @primary;
@tabbar-rect-reverse-color-active: @primary;
@tabbar-rect-reverse-bg-active: white;

// Tabbar-lump
@tabbar-lump-radius: 28px;

@tabbar-lump-color: #333;
@tabbar-lump-bg: white;
@tabbar-lump-border: white;
@tabbar-lump-color-active: white;
@tabbar-lump-bg-active: @primary;
@tabbar-lump-border-active: white;

@tabbar-lump-reverse-color: white;
@tabbar-lump-reverse-bg: @primary;
@tabbar-lump-reverse-border: @primary;
@tabbar-lump-reverse-color-active: @primary;
@tabbar-lump-reverse-bg-active: white;
@tabbar-lump-reverse-border-active: @primary;

// Tabbar-dropdown
@tabbar-dropdown-color: #666;
@tabbar-dropdown-bg: white;
@tabbar-dropdown-border: @border-color;
@tabbar-dropdown-color-active: @primary;
@tabbar-dropdown-bg-active: transparent;

@tabbar-dropdown-reverse-color: white;
@tabbar-dropdown-reverse-bg: @primary;
// eslint-disable-next-line
@tabbar-dropdown-reverse-border: rgba(255, 255, 255, 0.7);
@tabbar-dropdown-reverse-color-active: white;
@tabbar-dropdown-reverse-bg-active: transparent;

// Tabbar-footer
@tabbar-footer-color: #666;
@tabbar-footer-bg: white;
@tabbar-footer-color-active: @primary;
@tabbar-footer-bg-active: transparent;

@tabbar-footer-reverse-color: white;
@tabbar-footer-reverse-bg: @primary;
@tabbar-footer-reverse-color-active: white;
@tabbar-footer-reverse-bg-active: transparent;
// 基础样式
.tabbar {
  position: relative;
  display: block;
  margin: 0 auto;
  // 允许横向滚动
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  &.disabled,
  &[disabled] {
    opacity: 0.5;
  }
  &[disabled] {
    pointer-events: none;
  }
}
.tab {
  position: relative;

  display: table-cell;
  box-sizing: border-box;
  width: 1%;
  height: 40px;
  padding: 0 6px;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-width: 0;
}
.tab-icon {
  margin: 0 4px;
  pointer-events: none;
}
.tab-content {
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
}
.tab-caption,
.tab-sndcaption {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tab-caption {
}
.tab-sndcaption {
  font-size: @font-size-s;
}
// 平铺等分
.tabbar-tiled {
  .flex;
  .tab {
    .flex;
    &:extend(.flex-1);
    .flex-middle;
    .flex-center;
  }
  .tab-icon {
    display: block;
  }
  .tab-content {
    display: block;
    .flex-1;
  }
}

// 单线形tabbar-line
.tabbar-line {
  color: @tabbar-line-color;
  background-color: @tabbar-line-bg;
  .tab {
    // 选中状态下横线,由无到有动画
    &:after {
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 50%;
      display: block;
      width: 100%;
      height: 2px;

      background-color: @tabbar-line-border-active;
      transform: translate(-50%, 0) scale(0, 1);
      transform-origin: center center;
      content: '';
    }
  }
  .tab.active {
    color: @tabbar-line-color-active;
    background-color: @tabbar-line-bg-active;
    // 选中状态下横线
    &:after {
      transform: translate(-50%, 0) scale(1, 1);
    }
  }
  &.tabbar-line-width50 {
    .tab:after {
      width: 50%;
    }
  }
  &.tabbar-line-width60 {
    .tab:after {
      width: 60%;
    }
  }
  &.tabbar-line-width70 {
    .tab:after {
      width: 70%;
    }
  }
}
.tabbar-line.reverse {
  color: @tabbar-line-reverse-color;
  background-color: @tabbar-line-reverse-bg;
  .tab {
    &:before {
      background-color: @tabbar-line-reverse-border;
    }
  }
  .tab.active {
    color: @tabbar-line-reverse-color-active;
    background-color: @tabbar-line-reverse-bg-active;
    &:after {
      background-color: @tabbar-line-reverse-border-active;
    }
  }
}
.tabbar-line.animated {
  .tab {
    transition-duration: 300ms;
    transition-property: color;
    &:after {
      transition-duration: 100ms;
      transition-property: transform;
    }
  }
  .tab.active {
    &:after {
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: @animation-duration;
    }
  }
}

// 矩形tabbar-rect
.tabbar-rect {
  max-width: 96%;
  color: @tabbar-rect-color;
  background-color: @tabbar-rect-bg;
  border: 1px solid @tabbar-rect-border;
  .tab {
    height: 24px;
    border-right: 1px solid @tabbar-rect-border;
  }
  .tab:nth-last-of-type(1) {
    border-right: 0;
  }
  .tab.active {
    color: @tabbar-rect-color-active;
    background-color: @tabbar-rect-bg-active;
  }
}
.tabbar-rect.reverse {
  color: @tabbar-rect-reverse-color;
  background-color: @tabbar-rect-reverse-bg;
  border: 1px solid @tabbar-rect-reverse-border;
  .tab {
    border-color: @tabbar-rect-reverse-border;
  }
  .tab.active {
    color: @tabbar-rect-reverse-color-active;
    background-color: @tabbar-rect-reverse-bg-active;
  }
}

// 滑块形tabbar-lump
.tabbar-lump {
  color: @tabbar-lump-color;
  background-color: @tabbar-lump-bg;
  .tab .tab-content {
    height: 28px;
    padding: 0 12px;

    color: @tabbar-lump-color;
    line-height: 28px;
    border: 1px solid @tabbar-lump-border;
    border-radius: @tabbar-lump-radius;
  }
  .tab.active .tab-content {
    color: @tabbar-lump-color-active;
    background-color: @tabbar-lump-bg-active;
    border: 1px solid @tabbar-lump-border-active;
  }
}
.tabbar-lump.reverse {
  color: @tabbar-lump-reverse-color;
  background-color: @tabbar-lump-reverse-bg;
  .tab .tab-content {
    color: @tabbar-lump-reverse-color;
    border-color: @tabbar-lump-reverse-border;
  }
  .tab.active .tab-content {
    color: @tabbar-lump-reverse-border-active;
    background-color: @tabbar-lump-reverse-bg-active;
    border-color: @tabbar-lump-reverse-border-active;
  }
}
.tabbar-lump.animated {
  .tab {
    .tab-content {
      transition-duration: @animation-duration;
      transition-property: background-color, color;
    }
  }
}
// 下拉型tabbar-dropdown
.tabbar-dropdown {
  color: @tabbar-dropdown-color;
  background-color: @tabbar-dropdown-bg;
  .tab-content {
    max-width: 80px;
  }
  .tab:not(:first-child):after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 2px;
    height: 20px;
    transform: translate(0, -50%);
    content: '';
    &:extend(.border-r);
  }
  .tab.active {
    color: @tabbar-dropdown-color-active;
    background-color: @tabbar-dropdown-bg-active;
    .icon {
      transform: rotate(180deg);
    }
    .shape-triangle-down {
      border-top-color: @tabbar-dropdown-color-active;
    }
  }
}
.tabbar-dropdown.reverse {
  color: @tabbar-dropdown-reverse-color;
  background-color: @tabbar-dropdown-reverse-bg;
  .tab.active {
    color: @tabbar-dropdown-reverse-color-active;
    background-color: @tabbar-dropdown-reverse-bg-active;
  }
  .tab:after {
    background-color: @tabbar-dropdown-reverse-border;
  }
}
.tabbar-dropdown.animated {
  .tab {
    transition-duration: 200ms;
    transition-property: color;
    .icon {
      transition-duration: 200ms;
      transition-property: transform;
    }
  }
}

//底部tabbar-footer
.tabbar-footer {
  color: @tabbar-footer-color;
  font-size: 13px;
  background-color: @tabbar-footer-bg;
  .tab {
    height: auto;
    padding: 6px 0;
    &:extend(.flex-vertical);
  }
  .tab.active {
    color: @tabbar-footer-color-active;
    background-color: @tabbar-footer-bg-active;
  }
  .tab-content {
    display: block;
    height: 13px;
    line-height: 13px;
  }
  .tab-icon + .tab-content {
    margin: 5px auto 0 auto;
  }
}
.tabbar-footer.reverse {
  color: @tabbar-footer-reverse-color;
  background-color: @tabbar-footer-reverse-bg;
  .tab.active {
    color: @tabbar-footer-reverse-color-active;
    background-color: @tabbar-footer-reverse-bg-active;
  }
}
