// Tabs
// Tabbar-line
@tabs-line-color: #666;
@tabs-line-bg: #fff;
@tabs-line-border: @border;
@tabs-line-color-active: @primary;
@tabs-line-bg-active: transparent;
@tabs-line-border-active: @primary;

@tabs-line-reverse-color: white;
@tabs-line-reverse-bg: @primary;
@tabs-line-reverse-border: @primary;
@tabs-line-reverse-color-active: white;
@tabs-line-reverse-bg-active: @primary;
@tabs-line-reverse-border-active: white;

// Tabbar-rect
@tabs-rect-color: #666;
@tabs-rect-bg: white;
@tabs-rect-border: @border;
@tabs-rect-color-active: @primary;
@tabs-rect-bg-active: white;
@tabs-rect-border-active: @primary;

@tabs-rect-reverse-color: white;
@tabs-rect-reverse-bg: @primary;
@tabs-rect-reverse-border: @primary;
@tabs-rect-reverse-color-active: @primary;
@tabs-rect-reverse-bg-active: white;

// Tabbar-lump
@tabs-lump-radius: 28px;

@tabs-lump-color: #333;
@tabs-lump-bg: white;
@tabs-lump-border: white;
@tabs-lump-color-active: white;
@tabs-lump-bg-active: @primary;
@tabs-lump-border-active: white;

@tabs-lump-reverse-color: white;
@tabs-lump-reverse-bg: @primary;
@tabs-lump-reverse-border: @primary;
@tabs-lump-reverse-color-active: @primary;
@tabs-lump-reverse-bg-active: white;
@tabs-lump-reverse-border-active: @primary;

// Tabbar-dropdown
@tabs-dropdown-color: #666;
@tabs-dropdown-bg: white;
@tabs-dropdown-border: @border;
@tabs-dropdown-color-active: @primary;
@tabs-dropdown-bg-active: transparent;

@tabs-dropdown-reverse-color: white;
@tabs-dropdown-reverse-bg: @primary;
// eslint-disable-next-line
@tabs-dropdown-reverse-border: rgba(255, 255, 255, 0.7);
@tabs-dropdown-reverse-color-active: white;
@tabs-dropdown-reverse-bg-active: transparent;

// Tabbar-footer
@tabs-footer-color: #666;
@tabs-footer-bg: white;
@tabs-footer-color-active: @primary;
@tabs-footer-bg-active: transparent;

@tabs-footer-reverse-color: white;
@tabs-footer-reverse-bg: @primary;
@tabs-footer-reverse-color-active: white;
@tabs-footer-reverse-bg-active: transparent;
// 基础样式
.tabs {
  position: relative;
  display: block;
  margin: 0 auto;
  // 允许横向滚动
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  &.disabled,
  &[disabled] {
    opacity: 0.5;
  }
  &[disabled] {
    pointer-events: none;
  }
}
.tab {
  position: relative;

  display: table-cell;
  box-sizing: border-box;
  width: 1%;
  height: 40px;
  padding: 0 6px;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-width: 0;
}
.tab-icon {
  margin: 0 4px;
  pointer-events: none;
}
.tab-content {
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
}
.tab-caption,
.tab-sndcaption {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tab-caption {
}
.tab-sndcaption {
  font-size: @font-size-s;
}

// 内部tab平均分配
.tabs-tab-average {
  .flex;
  .tab {
    .flex;
    &:extend(.flex-1);
    .flex-middle;
    .flex-center;
  }
  .tab-icon {
    display: block;
  }
  .tab-content {
    display: block;
    .flex-1;
  }
}

// 单线形tabs-line
.tabs-line {
  color: @tabs-line-color;
  background-color: @tabs-line-bg;
  .tab {
    // 选中状态下横线,由无到有动画
    &:after {
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 50%;
      display: block;
      width: 100%;
      height: 2px;

      background-color: @tabs-line-border-active;
      transform: translate(-50%, 0) scale(0, 1);
      transform-origin: center center;
      content: '';
    }
  }
  .tab.active {
    color: @tabs-line-color-active;
    background-color: @tabs-line-bg-active;
    // 选中状态下横线
    &:after {
      transform: translate(-50%, 0) scale(1, 1);
    }
  }

  // 定义线条宽度: 百分比
  .setTabsLineWidthPercentage(@n, @i:40) when(@i<@n) {
    &.tabs-line-width-percent@{i} {
      .tab:after {
        width: percentage(@i) / 100;
      }
    }
    .setTabsLineWidthPercentage(@n,(@i+10));
  }
  .setTabsLineWidthPercentage(90);

  // 定义线条宽度: 像素
  .setTabsLineWidth(@n, @i:80) when(@i<@n) {
    &.tabs-line-width@{i} {
      .tab:after {
        width: unit(@i, px);
      }
    }
    .setTabsLineWidth(@n,(@i+10));
  }

  .setTabsLineWidth(200);
}
.tabs-line.reverse {
  color: @tabs-line-reverse-color;
  background-color: @tabs-line-reverse-bg;
  .tab {
    &:before {
      background-color: @tabs-line-reverse-border;
    }
  }
  .tab.active {
    color: @tabs-line-reverse-color-active;
    background-color: @tabs-line-reverse-bg-active;
    &:after {
      background-color: @tabs-line-reverse-border-active;
    }
  }
}
.tabs-line.animated {
  .tab {
    transition-duration: 300ms;
    transition-property: color;
    &:after {
      transition-duration: 100ms;
      transition-property: transform;
    }
  }
  .tab.active {
    &:after {
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: @animation-duration;
    }
  }
}

// 矩形tabs-rect
.tabs-rect {
  max-width: 96%;
  color: @tabs-rect-color;
  .tab {
    height: 24px;
    border: 1px solid @tabs-rect-border;
    // 消除左线
    border-inline-start-width: 0;
  }
  .tab:first-child {
    border-start-start-radius: 3px;
    border-end-start-radius: 3px;
    // 第一项增加左线
    border-inline-start-width: 1px;
  }
  .tab:last-child {
    border-start-end-radius: 3px;
    border-end-end-radius: 3px;
  }
  .tab.active {
    color: @tabs-rect-color-active;
    background-color: @tabs-rect-bg-active;
    border-color: @tabs-rect-border-active;
    // 除了首项, 其它项选中状态需要补充一条选中线
    &:not(:first-child)::before {
      // &::before {
      position: absolute;
      content: '';
      left: -1px;
      top: -1px;
      bottom: -1px;
      width: 1px;
      background-color: #ff9008;
    }
  }
}
.tabs-rect.reverse {
  color: @tabs-rect-reverse-color;
  background-color: @tabs-rect-reverse-bg;
  border: 1px solid @tabs-rect-reverse-border;
  .tab {
    border-color: @tabs-rect-reverse-border;
  }
  .tab.active {
    color: @tabs-rect-reverse-color-active;
    background-color: @tabs-rect-reverse-bg-active;
  }
}

// 滑块形tabs-lump
.tabs-lump {
  color: @tabs-lump-color;
  background-color: @tabs-lump-bg;
  .tab .tab-content {
    height: 28px;
    padding: 0 12px;

    color: @tabs-lump-color;
    line-height: 28px;
    border: 1px solid @tabs-lump-border;
    border-radius: @tabs-lump-radius;
  }
  .tab.active .tab-content {
    color: @tabs-lump-color-active;
    background-color: @tabs-lump-bg-active;
    border: 1px solid @tabs-lump-border-active;
  }
}
.tabs-lump.reverse {
  color: @tabs-lump-reverse-color;
  background-color: @tabs-lump-reverse-bg;
  .tab .tab-content {
    color: @tabs-lump-reverse-color;
    border-color: @tabs-lump-reverse-border;
  }
  .tab.active .tab-content {
    color: @tabs-lump-reverse-border-active;
    background-color: @tabs-lump-reverse-bg-active;
    border-color: @tabs-lump-reverse-border-active;
  }
}
.tabs-lump.animated {
  .tab {
    .tab-content {
      transition-duration: @animation-duration;
      transition-property: background-color, color;
    }
  }
}
// 下拉型tabs-dropdown
.tabs-dropdown {
  color: @tabs-dropdown-color;
  background-color: @tabs-dropdown-bg;
  .tab-content {
    max-width: 80px;
  }
  .tab:not(:first-child):after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 2px;
    height: 20px;
    transform: translate(0, -50%);
    content: '';
    &:extend(.border-r);
  }
  .tab.active {
    color: @tabs-dropdown-color-active;
    background-color: @tabs-dropdown-bg-active;
    .icon {
      transform: rotate(180deg);
    }
    .shape-triangle-down {
      border-top-color: @tabs-dropdown-color-active;
    }
  }
}
.tabs-dropdown.reverse {
  color: @tabs-dropdown-reverse-color;
  background-color: @tabs-dropdown-reverse-bg;
  .tab.active {
    color: @tabs-dropdown-reverse-color-active;
    background-color: @tabs-dropdown-reverse-bg-active;
  }
  .tab:after {
    background-color: @tabs-dropdown-reverse-border;
  }
}
.tabs-dropdown.animated {
  .tab {
    transition-duration: 200ms;
    transition-property: color;
    .icon {
      transition-duration: 200ms;
      transition-property: transform;
    }
  }
}

//底部tabs-footer
.tabs-footer {
  color: @tabs-footer-color;
  font-size: 13px;
  background-color: @tabs-footer-bg;
  .tab {
    height: auto;
    padding: 6px 0;
    &:extend(.flex-vertical);
  }
  .tab.active {
    color: @tabs-footer-color-active;
    background-color: @tabs-footer-bg-active;
  }
  .tab-content {
    display: block;
    height: 13px;
    line-height: 13px;
  }
  .tab-icon + .tab-content {
    margin: 5px auto 0 auto;
  }
}
.tabs-footer.reverse {
  color: @tabs-footer-reverse-color;
  background-color: @tabs-footer-reverse-bg;
  .tab.active {
    color: @tabs-footer-reverse-color-active;
    background-color: @tabs-footer-reverse-bg-active;
  }
}
