// Titlebar
.titlebar {
  .flex;
  .flex-middle;
  position: relative;
  box-sizing: border-box;
  min-height: 44px;
  padding: 6px 0;
  color: #1a1a1a;
  background-color: #fff;
}
// Titlebar容器(自动拉伸类型)
.titlebar-flex {
  .titlebar-left,
  .titlebar-right {
    position: relative;
    top: initial;
    transform: none;
  }
}
// 左右按钮容器
.titlebar-left,
.titlebar-right {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  .flex;
}
.titlebar-left {
  left: 0;
  // 有左右的标题需要留有间距
  & + .titlebar-caption {
    margin: 0 40px;
  }
}
.titlebar-right {
  right: 0;
}
// 标题
.titlebar-caption {
  position: relative;
  font-weight: normal;
  font-size: @font-size-lg;
  &:extend(.flex-1);
}
// 按钮
.titlebar-button {
  position: relative;
  margin: 0 8px;
  padding: 0 4px;
  & + .titlebar-button {
    margin-left: 0px;
  }
  // titlebar上的箭头图标
  .shape-arrow-left {
    border-color: #1a1a1a;
  }
}
