// 弹窗
.transfer-modal .picker-main {
  background-color: @body-bg-color;
}
// 已添加容器标题
.transfer {
  // sortable控件样式
  .sortable-ghost {
    opacity: 0;
  }
  .sortable-drag {
    opacity: 1 !important;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
      0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  }
  .sortable-chosen {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
      0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  }
}
.transfer-title {
  display: flex;
  align-items: center;
  margin: 16px 20px 8px;
  font-size: 14px;
  color: #77818c;
  font-weight: 400;
}
.transfer-title-content {
  flex: 1;
}

// 分组
.transfer-card {
  overflow: hidden;
}

// 项
.transfer-item {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;

  height: 48px;
  // transition: 0.3s;

  padding-left: 16px;
}
.transfer-item:not(:last-child) {
  // 底线
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 0;
    height: 1px;
    background-color: @border;
  }
}

// 操作按钮: 添加和删除
.transfer-item-operate {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transfer-item-operate-icon {
  display: block;
  width: 17px;
  height: 17px;
  font-size: 17px;
  font-family: 'iconfont';
  &.add {
    &:extend(.icon-transfer-add all);
    color: #fb8d38;
  }
  &.delete {
    &:extend(.icon-transfer-minus all);
    color: #f94f57;
  }
}

// 拖拽按钮
.transfer-item-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 100%;
  text-align: center;
  * {
    pointer-events: none;
  }
}
.transfer-item-drop-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #919ba5;
  font-family: 'iconfont';
  &:extend(.icon-transfer-drop all);
}

// 内容
.transfer-item-content {
  flex: 1;
  margin-left: 12px;
}
