// 中心标记
.map-center-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 30px;
  height: 49px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  transform: translate(-50%, -50%);
  // 中心位置偏移
  // margin-top: -50px;
  cursor: pointer;
  user-select: none;

  // Icon
  &::after {
    position: relative;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(//res.waiqin365.com/d/seedsui/plugin/leaflet/images/marker-custom-position.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.active {
    display: none;
    // // Icon
    // &::after {
    //   background-image: url(//res.waiqin365.com/d/seedsui/plugin/leaflet/images/marker-custom-shop.png);
    // }

    // // Shadow
    // &::before {
    //   position: absolute;
    //   bottom: 4px;
    //   left: 2px;
    //   display: block;
    //   content: '';
    //   width: 35px;
    //   height: 35px;
    //   background-size: contain;
    //   background-image: url(//res.waiqin365.com/d/seedsui/plugin/leaflet/images/marker-shadow.png);
    // }
  }
}

// 中心点层级
.map-center-marker-icon {
  z-index: 999 !important;
}
