/* Button variables: start */
// default
@button-default-disabled-color: #adadad;
@button-default-disabled-bg-color: #f3f4f5;
@button-default-disabled-border-color: #e5e5e5;
// default + outline
@button-default-outline-disabled-color: #adadad;
@button-default-outline-disabled-border-color: #e5e5e5;
/* Button variables: end */

// Button按钮
// 基础样式
.button {
  position: relative;
  box-sizing: border-box;

  height: 32px;
  padding: 0 12px;
  font-size: @font-size-m;
  border-radius: var(--radius-m);
  &.xs {
    height: 20px;
    padding: 0 5px;
    font-size: 12px;
  }
  &.s {
    height: 24px;
    padding: 0 12px;
    font-size: 12px;
  }
  &.m {
  }
  &.l {
    height: 44px;
    padding: 0 12px;
    font-size: @font-size-l;
  }
  &.xl {
    height: 54px;
    padding: 0 15px;
    // 字号太大会不好看
    font-size: @font-size-l;
  }
  vertical-align: middle;

  border-style: solid;
  border-width: 1px;
  &:extend(.appearance);
  .inline-flex;
  .flex-middle;
  .flex-center;

  &[disabled] {
    pointer-events: none;
  }
}

// 填充模式
.button {
  // 默认按钮
  &,
  &.default {
    color: var(--default);
    background-color: transparent;
    border-color: var(--border);
    &.disabled,
    &[disabled] {
      color: @button-default-disabled-color;
      background-color: @button-default-disabled-bg-color;
      border-color: @button-default-disabled-border-color;
    }
  }
  // 主色按钮
  &.primary {
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
    &.disabled,
    &[disabled] {
      color: white;
      background-color: var(--disabled);
      border-color: var(--disabled);
    }
  }
  // 链接按钮
  &.link {
    color: white;
    background-color: var(--link);
    border-color: var(--link);
    &.disabled,
    &[disabled] {
      color: white;
      background-color: var(--disabled);
      border-color: var(--disabled);
    }
  }
  // 警告按钮
  &.warning {
    color: white;
    background-color: var(--warning);
    border-color: var(--warning);
    &.disabled,
    &[disabled] {
      color: white;
      background-color: var(--disabled);
      border-color: var(--disabled);
    }
  }
  // 危险按钮
  &.danger {
    color: white;
    background-color: var(--danger);
    border-color: var(--danger);
    &.disabled,
    &[disabled] {
      color: white;
      background-color: var(--disabled);
      border-color: var(--disabled);
    }
  }
  // 完成按钮
  &.success {
    color: white;
    background-color: var(--success);
    border-color: var(--success);
    &.disabled,
    &[disabled] {
      color: white;
      background-color: var(--disabled);
      border-color: var(--disabled);
    }
  }
}

// 线框模式
.button.outline {
  // 默认按钮
  &,
  &.default {
    color: var(--default);
    background-color: transparent;
    border-color: var(--border);
    &.disabled,
    &[disabled] {
      color: @button-default-outline-disabled-color;
      background-color: transparent;
      border-color: @button-default-outline-disabled-border-color;
    }
  }
  // 主色按钮
  &.primary {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
    &.disabled,
    &[disabled] {
      color: var(--disabled);
      background-color: transparent;
      border-color: var(--disabled);
    }
  }
  // 链接按钮
  &.link {
    color: var(--link);
    background-color: transparent;
    border-color: var(--link);
    &.disabled,
    &[disabled] {
      color: var(--disabled);
      background-color: transparent;
      border-color: var(--disabled);
    }
  }
  // 警告按钮
  &.warning {
    color: var(--warning);
    background-color: transparent;
    border-color: var(--warning);
    &.disabled,
    &[disabled] {
      color: var(--disabled);
      background-color: transparent;
      border-color: var(--disabled);
    }
  }
  // 危险按钮
  &.danger {
    color: var(--danger);
    background-color: transparent;
    border-color: var(--danger);
    &.disabled,
    &[disabled] {
      color: var(--disabled);
      background-color: transparent;
      border-color: var(--disabled);
    }
  }
  // 完成按钮
  &.success {
    color: var(--success);
    background-color: transparent;
    border-color: var(--success);
    &.disabled,
    &[disabled] {
      color: var(--disabled);
      background-color: transparent;
      border-color: var(--disabled);
    }
  }
}
