// picker遮罩, 基于.mask
.modal-selectmodal-mask {
}

.modal-selectmodal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 80%;
  position: absolute;
  bottom: 0;
  z-index: 10;

  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal-selectmodal-header {
  .flex;
  .flex-middle;
  position: relative;
  padding: 8px 0;
  margin: 0 18px;
  background-color: white;
  justify-content: space-between;
}

// 按钮
.modal-selectmodal-header-button {
  display: flex;
  align-items: center;
  height: 32px;
  min-width: 60px;
  &.right {
    justify-content: flex-end;
  }
}

.modal-selectmodal-header-button-ok,
.modal-selectmodal-header-button-cancel {
  display: block;
  height: 32px;

  line-height: 32px;
  font-size: 15px;
  &.disabled {
    color: #d1d1d1;
    pointer-events: none;
  }
}
.modal-selectmodal-header-button-ok {
  color: var(--primary);
}
.modal-selectmodal-header-button-cancel {
  color: #62666c;
}
.modal-selectmodal-header-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: #f3f3f6;
  border-radius: 100%;
}

.modal-selectmodal-icon-close {
  font-family: 'seeds-icons';
  text-align: center;
  font-size: 12px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  &:extend(.seeds-icon-close-fill all);
  color: #62666c;
}
.modal-selectmodal-header-title {
  .text-center;
  font-size: 16px;
  left: 50px;
  right: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  flex: 1;
}

// Adapt to the safe area
.modal-selectmodal.safeArea {
  &:extend(.safe-area all);
  &:extend(.safe-area.border-bottom all);
}
.modal-selectmodal.clearSafeArea {
  &:extend(.clear-safe-area all);
  &:extend(.clear-safe-area.border-bottom all);
}

.auto-safe-area-children {
  .modal-selectmodal.autoSafeArea {
    &:extend(.safe-area all);
    &:extend(.safe-area.border-bottom all);
  }
}
