// 签名预览
.signature-edit-container {
  position: relative;
  flex: 1;
}

// 照片
.signature-edit-image {
  width: 100%;
  height: 90px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  img {
    display: none;
  }
  &.error {
    background-color: var(--divider-bg);
  }
}

// 删除按钮
.signature-edit-image-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #000;
  opacity: 0.6;
  border-radius: 0px 4px 0px 4px;
}
.signature-edit-image-delete-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  pointer-events: none;

  color: white;
  font-family: 'seeds-icons';
  &:extend(.seeds-icon-plus-fill all);
  transform: rotate(45deg);
}
