// 照片上传按钮
.image-choose {
  .flex;
  .flex-middle;
  .flex-center;
  background-color: #f5f5f5;
  color: #979797;

  // File input clicked by js
  .image-choose-file-photo {
    pointer-events: none;
  }
}

// 自定义图片上传按钮
.image-choose-picture {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  background-position: center;
  background-size: contain;
  background-color: white;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
// 自定义图文上传按钮
.image-choose-illustrator {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .flex;
  .flex-middle;
  .flex-center;
  .flex-vertical;
  background-color: #f5f5f5;
  color: #979797;
}
.image-choose-illustrator-text {
  .font-size-xs;
  .text-center;
  margin-top: 6px;
  transform: scale(0.9);
}

// 默认上传按钮
.image-choose-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  pointer-events: none;
  font-family: 'seeds-icons';
  &:extend(.seeds-icon-plus-fill all);

  &.video {
    font-size: 24px;
    &:extend(.seeds-icon-video-fill all);
  }
}

.image-choose input[type='file'] {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
