/*----------------header.less(start)--------------*/
.header,
.footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
.header {
  top: 0;
}
/*----------------header.less(end)--------------*/
