@import "../base/tool/border.less";

/*----------------picker.less(start)--------------*/
.picker-mask{
  
}
.picker{
  position:fixed;
  bottom:0;
  width:100%;
  z-index:10;
  -webkit-transition-property:-webkit-transform,opacity,visibility;
  -webkit-transition-duration:300ms;
  -webkit-transform:translate3d(0px,100%,0px);

  background-color:white;
}
.picker.active{
  -webkit-transform:translate3d(0px,0px,0px);
}
.picker-header:extend(.border-b all){
  position:relative;
  width:100%;
  height:@43px;
  background-color:@picker-header-bg;
}
.picker-cancel,.picker-done{
  display:inline-block;
  position:absolute;
  top:@4px;
  height:@32px;
  line-height:@32px;
  padding:0 @5px;
  color: @picker-button-color;
}
.picker-cancel{
  left:@8px;
}
.picker-done{
  right:@8px;
}

.picker-wrapper{
  display:block;
  position:relative;
  height:@215px;
  overflow:hidden;
  background-color: @picker-bg;
  -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 0%, @picker-bg 40%, @picker-bg 60%, transparent 100%, transparent);
}

.picker-slotbox{
  width:100%;
  height: 100%;
  display:table;
  table-layout:fixed;
}

.picker-slot{
  display:table-cell;

  overflow:hidden;
}
.picker-slot{
  padding-top:@86px;
  padding-bottom:@86px;
  -webkit-transition-timing-function:cubic-bezier(0,0,0.2,1);
  li{
    height:@44px;
    line-height:@44px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    padding:0 @8px;
    font-size:@17px;

    color:@body-color;
    pointer-events: none;
    &.active{
      color:@body-color;
    }
  }
}

.picker-slot.lock li.active{
  color:@placeholder;
}

.picker-layer{
  position:absolute;
  top:0;
  height:100%;
  width:100%;
  pointer-events: none;
}
.picker-layer:before,.picker-layer:after{
  .setContentLine();
  width: 100%;
  height: @82px;
}
.picker-layer:before{
  top:0;
  background: fade(@picker-bg,70%);
}
.picker-layer:after{
  bottom:0;
  background: fade(@picker-bg,70%);
}

.picker-layer-frame:extend(.border-tb all){
  position:absolute;
  top:50%;
  height:@46px;
  width:100%;
  pointer-events:none;
  -webkit-transform:translateY(-50%);
}
/*----------------picker.less(end)--------------*/