/*-----------------------------marquee.less(start)-----------------------------*/
.marquee.horizontal {
  display: -webkit-flex;
}
.marquee.horizontal .marquee-li {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
}
/*-----------------------------marquee.less(end)----------------------------*/
