/*
前置公共样式-----------------------------------------------------------------------------------------
*/
// 兼容样式设置
::selection {
  color: white;
  background: @primary;
}
::-webkit-input-placeholder {
  color: #b6b6b6;
}
// 清除默认样式
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
// 公共面貌样式
.appearance {
  background: none;
  border: none;
  appearance: none;
}

// 解决在 ios 下点击 input 页面空白问题
input {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

// 设置body样式
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue', helvetica, segoe ui, arial,
    roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  color: @default;
  // background-color: @body-bg-color;
  font-size: @font-size-m;
  word-wrap: break-word;
  word-break: break-all;

  -webkit-touch-action: manipulation; // 移动端快速点击,代替FastClick
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // ios点击时的半透明背景，设置它为透明色
  -webkit-text-size-adjust: none; // 禁止文字自适应大小
  -webkit-touch-callout: none; // 禁用系统菜单
  -webkit-overflow-scrolling: touch; // 平滑滚动
}

// 基础
a {
  color: #459df5;
  &:active {
    opacity: 0.5;
  }
}
.placeholder {
  color: #b6b6b6;
}
i {
  font-style: normal;
}
a,
i,
span,
label,
small {
  display: inline-block;
  vertical-align: middle;
}
button,
input,
select,
option,
textarea,
pre {
  font-size: inherit;
  font-family: inherit;
}
button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  // 为了兼容部分手机input[button]inline-box水平居中不工作的问题
  display: inline-block;
}
textarea {
  resize: none;
}
ul,
li,
dl,
dt,
dd {
  list-style: none;
}
small {
  color: #b6b6b6;
  font-size: 80%;
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
a,
label,
:focus {
  outline: 0 none;
}
img {
  vertical-align: middle;
  border: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

br {
  clear: both;
}

// Bg背景
.bg-avatar-default {
  background-image: url(//res.waiqin365.com/d/seedsui/images/list/avatar-default.png);
}

.bg-image-default {
  background-image: url(//res.waiqin365.com/d/seedsui/images/list/image-default.png);
}

// 箭头
@import 'list/shape.less';

// 遮罩公共遮罩样式
.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;

  background-color: @mask-bg-color;
  visibility: hidden;
  opacity: 0;
  transition-duration: @animation-duration;
  transition-property: transform, opacity, visibility;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

// 公共弹框动画(Alert@deprecated废弃、Dialog@deprecated废弃、ActionSheet、Popover, Tooltip, Modal)
.popup-animation {
  position: absolute;
  &[data-animation] {
    visibility: hidden;
    transition-duration: @animation-duration;
    transition-property: transform, opacity, visibility;
    &.active {
      visibility: visible;
    }
    &.transition-duration-0 {
      transition-duration: 0ms;
    }
  }
  // 从右往左滑动
  &[data-animation='slideLeft'] {
    //left:0;
    transform: translate3d(100%, 0, 0);
    &.active {
      transform: none;
    }
  }
  // 从左往右滑动
  &[data-animation='slideRight'] {
    //left:0;
    transform: translate3d(-100%, 0, 0);
    &.active {
      transform: none;
    }
  }
  // 从下向上滑动
  &[data-animation='slideUp'] {
    //top:0;
    transform: translate3d(0, 100%, 0);
    &.active {
      transform: none;
    }
  }
  // 从上向下滑动
  &[data-animation='slideDown'] {
    //top:0;
    transform: translate3d(0, -100%, 0);
    &.active {
      transform: none;
    }
  }
  // 放大缩小
  &[data-animation='zoom'] {
    transform: scale(0, 0);
    &.active {
      transform: scale(1, 1);
    }
  }
  // 淡入淡出
  &[data-animation='fade'] {
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
  // 无动画
  &[data-animation='none'] {
    display: none;
    &.active {
      display: block;
    }
  }

  // 正中间弹出
  &.middle {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center center;

    &[data-animation='zoom'] {
      transform: translate3d(-50%, -50%, 0) scale(0, 0);
      &.active {
        transform: translate3d(-50%, -50%, 0) scale(1, 1);
      }
    }
  }

  // 顶部弹出
  &.top-left,
  &.top-center,
  &.top-right {
    top: 0;
  }
  &.top-left {
    left: 0;
    transform-origin: left top;
  }
  &.top-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    transform-origin: center top;

    &[data-animation='slideDown'] {
      transform: translate3d(-50%, -100%, 0);
      &.active {
        transform: translate3d(-50%, 0, 0);
      }
    }
    &[data-animation='zoom'] {
      transform: translate3d(-50%, 0, 0) scale(0, 0);
      &.active {
        transform: translate3d(-50%, 0, 0) scale(1, 1);
      }
    }
  }
  &.top-right {
    right: 0;
    transform-origin: right top;
  }

  // 底部弹出
  &.bottom-left,
  &.bottom-center,
  &.bottom-right {
    bottom: 0;
  }
  &.bottom-left {
    left: 0;
    transform-origin: left bottom;
  }
  &.bottom-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    transform-origin: center bottom;

    &[data-animation='slideUp'] {
      transform: translate3d(-50%, 100%, 0);
      &.active {
        transform: translate3d(-50%, 0, 0);
      }
    }
    &[data-animation='zoom'] {
      transform: translate3d(-50%, 100%, 0) scale(0, 0);
      &.active {
        transform: translate3d(-50%, 0, 0) scale(1, 1);
      }
    }
  }
  &.bottom-right {
    right: 0;
    transform-origin: right bottom;
  }

  // 左侧弹出
  &.left-top,
  &.left-middle,
  &.left-bottom {
    left: 0;
  }
  &.left-top {
    top: 0;
    transform-origin: left top;
  }
  &.left-middle {
    top: 50%;
    transform: translate3d(0, -50%, 0);
    transform-origin: left center;

    &[data-animation='slideRight'] {
      transform: translate3d(-100%, -50%, 0);
      &.active {
        transform: translate3d(0, -50%, 0);
      }
    }
    &[data-animation='zoom'] {
      transform: translate3d(0, -50%, 0) scale(0, 0);
      &.active {
        transform: translate3d(0, -50%, 0) scale(1, 1);
      }
    }
  }
  &.left-bottom {
    bottom: 0;
    transform-origin: left bottom;
  }

  // 右侧弹出
  &.right-top,
  &.right-middle,
  &.right-bottom {
    right: 0;
  }
  &.right-top {
    top: 0;
    transform-origin: right top;
  }
  &.right-middle {
    top: 50%;
    transform: translate3d(0, -50%, 0);
    transform-origin: right center;

    &[data-animation='slideLeft'] {
      transform: translate3d(100%, -50%, 0);
      &.active {
        transform: translate3d(0, -50%, 0);
      }
    }
    &[data-animation='zoom'] {
      transform: translate3d(0, -50%, 0) scale(0, 0);
      &.active {
        transform: translate3d(0, -50%, 0) scale(1, 1);
      }
    }
  }
  &.right-bottom {
    bottom: 0;
    transform-origin: right bottom;
  }
}
