// 列表分组
.list-headline {
  padding: 12px 4px 0 4px;
  margin: 0 12px;
}
.list-title {
  color: @tertiary;
  font-size: @font-size-m;
}
.list-description {
  color: @tertiary;
  font-size: @font-size-s;
  margin-top: 4px;
}

.list-options {
  // 分组选项容器
}

// 选项
.list-option {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 4px;
  margin: 0 12px;
  gap: 8px;
  font-size: 16px;
  .border-b;
}
// 主体
.list-option-main {
  .flex;
  .flex-1;
}
// 主体-Avatar
.list-option-main-avatar {
  .bg-no-img;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  .avatar {
    width: 100%;
    height: 100%;
    visibility: hidden;
    &.success {
      visibility: visible;
    }
  }
}
// 主体-内容
.list-option-main-avatar + .list-option-main-content {
  margin-left: 10px;
}
.list-option-main-content {
}
.list-option-main-title {
  position: relative;
  display: block;
  pointer-events: none;
}
.list-option-main-description {
  color: @tertiary;
  font-size: @font-size-s;
  margin-top: 4px;
}
// 选项-禁用
.list-option.disabled {
  opacity: 0.5;
  pointer-events: none;
}
