// 图片遮罩, visibleCount剩余的张数
.image-item-remain-count {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 40%);
  color: white;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  justify-content: center;
}
