/*----------------------------bar.less(start)----------------------------*/
.sliver{
	position: relative;
	padding:8px;
	border-width:0 0 1px 0;
	border-style:solid;
}
.searchbar{
	display:-webkit-box;
	display:-webkit-flex;
    background-color: #dcdbe0;
    padding:4px 8px;
}
.searchbar .input-box{
	-moz-box-flex:1.0;
	-webkit-box-flex:1.0;
	box-flex:1.0;

	-webkit-flex:1;
	flex:1;
}
.searchbar a{
	width:40px;
	display:-webkit-box;
	display:-webkit-flex;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-webkit-box-align:center;
	-webkit-align-items:center;
}
.statusbar .mark-desaturate{
    padding: 8px;
    margin: 5px 0 5px 8px;
    background: #fff;
    display: inline-block;
}
.statusbar .mark-desaturate:last-child{
	margin-right: 8px;
}
.statusbar .mark-desaturate [class*="icon-"]{
	color:#aaa;
	margin-left:5px;
}
/*----------------------------bar.less(end)----------------------------*/