/*------------------------------button.less(start)------------------------------*/
/*按钮-普通按钮*/
.button{
	display:-webkit-inline-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;

	height:40px;
	/* line-height:normal; */
	line-height:0;
	border-width:0;
	vertical-align:middle;
	
	/*禁止选中*/
	/* -webkit-user-select: none;
	background-image: none; */
	
	/*清除文本选择与外框*/
	outline:none;

	box-sizing:border-box;

	border-style:solid;
	border-radius:0;
}
.outline{
	border-width:1px;
}
/*按钮-大按钮*/
.button.block{
	display:-webkit-box;
}
button.block,input[type="button"].block,input[type="submit"].block{
	width:100%;
}

/*多彩标签按钮*/
.mark-info,.mark-success,.mark-cancel,.mark-warn,.mark-disable,.mark-primary,.mark-grayscale{
	font-size:0.95em;
    padding:2px 5px;
    border-radius:3px;
}
/*------------------------------button.less(end)------------------------------*/