/*-----------------------------checkbox.less(start)-----------------------------*/
input[type="checkbox"],input[type="radio"],.checkbox,.radio{
  background-position:0 0;
  background-repeat:no-repeat;
  height: 22px;
  width: 22px;
  line-height: 22px;
  background-size:auto 100%;
  vertical-align: middle;
  outline: none;
  border-radius: 0;
  border: none;
  background-color: transparent;

  font-family: "iconfont";
  font-size: 22px;
}
label input[type="checkbox"]+span,label input[type="radio"]+span,.checkbox+span,.radio+span{
  margin:0 4px;
}
/*checkbox*/
input[type="checkbox"]:before{
  content: "\e95d";
}
input[type="checkbox"]:checked:before{
  content: "\e962";
}
/*radio*/
input[type="radio"]:before{
	content: "\e95d";
}
input[type="radio"]:checked:before{
  content: "\e95e";
}
/*-----------------------------checkbox.less(end)-----------------------------*/