/*----------------form.less(start)--------------*/
.input-text{
	min-height:20px;
	line-height:20px;
	padding:10px 8px;
	border-width:1px;
	border-style:solid;
	display:inline-block;
	box-sizing:content-box;
	text-align: left;

	border-color:@border;
	background-color:@input-bg;
}
.input-textarea{
	height:60px;
	display:block;
	padding:10px 8px;
}
/*----------------form.less(end)--------------*/
