/*----------------grid.less(start)--------------*/
.grid:after{
	display:table;
	content:'';
	clear: both;
	zoom:1;
}
.grid li{
	width: 33%;
	float:left;
	text-align: center;
}
.grid[data-rowspace="0"] li{
	padding-top:0px;
}
.grid.icon.border[data-rowspace="0"] li{
	padding-top:0px;
	padding-bottom:0px;
}

.grid[data-rowspace="6"] li{
	padding-top:6px;
}
.grid[data-rowspace="6"] li:last-child{
	padding-bottom:6px;
}
.grid.icon.border[data-rowspace="6"] li{
	padding-top:6px;
	padding-bottom:6px;
}

.grid[data-rowspace="8"] li{
	padding-top:8px;
}
.grid[data-rowspace="8"] li:last-child{
	padding-bottom:8px;
}
.grid.icon.border[data-rowspace="8"] li{
	padding-top:8px;
	padding-bottom:8px;
}

.grid[data-rowspace="10"] li{
	padding-top:10px;
}
.grid[data-rowspace="10"] li:last-child{
	padding-bottom:10px;
}
.grid.icon.border[data-rowspace="10"] li{
	padding-top:10px;
	padding-bottom:10px;
}

.grid[data-rowspace="12"] li{
	padding-top:12px;
}
.grid[data-rowspace="12"] li:last-child{
	padding-bottom:12px;
}
.grid.icon.border[data-rowspace="12"] li{
	padding-top:12px;
	padding-bottom:12px;
}

.grid[data-rowspace="30"] li{
	padding-top:30px;
}
.grid[data-rowspace="30"] li:last-child{
	padding-bottom:30px;
}
.grid.icon.border[data-rowspace="30"] li{
	padding-top:30px;
	padding-bottom:30px;
}

.grid li>label{
	display:block;
    padding:0 4px;
    height:24px;
    line-height:24px;
    margin:0px auto;
    text-align:center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    box-sizing:border-box;
    
    font-size:12px;
}
.grid li a{
	position: relative;
	box-sizing:border-box;

	display: box;
	display:-webkit-box;
	box-pack:center;
	-webkit-box-pack:center;
	box-align:center;
	-webkit-box-align:center;
	display: flex;
	display: -webkit-flex;
	justify-content:center;
	-webkit-justify-content:center;
	align-items:center;
	-webkit-align-items:center;
}
.grid li .tip,.grid li .close{
	position: absolute;
    display: block;
    top: -4px;
    right: -4px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 100%;
    font-size: 8px;
}
.grid li .tip{
	overflow: hidden;
	text-overflow:ellipsis;
}
.grid li .close{
	/*图片*/
	background-size:cover;
	border-radius: 100%;

	/*文字图标*/
	border-width: 2px;
	border-style: solid;
	color:white;
	border-color: white;
	background-color: rgba(0,0,0,.7);
}
.grid[data-col="2"] li{
	width:50%;
}
.grid[data-col="3"] li{
	width:33.33%;
}
.grid[data-col="4"] li{
	width:25%;
}
.grid[data-col="5"] li{
	width:20%;
}
/*应用图标控件*/
.grid.app li>a,.grid.app.border li>a{
	width:64px;
	height:64px;
	margin:0px auto;

	color:white;
}
.grid.app li>a>i,.grid.app li>a>img{
	/*文字图标*/
    font-size:32px;
	width:32px;
	height:32px;
	line-height: 32px;
	background-size:cover;
}
/*应用图标控件-线框*/
.grid.app.border li>a{
	border-width: 1px;
	border-style: solid;

	border-color: #afadad;
	color:#636363;
}
/*裸图标控件*/
.grid.icon li>a{
	width:50px;
	margin:0px auto;
}
.grid.icon li>a>i,.grid.app li>a>img{
	font-size:50px;
	width:50px;
	height:50px;
	line-height: 50px;
	background-size:cover;
}
/*裸图标控件-border*/
.grid.icon.border{
	border-width: 0 0 1px 0;
	border-style: solid;

	border-color: #ddd;
}
.grid.icon.border li{
	border-width: 1px 1px 0 0;
	border-style: solid;
	box-sizing: border-box;

	border-color: #ddd;
}
/*圆角控制*/
.grid.radiusround li>a{
	border-radius:100%;
}
.grid.radius8 li>a{
	border-radius:8px;
}

/*Metro风格|缩略图|相册*/
.grid.thumbnail,.grid.album,.grid.metro{
	box-sizing: border-box;
	padding:0 4px;
}
.grid.thumbnail li,.grid.album li,.grid.metro li{
	box-sizing:border-box;
	padding:4px;
}
.grid.metro li{
	padding:2px;
}
/*Metro风格*/
.grid.metro .tip{
	top:auto;
	right:10px;
	bottom:4px;
	height: 32px;
    line-height: 32px;
    width: 32px;
	font-size:18px;
	text-align: right;
	background-color:transparent;
}
.grid.metro .tip+label{
	padding-right:32px;
}
.grid.metro li>a{
	display:block;
	padding:12px 8px;

	color:white;
}
.grid.metro li>a label{
	display: block;
	text-align: left;
	margin-top:10px;
}
.grid.metro i,.grid.metro img{
	font-size:50px;
	width:50px;
	height:50px;
}
/*缩略图*/
.grid.thumbnail li>a{
	position:relative;
	width:100%;
}
.grid.thumbnail li>a img{
	width:100%;
}
/*相册*/
.grid.album li > a {
    width: 100%;
    height: 110px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid.album .default{
	color: #cccccc;
    background-color: #ddd;
    font-size: 48px;
}
/*----------------grid.less(end)----------------*/