/*----------------i.less(start)--------------*/
.icon{
	font-size:32px;
	width:32px;
	height:32px;
	background-size:100% auto;
	background-position:center top;
}
.icon:active{
	background-position:center bottom;
}
/*----------------i.less(end)--------------*/