/*----------------i.less(start)--------------*/
/*图标尺寸*/
i{
	font-size:24px;
	background-size:100% auto;
	background-repeat:no-repeat;
	background-position:center top;
}
/*----------------i.less(end)--------------*/