/*----------------inputcolor.less(start)--------------*/
input[type="color"] {
	width:44px;
	height:24px;
	border-width:0;
	padding:0;
	background-color: #eee;
}
::-webkit-color-swatch-wrapper {
	border-radius:4px;
	border-width:1px;
	border-style:solid;
	background-color:white;
	border-color:@border;
}
::-webkit-color-swatch {
	position:relative;
	height:18px;
	left:0;
	top:-2px;
	border:none;
}
/*----------------inputcolor.less(end)--------------*/