/*----------------inputbox.less(start)--------------*/
.input-box{
	position:relative;
	display:-webkit-box;
	display: box;

	display:-webkit-flex;
	display:flex;

	box-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;

	margin:8px;

	border-style:solid;
	border-width:1px;
	border-color:#ddd;
}
/*box内的表单框*/
.input-box input:not([type="button"]):not([type="radio"]):not([type="checkbox"]),.input-box select,.input-box keygen,.input-box textarea,.input-box .input-text{
	display:block;
	-webkit-box-flex:1.0;
	box-flex:1.0;

	-webkit-flex:1;
	flex:1;
	border:0;

	background-color:transparent;
}
/*box内图标*/
.input-box i{
	width:24px;
	height:24px;
	line-height: 24px;
	text-align: center;
	margin:0 8px;
	background-repeat:no-repeat;
	background-size:100% auto;
	background-position:center top;

	font-size: 24px;
}
.input-box i:active{
	background-position:center bottom;
}
/*需要顶天立地的控件*/
.input-box select+i,.input-box input[type="date"]+i,.input-box input[type="month"]+i,
.input-box input[type="week"]+i,.input-box input[type="datetime-local"]+i,
.input-box input[type="datetime"]+i,.input-box input[type="time"]+i{
	position:absolute;
	top:50%;
	right:0;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	pointer-events:none;
}
/*图标与框间距*/
.input-box i+input,.input-box i+.input-text,.input-box i+select,.input-box i+textarea{
	padding-left:0;
}
.input-box input+i,.input-box .input-text+i,.input-box select+i,.input-box textarea+i{
	margin:0 8px 0 0;
}

/*搜索框*/
input[type=search].search,input[type=text].search{
	padding-top:6px;
	padding-bottom:6px;
}
/*带清空按钮*/
div[data-input=clear] input[type] + i{
	font-size:20px;
}
/*线型*/
.input-box.line{
	border-width:0 0 1px 0;
}
/*----------------inputbox.less(end)--------------*/