/*----------------photo.less(start)----------------*/
.photo{
	position: relative;
	box-sizing:border-box;

	display: box;
	display:-webkit-box;
	box-pack:center;
	-webkit-box-pack:center;
	box-align:center;
	-webkit-box-align:center;
	display: flex;
	display: -webkit-flex;
	justify-content:center;
	-webkit-justify-content:center;
	align-items:center;
	-webkit-align-items:center;
	
	width:50px;
	height:50px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius:100%;
}
.photo>i,.photo>img{
	font-size:30px;
	width:30px;
	height:30px;
}
/*边框*/
.photo.border{
	border-width:1px;
	border-style: solid;
	border-color:inherit;
}
/*----------------photo.less(end)----------------*/