/*----------------progress.less(start)--------------*/
progress {
    width: 160px;
    height: 10px;
    border-width:1px;
	border-style:solid;
    
    color: #3779d0; /*IE10*/
	border-color:#ddd;
    background-color:#fff;
}

progress::-moz-progress-bar {
	background: #3779d0;
}
progress::-webkit-progress-bar {
	background: white;
}
progress::-webkit-progress-value  {
	background: #3779d0;
}
/*----------------progress.less(end)--------------*/