/*---------------radius.less(start)---------------*/
/*控制圆角*/
/*按钮*/
button.radiusround,input[type="button"].radiusround,input[type="submit"].radiusround,.button.radiusround{
	border-radius:32px;
}
/*全局圆角*/
.noradius{
	border-radius:0 !important;
}
.radius4{
	border-radius: 4px;
}
.radius8{
	border-radius: 8px;
}
.radius40{
	border-radius: 40px;
}
.radiusround{
	border-radius: 100%;
}
/*---------------radius.less(end)---------------*/