/*----------------richedit.less(start)--------------*/
.richedit{
	position:fixed;
	top:auto;
	bottom:0;
	width:100%;
	z-index:1;
}
/*表情区域*/
.face{
	display:none;
	font-size:0;
	padding:8px 0;
	height:90px;
	overflow:auto;
}
.face.active{
	display:block;
}
.richinput img{
	width:24px;
}
[data-face]{
	display:inline-block;
	width:14%;
	height: 28px;
	margin: 8px 0;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
	vertical-align: middle;
}
[data-face="[baibai]"]{
	background-image:url(img/face/baibai.png);
}
[data-face="[fadai]"]{
	background-image:url(img/face/fadai.png);
}
[data-face="[huaixiao]"]{
	background-image:url(img/face/huaixiao.png);
}
[data-face="[liuhan]"]{
	background-image:url(img/face/liuhan.png);
}
[data-face="[outu]"]{
	background-image:url(img/face/outu.png);
}
[data-face="[weixiao]"]{
	background-image:url(img/face/weixiao.png);
}
[data-face="[yun]"]{
	background-image:url(img/face/yun.png);
}
[data-face="[zhayan]"]{
	background-image:url(img/face/zhayan.png);
}
[data-face="[ziya]"]{
	background-image:url(img/face/ziya.png);
}

/*输入框区域*/
.richedit figcaption{
	position: relative;
    border-style: solid;
    border-width: 1px 0 0 0;
    background-color: white;
    padding: 8px 70px 8px 8px;
}
.richedit .input{
	position: relative;
	border:none;
	vertical-align:middle;
	box-sizing:border-box;
	border-style: solid;
	border-width:0 0 1px 0;
}
.richedit .input:before,.richedit .input:after{
	content: '';
	position: absolute;
	width:1px;
	height:5px;
	bottom:0;
}
.richedit .input:before{
	left:0;
}
.richedit .input:after{
	right:0;
}
.richedit textarea{
	background-color:transparent;
	width:100%;
	border:none;
	resize:none;
}
.richedit textarea,.richedit pre{
	padding:0 4px;
	line-height:32px;
	min-height:32px;
	max-height:32px;
	width:100%;
}
.richedit.active textarea,.richedit.active pre{
	max-height:60px;
}
.richedit pre{
	position:absolute;
	left:0;
	top:100px;
	visibility:hidden;
}

/*发送按钮*/
.richedit .button,.richedit button{
	position:absolute;
	right:8px;
	bottom:8px;
	height: 32px;
	line-height: 32px;
	width:54px;
}

/*遮罩*/
.richedit+.mask{
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	
	background-color:rgba(0,0,0,.6);
}

/*激活状态*/
.richedit.active{
	top:0;
	bottom:auto;
}
.richedit.active .face{
	display:block;
}
.richedit.active+.mask{
	display:block;
}
/*----------------richedit.less(end)--------------*/