/*----------------row.less(start)--------------*/
.row{
	display: flex;
	display: -webkit-flex;
	display: box;
	display: -webkit-box;

	border-width: 0 0 1px 0;
	border-style: solid;
}
.row>label{
	display: flex;
	display: -webkit-flex;
	
	align-items:center;
	-webkit-align-items:center;

	display: box;
	display: -webkit-box;
	box-align:center;
	-webkit-box-align:center;

	width:30%;
	padding:0 0 0 8px;

	color:#666;
}
.row>div{
	-webkit-box-flex:1.0;
	box-flex:1.0;
}
/*----------------row.less(end)--------------*/