/*--------------------size.less(start)----------------------*/
.badge.size32{
	width:24px;
}
/*九宫格*/
.grid.size50 li>a{
	width:50px;
	height:50px;
}
.grid.size56 li>a{
	width:56px;
	height:56px;
}
/*图标*/
i.size12,i.size16,i.size24,i.size32,i.size40,i.size56{
	background-size:100% auto;
	background-position:center top;
}
i.size12{
	font-size:12px;
    width:12px;
    height:12px;
    line-height:12px;
}
i.size16{
	font-size:16px;
    width:16px;
    height:16px;
    line-height:16px;
}
i.size24{
	font-size:24px;
    width:24px;
    height:24px;
    line-height:24px;
}
i.size32{
	font-size:32px;
    width:32px;
    height:32px;
    line-height:32px;
}
i.size40{
	font-size:40px;
    width:40px;
    height:40px;
    line-height:40px;
}
i.size56{
	font-size:56px;
    width:56px;
    height:56px;
    line-height:56px;
}
/*圆形*/
.radiusround.size40{
	width:40px;
	height:40px;
}
.photo.size40{
	width:40px;
	height:40px;
}
.photo.size60{
	width:60px;
	height:60px;
}
/*按钮*/
button.size32,input[type="button"].size32,input[type="submit"].size32,.button.size32{
	height: 32px;
}
.button.size32{
	line-height:30px;
}
/*进度条*/
.progress-bar.size50{
	height:50px;
}
.progress-bar.size56{
	height:56px;
}
/*文字*/
p.size17{
	font-size:17px;
}
p.size20{
	font-size:20px;
}
/*--------------------size.less(end)----------------------*/