/*----------------tree.less(start)--------------*/
.tree-box{
	padding:0 0 0 32px;
}
.tree{
	box-sizing:border-box;
}
.tree ul{
	padding-left:20px;
	box-sizing:border-box;
}
.tree ul{
	display:none;
}
.tree a{
	color:inherit;
}
.tree-licon,.tree-ticon,.tree-ricon{
	font-style: normal;
}
.tree-licon,.tree-ticon{
	font-size:16px;
}
.tree-ricon{
	font-size:24px;
}
/*标题*/
.tree-title{
	padding:15px 0 15px 8px;
}
/*标题图标*/
.tree-ticon{
    display:inline-block;
    vertical-align:middle;
    width:32px;
    height:32px;
    border-radius:100%;
    text-align:center;
    line-height:32px;
}
.tree-ticon.farleft{
	margin-left:-28px;
}
/*左侧图标*/
.tree-licon{
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	left:-25px;
	width:32px;
	height:32px;
	font-size: 16px;
	background-size:cover;
	font-style: normal;

	display: -webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:-webkit-flex;
	-webkit-justify-content:center;
	-webkit-align-items:center;
}
/*===========作用行===========*/
.tree-line{
	position:relative;
	border-style:solid;
	border-width:0 0 1px 0;
}
.tree-line.extand+ul{
	display:block;
}
.tree-line.active .tree-btnadd,.tree-line.active+ul .tree-btnadd{
	display:none;
}
.tree-line.extand>.tree-licon.icon-arrowright:before{
	font-family: "iconfont";
	content: "\e9ed";
}
/*右图标*/
.tree-licon+.tree-ticon{
	margin-right:-4px;
	margin-left:4px;
}
.tree-ricon,.tree-right{
	position:absolute;
	right:12px;
	top:50%;
	-webkit-transform:translateY(-50%);
}
/*===========树bar===========*/
.tree-bar{
	overflow-x: auto;
    white-space: nowrap;
    padding: 5px 0;
}
.tree-bar-button{
    padding: 4px 8px;
    margin:0 0 0 8px;
    display: inline-block;
    font-size: 13px;
}
.tree-bar-button:last-child{
    margin:0 8px;
}
/*删除图标*/
.tree-btnremove{
	font-size:20px;
	vertical-align:middle;
	margin-left:4px;
}
.tree-btnremove:before {
	font-family:'iconfont';
    content: "\e9da";
}
/*----------------tree.less(end)--------------*/