// Bottom message
.list-infinitescroll {
  font-size: var(--font-size-s);
  color: var(--tertiary);
}
.list-infinitescroll-wrapper {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-infinitescroll-text + .list-infinitescroll-icon {
  margin-left: 4px;
}
