.list-main {
  display: flex;
  flex-direction: column;
  // 列表每项的间距
  .list > .list-item {
    margin: 0 12px;
  }
}

// Bottom message
.list-main-infinite-scroll {
  color: var(--tertiary);
}
.list-main-infinite-scroll-wrapper {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-main-infinite-scroll-text + .list-main-infinite-scroll-icon {
  margin-left: 4px;
}

// Main message
.list-result-message {
  display: flex;
  flex: 1;
}
.list-result-message-button {
  &:extend(.button.primary all);
  display: flex;
  height: 40px;
  margin: 40px 12px 0 12px;
  border-radius: 10px;
  font-size: @font-size-l;
}
