.list-main {
  display: flex;
  flex-direction: column;
  // 列表每项的间距
  .list > .list-item {
    margin: 0 12px;
  }
}

// Main message
.list-result-message {
  display: flex;
  flex: 1;
}
.list-result-message-button {
  &:extend(.button.primary all);
  display: flex;
  height: 40px;
  margin: 40px 12px 0 12px;
  border-radius: 10px;
  font-size: @font-size-l;
}
