.select-main-result {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.select-main {
  // 列表样式
  .list-divider {
    padding: var(--space-m) var(--space-xl);
    color: var(--default-color);
    background-color: var(--divider-bg);
  }

  .list-item {
    margin-left: var(--space-xl);
    padding: 14px 12px 14px 0;

    &.active {
      color: var(--primary);
    }
  }
}
