.jcrop-widget .jcrop-handle {
  position: absolute;
  display: none;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px rgba(127, 127, 127, 0.8) solid;
}
.jcrop-widget .jcrop-handle.nw {
  top: -3px;
  left: -3px;
  cursor: nwse-resize;
}
.jcrop-widget .jcrop-handle.w {
  top: 50%;
  left: -3px;
  transform: translateY(-50%);
  cursor: ew-resize;
}
.jcrop-widget .jcrop-handle.sw {
  bottom: -3px;
  left: -3px;
  cursor: nesw-resize;
}
.jcrop-widget .jcrop-handle.ne {
  top: -3px;
  right: -3px;
  cursor: nesw-resize;
}
.jcrop-widget .jcrop-handle.e {
  top: 50%;
  right: -3px;
  transform: translateY(-50%);
  cursor: ew-resize;
}
.jcrop-widget .jcrop-handle.se {
  right: -3px;
  bottom: -3px;
  cursor: nwse-resize;
}
.jcrop-widget .jcrop-handle.n {
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}
.jcrop-widget .jcrop-handle.s {
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}
.jcrop-widget.active .jcrop-handle {
  display: block;
}
.jcrop-widget {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 1px white dashed;
  cursor: move;
  opacity: 0.7;
  transition: opacity 1s;
}
.jcrop-widget:hover {
  opacity: 0.8;
  transition: opacity 0.8s;
}
.jcrop-widget:focus {
  outline-width: 3px;
  outline-style: auto;
  outline-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.5s;
}
.jcrop-shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s, background-color 0.7s;
}
.jcrop-shade.l {
  top: 0px;
  left: 0px;
  height: 100%;
}
.jcrop-shade.r {
  top: 0px;
  right: 0px;
  height: 100%;
}
.jcrop-shade.t {
  top: 0px;
}
.jcrop-shade.b {
  bottom: 0px;
}
.jcrop-stage {
  position: relative;
  width: 100%;
}
.jcrop-image-stage img {
  position: absolute;
  z-index: -1;
}
.jcrop-ux-inactive-handles .jcrop-widget .jcrop-handle {
  display: block;
}
.jcrop-widget img {
  width: 100%;
  height: auto;
}
.jcrop-ux-fade-more .jcrop-widget {
  opacity: 0.25;
}
.jcrop-ux-fade-more .jcrop-widget:hover {
  opacity: 0.8;
  transition: opacity 0.4s;
}
.jcrop-ux-fade-more .jcrop-widget:focus {
  outline-width: 3px;
  outline-style: auto;
  outline-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.5s;
}
.jcrop-ux-fade-more .jcrop-widget {
  opacity: 0.25;
}
.jcrop-ux-fade-more .jcrop-widget:hover {
  opacity: 0.65;
}
.jcrop-ux-keep-current .jcrop-widget.active {
  outline-width: 3px;
  outline-style: auto;
  outline-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.jcrop-ux-no-outline .jcrop-widget {
  outline: none !important;
}
.jcrop-disable.jcrop-stage {
  opacity: 0.8;
}
.jcrop-disable.jcrop-stage .jcrop-widget {
  outline: none !important;
}
