// NavBar button
.navbar-button {
  display: flex;
  align-items: center;
  color: var(--navbar-icon);
}

.navbar-button-icon {
  font-family: seeds-icons;
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.navbar-button-icon + .navbar-button-text,
.navbar-button-text + .navbar-button-icon {
  margin-left: 4px;
}
