// 后置公共样式, 因为需要覆盖样式(例如hide等), 所以放在最后加载
// 1.定义变量, 2.常用公共样式 3.边框 4.文字图标

/*
1.定义变量-----------------------------------------------------------------------------------------
*/

// 动画时长(例如遮等)
@animation-duration: 200ms;

// 文字尺寸
@font-size-xl: 20px;
@font-size-lg: 16px;
@font-size-md: 14px;
@font-size-sm: 12px;
@font-size-xs: 9px;

// 基础颜色
@body-bg: #f5f5f9;
@body-color: #333;

@sub: #808080;
@placeholder: #b6b6b6;

// 遮罩颜色
/* prettier-ignore */
@mask-bg: rgba(0,0,0,.4);

// 常用颜色
@primary-color: white;
@primary-bg: #ff9008;
@primary-border: #ff9008;
@primary-property: none;
@primary-value: none;
@primary-color-active: white;
@primary-bg-active: #ff9008;
@primary-border-active: #ff9008;
@primary-property-active: none;
@primary-value-active: none;

@submit-color: white;
@submit-bg: #68c75f;
@submit-border: #68c75f;
@submit-property: none;
@submit-value: none;
@submit-color-active: white;
/* prettier-ignore */
@submit-bg-active: lighten(@submit-bg, 20%);
/* prettier-ignore */
@submit-border-active: lighten(@submit-bg, 20%);
@submit-property-active: none;
@submit-value-active: none;

@cancel-color: white;
@cancel-bg: #f86868;
@cancel-border: #f86868;
@cancel-property: none;
@cancel-value: none;
@cancel-color-active: white;
/* prettier-ignore */
@cancel-bg-active: lighten(@cancel-bg,20%);
/* prettier-ignore */
@cancel-border-active: lighten(@cancel-bg,20%);
@cancel-property-active: none;
@cancel-value-active: none;

@success-color: white;
@success-bg: #4ddb63;
@success-border: #4ddb63;
@success-property: none;
@success-value: none;
@success-color-active: white;
/* prettier-ignore */
@success-bg-active: lighten(@success-bg,20%);
/* prettier-ignore */
@success-border-active: lighten(@success-bg,20%);
@success-property-active: none;
@success-value-active: none;

@info-color: white;
@info-bg: #39abf2;
@info-border: #39abf2;
@info-property: none;
@info-value: none;
@info-color-active: white;
/* prettier-ignore */
@info-bg-active: lighten(@info-bg,20%);
/* prettier-ignore */
@info-border-active: lighten(@info-bg,20%);
@info-property-active: none;
@info-value-active: none;

@link-color: white;
@link-bg: #0076ff;
@link-border: #0076ff;
@link-property: none;
@link-value: none;
@link-color-active: white;
/* prettier-ignore */
@link-bg-active: lighten(@link-bg,20%);
/* prettier-ignore */
@link-border-active: lighten(@link-bg,20%);
@link-property-active: none;
@link-value-active: none;

@warn-color: white;
@warn-bg: #f4984e;
@warn-border: #f4984e;
@warn-property: none;
@warn-value: none;
@warn-color-active: white;
/* prettier-ignore */
@warn-bg-active: lighten(@warn-bg,20%);
/* prettier-ignore */
@warn-border-active: lighten(@warn-bg,20%);
@warn-property-active: none;
@warn-value-active: none;

@hint-color: white;
@hint-bg: #d29bce;
@hint-border: #d29bce;
@hint-value: none;
@hint-color-active: white;
/* prettier-ignore */
@hint-bg-active: lighten(@hint-bg,20%);
/* prettier-ignore */
@hint-border-active: lighten(@hint-bg,20%);
@hint-value-active: none;

@disabled-color: #adadad;
@disabled-bg: #838792;
@disabled-border: #838792;
@disabled-property: none;
@disabled-value: none;
@disabled-color-active: #adadad;
@disabled-bg-active: #838792;
@disabled-border-active: #838792;
@disabled-property-active: none;
@disabled-value-active: none;

@badge-bg: #ff5656;
@badge-color: white;

@random1-bg: #53c6fd;
@random2-bg: #ffae02;
@random3-bg: #3ae3ea;
@random4-bg: #ff6f36;
@random5-bg: #cf7af3;
@random6-bg: #4cd32e;
@random7-bg: #4587f7;
@random8-bg: #00c2eb;
@random9-bg: #ff618f;
@random10-bg: #21d9a1;

// 头像控件
@avatar-background-size: cover;
@avatar-color: @placeholder;
@avatar-bg: #ddd;
@avatar-border: 0;

// 缩略图控件
@thumbnail-background-size: contain;
@thumbnail-bg: white;
@thumbnail-border: 1px solid #e5e5e5;

// 边框颜色
@border: #e5e5e5;
@dpborder: #e5e5e5;


/*
2.常用公共样式-------------------------------------------------------------------------------------
*/

// 点击穿透
.events-none {
  pointer-events: none;
}

// 禁止长按选择
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

// 去除动画
.transition-duration-0 {
  transition-duration: 0ms;
}
.animation-duration-0 {
  animation-duration: 0ms;
}

// block
.block {
  display: block;
}
.inline-block {
  display: block;
}
.width-full {
  width: 100%;
}
.height-full {
  height: 100%;
}

// flex 共用的弹性布局, 因为可能要覆盖原display, 所以要放到下面
// .flex{
//   display:-webkit-box;
// }
// .inline-flex{
//   display:-webkit-inline-box;
// }
// .flex-initial{
//   -webkit-box-flex: initial;
// }
// .flex-0{
//   -webkit-box-flex:	0.0;
// }
// .flex-1{
//   -webkit-box-flex:1.0;
// }
// .flex-vertical{ // box方向
//   /* autoprefixer: off */
//   -webkit-box-orient:vertical;
// }
// .flex-horizontal{
//   /* autoprefixer: off */
//   -webkit-box-orient:horizontal;
// }
// .flex-left{ // box内部水平对齐
//   -webkit-box-pack:start;
// }
// .flex-center{
//   -webkit-box-pack:center;
// }
// .flex-right{
//   -webkit-box-pack:end;
// }
// .flex-top{ // box内部垂直对齐
//   -webkit-box-align:start;
// }
// .flex-middle{
//   -webkit-box-align:center;
// }
// .flex-bottom{
//   -webkit-box-align:end;
// }
// .flex-middlecenter{ // box对齐方式
//   -webkit-box-pack:center;
//   -webkit-box-align:center;
// }
// 如果不考虑android4, 支持flex的话, 则使用flex代替box
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-initial {
  flex: initial;
}
.flex-0 {
  flex: 0;
}
.flex-none {
  flex: none;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-vertical {
  // flex方向
  flex-direction: column;
}
.flex-horizontal {
  flex-direction: row;
}
.flex-vertical-reverse {
  flex-direction: column-reverse;
}
.flex-horizontal-reverse {
  flex-direction: row-reverse;
}
.flex-left {
  // flex内部水平对齐
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
}
.flex-right {
  justify-content: flex-end;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-top {
  // flex内部垂直对齐
  align-items: flex-start;
}
.flex-middle {
  align-items: center;
}
.flex-bottom {
  align-items: flex-end;
}
.flex-stretch {
  align-items: stretch;
}
.flex-middlecenter {
  // flex对齐方式
  justify-content: center;
  align-items: center;
}
.flex-baseline {
  // 垂直居中对齐
  align-items: baseline;
}

.flex-shrink > div {
  width: 100%;
  transform-style: preserve-3d;
  flex-shrink: 0;
}

.flex-self-stretch {
  // flex自身对齐:设置后则覆盖父容器
  align-self: stretch;
}
.flex-self-top {
  align-self: flex-start;
}
.flex-self-middle {
  align-self: center;
}
.flex-self-bottom {
  align-self: flex-end;
}

// 显示与隐藏
.hide {
  display: none;
}
.hide-important {
  display: none !important;
}
.hidden {
  visibility: hidden;
}
.hidden-important {
  visibility: hidden !important;
}
.overflow-hidden,
.container.overflow-hidden {
  overflow: hidden;
}
.overflow-auto,
.container.overflow-auto {
  overflow: auto;
}

// 定位
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}

// 清除浮动
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
}

// 文字换行
.white-space-nowrap {
  white-space: nowrap;
}
.ellipsis {
  text-overflow: ellipsis;
}
.nowrap:extend(.ellipsis),
.nowrap1:extend(.ellipsis),
.nowrap2:extend(.ellipsis),
.nowrap3:extend(.ellipsis) {
  overflow: hidden;
}
.nowrap {
  white-space: nowrap;
}
.nowrap1,
.nowrap2,
.nowrap3 {
  /* autoprefixer: off */
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.nowrap1 {
  -webkit-line-clamp: 1;
}
.nowrap2 {
  -webkit-line-clamp: 2;
}
.nowrap3 {
  -webkit-line-clamp: 3;
}

// 文字排列
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}


/*
3.边框-------------------------------------------------------------------------------------
*/
// border 共公边框
@import 'border.less';
.border-0 {
  border: 0;
  background-image: none;
}

.border-t {
  .setBorderT();
}

.border-b {
  .setBorderB();
}

.border-tb {
  .setBorderTB();
}

.border-l {
  .setBorderL();
}
.border-lt {
  .setBorderLT();
}
.border-lb {
  .setBorderLB();
}

.border-r {
  .setBorderR();
}

.border-rt {
  .setBorderRT();
}
.border-rb {
  .setBorderRB();
}

.border {
  .setBorder();
}

hr:extend(.border-b) {
  display: block;
  height: 1px;
  border: 0;
  clear: both;
}

// 篮子线
.basketline:extend(.border-b) {
  position: relative;
  // 左右边线
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: @border;
    // 兼容UC线条不显示的BUG
    z-index: 1;
    overflow: hidden;
    -webkit-backface-visibility: hidden;

    bottom: 0;
    width: 1px;
    height: 10px;
  }
  &:before {
    left: 0;
    transform-origin: left center;
  }
  &:after {
    right: 0;
    transform-origin: right center;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .basketline:before,
  .basketline:after {
    transform: scaleX(0.5);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .basketline:before,
  .basketline:after {
    transform: scaleX(0.33);
  }
}

.bordered {
  border-style: solid;
  border-width: 1px;
  border-color: @dpborder;
}
.dotted {
  border-style: dotted;
}
.dashed {
  border-style: dashed;
}
.splitter {
  display: block;
  width: 1px;
  height: 24px;
  .border-l;
}

/*
4.文字图标-------------------------------------------------------------------------------------
图标文件, 因为包含文件路径, 所以不能放置到需要外部引入的base.less中
*/

// 清除公共图标
.close-icon-clear {
  font-family: 'iconfont';
  &:extend(.icon-rdo-close-fill all);
}

// 生成的文字图标
.icon-sort-r-fill:before {
  content: '\e7fe';
}

.icon-sort-r:before {
  content: '\e7fd';
}

.icon-position2:before {
  content: '\e7d8';
}

.icon-position2-fill:before {
  content: '\e7d9';
}

.icon-camera-fill:before {
  content: '\e709';
}

.icon-video2-fill:before {
  content: '\e7d7';
}

.icon-refresh-fill:before {
  content: '\e755';
}

.icon-refresh:before {
  content: '\e756';
}

.icon-upload:before {
  content: '\e772';
}

.icon-upload-fill:before {
  content: '\e773';
}

.icon-type-video:before {
  content: '\e76e';
}

.icon-type-text:before {
  content: '\e76f';
}

.icon-type-video-fill:before {
  content: '\e770';
}

.icon-type-word-fill:before {
  content: '\e771';
}

.icon-type-unknow:before {
  content: '\e7d3';
}

.icon-type-unknow-fill:before {
  content: '\e7d4';
}

.icon-type-audio:before {
  content: '\e761';
}

.icon-type-excel-fill:before {
  content: '\e762';
}

.icon-type-excel:before {
  content: '\e763';
}

.icon-type-pack-fill:before {
  content: '\e764';
}

.icon-type-pack:before {
  content: '\e765';
}

.icon-type-audio-fill:before {
  content: '\e766';
}

.icon-type-pic-fill:before {
  content: '\e767';
}

.icon-type-pdf-fill:before {
  content: '\e768';
}

.icon-type-pic:before {
  content: '\e769';
}

.icon-type-pdf:before {
  content: '\e76a';
}

.icon-type-ppt-fill:before {
  content: '\e76b';
}

.icon-type-ppt:before {
  content: '\e76c';
}

.icon-type-text-fill:before {
  content: '\e76d';
}

.icon-notice-data:before {
  content: '\e7b9';
}

.icon-notice-network:before {
  content: '\e7ba';
}

.icon-rdo-emoji:before {
  content: '\e7b5';
}

.icon-rdo-keyboard:before {
  content: '\e7b6';
}

.icon-pic-error:before {
  content: '\e7af';
}

.icon-ok-fill:before {
  content: '\e7ae';
}

.icon-plus:before {
  content: '\e73c';
}

.icon-fav-fill:before {
  content: '\e71b';
}

.icon-fav:before {
  content: '\e71c';
}

.icon-rdo-close-fill:before {
  content: '\e73e';
}

.icon-rdo-ok-fill:before {
  content: '\e748';
}

.icon-rdo:before {
  content: '\e754';
}

.icon-search:before {
  content: '\e757';
}

.icon-trash:before {
  content: '\e782';
}
