// DatePicker.Type
.datepicker-types {
  .flex;
  .flex-middle;
  height: 44px;
  padding: 0 12px;

  .datepicker-types-previous,
  .datepicker-types-next {
    width: 26px;
    height: 26px;
  }
}
.datepicker-types-content {
  .flex;
  .flex-right;
  .flex-middle;
  .flex-1;
}
.datepicker-types-date {
  display: inline-block;
}
