@import 'Search/ToolBarSearch.less';
@import 'Button/ToolBarButton.less';

.toolbar {
  gap: 8px;
  padding: 0 12px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  min-height: 44px;
  background-color: white;
}

// ToolBar dropdown
.toolbar-dropdown {
  display: inline-flex;
  align-items: center;
  height: 32px;
  &.disabled {
    opacity: 0.5;
  }
  &.active {
    .toolbar-dropdown-arrow {
      transform: rotate(180deg) translateY(-1px);
    }
  }
}
.toolbar-dropdown-title {
  white-space: nowrap;
  max-width: 58px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toolbar-dropdown-arrow {
  .shape-triangle-down;
  margin-left: 8px;
  transition: all 0.2s ease;
  transform: rotate(0deg) translateY(1px);
  margin-left: 8px;
}
.toolbar-dropdown-modal {
  width: 100%;
  max-height: 350px;
  background-color: white;
  border-radius: 0 0 16px 16px;
  // 列表
  .list {
    margin: 0 8px;
  }
  .list-item.active {
    color: var(--primary);
    .toolbar-dropdown-list-item-checkbox {
      font-family: 'seeds-icons';
      &:extend(.seeds-icon-ok-fill all);
      font-size: 18px;
    }
  }
}
