body{
    color:#303030; 
    background-color: #f6f6f6;
}
/*===========使用的SeedsUI:title|group|button|form|slider|box=============*/
.title{
    padding-left: 14px;
}
.group{
    margin: 8px 0;
    border-color: #dfdfdf;
}
.app-button-small{
    font-size: 12px;
    height: 30px;
    border-radius: 3px;
    padding: 0 8px;
}
.app-button-small .icon{
    font-size: 18px;
    width: 18px;
    height: 18px;
}
/*slider*/
.slider-pagination{
    text-align: center;
}
.slider-pagination .bullet{
    width: 6px;
    height: 6px;
    background-color: #c1c1c1;
}
.slider-pagination .bullet.active{
    background-color:#333;
}
/*===========使用的SeedsUI:title|group|button|form|slider=============*/

/*色值*/
.app-color-info{
    color: #00a8ff;
}
.app-color-warn{
    color: #ff8a00;
}
.app-color-primary{
    color: #ff4e78;
}
.app-slider-leftTop{
    position: absolute;left:14px;top:10px;
    color: #7d7d7d;
}
.app-slider-leftTop .icon{
    color: #cccccc;
}
/*块级地址*/
.app-addressBlock{
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 1px 0;
}
.app-addressContact{
    margin: 8px 14px;
}
.app-addressContact .icon{
    color: #128cfd;
}
.app-addressContact-right{
    float: right;
}
.app-addressInfo{
    margin: 8px 14px;
}
.app-addressHandler{
    padding:10px 8px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #e6e6e6;
}
.app-addressHandler i{
    font-size: 20px;
    width: 20px;
    height: 20px;
}
.app-addressHandler label a{
    margin-top: 2px;
    margin-left: 8px;
    color:#303030;
}
.app-addressHandler-right{
    float:right;
}
.app-btnAddAddress{
    display: -webkit-box;
    height: 50px;
}

/*单个订单*/
.app-orderDetailBlock{
    display: -webkit-box;
    padding: 14px;
}
.app-orderDetailLeft{
    width:100px;
    margin:0 14px 0 0;

}
.app-orderDetailLeft img{
    width: 100%;
}
.app-orderDetailRight{
    -webkit-box-flex:1;
}
.app-orderDetailRight p{
    margin-top: 8px;
}
.app-orderDetailRight p:nth-of-type(1){
    margin-top: 0;
}
.app-orderDetailRight p:nth-of-type(2){
    margin-top: 12px;
}
/*配送地址*/
.app-deliveryBlock{
    padding:8px 14px;
}
.app-deliveryBlock .inputbox{
    height: 54px;
}
/*底部信息提交区*/
.app-submitOrderBlock{
    display: -webkit-box;
    -webkit-box-align:center;
    background-color: white;
    border-top:1px solid #dfdfdf;
}
.app-submitOrderInfo{
    -webkit-box-flex:1;
    padding: 4px 0 4px 14px;
}
.app-submitOrderInfo p{
    font-size: 12px;
}
.app-submitOrderInfo p:nth-of-type(1){

}
.app-submitOrderInfo p:nth-of-type(2){
    margin-top: 0px;
}
.app-submitOrderInfo p:nth-of-type(3){
    margin-top: 0px;
}
.app-submitOrderResult{
    padding-right: 8px;
}
.app-submitOrderResult p:nth-of-type(1){
    font-size: 16px;
    margin-top: 6px;
}
.app-submitOrderResult p:nth-of-type(2){
    font-size: 12px;
    color: #999999;
    margin-top: 6px;
}
/*提交订单按钮*/
.app-btnSubmitOrder{
    display: -webkit-box;
    width: 110px;
    height: 60px;
}
/*商品列表1*/
.app-goodsList li{
    display: -webkit-box;
    padding: 14px;
}
.app-goodsImg{
    width: 66px;
    height: 66px;
    margin:0 18px 0 0;
    background-color: #ccc;
}
.app-goodsContent{
    position: relative;
    -webkit-box-flex:1;
}
.app-goodsTitle{

}
.app-goodsType{
    margin-top: 4px;
}
.app-goodsResult{
    margin-top: 4px;
}
.app-goodsResult small{
}
.app-goodsResult-right{
    float: right;
    margin-top: 5px;
}
.app-goodsResult-rb{
    position: absolute;
    bottom:0;
    right:0;
}
.app-goodsPrice{
    font-size: 17px;
    color: #fd4f33;
}
/*图文详情-标题*/
.app-textureTitle{
    padding: 14px;
    border-bottom: 1px dashed #ccc;
}
.app-textureTitle p:nth-of-type(1){
    
}
.app-textureTitle p:nth-of-type(2){
    margin-top: 12px;
}
.app-textureTitle-right{
    color: #7d7d7d;
    float: right;
}
/*商品底部操作栏*/
.app-shopOperate{
    display: -webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:end;
    height: 48px;
    background-color: #f8f8f8;
    border-top:1px solid #cccccc;
    padding: 0 7px;
}
.app-iconLink{
    display: -webkit-inline-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    width: 32px;
    height: 32px;
    color: #303030;
}