@import 'Item/ImageItem.less';
@import 'Preview/ImagePreview.less';
@import 'Choose/ImageChoose.less';
@import 'Uploading/ImageUploading.less';
@import 'Mark/ImageMark.less';

// 照片视频列表
.image {
  display: flex;
  flex-flow: row wrap;
  row-gap: 8px;
  // 单个照片
  --cell-width: 72px;
  --cell-height: 72px;
  .image-item {
    margin-right: 8px;
    width: var(--cell-width);
    height: var(--cell-height);
  }

  // 上传中
  &.uploading {
    // 显示转圈
    .image-choose {
      .image-uploading {
        display: block;
      }
    }
    // 上传中不允许删除
    .image-delete {
      display: none;
    }
  }
}
