<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<title>404</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.css">
</head>

<body>
	<section id="page_404" class="active">
		<header>
			<div class="titlebar">
		        <a href="javascript:history.go(-1)" class="left">
		            <i class="icon-arrowleft"></i>
		        </a>
		        <h1>404页面</h1>
		    </div>
		</header>
		<article class="box box-middle box-center">
			<div style="width:300px;">
				<div class="error-404"></div>
				<p class="error">页面找不到可能链接错误或者网络问题<br>建议您检查一下再试</p>
				<!-- 立即刷新或者返回请根据需求按钮改变文案-->
				<a class="button submit block" style="margin:20px 10px 100px 10px;">立即刷新</a>
			</div>
		</article>
	</section>
<script>
	//定义exmobi返回
	function back(){history.go(-1);}
</script>
</body>
</html>
