<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
	<title>500</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
    
</head>

<body>
		<header>
			<div class="titlebar">
		        <a href="javascript:back()">
		            <i class="icon icon-arrowleft"></i>
		        </a>
		        <h1>500页面</h1>
		    </div>
		</header>
		<article class="box box-middle box-center">
			<div style="width:300px;">
				<div class="error-500"></div>
				<p class="error">服务器错误，请返回主页</p>
				<a class="button submit block" style="margin:20px 10px 100px 10px;">返回主页</a>
			</div>
		</article>
	<script src="../plugin/jquery/jquery.min.js"></script>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <script src="../plugin/exmobi/exmobi.js"></script>
	<script>
		//定义exmobi返回
		function back(){history.go(-1);}
	</script>
</body>
</html>
