<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>aside</title>
    <link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
</head>

<body ontouchstart="">
    <div class="aside" id="aside">
        <div class="aside-wrapper">
            <aside id="aside-left" data-transition="overlay" style="background-color:#333;color:white;">
                <p class="title lrmargin8">侧边栏</p>
                <p class="subtitle lrmargin8" style="opacity:0.7;">这是侧滑菜单的示例，通常用
                <br/>
                【属性】
                data-transition制定以何种方式弹出，值为：默认为section动，overlay(aside覆盖)|push(section和aside都动)
                <br/>
                <br/>
                【Javascript】
                new Aside("容器",sides":{"left":"左侧栏","right":"右侧栏"}) 
                </p>
                <a class="button block cancel margin8" id="hideAside1">关闭侧滑</a>
            </aside>
            <aside id="aside-right" data-transition="push" style="background-color:#333;color:white;">
                <p class="title lrmargin8">右侧边栏</p>
                <p class="subtitle lrmargin8" style="opacity:0.7;">AsideContainer可随时更换绑定的侧边栏</p>
                <a class="button block cancel margin8" id="hideAside2">关闭侧滑</a>
            </aside>
            <section class="active" style="background-color:white;">
                <header>
                    <div class="titlebar">
                        <a href="javascript:back()">
                            <i class="icon icon-arrowleft"></i>
                        </a>
                        <h1>侧边栏</h1>
                    </div>
                </header>
                <article class="scrollbox">
                    <p class="title">左侧菜单栏</p>
                    <div class="card">
                        <a id="overlayLeft" class="button block margin8">左侧栏-overlay</a>
                        <a id="pushLeft" class="button block margin8 submit">左侧栏-push</a>
                        <a id="revealLeft" class="button block margin8 warn">左侧栏-默认</a>
                    </div>
                    <p class="title">右侧菜单栏</p>
                    <div class="card">
                        <a id="overlayRight" class="button block margin8">右侧栏-overlay</a>
                        <a id="pushRight" class="button block margin8 submit">右侧栏-push</a>
                        <a id="revealRight" class="button block margin8 warn">右侧栏-默认</a>
                    </div>
                    <div class="card padding8">
                        <h1 class="text-center">这是侧滑菜单的示例</h1>
                        <br/>
                        <h4 class="paragraph">标签属性</h4>
                        <p class="paragraph">data-position制定从哪边弹出，值为：left和right。</p>
                        <p class="paragraph">data-transition制定以何种方式弹出，值为：默认为section动，overlay(aside覆盖)|push(section和aside都动)</p>
                        <h4 class="paragraph">Javascript</h4>
                        <p class="paragraph">new Aside("容器",sides":{"left":"左侧栏","right":"右侧栏"}) </p>
                    </div>
                </article>
            </section>
        </div>
    </div>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
    <script type="text/javascript">
        window.addEventListener("load",function(e){
            var aside=new Aside("#aside",{
                "isDrag":true,
                "sides":{"left":"#aside-left","right":"#aside-right"}
                //"sides":{"left":"#aside-left"}
            });
            document.getElementById("overlayLeft").onclick=function(){
                aside.sides["left"].setAttribute("data-transition","overlay");
                aside.update();
                aside.show("left");
            };
    		document.getElementById("pushLeft").onclick=function(){
                aside.sides["left"].setAttribute("data-transition","push");
                aside.update();
                aside.show("left");
            };
    		document.getElementById("revealLeft").onclick=function(){
                aside.sides["left"].setAttribute("data-transition","");
                aside.update();
                aside.show("left");
            };
    		document.getElementById("overlayRight").onclick=function(){
                aside.sides["right"].setAttribute("data-transition","overlay");
                aside.update();
                aside.show("right");
            };
    		document.getElementById("pushRight").onclick=function(){
                aside.sides["right"].setAttribute("data-transition","push");
                aside.update();
                aside.show("right");
            };
    		document.getElementById("revealRight").onclick=function(){
                aside.sides["right"].setAttribute("data-transition","");
                aside.update();
                aside.show("right");
            };
            //关闭按钮
            document.getElementById("hideAside1").onclick=function(e){
                aside.hide();
            };
            document.getElementById("hideAside2").onclick=function(e){
                aside.hide();
            };
        },false);
        //定义exmobi返回
    	function back(){history.go(-1);}
    </script>
</body>
</html>
