<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
    <title>calendar</title>
    <link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
</head>

<body>
	<section id="page_week" class="active">
		<header>
	        <div class="titlebar">
	            <a href="javascript:history.go(-1)" class="left">
	                <i class="icon-arrowleft"></i>
	            </a>
	            <h1>日历</h1>
	        </div>
	    </header>
		<article style="background-color:white;">
			<div class="calendar" id="calender_select_container">
				<ul class="list noborder nobg">
					<li style="padding:10px 0;">
						<div class="justify arrowleft">
		                    <i class="icon-arrowleft"></i>
		                </div>
		                <div class="justify-content calendar-title">2016-2-15 周一</div>
		                <div class="justify arrowright">
		                    <i class="icon-arrowright"></i>
		                </div>
		            </li>
				</ul>
				<div class="calender_container">
					<div class='day'>
						<div class="week-day-line">
							<div class="day-name">日</div>
							<div class="day-name">一</div>
							<div class="day-name">二</div>
							<div class="day-name">三</div>
							<div class="day-name">四</div>
							<div class="day-name">五</div>
							<div class="day-name">六</div>
						</div>
						<div class="week-day-line">
							<div class="day-name">日</div>
							<div class="day-name">一</div>
							<div class="day-name">二</div>
							<div class="day-name">三</div>
							<div class="day-name">四</div>
							<div class="day-name">五</div>
							<div class="day-name">六</div>
						</div>
						<div class="week-day-line">
							<div class="day-name">日</div>
							<div class="day-name">一</div>
							<div class="day-name">二</div>
							<div class="day-name">三</div>
							<div class="day-name">四</div>
							<div class="day-name">五</div>
							<div class="day-name">六</div>
						</div>
					</div>
					<div class='date_container'>
						<div class="month_container">
							
						</div>
					</div>
				</div>
			</div>
			<a class="button block radius8 margin8 bg-1" onclick="calendarExpand()">月</a>
			<a class="button block radius8 margin8 bg-2" onclick="calendarCollapse()">周</a>
			<a class="button block radius8 margin8 bg-3" onclick="today()">今天</a>
	    </article>
	</section>
	<script src="../plugin/seedsui/seedsui.min.js"></script>
	<script>
		//定义exmobi返回
		function back() {
			history.go(-1);
		}
		var tempWeekSelectObject = new DateSelect({
				activeDate: new Date()
			}),
			tempDivId = "calender_select_container";
		var tempCalenderObject = new Calender({
			dateSelectObject: tempWeekSelectObject,
			containerDivId: tempDivId,
			onChange: function(date) {
				console.log(date);
			}
		});
		function calendarCollapse(){
			tempCalenderObject.switchToWeek();
		}
		function calendarExpand(){
			tempCalenderObject.switchToMonth();
		}
		function today(){
			tempCalenderObject.jumpToDate(new Date());
		}
		console.log(tempCalenderObject);
	</script>
</body>
</html>