<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>calendar-week</title>
    <link rel="stylesheet" href="../plugin/seedsui/seedsui.css">
    <style type="text/css">
    	/*日历*/
    	.calendar{
    		position: relative;
		    width: 100%;
		    border-style: solid;
		    border-width: 0 0 1px 0;

		    border-color:#ddd;
    	}
    	.calendar-title{
    		font-size: 20px;
    		text-align: center;
    	}
		.day:after{
			display: table;
		    content: '';
		    clear: both;
		    zoom: 1;
		}
		.day-name,.day-date{
			display: inline-block;
			text-align: center;
			float:left;
			width:14.28%;
		}
		.day-name{
		    color: #868686;
		}
		.day-date{
		    padding:12px 0;
		}
		.day-date span{
			display: inline-block;
			width:36px;
			height: 36px;
			line-height: 36px;
			border-radius: 36px;
		}
		.day-date .current{
		    color: #46c2ca;
		}
		.day-date .active{
		    color: #FFFFFF;
		    background-color: #46c2ca;
		}
		.arrowleft,.arrowright{
			font-size: 20px;
			color:#dddddd;
		}
		.arrowleft:active{
			color:#46c2ca;
		}
	</style>
</head>

<body>
	<section id="page_week" class="active">
		<header>
	        <div class="titlebar">
	            <a href="javascript:history.go(-1)" class="left">
	                <i class="icon-arrowleft"></i>
	            </a>
	            <h1>周视图</h1>
	        </div>
	    </header>
		<article style="background-color:white;">
			<div class="calendar" id="week_select_container">
				<ul class="list noborder nobg">
					<li style="padding:10px 0;">
						<div class="justify arrowleft">
		                    <i class="icon-arrowleft"></i>
		                </div>
		                <div class="justify-content calendar-title">2016-2-15 周一</div>
		                <div class="justify arrowright">
		                    <i class="icon-arrowright"></i>
		                </div>
		            </li>
				</ul>
				<div class='day'>
					<div class="day-name">日</div>
					<div class="day-name">一</div>
					<div class="day-name">二</div>
					<div class="day-name">三</div>
					<div class="day-name">四</div>
					<div class="day-name">五</div>
					<div class="day-name">六</div>
					<div class="day-date"><span class="date_num_0">0</span></div>
					<div class="day-date"><span class="date_num_1">0</span></div>
					<div class="day-date"><span class="date_num_2">0</span></div>
					<div class="day-date"><span class="date_num_3">0</span></div>
					<div class="day-date"><span class="date_num_4">0</span></div>
					<div class="day-date"><span class="date_num_5">0</span></div>
					<div class="day-date"><span class="date_num_6">0</span></div>
				</div>
			</div>
	    </article>
	</section>
	<script src="../plugin/exmobi/exmobi.js"></script>
	<script>
		var day_num_array = ["日", "一", "二", "三", "四", "五", "六"];

		function WeekSelect(opt) {
			var active_date,
				temp_date_array = [],
				i = 0,
				weekMilliSecound = 7 * 24 * 60 * 60 * 1000,
				dayMilliSecound = 24 * 60 * 60 * 1000;;

			if (opt.activeDate) {
				active_date = opt.activeDate;
			} else {
				active_date = new Date();
			}

			for (i = 0; i < 7; ++i) {
				temp_date_array.push(new Date());
			}

			function _prev() {
				active_date.setTime(active_date.getTime() - weekMilliSecound);
			}

			function _next() {
				active_date.setTime(active_date.getTime() + weekMilliSecound);
			}

			function _getSelected() {
				return active_date;
			}

			function _setSelected(activeDate) {
				active_date = activeDate;
			}

			function _setSelectedDay(day) {
				active_date.setTime(active_date.getTime() + dayMilliSecound * (parseInt(day, 10) - active_date.getDay()));
			}

			function _getWeekDate() {
				var day = active_date.getDay(),
					j = 1;

				temp_date_array[0].setTime(active_date.getTime() - dayMilliSecound * day);

				for (j = 1; j < 7; ++j) {
					temp_date_array[j].setTime(temp_date_array[j - 1].getTime() + dayMilliSecound);
				}

				return temp_date_array;
			}

			return {
				prev: _prev,
				next: _next,
				getSelected: _getSelected,
				setSelected: _setSelected,
				setSelectedDay: _setSelectedDay,
				getWeekDate: _getWeekDate
			};
		}

		function drawWeekSelect(opt) {
			var container_element = document.getElementById(opt.containerDivId);

			if (!container_element) {
				return false;
			}

			var weekDateArray = opt.weekSelect.getWeekDate(),
				activeDate = opt.weekSelect.getSelected(),
				i = 0,
				tempElement;

			for (i = 0; i < 7; ++i) {
				tempElement = container_element.getElementsByClassName("date_num_" + i)[0];
				tempElement.innerHTML = weekDateArray[i].getDate();
				tempElement.className = tempElement.className.replace(/ active/g, '');
				if (weekDateArray[i].getDate() == activeDate.getDate()) {
					tempElement.className += " active";
				}
			}

			container_element.getElementsByClassName('calendar-title')[0].innerHTML = activeDate.getFullYear() + '-' + (activeDate.getMonth() + 1) + '-' + activeDate.getDate() + ' ' + '周' + day_num_array[activeDate.getDay()];

			function _changeDraw() {
				if (typeof opt.onChange === "function") {
					opt.onChange(opt.weekSelect.getSelected());
				}
				drawWeekSelect(opt);
			}

			container_element.getElementsByClassName("arrowleft")[0].onclick = function(e) {
				opt.weekSelect.prev();
				_changeDraw();
			};

			container_element.getElementsByClassName("arrowright")[0].onclick = function(e) {
				opt.weekSelect.next();
				_changeDraw();
			};

			var day_date_element_array = container_element.getElementsByTagName("span"),
				className,tempDay;

			for (i = 0; i < 7; ++i) {
				day_date_element_array[i].onclick = function(e) {
					className = e.target.className;
					tempDay = parseInt(className.charAt(className.indexOf('date_num_') + 9), 10);
					if(tempDay==activeDate.getDay()){
						return;
					}
					opt.weekSelect.setSelectedDay(tempDay);
					_changeDraw();
				};
			}
		}

		var tempWeekSelect = WeekSelect({
				activeDate: new Date()
			}),
			tempDivId = "week_select_container";

		drawWeekSelect({
			weekSelect: tempWeekSelect,
			containerDivId: tempDivId,
			onChange: function(date) {
				console.log(date);
			}
		});
		//定义exmobi返回
		function back(){history.go(-1);}
	</script>
</body>
</html>
