<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
	<title>charts-doughnut.color</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
</head>
<body ontouchstart="">
		<header>
		  <div class="titlebar">
		    <a class="titlebar-button" href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>色环图</h1>
		  </div>
		</header>
		<article>
			<canvas id="chart-area" width="200px" style="margin:8px 0;" />
		</article>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--chartJs-->
	<script src="../plugin/charts/Chart.Core.js"></script>
	<script src="../plugin/charts/Chart.Doughnut.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
    
	<script>
		var doughnutData = [
			{
				value: 1,
				label: "华中区"
			},
			{
				value: 2,
				label: "华北区"
			},
			{
				value: 3,
				label: "华南区"
			},
			{
				value: 4,
				label: "西北区"
			},
			{
				value: 5,
				label: "西南区"
			},
			{
				value: 5,
				label: "华东区"
			}

		];

		window.onload = function(){
			var ctx = document.getElementById("chart-area").getContext("2d");
			window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
		};
		//定义exmobi返回
		function back(){history.go(-1);}
	</script>
</body>
</html>
