<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
	<title>charts-polar-area</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
<body ontouchstart="">
		<header>
		  <div class="titlebar">
		    <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>极地区域图</h1>
		  </div>
		</header>
		<article>
			<div id="canvas-holder" style="width:100%">
				<canvas id="chart-area" width="300" height="300"/>
			</div>
		</article>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
    <!--chartJs-->
	<script src="../plugin/charts/Chart.js"></script>
	
	<script>
	var polarData = [
			{
				value: 300,
				color:"#F7464A",
			highlight: "#FF5A5E",
			label: "Red"
		},
		{
			value: 50,
			color: "#46BFBD",
			highlight: "#5AD3D1",
			label: "Green"
		},
		{
			value: 100,
			color: "#FDB45C",
			highlight: "#FFC870",
			label: "Yellow"
		},
		{
			value: 40,
			color: "#949FB1",
			highlight: "#A8B3C5",
			label: "Grey"
		},
		{
			value: 120,
			color: "#4D5360",
			highlight: "#616774",
			label: "Dark Grey"
		}

	];

	window.onload = function(){
		var ctx = document.getElementById("chart-area").getContext("2d");
		window.myPolarArea = new Chart(ctx).PolarArea(polarData, {
			responsive:true
		});
	};
	//定义exmobi返回
	function back(){history.go(-1);}
	</script>
</body>
</html>
