<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
	<title>exmobi-third</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
</head>

<body>
		<header>
		    <div class="titlebar">
		        <a href="javascript:Exmobi.close()"><i class="icon icon-arrowleft"></i></a>
		        <h1>第三方应用程序</h1>
		    </div>
		</header>
		<article>
			<a class="button block margin8" href="javascript:Exmobi.openBrowser('http://www.baidu.com')">打开系统浏览器</a>
			<a class="button block margin8" href="javascript:Exmobi.openVideo('res:page/www/components/video.mp4')">打开视频播放</a>
		</article>
	
	<script src="../plugin/jquery/jquery.min.js"></script>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <script src="../plugin/exmobi/exmobi.js"></script>
	<script>
		//定义exmobi返回
		function back(){Exmobi.close();}
	</script>
</body>
</html>