<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>form-validate</title>
    <link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
    <style type="text/css">
    .input-box.required{
        border-color:#e7eabd;
        background-color:#faffbd;
    }
    .input-box.required input{
        background-color:transparent;
    }
    .input-box.error{
        background-color:#ffecec;
        border-color:#ff635b;
    }
    .input-box.error input{
        background-color:transparent;
    }
    </style>
</head>

<body ontouchstart="">
    <header>
        <div class="titlebar">
            <a href="javascript:back()"><i class="icon icon-arrowleft"></i></a>
            <h1>表单验证</h1>
        </div>
    </header>
    <article>
    	<form id="form1" style="padding:10px;">
            <div class="input-box margin8 nolrmargin" data-input="clear">
                <input type="text" placeholder="用户名" name="username" maxlength="16" data-rule-field="用户名" data-rule="required username"/>
                <i class="icon icon-clear-fill color-placeholder hide"></i>
            </div>
            <div class="input-box margin8 nolrmargin" data-input="reveal">
                <input type="password" placeholder="密码" name="password" id="password" maxlength="16" data-rule-field="密码" data-rule="required safelvl password minlength:6 maxlength:16"/>
                <i class="icon icon-eye-fill color-placeholder"></i>
                <div class="safelvl lvl0">
                    <div class="progress"></div>
                	<ul>
                		<li>弱</li>
                		<li>中</li>
                		<li>强</li>
                	</ul>
                </div>
            </div>
            
            <div class="rowspace22"></div>

            <div class="input-box margin8 nolrmargin" data-input="reveal">
                <input type="password" placeholder="确认" name="repassword" data-rule-field="密码" data-rule="required password compare:password minlength:6 maxlength:16"/>
                <i class="icon icon-eye-fill color-placeholder"></i>
            </div>

            <div class="input-box margin8 nolrmargin">
                <input type="text" placeholder="手机号码" name="phone" data-rule-field="手机号码" data-rule="phone"/>
            </div>

            <div class="input-box margin8 nolrmargin">
                <input type="text" placeholder="中文姓名" name="mail" data-rule-field="姓名" data-rule="chinese"/>
            </div>

            <div class="input-box margin8 nolrmargin">
                <input type="text" placeholder="邮箱" name="mail" data-rule-field="邮箱" data-rule="mail"/>
            </div>

            <div class="input-box margin8 nolrmargin">
                <input type="number" placeholder="年龄" name="age" data-rule-field="年龄" data-rule="number minnumber:18 maxnumber:48"/>
            </div>

            <button class="button submit block">注册</button>
    	</form>
    </article>
    
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
    <script>
    window.addEventListener("load",function(){
        var f=new Form("#form1");
        f.container.addEventListener("submit",function(e){
            e.preventDefault();
            f.validate();
        },false);
    },false);
    //定义exmobi返回
    function back(){history.go(-1);}
    </script>
</body>
</html>