<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
    <title>gauge</title>
    <link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
    
</head>

<body ontouchstart="">
        <header>
            <div class="titlebar">
                <a href="javascript:back()"><i class="icon icon-arrowleft"></i></a>
                <h1>仪表盘</h1>
            </div>
        </header>
        <article>
            <div class="gauge-box" id="gauge">
                <div class="gauge">
                    <div class="gauge-pointer"></div>
                    <div class="gauge-text">0</div>
                </div>
            </div>
        </article>
    
    <script src="../plugin/jquery/jquery.min.js"></script>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
    <script>
        window.addEventListener("load",function(e){
        	var g=new Gauge("#gauge",{
                minValue:-100,
                maxValue:400,
                currentValue:100,
                onInit:function(e){
                    console.log("初始化完成");
                },
                onPointChangeStart:function(e){
                    console.log("指针开始旋转，共需时间："+e.duration);
                },
                onPointChangeEnd:function(e){
                    console.log("指针旋转完成");
                }
            });
        	//若是爆表，可获得爆表值
        	if(g.burst>0){
        		alert("已爆表"+g.burst);
        	}
        },false);
        //定义exmobi返回
        function back(){history.go(-1);}
    </script>
</body>
</html>