<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>indexbar</title>
    <link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
    <style type="text/css">
    .indexlist li{
        padding-left:24px;
        padding-right:24px;
    }
    .indexlist .justify-content{
        padding-left:0;
        padding-right:0;
    }
    </style>
</head>

<body ontouchstart="">
    <header>
        <div class="titlebar">
        	<a class="titlebar-button" href="javascript:back()"><i class="icon icon-arrowleft"></i></a>
            <h1>索引栏</h1>
        </div>
    </header>
    <article style="height:100%;overflow:hidden;">
        <div class="indexbox" id="indexbox_container">
            <div class="indexlist">
            <ul class="list">
                <li class="sliver" data-index="A">A</li>
                <li>
                    <div class="justify-content underline">阿华</div>
                </li>
                <li>
                    <div class="justify-content underline">阿敏</div>
                </li>
                <li>
                    <div class="justify-content underline">阿全</div>
                </li>
                <li class="noborder">
                    <div class="justify-content underline">阿达</div>
                </li>
                <li class="sliver" data-index="B">B</li>
                <li>
                    <div class="justify-content underline">白起</div>
                </li>
                <li>
                    <div class="justify-content underline">白旭</div>
                </li>
                <li class="noborder">
                    <div class="justify-content underline">冰冰</div>
                </li>
                <li class="sliver" data-index="C">C</li>
                <li>
                    <div class="justify-content underline">曹操</div>
                </li>
                <li>
                    <div class="justify-content underline">曹鸣</div>
                </li>
                <li>
                    <div class="justify-content underline">曹捷</div>
                </li>
                <li>
                    <div class="justify-content underline">陈真</div>
                </li>
                <li>
                    <div class="justify-content underline">陈进</div>
                </li>
                <li>
                    <div class="justify-content underline">陈明</div>
                </li>
                <li>
                    <div class="justify-content underline">陈伟</div>
                </li>
                <li>
                    <div class="justify-content underline">陈文</div>
                </li>
                <li>
                    <div class="justify-content underline">陈晓</div>
                </li>
                <li>
                    <div class="justify-content underline">陈娟</div>
                </li>
                <li>
                    <div class="justify-content underline">成勇</div>
                </li>
                <li>
                    <div class="justify-content underline">成婷</div>
                </li>
                <li class="noborder">
                    <div class="justify-content underline">成龙</div>
                </li>
                <li class="sliver" data-index="D">D</li>
                <li>
                    <div class="justify-content underline">大成子</div>
                </li>
                <li>
                    <div class="justify-content underline">大舅子</div>
                </li>
                <li>
                    <div class="justify-content underline">戴笠</div>
                </li>
                <li>
                    <div class="justify-content underline">戴坤</div>
                </li>
                <li>
                    <div class="justify-content underline">戴成虎</div>
                </li>
                <li>
                    <div class="justify-content underline">邓小平</div>
                </li>
                <li>
                    <div class="justify-content underline">邓稼先</div>
                </li>
                <li>
                    <div class="justify-content underline">邓文迪</div>
                </li>
                <li>
                    <div class="justify-content underline">邓等</div>
                </li>
                <li>
                    <div class="justify-content underline">狄仁杰</div>
                </li>
                <li>
                    <div class="justify-content underline">狄弟</div>
                </li>
                <li>
                    <div class="justify-content underline">董文华</div>
                </li>
                <li class="noborder">
                    <div class="justify-content underline">董事</div>
                </li>
                <li class="sliver" data-index="F">F</li>
                <li>
                    <div class="justify-content underline">樊哙</div>
                </li>
                <li>
                    <div class="justify-content underline">樊心</div>
                </li>
                <li>
                    <div class="justify-content underline">冯晨晨</div>
                </li>
                <li>
                    <div class="justify-content underline">冯敬尧</div>
                </li>
                <li>
                    <div class="justify-content underline">冯成虎</div>
                </li>
                <li>
                    <div class="justify-content underline">冯小平</div>
                </li>
                <li>
                    <div class="justify-content underline">冯稼先</div>
                </li>
                <li>
                    <div class="justify-content underline">冯文迪</div>
                </li>
                <li>
                    <div class="justify-content underline">冯晨</div>
                </li>
                <li>
                    <div class="justify-content underline">福尔杰</div>
                </li>
                <li>
                    <div class="justify-content underline">福尔康</div>
                </li>
                <li>
                    <div class="justify-content underline">福文华</div>
                </li>
                <li>
                    <div class="justify-content underline">方文山</div>
                </li>
            </ul>
            </div>
        </div>
    </article>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
    <script type="text/javascript">
        var indexbar=new Indexbar("#indexbox_container");
        function back(){history.go(-1)}
    </script>
</body>
</html>
