<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
    <title>indexbar</title>
    <link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
</head>

<body ontouchstart="">
    <section class="active">
        <header>
            <div class="titlebar">
            	<a href="javascript:back()"><i class="icon icon-arrowleft"></i></a>
                <h1>索引栏</h1>
            </div>
        </header>
        <article style="height:100%;overflow:hidden;">
            <div class="indexbox" id="indexbox_container">
                <div class="indexlist">
                <ul class="border-content">
                    <li class="sliver" data-index="A">A</li>
                    <li>
                        <div class="justify-content">阿华</div>
                    </li>
                    <li>
                        <div class="justify-content">阿敏</div>
                    </li>
                    <li>
                        <div class="justify-content">阿全</div>
                    </li>
                    <li class="noborder">
                        <div class="justify-content">阿达</div>
                    </li>
                    <li class="sliver" data-index="B">B</li>
                    <li>
                        <div class="justify-content">白起</div>
                    </li>
                    <li>
                        <div class="justify-content">白旭</div>
                    </li>
                    <li class="noborder">
                        <div class="justify-content">冰冰</div>
                    </li>
                    <li class="sliver" data-index="C">C</li>
                    <li>
                        <div class="justify-content">曹操</div>
                    </li>
                    <li>
                        <div class="justify-content">曹鸣</div>
                    </li>
                    <li>
                        <div class="justify-content">曹捷</div>
                    </li>
                    <li>
                        <div class="justify-content">陈真</div>
                    </li>
                    <li>
                        <div class="justify-content">陈进</div>
                    </li>
                    <li>
                        <div class="justify-content">陈明</div>
                    </li>
                    <li>
                        <div class="justify-content">陈伟</div>
                    </li>
                    <li>
                        <div class="justify-content">陈文</div>
                    </li>
                    <li>
                        <div class="justify-content">陈晓</div>
                    </li>
                    <li>
                        <div class="justify-content">陈娟</div>
                    </li>
                    <li>
                        <div class="justify-content">成勇</div>
                    </li>
                    <li>
                        <div class="justify-content">成婷</div>
                    </li>
                    <li class="noborder">
                        <div class="justify-content">成龙</div>
                    </li>
                    <li class="sliver" data-index="D">D</li>
                    <li>
                        <div class="justify-content">大成子</div>
                    </li>
                    <li>
                        <div class="justify-content">大舅子</div>
                    </li>
                    <li>
                        <div class="justify-content">戴笠</div>
                    </li>
                    <li>
                        <div class="justify-content">戴坤</div>
                    </li>
                    <li>
                        <div class="justify-content">戴成虎</div>
                    </li>
                    <li>
                        <div class="justify-content">邓小平</div>
                    </li>
                    <li>
                        <div class="justify-content">邓稼先</div>
                    </li>
                    <li>
                        <div class="justify-content">邓文迪</div>
                    </li>
                    <li>
                        <div class="justify-content">邓等</div>
                    </li>
                    <li>
                        <div class="justify-content">狄仁杰</div>
                    </li>
                    <li>
                        <div class="justify-content">狄弟</div>
                    </li>
                    <li>
                        <div class="justify-content">董文华</div>
                    </li>
                    <li class="noborder">
                        <div class="justify-content">董事</div>
                    </li>
                    <li class="sliver" data-index="F">F</li>
                    <li>
                        <div class="justify-content">樊哙</div>
                    </li>
                    <li>
                        <div class="justify-content">樊心</div>
                    </li>
                    <li>
                        <div class="justify-content">冯晨晨</div>
                    </li>
                    <li>
                        <div class="justify-content">冯敬尧</div>
                    </li>
                    <li>
                        <div class="justify-content">冯成虎</div>
                    </li>
                    <li>
                        <div class="justify-content">冯小平</div>
                    </li>
                    <li>
                        <div class="justify-content">冯稼先</div>
                    </li>
                    <li>
                        <div class="justify-content">冯文迪</div>
                    </li>
                    <li>
                        <div class="justify-content">冯晨</div>
                    </li>
                    <li>
                        <div class="justify-content">福尔杰</div>
                    </li>
                    <li>
                        <div class="justify-content">福尔康</div>
                    </li>
                    <li>
                        <div class="justify-content">福文华</div>
                    </li>
                    <li>
                        <div class="justify-content">方文山</div>
                    </li>
                </ul>
                </div>
            </div>
        </article>
    </section>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
    <script type="text/javascript">
        var indexbar=new Indexbar("#indexbox_container");
        function back(){history.go(-1)}
    </script>
</body>
</html>
