<div id="exmobilocal" style="display: none;">
	<div class="app-sliver">exmobi本地能力</div>
	<ul class="grid app-thumbnail">
		<li>
			<a href="javascript:Exmobi.openWebview('res:page/www/components/exmobi-tel.html')">
				<img src="thumbnail/exmobi-tel.png"/>
			</a>
			<label class="grid-label">电话与通讯</label>
		</li>
		<li>
			<a href="javascript:Exmobi.openWebview('res:page/www/components/exmobi-camera.html')">
				<img src="thumbnail/exmobi-camera.png"/>
			</a>
			<label class="grid-label">照片选择</label>
		</li>
		<li>
			<a href="javascript:Exmobi.openWebview('res:page/www/components/exmobi-gps.html')">
				<img src="thumbnail/exmobi-gps.png"/>
			</a>
			<label class="grid-label">定位</label>
		</li>
		<li>
			<a href="javascript:Exmobi.openWebview('res:page/www/components/exmobi-qrcode.html')">
				<img src="thumbnail/exmobi-qrcode.png"/>
			</a>
			<label class="grid-label">扫码</label>
		</li>
		<li>
			<a href="javascript:Exmobi.openWebview('res:page/www/components/exmobi-third.html')">
				<img src="thumbnail/exmobi-third.png"/>
			</a>
			<label class="grid-label">调用第三方</label>
		</li>
		<li>
			<a href="javascript:Exmobi.openWebview('res:page/www/components/exmobi-webview.html')">
				<img src="thumbnail/exmobi-webview.png"/>
			</a>
			<label class="grid-label">webview控件</label>
		</li>
		<li>
			<a href="javascript:Exmobi.openWebview('res:page/www/components/exmobi-pattern.html')">
				<img src="thumbnail/exmobi-pattern.png"/>
			</a>
			<label class="grid-label">手势密码</label>
		</li>
		<li>
			<a href="javascript:Exmobi.openWebview('res:page/www/components/exmobi-cache.html')">
				<img src="thumbnail/exmobi-cache.png"/>
			</a>
			<label class="grid-label">缓存</label>
		</li>
	</ul>
</div>

<div id="weixinlocal" style="display: none;">
	<div class="app-sliver">微信本地能力</div>
	<ul class="grid app-thumbnail">
		<li>
			<a href="weixin.html">
				<img src="thumbnail/weixin.png"/>
			</a>
			<label class="grid-label">微信本地能力</label>
		</li>
	</ul>
</div>

<div class="app-sliver">html5本地能力</div>
	<ul class="grid app-thumbnail">
	<li>
		<a href="video.html">
			<img src="thumbnail/video.png"/>
		</a>
		<label class="grid-label">多媒体</label>
	</li>
	<li>
		<a href="local-photoselect.html">
			<img src="thumbnail/local-photoselect.png"/>
		</a>
		<label class="grid-label">照片选择</label>
	</li>
	<li>
		<a href="local-share.html">
			<img src="thumbnail/local-share.png"/>
		</a>
		<label class="grid-label">分享链接</label>
	</li>
	<li>
		<a href="local-map.html">
			<img src="thumbnail/local-map.png"/>
		</a>
		<label class="grid-label">签到地图</label>
	</li>
	<li>
		<a href="local-gps.html">
			<img src="thumbnail/local-gps.png"/>
		</a>
		<label class="grid-label">定位</label>
	</li>
	<li>
		<a href="local-db.html">
			<img src="thumbnail/local-db.png"/>
		</a>
		<label class="grid-label">本地数据库</label>
	</li>
	</ul>