<!-- HTML5文件 -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<title>首页</title>
	<link rel="stylesheet" href="../theme/ui.css">
    <link rel="stylesheet" href="../theme/theme.css">
	<style>
	.thumbnail a{
		border-radius:8px;
		border:1px solid #ddd;
		overflow:hidden;
	}
	</style>
</head>
<body>
	<header>
        <div class="titlebar">
            <a href="javascript:history.go(-1)" class="left">
                <i class="icon-arrowleft"></i>
            </a>
            <h1>components</h1>
        </div>
    </header>
	<article>
		<div class="sliver">基础组件</div>
		<ul class="grid thumbnail">
			<li>
				<a href="singe.html#singe1">
					<img src=""/>
				</a>
				<label class="grid-label">单页模式</label>
			</li>
			<li>
				<a href="animate.html">
					<img src=""/>
				</a>
				<label class="grid-label">动画</label>
			</li>
			<li>
				<a href="aside.html">
					<img src=""/>
				</a>
				<label class="grid-label">侧边栏</label>
			</li>
			<li>
				<a href="bar.html">
					<img src=""/>
				</a>
				<label class="grid-label">bar</label>
			</li>
			<li>
				<a href="button.html">
					<img src=""/>
				</a>
				<label class="grid-label">按钮</label>
			</li>
			<li>
				<a href="popup.html">
					<img src=""/>
				</a>
				<label class="grid-label">弹出框</label>
			</li>
			<li>
				<a href="video.html">
					<img src=""/>
				</a>
				<label class="grid-label">多媒体</label>
			</li>
		</ul>
		
		<div class="sliver">表单</div>
		<ul class="grid thumbnail">
			<li>
				<a href="form.html">
					<img src=""/>
				</a>
				<label class="grid-label">表单样式</label>
			</li>
			<li>
				<a href="form-serialize.html">
					<img src=""/>
				</a>
				<label class="grid-label">表单序列化</label>
			</li>
			<li>
				<a href="form-validate.html">
					<img src=""/>
				</a>
				<label class="grid-label">表单验证</label>
			</li>
			<li>
				<a href="form-richeditor.html">
					<img src=""/>
				</a>
				<label class="grid-label">富文本编辑</label>
			</li>
		</ul>
		<div class="sliver">树结构</div>
		<ul class="grid thumbnail">
			<li>
				<a href="tree.html">
					<img src=""/>
				</a>
				<label class="grid-label">树结构</label>
			</li>
		</ul>
		<div class="sliver">栅格</div>
		<ul class="grid thumbnail">
			<li>
				<a href="table.html">
					<img src=""/>
				</a>
				<label class="grid-label">表格1</label>
			</li>
			<li>
				<a href="table2.html">
					<img src=""/>
				</a>
				<label class="grid-label">表格2</label>
			</li>
			<li>
				<a href="grid.html">
					<img src=""/>
				</a>
				<label class="grid-label">九宫格</label>
			</li>
			<li>
				<a href="list.html">
					<img src=""/>
				</a>
				<label class="grid-label">列表</label>
			</li>
		</ul>
		<div class="sliver">复杂功能</div>
		<ul class="grid thumbnail">
			<li>
				<a href="imgPreview.html">
					<img src=""/>
				</a>
				<label class="grid-label">图片预览</label>
			</li>
			<li>
				<a href="weather.html">
					<img src=""/>
				</a>
				<label class="grid-label">天气</label>
			</li>
			<li>
				<a href="chat.html">
					<img src=""/>
				</a>
				<label class="grid-label">聊天</label>
			</li>
			<li>
				<a href="countto.html">
					<img src=""/>
				</a>
				<label class="grid-label">计数器</label>
			</li>
			<li>
				<a href="page-tabbar.html">
					<img src=""/>
				</a>
				<label class="grid-label">页签滑动</label>
			</li>
			<li>
				<a href="page-slide.html">
					<img src=""/>
				</a>
				<label class="grid-label">多余页签滑动</label>
			</li>
			<li>
				<a href="loader.html">
					<img src=""/>
				</a>
				<label class="grid-label">加载遮罩</label>
			</li>
		</ul>
		<div class="sliver">数据可视化</div>
		<ul class="grid thumbnail">
			<li>
				<a href="chart-gauge.html">
					<img src=""/>
				</a>
				<label class="grid-label">仪表盘</label>
			</li>
		</ul>
		
		<div class="sliver">charts-可视化数据</div>
		<ul class="grid thumbnail">
			<li>
				<a href="charts-bar.html">
					<img src=""/>
				</a>
				<label class="grid-label">柱状图</label>
			</li>
			<li>
				<a href="charts-doughnut.html">
					<img src=""/>
				</a>
				<label class="grid-label">环形图</label>
			</li>
			<li>
				<a href="charts-doughnut.color.html">
					<img src=""/>
				</a>
				<label class="grid-label">环形图</label>
			</li>
			<li>
				<a href="charts-line.html">
					<img src=""/>
				</a>
				<label class="grid-label">折线图</label>
			</li>
			<li>
				<a href="charts-line-customTooltips.html">
					<img src=""/>
				</a>
				<label class="grid-label">折线图</label>
			</li>
			<li>
				<a href="charts-pie.html">
					<img src=""/>
				</a>
				<label class="grid-label">饼图</label>
			</li>
			<li>
				<a href="charts-pie-customTooltips.html">
					<img src=""/>
				</a>
				<label class="grid-label">饼图</label>
			</li>
			<li>
				<a href="charts-polar-area.html">
					<img src=""/>
				</a>
				<label class="grid-label">极地区域图</label>
			</li>
			<li>
				<a href="charts-radar.html">
					<img src=""/>
				</a>
				<label class="grid-label">雷达图</label>
			</li>
		</ul>
		
		<div class="sliver">iscroll</div>
		<ul class="grid thumbnail">
			<li>
				<a href="iscroll.html">
					<img src=""/>
				</a>
				<label class="grid-label">自定义滚动条</label>
			</li>
			<li>
				<a href="iscroll-pull.html">
					<img src=""/>
				</a>
				<label class="grid-label">下拉刷新</label>
			</li>
		</ul>
		
		<div class="sliver">swiper</div>
		<ul class="grid thumbnail">
			<li>
				<a href="swiper-simple.html">
					<img src=""/>
				</a>
				<label class="grid-label">一般滑动</label>
			</li>
			<li>
				<a href="swiper.html">
					<img src=""/>
				</a>
				<label class="grid-label">滑动综合示例</label>
			</li>
		</ul>
		
		<div class="sliver">hammer</div>
		<ul class="grid thumbnail">
			<li>
				<a href="hammerImg.html">
					<img src=""/>
				</a>
				<label class="grid-label">图片预览-hammer</label>
			</li>
		</ul>
		
		<div class="sliver">exmobi本地能力</div>
		<ul class="grid thumbnail">
			<li>
				<div class="grid-thumbnail" onclick="Exmobi.openWebview('res:page/www/exmobi-tel.html')">
					<img src=""/>
				</div>
				<label class="grid-label">电话与通讯</label>
			</li>
			<li>
				<div class="grid-thumbnail" onclick="Exmobi.openWebview('res:page/www/exmobi-camera.html')">
					<img src=""/>
				</div>
				<label class="grid-label">照片选择</label>
			</li>
			<li>
				<div class="grid-thumbnail" onclick="Exmobi.openWebview('res:page/www/exmobi-gps.html')">
					<img src=""/>
				</div>
				<label class="grid-label">定位</label>
			</li>
			<li>
				<a href="javascript:Exmobi.openWebview('res:page/www/exmobi-qrcode.html')">
					<img src=""/>
				</a>
				<label class="grid-label">扫码</label>
			</li>
			<li>
				<a href="javascript:Exmobi.openWebview('res:page/www/exmobi-third.html')">
					<img src=""/>
				</a>
				<label class="grid-label">调用第三方</label>
			</li>
			<li>
				<a href="javascript:Exmobi.openWebview('res:page/www/exmobi-webview.html')">
					<img src=""/>
				</a>
				<label class="grid-label">webview控件</label>
			</li>
			<li>
				<a href="javascript:Exmobi.openWebview('res:page/www/exmobi-pattern.html')">
					<img src=""/>
				</a>
				<label class="grid-label">手势密码</label>
			</li>
			<li>
				<a href="javascript:Exmobi.openWebview('res:page/www/exmobi-cache.html')">
					<img src=""/>
				</a>
				<label class="grid-label">缓存</label>
			</li>
		</ul>
		
		<div class="sliver">html5本地能力</div>
		<ul class="grid thumbnail">
			<li>
				<a href="local-video.html">
					<img src=""/>
				</a>
				<label class="grid-label">短视频</label>
			</li>
			<li>
				<a href="local-photoselect.html">
					<img src=""/>
				</a>
				<label class="grid-label">照片选择</label>
			</li>
			<li>
				<a href="local-share.html">
					<img src=""/>
				</a>
				<label class="grid-label">分享链接</label>
			</li>
			<li>
				<a href="local-webShare.html">
					<img src=""/>
				</a>
				<label class="grid-label">web分享链接</label>
			</li>
			<li>
				<a href="local-gps.html">
					<img src=""/>
				</a>
				<label class="grid-label">定位</label>
			</li>
			<li>
				<a href="local-db.html">
					<img src=""/>
				</a>
				<label class="grid-label">本地数据库</label>
			</li>
		</ul>
		
	</article>
	<script src="../plugin/exmobi/exmobi.js"></script>
	<script src="../plugin/seedsui/seedsui.min.js"></script>
	<script>
		//manifest
		/*window.addEventListener("updateready",function(e){
			console.log("离线缓存状态："+window.applicationCache.status);
			if(window.applicationCache.status==window.applicationCache.UPDATEREADY){
				window.applicationCache.swapCache();
				if(confirm('发现此manifest文件有更新，是否更新？')){
					window.location.reload();
				}
			}else{
				console.log('manifest文件没有变化');
			}
		},false);*/
		
		//定义exmobi返回
		function back(){history.go(-1);}
		//remove原返回事件绑定
		document.removeEventListener("backmonitor",back,false);
		//添加新的返回事件
		document.addEventListener("backmonitor",function(){
			Exmobi.dbclose();
		},false);
	</script>
</body>
</html>