<div class="app-sliver">文字图标</div>
<ul class="grid app-thumbnail">
	<li>
		<a href="iconfont.html">
			<img src="thumbnail/iconfont.png"/>
		</a>
		<label class="grid-label">文字图标</label>
	</li>
</ul>
<div class="app-sliver">导航</div>
<ul class="grid app-thumbnail">
	<li>
		<a href="titlebar.html">
			<img src="thumbnail/titlebar.png"/>
		</a>
		<label class="grid-label">Bar</label>
	</li>
	<li>
		<a href="tabbar.html">
			<img src="thumbnail/tabbar.png"/>
		</a>
		<label class="grid-label">Tabbar</label>
	</li>
</ul>
<div class="app-sliver">按钮</div>
<ul class="grid app-thumbnail">
	<li>
		<a href="button.html">
			<img src="thumbnail/button.png"/>
		</a>
		<label class="grid-label">按钮</label>
	</li>
</ul>
<div class="app-sliver">徽章</div>
<ul class="grid app-thumbnail">
	<li>
		<a href="button.html">
			<img src="thumbnail/button.png"/>
		</a>
		<label class="grid-label">按钮</label>
	</li>
</ul>
<div class="app-sliver">分组</div>
<ul class="grid app-thumbnail">
	<li>
		<a href="button.html">
			<img src="thumbnail/button.png"/>
		</a>
		<label class="grid-label">按钮</label>
	</li>
</ul>
<div class="app-sliver">表格</div>
<ul class="grid app-thumbnail">
	<li>
		<a href="table.html">
			<img src="thumbnail/table.png"/>
		</a>
		<label class="grid-label">表格</label>
	</li>
</ul>
<div class="app-sliver">栅格</div>
<ul class="grid app-thumbnail">
	<li>
		<a href="grid.html">
			<img src="thumbnail/grid.png"/>
		</a>
		<label class="grid-label">九宫格</label>
	</li>
	<li>
		<a href="grid-metro.html">
			<img src="thumbnail/grid-metro.png"/>
		</a>
		<label class="grid-label">九宫格-自定义</label>
	</li>
</ul>
<div class="app-sliver">列表</div>
<ul class="grid app-thumbnail">
	<li>
		<a href="list.html">
			<img src="thumbnail/list.png"/>
		</a>
		<label class="grid-label">列表</label>
	</li>
</ul>
<div class="app-sliver">基础组件</div>
<ul class="grid app-thumbnail">
	<li>
		<a href="animate.html">
			<img src="thumbnail/animate.png"/>
		</a>
		<label class="grid-label">动画</label>
	</li>
	<li>
		<a href="bg.html">
			<img src="thumbnail/bg.png"/>
		</a>
		<label class="grid-label">背景</label>
	</li>
	<li>
		<a href="layout.html">
			<img src="thumbnail/layout.png"/>
		</a>
		<label class="grid-label">布局</label>
	</li>
	<li>
		<a href="shape.html">
			<img src="thumbnail/shape.png"/>
		</a>
		<label class="grid-label">形状</label>
	</li>
	<li>
		<a href="code.html">
			<img src="thumbnail/code.png"/>
		</a>
		<label class="grid-label">代码展现</label>
	</li>
</ul>
<div class="app-sliver">错误页面</div>
<ul class="grid app-thumbnail">
	<li>
		<a href="404.html">
			<img src="thumbnail/404.png"/>
		</a>
		<label class="grid-label">找不到页面</label>
	</li>
	<li>
		<a href="500.html">
			<img src="thumbnail/500.png"/>
		</a>
		<label class="grid-label">页面错误</label>
	</li>
	<li>
		<a href="nowifi.html">
			<img src="thumbnail/nowifi.png"/>
		</a>
		<label class="grid-label">无网络</label>
	</li>
</ul>