<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>list</title>
    <link rel="stylesheet" href="../plugin/seedsui/seedsui.css">
</head>

<body>
    <section id="page_index" class="active">
        <header>
            <div class="titlebar">
            	<a href="javascript:history.go(-1)" class="left"><i class="icon-arrowleft"></i></a>
                <h1>列表</h1>
            </div>
        </header>
        <article>
            <details open>
                <summary class="sliver">单行列表</summary>
                <ul class="list">
                    <li>
                        <div class="justify-content">Agile Lite轻量级HTML5框架介绍</div>
                    </li>
                    <li>
                        <div class="justify-content">ExMobi+Agile开发注意事项</div>
                        <div class="justify">
                            <i class="icon-arrowright"></i>
                        </div>
                    </li>
                    <li>
                        <div class="justify">
                            <i class="icon-fav-fill color-placeholder"></i>
                        </div>
                        <div class="justify-content box box-middle">
                            <p class="nowrap">ExMobi全面支持HTML5和Native融合，此版UI的名称真是还没想好呢？因为注重通用性，叫种子UI？</p>
                        </div>
                        <div class="justify">
                            <button>按钮</button>
                        </div>
                    </li>
                </ul>
            </details>

            <details open>
                <summary class="sliver">双行列表</summary>
                <ul class="list">
                    <li>
                        <div class="justify-content">
                            <p>Agile Lite轻量级HTML5框架介绍</p>
                            <small>Agile Lite是一个基于HTML5+CSS3+JS的移动前端框架</small>
                        </div>
                    </li>
                    <li>
                        <div class="justify-content">
                            <p>ExMobi+Agile开发注意事项</p>
                            <small>Agile支持单页和多页模式开发，在ExMobi中建议使用多页模式，让代码更容易维护</small>
                        </div>
                        <div class="justify">
                            <i class="icon-arrowright"></i>
                        </div>
                    </li>
                    <li>
                        <div class="justify">
                            <i class="icon-fav-fill"></i>
                        </div>
                        <div class="justify-content">
                            <p class="nowrap">ExMobi全面支持HTML5和Native融合，此版UI的名称真是还没想好呢？因为比较硬，叫汗子UI？</p>
                            <small class="nowrap">Agile支持单页和多页模式开发，在ExMobi中建议使用多页模式，让代码更容易维护</small>
                        </div>
                        <div class="justify">
                            <button>按钮</button>
                        </div>
                    </li>
                </ul>
            </details>

            <details open>
                <summary class="sliver">新闻列表</summary>
                <ul class="list">
                    <li>
                        <div class="justify">
                            <img src="../img/list/1.jpg"/>
                        </div>
                        <div class="justify-content">
                            <a>习近平主席全面从严治党大韬略：剑指顽疾</a>
                            <small class="bottom left">12-24</small>
                            <small class="bottom right">
                                <label>511</label>
                                <i class="icon-chat"></i>
                            </small>
                        </div>
                    </li>
                    <li>
                        <div class="justify-content">
                            <p><span class="mark-cancel">时政</span>习近平主席全面从严治党大韬略：剑指顽疾</p>
                            <small class="nowrap">今年还有十几个小时就要结束了，您的鱼卖得怎么样了呢？</small>
                        </div>
                        <div class="justify">
                            <img src="../img/list/1.jpg"/>
                        </div>
                    </li>
                    <li class="nojustify">
                        <div class="justify-content">
                            <p><span class="mark-info">典型</span>七旬老人高效养罗非只赚不亏！</p>
                            <small class="nowrap">”陈叔“运用科技的力量高效养殖，保持盈利，他是如何养罗非赚钱的？</small>
                        </div>
                        <div class="justify">
                            <img src="../img/banner/banner.jpg" class="width-full">
                        </div>
                    </li>
                </ul>
            </details>

            <details open>
                <summary class="sliver">邮件列表</summary>
                <ul class="list">
                    <li>
                        <div class="justify">
                            <div class="round">少波</div>
                        </div>
                        <div class="justify-content">
                            <small>
                                <i class="icon-rdo-fill color-warn"></i>
                                <label class="bold">张少波</label>
                                <label class="float-right">12月21日</label>
                                <i class="icon-fav-fill float-right color-warn"></i>
                            </small>
                            <p>您的圣诞礼物已经备好，看看咋样</p>
                            <small class="nowrap">[图片]Hi,柱子:圣诞节到了，给您的圣诞礼物已经备好，来看看喜不喜欢</small>
                        </div>
                    </li>
                    <li>
                        <div class="justify">
                            <div class="round"><i class="icon-person"></i></div>
                        </div>
                        <div class="justify-content">
                            <small>
                                <i class="icon-rdo-fill color-warn"></i>
                                <label class="bold">张少波</label>
                                <label class="float-right">12月21日</label>
                                <i class="icon-fav-fill float-right color-warn"></i>
                            </small>
                            <p>您的圣诞礼物已经备好，看看咋样</p>
                            <small class="nowrap">[图片]Hi,柱子:圣诞节到了，给您的圣诞礼物已经备好，来看看喜不喜欢</small>
                        </div>
                    </li>
                </ul>
            </details>

            <details open>
                <summary class="sliver">功能列表</summary>
                <ul class="list fnlist noborder">
                    <li>
                        <div class="justify">
                            <i class="licon icon-folder-fill color-info"></i>
                        </div>
                        <div class="justify-content nowrap">
                            最新文档
                        </div>
                        <div class="justify">
                            <span class="tip">1</span>
                        </div>
                    </li>
                    <li>
                        <div class="justify">
                            <i class="licon icon-chat-fill color-warn"></i>
                        </div>
                        <div class="justify-content nowrap">
                            通知公告
                        </div>
                    </li>
                </ul>
            </details>
            
            <details open>
                <summary class="sliver">应用列表</summary>
                <ul class="list applist">
                    <li>
                        <div class="justify">
                            <img src="../img/list/weixin.png" class="licon" />
                        </div>
                        <div class="justify-content nowrap">
                            <p>微信</p>
                            <p>
                                <i class="icon-fav-fill active"></i>
                                <i class="icon-fav-fill active"></i>
                                <i class="icon-fav-fill active-half"></i>
                                <i class="icon-fav-fill"></i>
                                <i class="icon-fav-fill"></i>
                            </p>
                            <small>聊天与社交 31.9M</small>
                        </div>
                        <div class="justify">
                            <button class="desaturate outline">打开</button>
                        </div>
                    </li>
                    <li>
                        <div class="justify">
                            <div class="licon">
                                <i class="icon-appbag-fill"></i>
                            </div>
                        </div>
                        <div class="justify-content nowrap">
                            <p>QQ</p>
                            <p>
                                <i class="icon-fav-fill active"></i>
                                <i class="icon-fav-fill active"></i>
                                <i class="icon-fav-fill active"></i>
                                <i class="icon-fav-fill active"></i>
                                <i class="icon-fav-fill active-half"></i>
                            </p>
                            <small>聊天与社交 27.2M</small>
                        </div>
                        <div class="justify">
                            <button class="success outline">安装</button>
                        </div>
                    </li>
                </ul>
            </details>

            <details open>
                <summary class="sliver">联系人列表</summary>
                <ul class="list between border-content">
                    <li>
                        <div class="justify">
                            <div class="round" style="background-color:#59e461">
                                <i class="icon-chatdot-fill"></i>
                            </div>
                        </div>
                        <div class="justify-content">
                            <p>小助手</p>
                            <small class="top right">昨天 11:50</small>
                            <small class="nowrap">会话已完成，请您在会话记录中填写报告</small>
                        </div>
                    </li>
                    <li>
                        <div class="justify">
                            <div class="round">少波</div>
                        </div>
                        <div class="justify-content">
                            <p>张少波</p>
                            <small class="top right">昨天 11:50</small>
                            <small class="nowrap">本次会话结束，感谢您的使用</small>
                        </div>
                    </li>
                    <li>
                        <div class="justify">
                            <div class="round" style="background-image:url(../img/banner/banner.jpg)"></div>
                        </div>
                        <div class="justify-content">
                            <p>张少波</p>
                            <small class="top right">昨天 11:30</small>
                            <small class="nowrap">本次会话结束，感谢您的使用</small>
                        </div>
                    </li>
                </ul>
            </details>
            
        </article>
    </section>
    <script src="../plugin/jquery/jquery.min.js"></script>
    <script src="../plugin/exmobi/exmobi.js"></script>
</body>
</html>
