<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
	<title>loading</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
	<style type="text/css">
	.hide{
		display: none!important;
	}
	</style>
</head>

<body>
		<!-- 加载遮罩 -->
		<div class="popup-mask hide" style="display: block; opacity: 1;"></div>
		<div class="loading-box box box-middlecenter hide">
			<div class="loading"></div>
		</div>
		<header>
			<div class="titlebar">
		        <a href="javascript:back()"><i class="icon icon-arrowleft"></i></a>
		        <h1>loading</h1>
		    </div>
		</header>
		<article>
		</article>
	
	<script src="../plugin/jquery/jquery.min.js"></script>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <script src="../plugin/exmobi/exmobi.js"></script>
	<script>
		/*=============
		遮罩
		==============*/
		var loadingMask=document.querySelector(".popup-mask"),loadingBox=document.querySelector(".loading-box");
		function showLoading(){
			loadingMask.classList.remove("hide");
			loadingBox.classList.remove("hide");
		}
		function hideLoading(){
			loadingMask.classList.add("hide");
			loadingBox.classList.add("hide");
		}
		showLoading();
		//定义exmobi返回
		function back(){history.go(-1);}
	</script>
</body>
</html>