<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
	<title>loading</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
	<style type="text/css">
	.hide{
		display: none!important;
	}
	</style>
</head>

<body ontouchstart="">
	<!-- 加载遮罩 -->
	<!-- <div class="mask" id="ID-LoadingMask" style="visibility:visible;opacity:1;"></div>
	<div class="loading-box" id="ID-LoadingBox" style="visibility:visible;opacity:1;">
		<div class="loading"></div>
	</div> -->

	<header>
		<div class="titlebar">
	        <a class="titlebar-button" href="javascript:back()"><i class="icon icon-arrowleft"></i></a>
	        <h1>loading</h1>
	    </div>
	</header>
	<article>
	</article>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
	<script>
		var views={
            /*=========================
              Model
              ===========================*/
            initialize:function(){
                //DOM
                //Data
                //Plugin
                this.loading;
            },
            /*=========================
              Method
              ===========================*/
            _initLoading:function(){
            	var self=this;
            	this.loading=new Loading();
            	this.loading.show();
            	/*this.loading=new Loading({//第二种方法:默认创建好DOM更快
					loadContainer:"#ID-LoadingBox",
					mask:"#ID-LoadingMask"
				});*/
				setTimeout(function(){
					self.loading.hide();
				},1000);
            },
            _initPlugin:function(){
            	this._initLoading();
            },
            /*=========================
              Events
              ===========================*/
            _attach:function(e){
                var self=this;
            },
            /*=========================
              Event Handler
              ===========================*/
            /*=========================
              OnLoad
              ===========================*/
            _onLoad:function(){
                var self=this;
                //DOM

                //Plugin
                this._initPlugin();
                //Events
                this._attach();
            }
        }

        window.addEventListener("load",function(){
            views._onLoad();
        }, false);

        document.addEventListener("DOMContentLoaded",function(){
            views.initialize();
        }, false);
		//定义exmobi返回
		function back(){history.go(-1);}
	</script>
</body>
</html>