<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<title>local-map</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
	<style type="text/css">
		#allmap{
			height:100%;
		}
		.shrinkcase{
			padding:10px 0;
		}
		.pin-label{
			position: absolute;
			width:28px;
			height:28px;
			text-align:center;
			line-height:28px;
			left:2px;
			top:2px;
			border-radius: 100%;
			-webkit-transform:rotate(45deg);
			-webkit-transform-origin:center; 

			color: white;
		}
		#signPeople{
			height: 75px;
    		margin-top: 14px;
		}
		#signPeople li{
			width: 75px;
		}
		#signPeople li>a{
			width:50px;
			height: 50px;
		}
	</style>
</head>

<body>
	<section id="page_local_db" class="active">
		<header>
		    <div class="titlebar">
		        <a href="javascript:history.go(-1)" class="left"><i class="icon-arrowleft"></i></a>
		        <h1>签到地图</h1>
		    </div>
		</header>
		<article style="bottom: 150px;">
			<div id="allmap"></div>
		</article>
		<footer style="height: 150px;background-color:white;">
			<ul class="list noclick">
				<li>
					<div class="justify-content">最新签到<b>1</b>人（已签<b>1</b>人，未签<b>2</b>人）</div>
					<div class="justify">
						<a>详细></a>
					</div>
				</li>
			</ul>
			<div class="overflow-x" style="height: 112px;">
				<div id="signPeople" style="width: 2000px;">
					<ul class="grid app radiusround">
						<li>
							<a class="bg-1">
								阳
							</a>
							<label class="grid-label">蔡宇阳</label>
						</li>
						<li>
							<a class="bg-2">
								波
							</a>
							<label class="grid-label">成少波</label>
						</li>
						<li>
							<a class="bg-3">
								进
							</a>
							<label class="grid-label">李进</label>
						</li>
						<li>
							<a class="bg-4">
								梅
							</a>
							<label class="grid-label">许啸梅</label>
						</li>
						<li>
							<a class="bg-5">
								婷
							</a>
							<label class="grid-label">李婷</label>
						</li>
						<li>
							<a class="bg-1">
								阳
							</a>
							<label class="grid-label">蔡宇阳</label>
						</li>
						<li>
							<a class="bg-2">
								波
							</a>
							<label class="grid-label">成少波</label>
						</li>
						<li>
							<a class="bg-3">
								进
							</a>
							<label class="grid-label">李进</label>
						</li>
						<li>
							<a class="bg-4">
								梅
							</a>
							<label class="grid-label">许啸梅</label>
						</li>
						<li>
							<a class="bg-5">
								婷
							</a>
							<label class="grid-label">李婷</label>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</section>
	
	<script src="../plugin/jquery/jquery.min.js"></script>
	<script src="../plugin/seedsui/seedsui.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8830f84901336e9afd2c6d7033d2ebe5"></script>
	<script>
        //定义坐标和文字
        var markerData1=[[116.417854,39.921988,"<span class='color-1 bold'>蔡宇阳</span>&nbsp;早上8点<br>签到地址：北京市东城区王府井大街88号乐天银泰百货","<label class='pin-label'>阳</label>","#53c6fd"],
        [116.406605,39.921585,"<span class='color-2 bold'>成少波</span>&nbsp;早上8点<br>签到地址：北京市东城区东华门大街","<label class='pin-label'>波</label>","#ffae02"],
		[116.412222,39.912345,"<span class='color-3 bold'>李进</span>&nbsp;早上8点<br>签到地址：北京市东城区正义路甲5号","<label class='pin-label'>进</label>","#3ae3ea"]
						];
						var markerData2=[[116.417854,39.921988,"<span class='color-1 bold'>蔡宇阳</span>&nbsp;早上8点<br>签到地址：北京市东城区王府井大街88号乐天银泰百货","<label class='pin-label'>1</label>","#53c6fd"],
						[116.406605,39.921585,"<span class='color-1 bold'>蔡宇阳</span>&nbsp;早上8点<br>签到地址：北京市东城区东华门大街","<label class='pin-label'>2</label>","#53c6fd"]
						];
		var b=new BaiduMap("allmap");
		b.show(markerData1);

		function toogleMarker(target){
			if(target.classList.contains("active")){
				target.classList.remove("active");
				b.show(markerData1);
				return;
			}
			target.classList.add("active");
			b.show(markerData2);
		}

		document.getElementById("signPeople").addEventListener("click",function(e){
			var target=e.target;
			if(target.tagName.toLowerCase()=="a"){
				toogleMarker(target);
			}
		},false)
		//定义exmobi返回
		function back(){history.go(-1);}
	</script>
</body>
</html>