<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>page</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
</head>

<body ontouchstart="">
	<section id="page_0" class="active">
		<header>
		  <div class="titlebar">
		    <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>单页模式</h1>
		  </div>
		</header>
		<article>
			<a class="button block margin8 bg-1" href="#page_1" data-target="page">slideLeft</a>
		    <a class="button block margin8 bg-2" href="#page_2" data-target="page">slideRight</a>
		    <a class="button block margin8 bg-3" href="#page_3" data-target="page">slideUp</a>
		    <a class="button block margin8 bg-4" href="#page_4" data-target="page">slideDown</a>
		    <a class="button block margin8 bg-5" href="#page_5" data-target="page">fade</a>
		    <a class="button block margin8 bg-6" href="#page_6" data-target="page">zoom</a>
		    <a class="button block margin8 bg-7" href="#page_7" data-target="page">none</a>
		    <a type="button" class="button block margin8 bg-8" onclick="openPage('#page_2')">用JS打开打二页</a>
		    <div class="card padding8">
		    	因为用到了popstate，涉及到跨域的问题，所以此页面需要在服务器上运行
		    </div>
		    <input type="text"/>
		</article>
	</section>
	<!--page1-->
	<section id="page_1" data-animation="slideLeft" class="page" style="background-color:#f4f4f4;">
		<header>
		  <div class="titlebar">
		    <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>slideLeft</h1>
		  </div>
		</header>
		<article>
			<a class="button block margin8 bg-1" href="#page_1_close" data-target="page">进入下一页</a>
		</article>
	</section>
	<!--page1_close-->
	<section id="page_1_close" data-animation="slideLeft" class="page" style="background-color:#f4f4f4;">
		<header>
		  <div class="titlebar">
		    <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>slideLeft</h1>
		  </div>
		</header>
		<article>
			<a class="button block margin8 bg-1" href="javascript:closePage('#page_1','none')">关闭上一页</a>
			<a class="button block margin8 bg-2" href="javascript:closePage('#page_1_close')">关闭此页面</a>
		</article>
	</section>
	<!--page2-->
	<section id="page_2" data-animation="slideRight" class="page" style="background-color:#f4f4f4;">
		<header>
		  <div class="titlebar">
		    <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>slideRight</h1>
		  </div>
		</header>
		<article>
			slideRight
		</article>
	</section>
	<!--page3-->
	<section id="page_3" data-animation="slideUp" class="page" style="background-color:#f4f4f4;">
		<header>
		  <div class="titlebar">
		    <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>slideUp</h1>
		  </div>
		</header>
		<article>
			slideUp
		</article>
	</section>
	<!--page4-->
	<section id="page_4" data-animation="slideDown" class="page" style="background-color:#f4f4f4;">
		<header>
		  <div class="titlebar">
		    <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>slideDown</h1>
		  </div>
		</header>
		<article>
			slideDown
		</article>
	</section>
	<!--page5-->
	<section id="page_5" data-animation="fade" class="page" style="background-color:#f4f4f4;">
		<header>
		  <div class="titlebar">
		    <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>fade</h1>
		  </div>
		</header>
		<article>
			fade
		</article>
	</section>
	<!--page6-->
	<section id="page_6" data-animation="zoom" class="page" style="background-color:#f4f4f4;">
		<header>
		  <div class="titlebar">
		    <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>zoom</h1>
		  </div>
		</header>
		<article>
			zoom
		</article>
	</section>
	<!--page7-->
	<section id="page_7" data-animation="none" class="page" style="background-color:#f4f4f4;">
		<header>
		  <div class="titlebar">
		    <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>none</h1>
		  </div>
		</header>
		<article>
			none
		</article>
	</section>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
	<script>
		var singlePage=new Page({
			"onOpenStart":function(e){
				/*console.log("开始打开点击了：");
				console.log(e.target);*/
				console.log("开始打开：");
				console.log(e.targetPage);
			},
			"onOpenEnd":function(e){
				/*console.log("已经打开点击了：");
				console.log(e.target);*/
				console.log("已经打开：");
				console.log(e.targetPage);
			},
			"onCloseStart":function(e){
				/*console.log("开始关闭点击了：");
				console.log(e.target);*/
				console.log("开始关闭：");
				console.log(e.targetPage);
			},
			"onCloseEnd":function(e){
				/*console.log("已经关闭点击了：");
				console.log(e.target);*/
				console.log("已经关闭：");
				console.log(e.targetPage);
			}
		});
		//打指定页
		function openPage(id){
			singlePage.open(id);
		}
		//关闭指定页面
		function closePage(id,animation){
			singlePage.close(id,animation);
		}
		
		//var sec=new Page();
		//定义exmobi返回
		function back(){
			if(history){
				history.go(-1)
			}else{
				singlePage.back();
			}
		}
	</script>
</body>
</html>
