<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>scrollpicker-date</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
</head>

<body ontouchstart="">
	<header>
		<div class="titlebar">
	        <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
	        <h1>日期选择器</h1>
	    </div>
	</header>
	<article>
        <div class="inputbox margin8">
            <input type="text" class="text-center" placeholder="请选择日期" readonly="readonly" id="time1"/>
        </div>
        <div class="inputbox margin8">
            <input type="text" class="text-center" placeholder="请选择时间" readonly="readonly" id="time2"/>
        </div>
	</article>
	<!--SeedsUI-->
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
    <script type="text/javascript">
    var spDate=new SpDate({
        "viewType":"date",
    });
    document.getElementById("time1").onclick=function(){
        var input=this;
        spDate.setOnClickDone(function(e){
            input.value=e.activeText;
            e.hide();
        });
        spDate.show();
    }
    var spTime=new SpDate({
        "viewType":"time",
    });
    document.getElementById("time2").onclick=function(){
        var input=this;
        spTime.setOnClickDone(function(e){
            input.value=e.activeText;
            e.hide();
        });
        spTime.show();
    }
	//定义exmobi返回
	function back(){history.go(-1);}
	</script>
</body>
</html>
