<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>scrollpicker-city</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
</head>

<body ontouchstart="">
	<header>
		<div class="titlebar">
	        <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
	        <h1>地区选择器</h1>
	    </div>
	</header>
	<article>
        <div class="input-box margin8">
            <input type="text" placeholder="请选择城市" readonly="readonly" id="area1"/>
        </div>
        <div class="input-box margin8">
            <input type="text" placeholder="请选择地区" readonly="readonly" id="area2"/>
        </div>
	</article>
	<!--SeedsUI-->
    <script src="../plugin/seedsui/seedsui.city.min.js"></script>
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
    <script type="text/javascript">
    var spCity=new SpCity({
        viewType:"city",
        data:citys,
        provinceClass:"text-center citycol",
        cityClass:"text-center citycol",
        areaClass:"text-center citycol"
    });
    var spArea=new SpCity({
        viewType:"area",
        data:citys,
        provinceClass:"text-center citycol",
        cityClass:"text-center citycol",
        areaClass:"text-center citycol"
    });
    document.getElementById("area1").onclick=function(){
        var input=this;
        spCity.setOnClickDone(function(e){
            input.value=e.activeText;
            e.hide();
        });
        spCity.show();
    }
    document.getElementById("area2").onclick=function(){
        var input=this;
        spArea.setOnClickDone(function(e){
            input.value=e.activeText;
            e.hide();
        });
        spArea.show();
    }
	//定义exmobi返回
	function back(){history.go(-1);}
	</script>
</body>
</html>
