<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>scrollpicker</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
</head>

<body ontouchstart="">
	<header>
		<div class="titlebar">
	        <a href="javascript:back()">
	            <i class="icon icon-arrowleft"></i>
	        </a>
	        <h1>滚动选择器</h1>
	    </div>
	</header>
	<article>
		<div class="input-box margin8">
            <input type="text" class="text-center" placeholder="滚动选择器" readonly="readonly" id="sp1"/>
        </div>
	</article>
	<!--SeedsUI-->
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
    <script type="text/javascript">
    /*=========================
      简单两列
      ===========================*/
    var nums1=[
	    {'key':'a','value':'0'},
	    {'key':'b','value':'1'},
	    {'key':'c','value':'2'},
	    {'key':'d','value':'3'},
	    {'key':'e','value':'4'},
	    {'key':'f','value':'5'},
	    {'key':'g','value':'6'},
    ];
    var nums2=[
	    {'key':'I','value':'0'},
	    {'key':'II','value':'1'},
	    {'key':'III','value':'2'},
	    {'key':'IV','value':'3'},
	    {'key':'V','value':'4'},
	    {'key':'VI','value':'5'},
	    {'key':'VII','value':'6'},
    ];
    var sp=new Scrollpicker({
    	"onClickDone":function(e){
    		//获得全部选中项
    		//console.log(e.activeOptions);
    		//打印值
    		var activeText="";
    		e.activeOptions.forEach(function(n,i,a){
    			activeText+=n["value"]+",";
    		});
    		document.getElementById("result").innerHTML="您选中的值为："+activeText;
    		e.hide();
    	},
    	"onClickCancel":function(e){
    		e.updateSlots();
    		e.hide();
    	},
    	"onScrollEnd":function(e){
    		//获得当前选中项
    		//console.log(e.activeOption);
    	}
    });
    function addSlot(){
	    sp.addSlot(nums1,'lock','5');
	    sp.addSlot(nums2);
	}
	addSlot();
	document.getElementById("sp1").onclick=function(e){
		var input=this;
		sp.setOnClickDone(function(e){
            var activeText="";
    		e.activeOptions.forEach(function(n,i,a){
    			if(i==e.activeOptions.length-1){
    				activeText+=n["value"];
    			}else{
    				activeText+=n["value"]+"-";
    			}
    		});
    		input.value=activeText;
    		e.hide();
        });
        sp.show();
	}
	//定义exmobi返回
	function back(){history.go(-1);}
	</script>
</body>
</html>
