<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
	<title>single</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
</head>

<body>
	<section id="page_single_0" class="active">
		<header>
		  <div class="titlebar">
		    <a href="javascript:history.go(-1)">
	            <i class="icon icon-arrowleft"></i>
	        </a>
		    <h1>单页模式</h1>
		  </div>
		</header>
		<article>
			<a class="button block margin8 bg-1" href="#page_single_1" data-target="section">slideleft</a>
		    <a class="button block margin8 bg-2" href="#page_single_2" data-target="section">slideright</a>
		    <a class="button block margin8 bg-3" href="#page_single_3" data-target="section">slideup</a>
		    <a class="button block margin8 bg-4" href="#page_single_4" data-target="section">slidedown</a>
		    <a class="button block margin8 bg-5" href="#page_single_5" data-target="section">fade</a>
		    <a class="button block margin8 bg-6" href="#page_single_6" data-target="section">none</a>
		    <div class="card padding8">
		    	因为用到了popstate，涉及到跨域的问题，所以此页面需要在服务器上运行
		    </div>
		</article>
	</section>
	<section id="page_single_1" data-sectionanimation="slideleft" class="bg-1">
		slideleft
	</section>
	<section id="page_single_2" data-sectionanimation="slideright" class="bg-2">
		slideright
	</section>
	<section id="page_single_3" data-sectionanimation="slideup" class="bg-3">
		slideup
	</section>
	<section id="page_single_4" data-sectionanimation="slidedown" class="bg-4">
		slidedown
	</section>
	<section id="page_single_5" data-sectionanimation="fade" class="bg-5">
		fade
	</section>
	<section id="page_single_6" data-sectionanimation="none" class="bg-6">
		none
	</section>
	<script src="../plugin/jquery/jquery.min.js"></script>
	<script src="../plugin/seedsui/seedsui.min.js"></script>
	<script>
		Section.init({
			"onSectionOpenStart":function(e){
				console.log("页面加载前"+e.sectionId);
			},
			"onSectionOpenEnd":function(e){
				console.log("页面加载完成"+e.sectionId);
			},
			"onSectionCloseStart":function(e){
				console.log("页面关闭前"+e.sectionId);
			},
			"onSectionCloseEnd":function(e){
				console.log("页面关闭完成"+e.sectionId);
			}
		});
		
		//定义exmobi返回
		function back(){history.go(-1);}
	</script>
</body>
</html>
