<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
	<title>tree-selected</title>
	<link rel="stylesheet" href="../plugin/seedsui/seedsui.min.css">
    <style type="text/css">
    .app-statusbar{
        background-color:#ddd;
    }
    .app-statusbar .mark-grayscale{
        padding: 8px;
        margin: 5px 0 5px 8px;
        background: #fff;
        display: inline-block;
    }
    .app-statusbar .mark-grayscale:last-child{
        margin-right: 8px;
    }
    .app-statusbar .mark-grayscale [class*="icon-"]{
        color:#aaa;
        margin-left:5px;
    }
    </style>
</head>

<body ontouchstart="">
    <header>
       <div class="titlebar">
            <a class="left" href="javascript:history.go(-1)">
                <i class="icon icon-arrowleft"></i>
                <span>返回</span>
            </a>
            <h1 class="text-center">选择人员</h1>
            <a href="javascript:getSelected()" class="right">确定</a>
        </div>
    </header>
    <article>
        <div class="app-statusbar horizontal" style="display:none;" id="selected-box"></div>
        <!-- tree -->
        <div class="tree-box">
            <ul class="tree" id="tree">
                <li>
                    <div class="tree-line" data-id="group-1" data-name="业务产品部">
                        <i class="tree-licon icon-arrowright"></i>
                        <span class="tree-ticon icon-persons"></span>
                        <a class="tree-title">业务产品部</a>
                        <span class="tree-ricon icon-rdoadd" data-click="add"></span>
                    </div>
                    <ul>
                        <li>
                            <div class="tree-line" data-id="group-2" data-name="研发体系">
                                <i class="tree-licon icon-arrowright"></i>
                                <span class="tree-ticon icon-persons"></span>
                                <a class="tree-title">研发体系</a>
                                <span class="tree-ricon icon-rdoadd" data-click="add"></span>
                            </div>
                            <ul>
                                <li>
                                    <div class="tree-line" data-id="group-3" data-name="开发一部">
                                        <i class="tree-licon icon-arrowright"></i>
                                        <span class="tree-ticon icon-persons"></span>
                                        <a class="tree-title">开发一部</a>
                                        <span class="tree-ricon icon-rdoadd" data-click="add"></span>
                                    </div>
                                    <ul>
                                    	<li>
                                    		<div class="tree-line" data-id="group-4" data-name="成少波">
                                    			<span class="tree-ticon bg-1">波</span>
	                                            <a class="tree-title">成少波</a>
	                                            <span class="tree-ricon icon-rdoadd" data-click="add"></span>
	                                        </div>
                                    	</li>
                                    	<li>
                                    		<div class="tree-line" data-id="group-5" data-name="颜学文">
                                    			<span class="tree-ticon bg-3">文</span>
	                                            <a class="tree-title">颜学文</a>
	                                            <span class="tree-ricon icon-rdoadd" data-click="add"></span>
	                                        </div>
                                    	</li>
                                    	<li>
                                    		<div class="tree-line" data-id="group-6" data-name="张泉">
                                    			<span class="tree-ticon bg-4">泉</span>
	                                            <a class="tree-title">张泉</a>
	                                            <span class="tree-ricon icon-rdoadd" data-click="add"></span>
	                                        </div>
                                    	</li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="tree-line" data-id="group-7" data-name="开发二部">
                                        <i class="tree-licon icon-arrowright"></i>
                                        <span class="tree-ticon icon-persons"></span>
                                        <a class="tree-title">开发二部</a>
                                        <span class="tree-ricon icon-rdoadd" data-click="add"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tree-line" data-id="group-8" data-name="开发三部">
                                        <i class="tree-licon icon-arrowright"></i>
                                        <span class="tree-ticon icon-persons"></span>
                                        <a class="tree-title">开发三部</a>
                                        <span class="tree-ricon icon-rdoadd" data-click="add"></span>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="tree-line" data-id="group-9" data-name="开发一部">
                                                <i class="tree-licon icon-arrowright"></i>
                                                <span class="tree-ticon icon-persons"></span>
                                                <a class="tree-title">开发一组</a>
                                                <span class="tree-ricon icon-rdoadd" data-click="add"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="tree-line" data-id="group-10" data-name="市场体系">
                                <i class="tree-licon icon-arrowright"></i>
                                <span class="tree-ticon icon-persons"></span>
                                <a class="tree-title">市场体系</a>
                                <span class="tree-ricon icon-rdoadd" data-click="add"></span>
                            </div>
                            <ul>
                                <li>
                                    <div class="tree-line" data-id="group-11" data-name="上海办">
                                        <i class="tree-licon icon-arrowright"></i>
                                        <span class="tree-ticon icon-persons"></span>
                                        <a class="tree-title">上海办</a>
                                        <span class="tree-ricon icon-rdoadd" data-click="add"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tree-line" data-id="group-12" data-name="广州办名字超长超长超长超">
                                        <i class="tree-licon icon-arrowright"></i>
                                        <span class="tree-ticon icon-persons"></span>
                                        <a class="tree-title">广州办名字超长超长超长超</a>
                                        <span class="tree-ricon icon-rdoadd" data-click="add"></span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </article>
	
    <script src="../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../plugin/exmobi/exmobi.js"></script>-->
	<script>
    var tr;
    var noChildToast = new Toast("没有子节点", {delay:2000});
	window.addEventListener("load",function(e){
        //注入数据时，注意根据姓氏获得颜色
        //console.log("成少波".toPinyin().substr(0,1).toColor());

        //树结构
        tr=new Tree("#tree",{
            "selectedContainer":"#selected-box",
            "onTap":function(e){
                console.log("您点击了：");
                console.log(e.target);
                console.log("点击的li为：");
                console.log(e.targetLi);
                console.log("点击的行为：");
                console.log(e.targetLine);
                console.log("当前选中的节点有：");
                console.log(e.selected);
            },
            "onTapLastChild":function(e){//没有子节点
                //隐藏左侧图标
                var licon=e.targetLine.querySelector(".tree-licon");
                e.targetLine.removeChild(licon);
                //显示提示
                noChildToast.show();
            }
        });
        
	},false);
    //获得选中元素
    function getSelected(){
        console.log("你所选择的树节点Id为：");
        console.log(tr.selected);
    }
	//定义exmobi返回
	function back(){history.go(-1);}
	</script>
</body>
</html>
