// 常用色
.color-white {
  color: white;
}
.color-disabled {
  color: var(--disabled);
}
.color-default {
  color: var(--default);
}
.color-auxiliary {
  color: var(--auxiliary);
}
.color-secondary {
  color: var(--secondary);
}
.color-tertiary {
  color: var(--tertiary);
}
.color-placeholder {
  color: var(--placeholder);
}
.color-primary {
  color: var(--primary);
}
.color-link {
  color: var(--link);
}
.color-warning {
  color: var(--warning);
}
.color-danger {
  color: var(--danger);
}
.color-success {
  color: @success;
}

// 背景颜色
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  background-color: white;
}
.bg-body {
  background-color: @body-bg-color;
}
.bg-disabled {
  background-color: @disabled;
}
.bg-primary {
  background-color: @primary;
}
.bg-primary-lighten {
  background-color: @primary-lighten;
}
.bg-link {
  background-color: @link;
}
.bg-warning {
  background-color: @warning;
}
.bg-danger {
  background-color: @danger;
}
.bg-success {
  background-color: @success;
}
