/*----------------tabbar.less(start)--------------*/
// 基础样式
.tabbar{
	display:block;
	position:relative;
	margin:0 auto;
	/*允许横向滚动*/
	overflow-x:auto;
	overflow-y:hidden;
  white-space:nowrap;
	&.disabled,&[disabled]{
		opacity: 0.5;
  }
  &[disabled]{
		pointer-events: none;
	}
}
.tab{
	padding:0 @6px;
	position:relative;
	text-align:center;
	box-sizing:border-box;
	border-style:solid;
	border-width:0;

	display:table-cell;
	width:1%;
	height:@40px;
	vertical-align: middle;
}
.tab-label{
	display:inline-block;
	font-size: @font-size-md;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	pointer-events:none;
  vertical-align:middle;
}
.tab-icon{
	margin:0 4px;
	pointer-events:none;
}
// 平铺等分
.tabbar-tiled{
	&:extend(.box);
	.tab{
		&:extend(.box);
		&:extend(.box-flex-1);
		&:extend(.box-middlecenter);
	}
}
// .tabbar[data-col="2"] .tab{
// 	width:50%;
// }
// .tabbar[data-col="3"] .tab{
// 	width:33%;
// }
// .tabbar[data-col="3"] .tab:nth-of-type(even){
// 	width:34%;
// }
// .tabbar[data-col="4"] .tab{
// 	width:25%;
// }
// .tabbar[data-col="5"] .tab{
// 	width:20%;
// }
// .tabbar[data-col="6"] .tab{
// 	width:17%;
// }
// .tabbar[data-col="6"] .tab:nth-of-type(even){
// 	width:16%;
// }

//单线形tabbar-line
.tabbar-line{
	color: @tabbar-line-color;
	background-color: @tabbar-line-bg;
	.tab:after {
		.setContentLine(@tabbar-line-border);
	}
	.tab{
		//选中状态下横线
		&:after{
			top: auto;
			right: auto;
	    bottom: 0;
	    left: 50%;
	    height: @2px;
	    width: 100%;

	    background-color:@tabbar-line-border-active;
	    -webkit-transform-origin:center center;
	    -webkit-transform:translate(-50%,0) scale(0,1);
		}
	}
	.tab.active{
		color:@tabbar-line-color-active;
		background-color: @tabbar-line-bg-active;
		&:after {
			-webkit-transform:translate(-50%,0) scale(1,1);
		}
	}
	&.tabbar-line-width50{
		.tab:after{
			width: 50%;
		}
	}
	&.tabbar-line-width60{
		.tab:after{
			width: 60%;
		}
	}
	&.tabbar-line-width70{
		.tab:after{
			width: 70%;
		}
	}
}
.tabbar-line.reverse{
	color:@tabbar-line-reverse-color;
	background-color: @tabbar-line-reverse-bg;
	.tab{
		&:before{
			background-color:@tabbar-line-reverse-border;
		}
	}
	.tab.active {
		color:@tabbar-line-reverse-color-active;
		background-color: @tabbar-line-reverse-bg-active;
		&:after {
			background-color:@tabbar-line-reverse-border-active;
		}
	}
}
.tabbar-line.animated{
	.tab{
		-webkit-transition: color 0.3s;
		&:after{
			-webkit-transition:-webkit-transform 0.1s;
		}
	}
	.tab.active{
		&:after {
			-webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
			-webkit-transition-duration:0.3s;
		}
	}
}

//矩形tabbar-rect
.tabbar-rect{
	color:@tabbar-rect-color;
	background-color: @tabbar-rect-bg;
	max-width:96%;
	border: 1px solid @tabbar-rect-border;
	.tab{
		height:@24px;
		border-right:1px solid @tabbar-rect-border;
	}
	.tab:nth-last-of-type(1){
		border-right:0;
	}
	.tab.active{
		color:@tabbar-rect-color-active;
		background-color:@tabbar-rect-bg-active;
	}
}
.tabbar-rect.reverse{
	color:@tabbar-rect-reverse-color;
	background-color: @tabbar-rect-reverse-bg;
	border: 1px solid @tabbar-rect-reverse-border;
	.tab{
		border-color: @tabbar-rect-reverse-border;
	}
	.tab.active{
		color:@tabbar-rect-reverse-color-active;
		background-color:@tabbar-rect-reverse-bg-active;
	}
}

//滑块形tabbar-lump
.tabbar-lump{
	color: @tabbar-lump-color;
	background-color: @tabbar-lump-bg;
	.tab .tab-label{
		padding:0 @12px;
		border-radius:@tabbar-lump-radius;
		height:@28px;
		line-height:@28px;

		color:@tabbar-lump-color;
		border: @1px solid @tabbar-lump-border;
	}
	.tab.active .tab-label{
		color:@tabbar-lump-color-active;
		background-color:@tabbar-lump-bg-active;
		border: @1px solid @tabbar-lump-border-active;
	}
}
.tabbar-lump.reverse{
	color: @tabbar-lump-reverse-color;
	background-color: @tabbar-lump-reverse-bg;
	.tab .tab-label{
		color:@tabbar-lump-reverse-color;
		border-color:@tabbar-lump-reverse-border;
	}
	.tab.active .tab-label{
		color:@tabbar-lump-reverse-border-active;
		background-color:@tabbar-lump-reverse-bg-active;
		border-color:@tabbar-lump-reverse-border-active;
	}
}
.tabbar-lump.animated{
	.tab{
		.tab-label{
			-webkit-transition-property:background-color,color;
			-webkit-transition-duration:300ms;
		}
	}
}
//下拉型tabbar-dropdown
.tabbar-dropdown{
	color: @tabbar-dropdown-color;
	background-color: @tabbar-dropdown-bg;
	.tab-label{
		max-width: 80px;
	}
	.tab:not(:first-child):after{
		.setContentLine(@tabbar-dropdown-border);
	}
	.tab:not(:first-child):after{
    width: 1px;
    height: 20px;
		top: 50%;
    left: 0;
    -webkit-transform: translate(0,-50%) scaleX(0.5);
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .tab:after {
			-webkit-transform: translate(0,-50%) scaleX(0.5);
		}
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .tab:after {
			-webkit-transform: translate(0,-50%) scaleX(0.33);
		}
	}
	.tab.active{
		color: @tabbar-dropdown-color-active;
		background-color: @tabbar-dropdown-bg-active;
		.icon{
			-webkit-transform:rotate(180deg)
    }
	}
}
.tabbar-dropdown.reverse{
	color: @tabbar-dropdown-reverse-color;
	background-color: @tabbar-dropdown-reverse-bg;
	.tab.active{
		color: @tabbar-dropdown-reverse-color-active;
		background-color: @tabbar-dropdown-reverse-bg-active;
	}
	.tab:after{
		background-color:@tabbar-dropdown-reverse-border;
  }
}
.tabbar-dropdown.animated{
	.tab{
		-webkit-transition: color 0.2s;
		.icon{
			-webkit-transition:-webkit-transform 0.2s;
		}
	}
}

//底部tabbar-footer
.tabbar-footer{
	color:@tabbar-footer-color;
	background-color: @tabbar-footer-bg;
	.tab{
		&:extend(.box-vertical);
		height: auto;
    padding: @6px 0;
	}
	.tab.active{
		color:@tabbar-footer-color-active;
		background-color: @tabbar-footer-bg-active;
	}
	.tab-label{
		display:block;
		font-size:@13px;
		height:@13px;
		line-height:@13px;
	}
	.tab-icon + .tab-label {
		margin:@5px auto 0 auto;
	}
}
.tabbar-footer.reverse{
	color:@tabbar-footer-reverse-color;
	background-color:@tabbar-footer-reverse-bg;
	.tab.active{
		color:@tabbar-footer-reverse-color-active;
		background-color: @tabbar-footer-reverse-bg-active;
	}
}
/*----------------tabbar.less(end)--------------*/