@import 'Base/UploadBase.less';

.upload {
  position: relative;
  // 上传中上传按钮需要转圈
  &.uploading {
    // pointer-events: none;
    // 隐藏重试,删除,添加
    .upload-reload,
    .upload-delete,
    .upload-choose-icon-add {
      display: none;
    }

    // 显示转圈
    .upload-choose {
      .upload-uploading {
        display: block;
      }
    }
  }
}
