@import 'Base/UploadBase.less';

.upload {
  // 上传中上传按钮需要转圈
  &.uploading {
    .upload-reload,
    .upload-delete {
      display: none;
    }
    .upload-choose {
      pointer-events: none;
      .upload-choose-icon-add {
        display: none;
      }
      .upload-button-loading {
        display: block;
      }
    }
  }
}
