/*------------------------------buttongroup.less(start)------------------------------*/
.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.button-group > span {
  display: inline-block;
  position: relative;
  float: left;
  padding: 6px 12px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 4px;
}
.button-group > span + span {
  margin-left: -1px;
}
.button-group > span input[type="text"] {
  height: 100%;
  line-height: 100%;
  background-color: transparent;
}
/*第一个按钮*/
.button-group > span:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/*中间按钮*/
.button-group > span:not(:first-child):not(:last-child) {
  border-radius: 0;
}
/*最后一个按钮*/
.button-group > span:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
/*横向自适应*/
.button-group.justify {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}
.button-group.justify span {
  display: table-cell;
  float: none;
  width: 1%;
}
/*纵向排列*/
.button-group.vertical > span {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.button-group.vertical > span + span {
  margin-top: -1px;
  margin-left: 0;
}
/*最上面的按钮*/
.button-group.vertical > span:first-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/*最下面的按钮*/
.button-group.vertical > span:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
/*只有一个按钮*/
.button-group > span:only-child {
  border-radius: 4px;
}
/*------------------------------buttongroup.less(end)------------------------------*/
