/*----------------error.less(start)--------------*/
.error-404,
.error-500,
.nowifi {
  margin: 0px auto;
  background-size: contain;
}
.nowifi {
  width: 200px;
  height: 200px;
}
.error-404,
.error-500 {
  width: 250px;
  height: 250px;
}
.nowifi {
  background-image: url(img/nowifi.svg);
}
.error-404 {
  background-image: url(img/404.svg);
}
.error-500 {
  background-image: url(img/500.svg);
}
.error {
  color: #888;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
/*----------------error.less(end)--------------*/
