/*---------------gauge.less(start)---------------*/
.gauge-box {
  position: relative;
  height: 400px;
  overflow: hidden;
  background-color: #1693ce;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.gauge-box.bg1 {
  animation-name: gauge-box-bg1;
  -webkit-animation-name: gauge-box-bg1;
}
@keyframes gauge-box-bg1 {
  0% {
    background-color: #1693ce;
  }
  100% {
    background-color: #19a4e5;
  }
}
@-webkit-keyframes gauge-box-bg1 {
  0% {
    background-color: #1693ce;
  }
  100% {
    background-color: #19a4e5;
  }
}
.gauge-box.bg2 {
  animation-name: gauge-box-bg2;
  -webkit-animation-name: gauge-box-bg2;
}
@keyframes gauge-box-bg2 {
  0% {
    background-color: #1693ce;
  }
  50% {
    background-color: #19a4e5;
  }
  100% {
    background-color: #14ba91;
  }
}
@-webkit-keyframes gauge-box-bg2 {
  0% {
    background-color: #1693ce;
  }
  50% {
    background-color: #19a4e5;
  }
  100% {
    background-color: #14ba91;
  }
}
.gauge-box.bg3 {
  animation-name: gauge-box-bg3;
  -webkit-animation-name: gauge-box-bg3;
}
@keyframes gauge-box-bg3 {
  0% {
    background-color: #1693ce;
  }
  33% {
    background-color: #19a4e5;
  }
  67% {
    background-color: #14ba91;
  }
  100% {
    background-color: #16c447;
  }
}
@-webkit-keyframes gauge-box-bg3 {
  0% {
    background-color: #1693ce;
  }
  33% {
    background-color: #19a4e5;
  }
  67% {
    background-color: #14ba91;
  }
  100% {
    background-color: #16c447;
  }
}
.gauge-box.bg4 {
  animation-name: gauge-box-bg4;
  -webkit-animation-name: gauge-box-bg4;
}
@keyframes gauge-box-bg4 {
  0% {
    background-color: #1693ce;
  }
  25% {
    background-color: #19a4e5;
  }
  50% {
    background-color: #14ba91;
  }
  75% {
    background-color: #16c447;
  }
  100% {
    background-color: #2fcf1f;
  }
}
@-webkit-keyframes gauge-box-bg4 {
  0% {
    background-color: #1693ce;
  }
  25% {
    background-color: #19a4e5;
  }
  50% {
    background-color: #14ba91;
  }
  75% {
    background-color: #16c447;
  }
  100% {
    background-color: #2fcf1f;
  }
}
.gauge-box.bg5 {
  animation-name: gauge-box-bg5;
  -webkit-animation-name: gauge-box-bg5;
}
@keyframes gauge-box-bg5 {
  0% {
    background-color: #1693ce;
  }
  20% {
    background-color: #19a4e5;
  }
  40% {
    background-color: #14ba91;
  }
  60% {
    background-color: #16c447;
  }
  80% {
    background-color: #2fcf1f;
  }
  100% {
    background-color: #7cce16;
  }
}
@-webkit-keyframes gauge-box-bg5 {
  0% {
    background-color: #1693ce;
  }
  20% {
    background-color: #19a4e5;
  }
  40% {
    background-color: #14ba91;
  }
  60% {
    background-color: #16c447;
  }
  80% {
    background-color: #2fcf1f;
  }
  100% {
    background-color: #7cce16;
  }
}
.gauge-box.bg6 {
  animation-name: gauge-box-bg6;
  -webkit-animation-name: gauge-box-bg6;
}
@keyframes gauge-box-bg6 {
  0% {
    background-color: #1693ce;
  }
  16% {
    background-color: #19a4e5;
  }
  33% {
    background-color: #14ba91;
  }
  50% {
    background-color: #16c447;
  }
  66% {
    background-color: #2fcf1f;
  }
  87% {
    background-color: #7cce16;
  }
  100% {
    background-color: #c0ac05;
  }
}
@-webkit-keyframes gauge-box-bg6 {
  0% {
    background-color: #1693ce;
  }
  16% {
    background-color: #19a4e5;
  }
  33% {
    background-color: #14ba91;
  }
  50% {
    background-color: #16c447;
  }
  66% {
    background-color: #2fcf1f;
  }
  87% {
    background-color: #7cce16;
  }
  100% {
    background-color: #c0ac05;
  }
}
.gauge-box.bg7 {
  animation-name: gauge-box-bg7;
  -webkit-animation-name: gauge-box-bg7;
}
@keyframes gauge-box-bg7 {
  0% {
    background-color: #1693ce;
  }
  14% {
    background-color: #19a4e5;
  }
  28% {
    background-color: #14ba91;
  }
  43% {
    background-color: #16c447;
  }
  57% {
    background-color: #2fcf1f;
  }
  71% {
    background-color: #7cce16;
  }
  86% {
    background-color: #c0ac05;
  }
  100% {
    background-color: #c26900;
  }
}
@-webkit-keyframes gauge-box-bg7 {
  0% {
    background-color: #1693ce;
  }
  14% {
    background-color: #19a4e5;
  }
  28% {
    background-color: #14ba91;
  }
  43% {
    background-color: #16c447;
  }
  57% {
    background-color: #2fcf1f;
  }
  71% {
    background-color: #7cce16;
  }
  86% {
    background-color: #c0ac05;
  }
  100% {
    background-color: #c26900;
  }
}
.gauge-box.bg8 {
  animation-name: gauge-box-bg8;
  -webkit-animation-name: gauge-box-bg8;
}
@keyframes gauge-box-bg8 {
  0% {
    background-color: #1693ce;
  }
  12% {
    background-color: #19a4e5;
  }
  25% {
    background-color: #14ba91;
  }
  37% {
    background-color: #16c447;
  }
  50% {
    background-color: #2fcf1f;
  }
  62% {
    background-color: #7cce16;
  }
  75% {
    background-color: #c0ac05;
  }
  87% {
    background-color: #c26900;
  }
  100% {
    background-color: #c02e00;
  }
}
@-webkit-keyframes gauge-box-bg8 {
  0% {
    background-color: #1693ce;
  }
  12% {
    background-color: #19a4e5;
  }
  25% {
    background-color: #14ba91;
  }
  37% {
    background-color: #16c447;
  }
  50% {
    background-color: #2fcf1f;
  }
  62% {
    background-color: #7cce16;
  }
  75% {
    background-color: #c0ac05;
  }
  87% {
    background-color: #c26900;
  }
  100% {
    background-color: #c02e00;
  }
}
.gauge-box.bg9 {
  animation-name: gauge-box-bg9;
  -webkit-animation-name: gauge-box-bg9;
}
@keyframes gauge-box-bg9 {
  0% {
    background-color: #1693ce;
  }
  11% {
    background-color: #19a4e5;
  }
  22% {
    background-color: #14ba91;
  }
  33% {
    background-color: #16c447;
  }
  44% {
    background-color: #2fcf1f;
  }
  55% {
    background-color: #7cce16;
  }
  67% {
    background-color: #c0ac05;
  }
  78% {
    background-color: #c26900;
  }
  89% {
    background-color: #c02e00;
  }
  100% {
    background-color: #bf1200;
  }
}
@-webkit-keyframes gauge-box-bg9 {
  0% {
    background-color: #1693ce;
  }
  11% {
    background-color: #19a4e5;
  }
  22% {
    background-color: #14ba91;
  }
  33% {
    background-color: #16c447;
  }
  44% {
    background-color: #2fcf1f;
  }
  55% {
    background-color: #7cce16;
  }
  67% {
    background-color: #c0ac05;
  }
  78% {
    background-color: #c26900;
  }
  89% {
    background-color: #c02e00;
  }
  100% {
    background-color: #bf1200;
  }
}
.gauge-box.bg10 {
  animation-name: gauge-box-bg10;
  -webkit-animation-name: gauge-box-bg10;
}
@keyframes gauge-box-bg10 {
  0% {
    background-color: #1693ce;
  }
  10% {
    background-color: #19a4e5;
  }
  20% {
    background-color: #14ba91;
  }
  30% {
    background-color: #16c447;
  }
  40% {
    background-color: #2fcf1f;
  }
  50% {
    background-color: #7cce16;
  }
  60% {
    background-color: #c0ac05;
  }
  70% {
    background-color: #c26900;
  }
  80% {
    background-color: #c02e00;
  }
  90% {
    background-color: #bf1200;
  }
  100% {
    background-color: #760403;
  }
}
@-webkit-keyframes gauge-box-bg10 {
  0% {
    background-color: #1693ce;
  }
  10% {
    background-color: #19a4e5;
  }
  20% {
    background-color: #14ba91;
  }
  30% {
    background-color: #16c447;
  }
  40% {
    background-color: #2fcf1f;
  }
  50% {
    background-color: #7cce16;
  }
  60% {
    background-color: #c0ac05;
  }
  70% {
    background-color: #c26900;
  }
  80% {
    background-color: #c02e00;
  }
  90% {
    background-color: #bf1200;
  }
  100% {
    background-color: #760403;
  }
}
.gauge {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-image: url(img/gauge/gauge.png);
  background-size: 100% 100%;
}
.gauge-pointer {
  position: absolute;
  bottom: 45px;
  left: 52px;
  height: 60px;
  width: 60px;
  background-image: url(img/gauge/gauge-pointer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform-origin: 48px 13.5px;
  -webkit-transition: all 0.5s;
}
.gauge-text {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #59bdfc;
}
.gauge-wave {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 1136px;
  background-image: url(img/gauge/wave.png);
  background-repeat: repeat-x;
  background-position-x: 0;
  background-position-y: top;
  background-size: 960px auto;
  opacity: 0.2;
  -webkit-animation: lrWave 10s linear infinite;
  animation: lrWave 10s linear infinite;
}
@-webkit-keyframes lrWave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 960px;
  }
}
@keyframes lrWave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 960px;
  }
}
/*---------------gauge.less(end)---------------*/
