/*----------------grid.less(start)--------------*/
.grid:after {
  display: table;
  content: '';
  clear: both;
  zoom: 1;
}
.grid li {
  width: 33%;
  float: left;
  text-align: center;
}
.grid[data-rowspace="0"] li {
  margin-top: 0px;
}
.grid[data-rowspace="6"] li {
  margin-top: 6px;
}
.grid[data-rowspace="6"] li:last-child {
  margin-bottom: 8px;
}
.grid[data-rowspace="8"] li {
  margin-top: 8px;
}
.grid[data-rowspace="8"] li:last-child {
  margin-bottom: 10px;
}
.grid[data-rowspace="10"] li {
  margin-top: 10px;
}
.grid[data-rowspace="10"] li:last-child {
  margin-bottom: 12px;
}
.grid[data-rowspace="12"] li {
  margin-top: 12px;
}
.grid[data-rowspace="12"] li:last-child {
  margin-bottom: 14px;
}
.grid[data-rowspace="30"] li {
  margin-top: 30px;
}
.grid[data-rowspace="30"] li:last-child {
  margin-bottom: 32px;
}
.grid li > label {
  display: block;
  width: 80%;
  height: 30px;
  margin: 0px auto;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.grid li a {
  position: relative;
  box-sizing: border-box;
  display: box;
  display: -webkit-box;
  box-pack: center;
  -webkit-box-pack: center;
  box-align: center;
  -webkit-box-align: center;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.grid li .tip,
.grid li .close {
  position: absolute;
  display: block;
  top: -5px;
  right: -5px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 100%;
  font-size: 8px;
}
.grid li .tip {
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid li .close {
  /*图片*/
  background-size: cover;
  border-radius: 100%;
  /*文字图标*/
  border-width: 2px;
  border-style: solid;
  color: white;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
.grid[data-col="2"] li {
  width: 50%;
}
.grid[data-col="3"] li {
  width: 33.33%;
}
.grid[data-col="4"] li {
  width: 25%;
}
.grid[data-col="5"] li {
  width: 20%;
}
/*应用图标控件*/
.grid.app li > a {
  width: 64px;
  height: 64px;
  margin: 0px auto;
  border-radius: 8px;
}
.grid.app li > a > [class*="icon-"],
.grid.app li > a > img {
  /*文字图标*/
  font-size: 32px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-size: cover;
}
/*缩略图控件*/
.grid.thumbnail,
.grid.thumbnail li,
.grid.album,
.grid.album li {
  box-sizing: border-box;
  padding: 5px;
}
.grid.thumbnail li > a {
  position: relative;
  width: 100%;
}
.grid.thumbnail li > a img {
  width: 100%;
}
/*相册控件*/
.grid.album li > a {
  width: 100%;
  height: 110px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}
.grid.album .default {
  color: #cccccc;
  background-color: #ddd;
  font-size: 48px;
}
/*圆形框*/
.grid.round li > a {
  border-radius: 100%;
}
/*----------------grid.less(end)----------------*/
