/*----------------inputbox.less(start)--------------*/
.input-box [class*="icon-"] {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  font-size: 24px;
}
.input-box [class*="icon-"]:active {
  background-position: center bottom;
}
/*图标文本框容器*/
.input-box {
  position: relative;
  display: block;
  box-sizing: border-box;
  line-height: 40px;
  /*margin: 0 9px;*/
  border-style: solid;
  border-width: 1px;
  padding: 0 10px;
  line-height: 0;
  border-color: #ddd;
}
/*纯文本框容器*/
.inputbox {
  position: relative;
  box-sizing: border-box;
}
.inputbox .chat-input {
  font-size: 14px;
  width: 100%;
  height: 32px;
  padding: 0 4px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: #f7f7f7;
}
.inputbox .chat-input:focus {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: #fff;
}
/*图标文本框容器内图标*/
.input-box i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.input-box.lricon {
  padding: 0 40px;
}
.input-box.lricon i:first-child {
  left: 8px;
}
.input-box.lricon i:last-child {
  right: 8px;
}
.input-box.licon {
  padding-left: 40px;
}
.input-box.licon i {
  left: 8px;
}
.input-box.ricon {
  padding-right: 40px;
}
.input-box.ricon i {
  right: 8px;
}
/*用图标自身控制位置*/
.input-box .licon {
  left: 8px;
}
.input-box .ricon {
  right: 8px;
}
.input-box input,
.input-box select,
.input-box keygen,
.input-box textarea,
.input-box .input-text {
  width: 100%;
  border: 0;
}
/*inputbox内部的label*/
.input-box label {
  line-height: 30px;
}
/*----------------inputbox.less(end)--------------*/
