.color-body {
  color: @body-color;
}
.color-sub {
  color: @sub;
}
.color-placeholder {
  color: @placeholder;
}
// 常用色
.color-link {
  color: @link-bg;
}
.color-primary {
  color: @primary;
}
.color-disabled {
  color: @disabled-bg;
}
.color-submit {
  color: @submit-bg;
}
.color-cancel {
  color: @cancel-bg;
}
.color-success {
  color: @success-bg;
}
.color-info {
  color: @info-bg;
}
.color-link {
  color: @link-bg;
}
.color-warn {
  color: @warn-bg;
}
.color-badge {
  color: @badge-bg;
}
.color-hint {
  color: @hint-bg;
}

// 背景颜色
.bg-body {
  background-color: @body-bg;
}
.bg-transparent {
  background-color: transparent;
}
.bg-primary {
  background-color: @primary;
}
.bg-white {
  background-color: white;
}

.bg-disabled {
  background-color: @disabled-bg;
}
.bg-submit {
  background-color: @submit-bg;
}
.bg-cancel {
  background-color: @cancel-bg;
}
.bg-success {
  background-color: @success-bg;
}
.bg-info {
  background-color: @info-bg;
}
.bg-link {
  background-color: @link-bg;
}
.bg-warn {
  background-color: @warn-bg;
}
.bg-hint {
  background-color: @hint-bg;
}
.bg-badge {
  background-color: @badge-bg;
}
.bg-primary,
.bg-disabled,
.bg-submit,
.bg-cancel,
.bg-success,
.bg-info,
.bg-warn,
.bg-badge,
.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5,
.bg-6,
.bg-7,
.bg-8,
.bg-9,
.bg-10 {
  color: white;
}
.bg-1 {
  background-color: @random1-bg;
}
.bg-2 {
  background-color: @random2-bg;
}
.bg-3 {
  background-color: @random3-bg;
}
.bg-4 {
  background-color: @random4-bg;
}
.bg-5 {
  background-color: @random5-bg;
}
.bg-6 {
  background-color: @random6-bg;
}
.bg-7 {
  background-color: @random7-bg;
}
.bg-8 {
  background-color: @random8-bg;
}
.bg-9 {
  background-color: @random9-bg;
}
.bg-10 {
  background-color: @random10-bg;
}
// 随机色
.color-white {
  color: white;
}
.color-default {
  color: @body-color;
}
.color-1 {
  color: @random1-bg;
}
.color-2 {
  color: @random2-bg;
}
.color-3 {
  color: @random3-bg;
}
.color-4 {
  color: @random4-bg;
}
.color-5 {
  color: @random5-bg;
}
.color-6 {
  color: @random6-bg;
}
.color-7 {
  color: @random7-bg;
}
.color-8 {
  color: @random8-bg;
}
.color-9 {
  color: @random9-bg;
}
.color-10 {
  color: @random10-bg;
}
// 随机色-边框
.border-color-1 {
  border-color: @random1-bg;
}
.border-color-2 {
  border-color: @random2-bg;
}
.border-color-3 {
  border-color: @random3-bg;
}
.border-color-4 {
  border-color: @random4-bg;
}
.border-color-5 {
  border-color: @random5-bg;
}
.border-color-6 {
  border-color: @random6-bg;
}
.border-color-7 {
  border-color: @random7-bg;
}
.border-color-8 {
  border-color: @random8-bg;
}
.border-color-9 {
  border-color: @random9-bg;
}
.border-color-10 {
  border-color: @random10-bg;
}
