// 常用色
.color-white {
  color: white;
}
.color-disabled {
  color: @disabled;
}
.color-default {
  color: @default;
}
.color-secondary {
  color: @secondary;
}
.color-primary {
  color: @primary;
}
.color-link {
  color: @link;
}
.color-warning {
  color: @warning;
}
.color-danger {
  color: @danger;
}
.color-success {
  color: @success;
}

// 背景颜色
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  background-color: white;
}
.bg-body {
  background-color: @body-bg-color;
}
.bg-disabled {
  background-color: @disabled;
}
.bg-primary {
  background-color: @primary;
}
.bg-link {
  background-color: @link;
}
.bg-warning {
  background-color: @warning;
}
.bg-danger {
  background-color: @danger;
}
.bg-success {
  background-color: @success;
}
