// Size 正方形尺寸大小和文字大小
// 定义size, 从size8开始
.setSize(@n, @i:8) when(@i<@n) {
  .size@{i} {
    width: unit(@i, px);
    height: unit(@i, px);
  }
  .icon.size@{i} {
    width: unit(@i, px);
    height: unit(@i, px);
    font-size: unit(@i, px);
  }
  .setSize(@n,(@i+2));
}

.setSize(100);

// 文字大小
.font-size-xl {
  font-size: @font-size-xl;
}
.font-size-lg {
  font-size: @font-size-lg;
}
.font-size-md {
  font-size: @font-size-md;
}
.font-size-sm {
  font-size: @font-size-sm;
}
