// default
@button-default-color: @default;
@button-default-bg-color: transparent;
@button-default-border-color: @border;
@button-default-disabled-color: #adadad;
@button-default-disabled-bg: #f3f4f5;
@button-default-disabled-border-color: #e5e5e5;
// primary
@button-primary-color: white;
@button-primary-bg-color: @primary;
@button-primary-border-color: @primary;
@button-primary-disabled-color: white;
@button-primary-disabled-bg: @disabled;
@button-primary-disabled-border-color: @disabled;
// link
@button-link-color: white;
@button-link-bg-color: @link;
@button-link-border-color: @link;
@button-link-disabled-color: white;
@button-link-disabled-bg: @disabled;
@button-link-disabled-border-color: @disabled;
// warning
@button-warning-color: white;
@button-warning-bg-color: @warning;
@button-warning-border-color: @warning;
@button-warning-disabled-color: white;
@button-warning-disabled-bg: @disabled;
@button-warning-disabled-border-color: @disabled;
// danger
@button-danger-color: white;
@button-danger-bg-color: @danger;
@button-danger-border-color: @danger;
@button-danger-disabled-color: white;
@button-danger-disabled-bg: @disabled;
@button-danger-disabled-border-color: @disabled;
// success
@button-success-color: white;
@button-success-bg-color: @success;
@button-success-border-color: @success;
@button-success-disabled-color: white;
@button-success-disabled-bg: @disabled;
@button-success-disabled-border-color: @disabled;
// default + outline
@button-default-color: @default;
@button-default-bg-color: transparent;
@button-default-border-color: @border;
@button-default-disabled-color: white;
@button-default-disabled-bg: @disabled;
@button-default-disabled-border-color: @disabled;
// primary + outline
@button-primary-color: @primary;
@button-primary-bg-color: transparent;
@button-primary-border-color: @primary;
@button-primary-disabled-color: lighten(@primary, 50%);
@button-primary-disabled-bg: transparent;
@button-primary-disabled-border-color: lighten(@primary, 50%);
// link + outline
@button-link-color: @link;
@button-link-bg-color: transparent;
@button-link-border-color: @link;
@button-link-disabled-color: lighten(@link, 50%);
@button-link-disabled-bg: transparent;
@button-link-disabled-border-color: lighten(@link, 50%);
// warning + outline
@button-warning-color: @warning;
@button-warning-bg-color: transparent;
@button-warning-border-color: @warning;
@button-warning-disabled-color: lighten(@warning, 50%);
@button-warning-disabled-bg: transparent;
@button-warning-disabled-border-color: lighten(@warning, 50%);
// danger + outline
@button-danger-color: @danger;
@button-danger-bg-color: transparent;
@button-danger-border-color: @danger;
@button-danger-disabled-color: lighten(@danger, 50%);
@button-danger-disabled-bg: transparent;
@button-danger-disabled-border-color: lighten(@danger, 50%);
// success + outline
@button-success-color: @success;
@button-success-bg-color: transparent;
@button-success-border-color: @success;
@button-success-disabled-color: lighten(@success, 50%);
@button-success-disabled-bg: transparent;
@button-success-disabled-border-color: lighten(@success, 50%);
