// 尺寸
.button-xs() {
  height: 20px;
  padding: 0 5px;
  font-size: 12px;
}
.button-s() {
  height: 24px;
  padding: 0 12px;
  font-size: 12px;
}
.button-m() {
}
.button-l() {
  height: 44px;
  padding: 0 12px;
  font-size: @font-size-l;
}
.button-xl() {
  height: 54px;
  padding: 0 15px;
  // 字号太大会不好看
  font-size: @font-size-l;
}

// 颜色
// default
@button-default-color: @default;
@button-default-bg-color: transparent;
@button-default-border-color: @border-color;
@button-default-disabled-color: #adadad;
@button-default-disabled-bg-color: #f3f4f5;
@button-default-disabled-border-color: #e5e5e5;
// primary
@button-primary-color: white;
@button-primary-bg-color: @primary;
@button-primary-border-color: @primary;
@button-primary-disabled-color: white;
@button-primary-disabled-bg-color: @disabled;
@button-primary-disabled-border-color: @disabled;
// link
@button-link-color: white;
@button-link-bg-color: @link;
@button-link-border-color: @link;
@button-link-disabled-color: white;
@button-link-disabled-bg-color: @disabled;
@button-link-disabled-border-color: @disabled;
// warning
@button-warning-color: white;
@button-warning-bg-color: @warning;
@button-warning-border-color: @warning;
@button-warning-disabled-color: white;
@button-warning-disabled-bg-color: @disabled;
@button-warning-disabled-border-color: @disabled;
// danger
@button-danger-color: white;
@button-danger-bg-color: @danger;
@button-danger-border-color: @danger;
@button-danger-disabled-color: white;
@button-danger-disabled-bg-color: @disabled;
@button-danger-disabled-border-color: @disabled;
// success
@button-success-color: white;
@button-success-bg-color: @success;
@button-success-border-color: @success;
@button-success-disabled-color: white;
@button-success-disabled-bg-color: @disabled;
@button-success-disabled-border-color: @disabled;
// default + outline
@button-default-outline-color: @default;
@button-default-outline-bg-color: transparent;
@button-default-outline-border-color: @border-color;
@button-default-outline-disabled-color: #adadad;
@button-default-outline-disabled-bg-color: transparent;
@button-default-outline-disabled-border-color: #e5e5e5;

// primary + outline
@button-primary-outline-color: @primary;
@button-primary-outline-bg-color: transparent;
@button-primary-outline-border-color: @primary;
@button-primary-outline-disabled-color: @disabled;
@button-primary-outline-disabled-bg-color: transparent;
@button-primary-outline-disabled-border-color: @disabled;
// link + outline
@button-link-outline-color: @link;
@button-link-outline-bg-color: transparent;
@button-link-outline-border-color: @link;
@button-link-outline-disabled-color: @disabled;
@button-link-outline-disabled-bg-color: transparent;
@button-link-outline-disabled-border-color: @disabled;
// warning + outline
@button-warning-outline-color: @warning;
@button-warning-outline-bg-color: transparent;
@button-warning-outline-border-color: @warning;
@button-warning-outline-disabled-color: @disabled;
@button-warning-outline-disabled-bg-color: transparent;
@button-warning-outline-disabled-border-color: @disabled;
// danger + outline
@button-danger-outline-color: @danger;
@button-danger-outline-bg-color: transparent;
@button-danger-outline-border-color: @danger;
@button-danger-outline-disabled-color: @disabled;
@button-danger-outline-disabled-bg-color: transparent;
@button-danger-outline-disabled-border-color: @disabled;
// success + outline
@button-success-outline-color: @success;
@button-success-outline-bg-color: transparent;
@button-success-outline-border-color: @success;
@button-success-outline-disabled-color: @disabled;
@button-success-outline-disabled-bg-color: transparent;
@button-success-outline-disabled-border-color: @disabled;
