// 颜色
// default
@mark-default-color: @default;
@mark-default-bg-color: white;
@mark-default-border-color: @border-color;
// primary
@mark-primary-color: white;
@mark-primary-bg-color: @primary;
@mark-primary-border-color: @primary;
// link
@mark-link-color: white;
@mark-link-bg-color: @link;
@mark-link-border-color: @link;
// warning
@mark-warning-color: white;
@mark-warning-bg-color: @warning;
@mark-warning-border-color: @warning;
// danger
@mark-danger-color: white;
@mark-danger-bg-color: @danger;
@mark-danger-border-color: @danger;
// success
@mark-success-color: white;
@mark-success-bg-color: @success;
@mark-success-border-color: @success;
// default + outline
@mark-default-outline-color: @default;
@mark-default-outline-bg-color: transparent;
@mark-default-outline-border-color: @border-color;
// primary + outline
@mark-primary-outline-color: @primary;
@mark-primary-outline-bg-color: transparent;
@mark-primary-outline-border-color: @primary;
// link + outline
@mark-link-outline-color: @link;
@mark-link-outline-bg-color: transparent;
@mark-link-outline-border-color: @link;
// warning + outline
@mark-warning-outline-color: @warning;
@mark-warning-outline-bg-color: transparent;
@mark-warning-outline-border-color: @warning;
// danger + outline
@mark-danger-outline-color: @danger;
@mark-danger-outline-bg-color: transparent;
@mark-danger-outline-border-color: @danger;
// success + outline
@mark-success-outline-color: @success;
@mark-success-outline-bg-color: transparent;
@mark-success-outline-border-color: @success;
// default + light
@mark-default-light-bg-color: white;
// primary + light
@mark-primary-light-bg-color: #fff7e6;
// link + light
@mark-link-light-bg-color: #e6f4ff;
// warning + light
@mark-warning-light-bg-color: #fffbe6;
// danger + light
@mark-danger-light-bg-color: #fff1f0;
// success + light
@mark-success-light-bg-color: #f6ffed;
