// 结果页面
.map-result {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  .flex;
  .flex-center;
  .flex-middle;
  .flex-vertical;
  gap: 12px;
}
.map-result-title {
  .font-size-l;
}
.map-result-subtitle {
  .color-secondary;
}

.map-result-button-retry {
  border-radius: 8px;
}
