// DateType日期类型选择 (@deprecated废弃, 使用DatePicker.Tabs代替)
.datetype {
  .flex;
  .flex-middle;
  height: 44px;
  padding: 0 12px;
}
.datetype-tabbar {
  height: 24px;
  margin: 0 !important;
  border-radius: 4px;
}
.datetype-content {
  .flex-1;
}
.datetype-date {
  display: inline-block;
}
.datetype-prev {
}
.datetype-next {
}
