// 小点点
.dot {
  position: relative;
  width: 5px;

  height: 5px;
  overflow: hidden;
  font-size: @font-size-s;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: middle;

  background-color: #b6b6b6;
  border-radius: 100%;
  .inline-flex;
  .flex-middle;
  .flex-center;
}
