// ImgMark
.imgmark {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}
.imgmark-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%);
  &.active {
    display: block;
  }
}
// 加载中
.imgmark-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  &.active {
    display: block;
  }
}
.imgmark-loading-icon {
  @-webkit-keyframes rotateIn {
    0% {
      -webkit-transform: rotate(0);
      -webkit-transform-origin: center center;
    }

    100% {
      -webkit-transform: rotate(360deg);
      -webkit-transform-origin: center center;
    }
  }
  width: 24px;
  height: 24px;
  background-image: url(//res.waiqin365.com/d/seedsui/icon/loading.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: rotateIn 1s linear infinite;
}
// 加载错误
.imgmark-error {
  .flex;
  .flex-middle;
  .flex-center;
  .flex-vertical;
  display: none;
  height: 100%;
  &.active {
    .flex;
  }
}
.imgmark-error-icon {
  width: 60px;
  height: 60px;
  color: #d8d8d8;
  font-size: 60px;
  font-family: iconfont;
  &:extend(.icon-pic-error all);
}
.imgmark-error-caption {
  margin-top: 4px;
  color: #d8d8d8;
  &:extend(.font-size-s);
}
