// PDFView文件预览
.pdf-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #ccc;
  &.scroll {
    overflow-y: auto;
  }
}
.pdf-wrapper {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pdf-page + .pdf-page {
  margin-top: 10px;
}
.pdf-page {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 100px;
  line-height: 0;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  .pdf-page-img {
    width: 100%;
  }
  .pdf-page-load {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: var(--auxiliary);
    .flex;
    .flex-middle;
    .flex-center;
  }
  .pdf-page-error {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: var(--auxiliary);
    .flex;
    .flex-middle;
    .flex-center;
  }
  .pdf-page-nodata {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: var(--auxiliary);
    .flex;
    .flex-middle;
    .flex-center;
  }
  .hide {
    .hide;
  }
}
// 绘制容器
.pdf-page-draw {
}
// 绘制节点容器
.pdf-page-elements {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
// 绘制节点
.pdf-page-element {
}
