// Ticket票券
@ticket-sawtooth-bg: #e86366;
@ticket-disabled-sawtooth-bg: #b9bec5;
.ticket {
  position: relative;
  height: 112px;
  margin: 12px 14px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  .flex;
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9px;
    display: block;
    width: 14px;
    background-image: linear-gradient(-45deg, @ticket-sawtooth-bg 25%, transparent 25%, transparent),
      linear-gradient(-135deg, @ticket-sawtooth-bg 25%, transparent 25%, transparent),
      linear-gradient(-45deg, transparent 75%, @ticket-sawtooth-bg 75%),
      linear-gradient(-135deg, transparent 75%, @ticket-sawtooth-bg 75%);
    background-position: 100% 35%;
    background-size: 28px 7px;
    content: '';
  }
  &.disabled {
    // 禁用状态不能禁止点击, 因为有可能禁用时也需要点击里面的元素
    &:after {
      background-image: linear-gradient(
          -45deg,
          @ticket-disabled-sawtooth-bg 25%,
          transparent 25%,
          transparent
        ),
        linear-gradient(-135deg, @ticket-disabled-sawtooth-bg 25%, transparent 25%, transparent),
        linear-gradient(-45deg, transparent 75%, @ticket-disabled-sawtooth-bg 75%),
        linear-gradient(-135deg, transparent 75%, @ticket-disabled-sawtooth-bg 75%);
    }
    .ticket-legend {
      color: white;
      background-image: linear-gradient(90deg, #b9bec5 1%, #cdd1d6 100%);
    }
  }
}
.ticket-legend {
  .flex;
  .flex-middle;
  .flex-center;
  width: 100px;
  height: 100%;
  color: white;
  background-image: linear-gradient(90deg, #e86366 1%, #fd905c 100%);
}
.ticket-content {
  .flex-1;
  height: 100%;
}
// 换肤
@ticket-sawtooth-bg-bule: #5d7de4;
.ticket.blue {
  &:after {
    background-image: linear-gradient(
        -45deg,
        @ticket-sawtooth-bg-bule 25%,
        transparent 25%,
        transparent
      ),
      linear-gradient(-135deg, @ticket-sawtooth-bg-bule 25%, transparent 25%, transparent),
      linear-gradient(-45deg, transparent 75%, @ticket-sawtooth-bg-bule 75%),
      linear-gradient(-135deg, transparent 75%, @ticket-sawtooth-bg-bule 75%);
  }
  .ticket-legend {
    background-image: linear-gradient(90deg, #5d7de4 1%, #40a0e8 100%);
  }
}
