@import 'api/ModalAlert.less';
@import 'SelectCombo/SelectCombo.less';
@import 'SelectModal/SelectModal.less';
@import 'FilterModal/FilterModal.less';

// Modal遮罩, 基于.mask
.modal {
  position: absolute;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  // 动画使用.popup-animation
}
