@import 'api/ModalAlert.less';
@import 'Combo/ModalCombo.less';

// Modal遮罩, 基于.mask
.modal-mask {
  &.active {
    z-index: 2;
  }
}

.modal {
  position: absolute;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  // 动画使用.popup-animation
}
