// 拾色器
input[type='color'] {
  width: 44px;
  height: 24px;
  padding: 0;
  background-color: #eee;
  border-width: 0;
}
::-webkit-color-swatch-wrapper {
  background-color: white;
  border-color: @border;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
::-webkit-color-swatch {
  position: relative;
  top: -2px;
  left: 0;
  height: 18px;
  border: none;
}
