/*----------------sharebox.less(start)--------------*/
.sharebox {
  padding: 12px;
  background-color: white;
  box-sizing: border-box;
}
.sharebox-caption {
  font-size: 17px;
  text-align: center;
  padding: 10px 0;
}
.sharebox-close {
  display: block;
  margin: 16px 0 12px 0;
  text-align: center;
}
.sharebox-close .icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  color: #363434;
}
.sharebox .grid {
  padding: 0 20px;
}
.sharebox li {
  padding-top: 12px;
}
.sharebox li a {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: white;
}
.sharebox li label {
  margin-top: 6px;
}
.sharebox li a i {
  font-size: 30px;
  width: 30px;
  height: 30px;
  pointer-events: none;
}
/*----------------sharebox.less(start)--------------*/
