/*----------------price.less(start)----------------*/
.price{
  display: inline-block;
  color: @price;
  font-size: 12px;
  vertical-align: bottom;
}
.price-integer{
  font-size: @16px;
}
.price-unit{
  display: inline-block;
  vertical-align:middle;
  color: @priceunit;
  margin-left:5px;
}
/*----------------price.less(end)----------------*/