@import 'Button/NavBarButton.less';
@import 'Title/NavBarTitle.less';

.navbar {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 46px;
  padding: 0 12px;
  background-color: var(--app-background-color);
  .border-b;
}
