// DatePicker

// 快捷选择容器
.datepicker-selector {
  padding: 12px;
}

// 时间区间控件：标题与按钮
.datepicker-selector-title {
  margin: 12px 0px;
}

// DatePicker.Type
.datepicker-types {
  .flex;
  .flex-middle;
  height: 44px;
  padding: 0 12px;
}
.datepicker-types-content {
  .flex;
  .flex-right;
  .flex-middle;
  .flex-1;
}
.datepicker-types-date {
  display: inline-block;
}
.datepicker-types-prev {
}
.datepicker-types-next {
}

// 日期区间控件-自定义
.datepicker-rangemain-custom {
  display: flex;
  align-items: center;
  gap: 8px;
  .input-wrapper {
    background-color: #f3f4f5;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 8px;
  }
  .input-text {
    padding: 8px 0;
  }
}
// 日期区间控件距离选项组间距
.selector + .datepicker-rangemain-custom {
  margin-top: 8px;
}

// 周
.datepicker-weekmain-calendar {
  margin: 0 12px;
}
