// Result
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
  }
}

// 不能设置margin: -15% auto 0; 在弹窗中会把头遮住
.result-image {
  width: 160px;
  margin: 0 auto;
}

.result-title {
  color: var(--secondary);
  margin: 6px 20px 0;
  text-align: center;
}

.result-description {
  color: var(--tertiary);
  margin: 6px 20px 0;
  text-align: center;
  font-size: var(--font-size-s);
}

.result-button {
  display: flex;
  height: 40px;
  margin: 0 12px;
  border-radius: 10px;
  font-size: @font-size-l;
}

.result-button + .result-button {
  margin-top: 16px;
}
