// 密码强度
@input-password-strength-color: white;
@input-password-strength-height: 30px;
@input-password-strength-wing: 1px;
@input-password-strength-bg: #b6b6b6;
@input-password-strength-bg1: @danger;
@input-password-strength-bg2: @warning;
@input-password-strength-bg3: @success;
.input-password-strength {
  .flex;
  height: @input-password-strength-height;
  color: @input-password-strength-color;
  li {
    position: relative;
    margin-left: @input-password-strength-wing;
    background-color: @input-password-strength-bg;
    .flex;
    .flex-1;
    .flex-middle;
    .flex-center;
    &:nth-of-type(1) {
      margin-left: 0px;
      .input-password-strength-progress {
        background-color: @input-password-strength-bg1;
      }
    }
    &:nth-of-type(2) {
      .input-password-strength-progress {
        background-color: @input-password-strength-bg2;
      }
    }
    &:nth-of-type(3) {
      .input-password-strength-progress {
        background-color: @input-password-strength-bg3;
      }
    }
  }
  &.level1 {
    li:nth-of-type(1) .input-password-strength-progress {
      width: 100%;
    }
  }
  &.level2 {
    li:nth-of-type(1) .input-password-strength-progress {
      width: 100%;
    }
    li:nth-of-type(2) .input-password-strength-progress {
      width: 100%;
    }
  }
  &.level3 {
    li:nth-of-type(1) .input-password-strength-progress {
      width: 100%;
    }
    li:nth-of-type(2) .input-password-strength-progress {
      width: 100%;
    }
    li:nth-of-type(3) .input-password-strength-progress {
      width: 100%;
    }
  }
}
.input-password-strength-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition-duration: @animation-duration;
  transition-property: width;
}
.input-password-strength-caption {
  position: relative;
  display: block;
}
