.space-compact {
  display: flex;
}

// Button
.button.button-compact-item,
.toolbar-button.toolbar-button-compact-item {
  // Sibling border merge
  margin-inline-end: -1px;
  border-radius: 0;
}
.button.button-compact-first-item,
.toolbar-button.toolbar-button-compact-first-item {
  border-top-left-radius: var(--radius-m);
  border-bottom-left-radius: var(--radius-m);
}
.button.button-compact-last-item,
.toolbar-button.toolbar-button-compact-last-item {
  border-top-right-radius: var(--radius-m);
  border-bottom-right-radius: var(--radius-m);
}
