// ToolBar button
.toolbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: white;
  border-width: 0;
  &.button-compact-item:not(.button-compact-first-item) {
    border-left-width: 1px;
  }
}
