// ToolBar button
.toolbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 12px;
  background-color: white;
  border-radius: 8px;
  border: 0;

  &.toolbar-button-compact-item:not(.toolbar-button-compact-first-item) {
    border-left-width: 1px;
    border-color: var(--border);
    border-style: solid;
  }
}
