@import './SpinFade/SpinFade.less';
@import './Ouroboros/Ouroboros.less';

// Loading
// 是否允许点击
.loading-propagation {
  pointer-events: none;
}

// 遮罩, 基于.mask
.loading-mask {
  background-color: transparent;
  transition-duration: 0ms;
  &.active {
    .flex;
    .flex-middle;
    .flex-center;
  }
  z-index: 11;
}
.loading {
  .flex;
  .flex-middle;
  .flex-center;
  .flex-vertical;
  min-width: 80px;
  max-width: 90%;
  height: 80px;
  margin-top: -50px;
  padding: 0 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}
.loading-content {
  font-size: var(--font-size-s);
}
.loading-icon {
  margin: 10px auto 10px;
}
