// Loading
// 是否允许点击
.loading-propagation {
  pointer-events: none;
}

// 遮罩, 基于.mask
.loading-mask {
  background-color: transparent;
  transition-duration: 0ms;
  &.active {
    .flex;
    .flex-middle;
    .flex-center;
  }
  z-index: 11;
}

// 自定义
.loading-custom {
  .flex;
  .flex-middle;
  .flex-center;
  .flex-vertical;
  // height: auto;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // text-align: center;
  // transform: translate(-50%,-50%);
}
.loading-custom-icon {
  width: 24px;
  height: 24px;
  background-image: url(//res.waiqin365.com/d/dinghuo365/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.loading-custom-caption {
  margin-top: 10px;
  color: #aaa;
  font-size: @font-size-s;
}

// 填料环
@-webkit-keyframes loading-filling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-filling {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  background-color: white;
  border-radius: 12px;

  .flex;
  .flex-middle;
  .flex-center;
  .flex-vertical;
}
.loading-filling-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px @primary;
  .flex;
  &:before,
  &:after {
    position: absolute;
    width: 22px;
    height: 42px;
    background: white;
    content: '';
  }
  &:before {
    top: -1px;
    left: -1px;
    transform-origin: 100% 50%;
    animation: loading-filling 1.2s ease 0.9s infinite;
  }
  &:after {
    top: -1px;
    left: 50%;
    transform-origin: 0 50%;
    animation: loading-filling 1.2s infinite ease;
  }
}
.loading-filling-caption {
  margin-top: 15px;
  font-size: @font-size-s;
  text-align: center;
}

// 流光
.loading-floating {
  .flex;
  .flex-middle;
  .flex-center;
  .flex-vertical;
  min-width: 80px;
  max-width: 90%;
  height: 80px;
  margin-top: -50px;
  padding: 0 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}
.loading-floating.animated .loading-floating-blade {
  animation-play-state: running;
}
.loading-floating-icon {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 10px auto 10px;
}
.loading-floating-blade {
  background-color: white;
  // background-color: #8C8C8C;
}
.loading-floating-blade {
  position: absolute;
  top: 37%;
  left: 44.5%;
  width: 8.57143%;
  height: 25.71429%;
  border-radius: 50%/16.67%;
  animation: loading-floating-blade-fade 1s linear infinite;
  animation-play-state: paused;
}
.loading-floating-blade:nth-child(1) {
  transform: rotate(30deg) translate(0, -150%);
  animation-delay: -1.66667s;
}
.loading-floating-blade:nth-child(2) {
  transform: rotate(60deg) translate(0, -150%);
  animation-delay: -1.58333s;
}
.loading-floating-blade:nth-child(3) {
  transform: rotate(90deg) translate(0, -150%);
  animation-delay: -1.5s;
}
.loading-floating-blade:nth-child(4) {
  transform: rotate(120deg) translate(0, -150%);
  animation-delay: -1.41667s;
}
.loading-floating-blade:nth-child(5) {
  transform: rotate(150deg) translate(0, -150%);
  animation-delay: -1.33333s;
}
.loading-floating-blade:nth-child(6) {
  transform: rotate(180deg) translate(0, -150%);
  animation-delay: -1.25s;
}
.loading-floating-blade:nth-child(7) {
  transform: rotate(210deg) translate(0, -150%);
  animation-delay: -1.16667s;
}
.loading-floating-blade:nth-child(8) {
  transform: rotate(240deg) translate(0, -150%);
  animation-delay: -1.08333s;
}
.loading-floating-blade:nth-child(9) {
  transform: rotate(270deg) translate(0, -150%);
  animation-delay: -1s;
}
.loading-floating-blade:nth-child(10) {
  transform: rotate(300deg) translate(0, -150%);
  animation-delay: -0.91667s;
}
.loading-floating-blade:nth-child(11) {
  transform: rotate(330deg) translate(0, -150%);
  animation-delay: -0.83333s;
}
.loading-floating-blade:nth-child(12) {
  transform: rotate(360deg) translate(0, -150%);
  animation-delay: -0.75s;
}

@-webkit-keyframes loading-floating-blade-fade {
  0% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes loading-floating-blade-fade {
  0% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
.loading-floating-caption {
  font-size: @font-size-s;
  text-align: center;
}

// 加载更多
.loading-more {
  padding: 12px 0;
  text-align: center;
  background: @body-bg-color;
  .loading-filling-wrapper {
    width: 30px;
    height: 30px;
    box-shadow: inset 0 0 0 3px @primary;
    &:before,
    &:after {
      width: 17px;
      height: 32px;
      background: @body-bg-color;
    }
  }
  label {
    margin-left: 10px;
  }
}

// 常用Loading样式
// 普通旋转
.loading-circle-spin {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  margin-right: 8px;
  animation: spin 1s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

// 追逐式旋转
.loading-circle-chase {
  svg {
    width: 26px;
    height: 26px;
    transform-origin: center;
    animation: rotate 2s linear infinite;
  }

  circle {
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dashoffset: -125px;
    }
  }
}
