// .actionsheet-mask{} // 遮罩, 基于.mask
.actionsheet-modal {
  // position: absolute;
  bottom: 0;
  border-radius: 16px 16px 0 0;
  overflow: hidden;

  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  background-color: #f3f4f5;
  // 动画使用.popup-animation
}

.actionsheet-option,
.actionsheet-cancel {
  display: block;
  box-sizing: border-box;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  &:active {
    background-color: @border;
  }
}
.actionsheet-option {
  position: relative;
  padding: 14px 4px;
  margin: 0 12px;
  text-align: center;
  .border-b;
  &.active {
    color: @primary;
  }
}

.actionsheet-cancel {
  margin-top: 8px;
  background-color: white;
}

.actionsheet-group {
  max-height: 540px;
  overflow: auto;

  background-color: rgba(255, 255, 255, 0.85);
}

// Adapt to the safe area
.actionsheet-modal.safeArea {
  &:extend(.safe-area all);
  &:extend(.safe-area.border-bottom all);
  border-color: white;
}
.actionsheet-modal.clearSafeArea {
  &:extend(.clear-safe-area all);
  &:extend(.clear-safe-area.border-bottom all);
}

.auto-safe-area-children {
  .actionsheet-modal.autoSafeArea {
    &:extend(.safe-area all);
    &:extend(.safe-area.border-bottom all);
    border-color: white;
  }
}
