/*--------------------close.less(start)----------------------*/
.close{
  .setBadge();
}
/*关闭*/
.close{
  width:@24px;
  height:@24px;
  display:-webkit-inline-box;
  -webkit-box-align:center;
  -webkit-box-pack:center;
}
.close-icon{
  display:block;
  border-radius:100%;
  background-size:cover;
  border-radius: 100%;
  color:rgba(0,0,0,.2);
}
/* 清除图标样式 */
.close-icon-clear{
  .setCloseIconClear();
}
/*--------------------close.less(end)----------------------*/