// 分组
.list-divider {
  .divider;
}

.list-title {
  color: var(--tertiary);
  font-size: var(--font-size-m);
}

.list-description {
  color: var(--tertiary);
  font-size: var(--font-size-s);
  margin-top: var(--space-xs);
}
