// 分组
.list-headline {
  padding: 12px 4px 0 4px;
}
.list-title {
  color: var(--tertiary);
  font-size: var(--font-size-m);
}
.list-description {
  color: var(--tertiary);
  font-size: var(--font-size-s);
  margin-top: 4px;
}
