// 导航
.map-navigation-button {
  color: #4e5054;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-left: 8px;
  .map-navigation-button-icon {
    font-family: 'seeds-icons';
    font-size: 14px;
    &:extend(.seeds-icon-navigation all);
  }
  .map-navigation-button-text {
    font-size: 14px;
  }
}
