.list-pageName {
  background-color: white;

  .list-divider {
    padding: 8px 12px;
    color: #1a1c1f;
    background-color: #f9fafb;
  }

  .list-item {
    margin-left: 12px;
    padding: 14px 0;
    background-image: none;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 30px;
      height: 1px;
      background-color: #e6e8eb;
    }
  }
}
