// SafeArea安全区域
.safe-area,
.auto-safe-area-children .auto-safe-area {
  // 定位
  &.top {
    top: env(safe-area-inset-top);
  }
  &.bottom {
    bottom: env(safe-area-inset-bottom);
  }
  // 间距
  &.padding-top {
    padding-top: env(safe-area-inset-top);
  }
  &.padding-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
  &.margin-top {
    padding-top: env(safe-area-inset-top);
  }
  &.margin-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
  // 高度
  &.height-top {
    height: env(safe-area-inset-top);
  }
  &.height-bottom {
    height: env(safe-area-inset-bottom);
  }
  // 边框
  &.border-top,
  &.border-bottom {
    border-style: solid;
    border-width: 0;
    border-color: transparent;
  }
  &.border-top {
    border-top-width: env(safe-area-inset-top);
  }
  &.border-bottom {
    border-bottom-width: env(safe-area-inset-bottom);
  }
  // before&after
  &.before::before,
  &.after::after {
    content: '';
    display: block;
  }
  &.before::before {
    height: env(safe-area-inset-top);
  }
  &.after::after {
    height: env(safe-area-inset-bottom);
  }
}

// 清除安全区
.clear-safe-area {
  // 定位
  &.top {
    top: 0 !important;
  }
  &.bottom {
    bottom: 0 !important;
  }
  // 间距
  &.padding-top {
    padding-top: 0 !important;
  }
  &.padding-bottom {
    padding-bottom: 0 !important;
  }
  &.margin-top {
    padding-top: 0 !important;
  }
  &.margin-bottom {
    padding-bottom: 0 !important;
  }
  // 高度
  &.height-top {
    height: 0 !important;
  }
  &.height-bottom {
    height: 0 !important;
  }
  // 边框
  &.border-top {
    border-top-width: 0 !important;
  }
  &.border-bottom {
    border-bottom-width: 0 !important;
  }
  // before&after
  &.before::before {
    height: 0 !important;
  }
  &.after::after {
    height: 0 !important;
  }
}

// 根元素自动安全区，业务无需控制安全区
.auto-safe-area-root {
  #root {
    &:extend(.safe-area all);
    &:extend(.safe-area.border-bottom all);
  }
}

// 子元素自动安全区
.auto-safe-area-children {
  // 滚动弹窗选择控件: Transfer,Cascader,Select
  // 无滚动弹窗选择控件: Picker,DatePicker,Map,Share
  #root > .mask .transfer-modal,
  #root > .mask .cascader-modal,
  #root > .mask .select-modal,
  #root > .mask .picker-modal,
  #root > .mask .map-modal,
  #root > .mask .share-modal,
  #root > .mask .actionsheet-modal {
    &:extend(.safe-area all);
    &:extend(.safe-area.border-bottom all);
  }

  // ActionSheet
  #root > .mask .actionsheet-modal {
    border-color: white;
  }

  // Layout
  #root > .layout.full > .layout-main,
  #root > .layout.full > .layout-aside {
    &:extend(.safe-area all);
    &:extend(.safe-area.after all);
  }

  #root > .layout.full > .layout-footer {
    &:extend(.safe-area all);
    &:extend(.safe-area.border-bottom all);
  }
}
