// 搜索控件
.map-searchControl-navigation {
  .flex;
  .flex-middle;
  background: #ffffff;
  box-shadow: 0px 2px 7px 0px rgba(35, 63, 92, 0.2);
  border-radius: 8px;
  height: 36px;
  padding: 0 12px;

  position: absolute;
  top: 12px;
  right: 12px;
  left: 12px;
  z-index: 1;
}
.map-searchControl-navigation-icon {
  font-family: 'seeds-icons';
  font-size: 16px;
  color: #a9b1b9;
  &:extend(.seeds-icon-search all);
  vertical-align: middle;
}
.map-searchControl-navigation-label {
  color: #a9b1b9;
  letter-spacing: 0;
  height: 100%;
  .flex;
  .flex-middle;
  margin-left: 4px;
}
.map-searchControl-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.map-searchControl-header {
  gap: 8px;
  .flex;
  .flex-middle;
  padding: 12px 12px;
  background-color: #fff;
}

.map-searchControl-header-cancel {
  font-size: 15px;
  color: #4f565d;
}
.map-searchControl-header-input {
  .flex;
  .flex-middle;
  .flex-1;
  background: #ffffff;
  border: 1px solid @primary;
  border-radius: 8px;
  height: 36px;
  padding: 0 12px;
  .input-text {
    margin-left: 4px;
  }
}
.map-searchControl-header-input-icon {
  .map-searchControl-navigation-icon;
}

.map-searchControl-body {
  position: relative;
  flex: 1;
  overflow: auto;
  background-color: white;
}
.map-searchControl-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 12px;
  background-color: white;
  .border-b;
}
.map-searchControl-item-content {
  flex: 1;
  padding: 12px 0;
}
.map-searchControl-item-content-title {
  .flex;
  .flex-middle;
  font-size: 16px;
  color: #1a1c1f;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: bold;
}
.map-searchControl-item-content-description {
  .flex;
  .flex-middle;
  color: #77818c;
  margin-top: 6px;
}
