/*----------------grid.less(start)--------------*/
/*图标区域*/
.grid-icon{
	display:-webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	position:relative;
	box-sizing:border-box;
	margin:0px auto;
	background-size:cover;
	background-position:center;
}
/*文字区域*/
.grid-label{
	display:block;
  margin-top:@8px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing:border-box;
  
  height: @16px;
  line-height: @16px;

  color:@sub-color;
}
.grid-icon>img{
	max-width:100%;
	max-height: 100%;
}

.grid{
	position: relative;
	&:after{
		display:table;
		content:'';
		clear: both;
		zoom:1;
	}
	li{
		position: relative;
		width:33%;
		float:left;
		text-align:center;
		padding:@2px;
		box-sizing:border-box;
		
	}
	
	//列数
	&[data-col="2"] li{
		width:50%;
		&:nth-of-type(2n){
			&:before{
				height: 0;
			}
		}
	}
	&[data-col="3"] li{
		width:33.33%;
		&:nth-of-type(3n){
			&:before{
				height: 0;
			}
		}
	}
	&[data-col="4"] li{
		width:25%;
		&:nth-of-type(4n){
			&:before{
				height: 0;
			}
		}
	}
	&[data-col="5"] li{
		width:20%;
		&:nth-of-type(5n){
			&:before{
				height: 0;
			}
		}
	}
}
/*边框*/
.grid.grid-bordered{
	li{
		&:before,&:after{
			.setConentLine();
		}
		//右竖线
		&:before{
			top: 0;
			bottom: auto;
			left: auto;
      right: 0;
      width: @1px;
      height: 100%;
      -webkit-transform-origin:right center;
		}
		//下横线
		&:after{
			top: auto;
			right: auto;
	    bottom: 0;
	    left: 0;
	    height: @1px;
	    width: 100%;
	    -webkit-transform-origin:center bottom;
		}
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 2) {
		//下横线
		li:after {
			-webkit-transform: scaleY(0.5);
		}
		//右竖线
		li:before {
			-webkit-transform: scaleX(0.5);
		}
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 3) {
		//下横线
		li:after {
			-webkit-transform: scaleY(0.33);
		}
		//右竖线
		li:before {
			-webkit-transform: scaleX(0.33);
		}
	}
}
/*单元格行间距*/
.grid li {
  padding-top: @8px;
}
.grid li:last-child{
	padding-bottom:@8px;
}
.grid.grid-bordered li{
	padding-top:@8px;
	padding-bottom:@8px;
}
/*提示*/
.grid .tip,.grid .badge{
	position:absolute;top:-4px;right:-4px;
}
.grid .close{
	position: absolute;
	top:-6px;
	left:-6px;
	background-color: #FF6A54
}
/*----------------类型----------------*/
/*方块类型*/
.grid-square .grid-icon{
	width: 50px;
	height: 50px;
}
.grid-square .icon{
	width: 26px;
	height: 26px;
	font-size: 26px;
}
/*裸图标类型*/
.grid-pure .grid-icon{
	width: 32px;
	height: 32px;
}
.grid-pure .icon{
	width: 32px;
	height: 32px;
	font-size: 32px;
}
/*相册类型*/
.grid-album li{
  padding: 6px;
}
.grid-album .grid-icon{
  height: 90px;
  width: 100%;
  border:1px solid #e5e5e5;
  background-color: white;
  background-size: cover;
  color: #e5e5e5;
}
.grid-album .grid-icon-add{
	border:1px dashed @border;
}
.grid-album .icon{
	width: 50px;
	height: 50px;
	font-size: 50px;
  pointer-events:none;
}

/*----------------grid.less(end)----------------*/