/*----------sliver.less(start)----------*/
.sliver,.statusbar{
	position:relative;
	display: -webkit-box;
    -webkit-box-align: center;
    padding: 0 @px12;
}
.sliver{
    height: @px40;
    color: @primary-bg;
}
.statusbar{
    height: @px32;
    color: @bar-status-color;
    background-color: @bar-status-bg;
}
.sliver-title,.statusbar-title{
	display: block;
    height: @px20;
    line-height: @px20;
    -webkit-box-flex: 1;
}
.sliver .peg{
	display: block;
}
.sliver .peg+.sliver-title{
    padding: 0 0 0 @px8;
}
/*----------sliver.less(end)----------*/