/*----------------attribute.less(start)----------------*/
.attribute{
  &:extend(.box);
  &:extend(.box-middle);
  &:extend(.box-flex-1);
  .ricon{
    margin-left: 4px;
  }
}

.attribute-margin{
  margin: 10px 12px;
}
.attribute-padding {
  padding: 10px 12px;
}

// 用于4列时左右两部分分割
.attribute-half{
  width: 50%;
}
.attribute-half:nth-of-type(2){
  margin-left: 8px;
}
.attribute-left, .attribute-right {
  position: relative;
}
.attribute-left {
  color: #aaa;
  margin-right: 8px;
}
.attribute-right {
  &:extend(.box);
  &:extend(.box-flex-1);
}
// 对齐布局
.attributes.align, .attribute.align {
  .attribute-left {
    &:extend(.box-flex-none);
    width: 30%;
  }
}

// 两端对齐
.attributes.between, .attribute.between {
  .attribute-right {
    &:extend(.box-right);
  }
}

// 换行对齐
.attributes.wrap .attribute{
  display: block;
}
.attribute.wrap {
  display: block;
}

// 内部文本框
.attribute{
  .input-text,.input-textarea,.input-pre-space{
    display: block;
    -webkit-box-flex: 1.0;
  }
}
/*----------------attribute.less(end)----------------*/