.form-item-name {
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}
.form-item-required {
  color: var(--danger);
  vertical-align: middle;
}
.form-item-help {
  font-family: 'iconfont';
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 0 2px;
  vertical-align: middle;
  font-family: 'seeds-icons';
  &:extend(.seeds-icon-rdo-question-fill all);
  color: #b1b8c0;
}
