/*----------------radio.less(start)--------------*/
.radio{
  height: @22px;
  width: @22px;
  line-height: @22px;
  font-size: @22px;
  vertical-align: middle;
  outline: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
  background-position:0 0;
  background-repeat:no-repeat;
  background-size:auto 100%;

  color:@radio-color;

  &:checked,&.active{
    color:@radio-color-active;
  }
  &[disabled]{
    color:@radio-color-disable;
  }
  .setRadioIcon();
}
/*icon*/
.radio:checked{
  .setRadioActiveIcon();
}
/*label*/
.radio+label{
  margin:0 @4px;
}
/*----------------radio.less(end)--------------*/