/*----------------aside.less(start)--------------*/
.aside,.aside-wrapper{
	position:relative;
    width:100%;
    height:100%;
}
.aside-middle{
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.aside-wrapper,aside{
	-webkit-transition-property:transform;
}
.aside{
	overflow:hidden;
}
aside{
	visibility:hidden;
	position:absolute;
	width:264px;
	top:0;
	bottom:0;

	background-color: $aside-bg;
}
aside[data-transition="overlay"],aside[data-transition="push"]{
	z-index:1;
}
aside[data-position="left"]{
	left:0;
}
aside[data-position="right"]{
	right:0;
}
aside[data-position="left"][data-transition="push"]{
	-webkit-transform:translate3d(-100%,0,0);
}
aside[data-position="left"][data-transition="overlay"]{
	-webkit-transform:translate3d(-100%,0,0);
}
aside[data-position="right"][data-transition="push"]{
	-webkit-transform:translate3d(100%,0,0);
}
aside[data-position="right"][data-transition="overlay"]{
	-webkit-transform:translate3d(100%,0,0);
}
/*----------------aside.less(end)--------------*/