/*----------------border.less(start)--------------*/
hr{
    position: relative;
    border:0;
    clear:both;
}
.hline,.vline,hr:after,.topline:before,.underline:after,.leftline:before,.rightline:after {
	content: '';
    display: block;
    position: absolute;
    background-color: $border;
    
    //兼容UC线条不显示的BUG
    z-index:0;overflow: hidden;-webkit-backface-visibility:hidden;
}
//上横线
.topline:before{
    top: -1px;
	right: auto;
    bottom: auto;
    left: 0;
    height: 1px;
    width: 100%;
}
//下横线
.underline:after,.hline,hr:after{
	top: auto;
	right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
}
//左竖线
.leftline:before{
	top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 1px;
    height: 100%;
}
//右竖线
.rightline:after,.vline{
	top: 0;
	bottom: auto;
	left: auto;
    right: 0;
    width: 1px;
    height: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	//横线
	.topline:before,.underline:after,.hline,hr:after {
		-webkit-transform: scaleY(0.5);
	}
	//竖线
	.leftline:before,.rightline:after,.vline {
		-webkit-transform: scaleX(0.5);
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
	//横线
	.topline:before,.underline:after,.hline,hr:after {
		-webkit-transform: scaleY(0.33);
	}
	//竖线
	.leftline:before,.rightline:after,.vline {
		-webkit-transform: scaleX(0.33);
	}
}

.bordered{
	border-style:solid;
	border-width:1px;
	border-color: $dpborder;
}
.dotted{
	border-style:dotted;
}
.dashed{
	border-style:dashed;
}
/*----------------border.less(end)--------------*/