/*----------------form.less(start)--------------*/
//文本框
.input-text{
	display:inline-block;
	box-sizing:border-box;
	min-height:20px;
	line-height:20px;
	padding:12px 8px;
	text-align: left;
}
//多行文本框
.input-textarea{
	height:60px;
	display:block;
	box-sizing:border-box;
	padding: 0 8px;
	margin:12px 0;
}
//自增高文本框
.input-pre{
	height: 22px;
	margin: 12px 8px;
	&,+pre{
		padding: 0px;
	    line-height: 22px;
	    min-height: 22px;
	}
	+pre{
		position: absolute;
	    left: 0;
	    top: 100px;
	    visibility: hidden;
	    span{
	    	display: inline;
	    }
	}
}
/*----------------form.less(end)--------------*/
