/*----------------layout.less(start)--------------*/
/*header,footer*/
header,footer{
	position:fixed;
	width:100%;
	z-index:2;
}
header{
	top:0;
}
footer{
	bottom:0;
}
/*article*/
article{
	box-sizing:border-box;
}
header+article{
	padding-top:44px;
}

/*section*/
.sections,section{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
section{
    background-color: $body-bg;

    header,footer{
        position:absolute;
    }
}

/*aside*/
aside{
	header,footer{
        position:absolute;
    }
}

section article,aside article,.article-absolute{
	position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    overflow: auto;
}
/*----------------layout.less(end)--------------*/