/*---------------list.less(start)---------------*/
.list{
	background-color: white;
	li{
		position:relative;
		display:-webkit-box;
		padding: 10px 12px;
		-webkit-box-align: center;
	}
	li:active{
		background-color:$bar-bg;
	}
}
.list-thumbnail{
    display: -webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    position:relative;
    height:62px;
    overflow:hidden;
    margin-right: 10px;
    background-size:cover;
    background-color: $photo-bg;
}
.list-thumbnail img{
    max-width: 97px;
    max-height: 62px;
}

.list-container{
    -webkit-box-flex: 1.0;
    margin-right: 10px;
}

.list-row{
    display: -webkit-box;
    -webkit-box-align:center;
    padding: 1px 0;
    font-size: 13px;
}
.list-title{
    font-size: 17px;
    padding: 1px 0;
}
.list-icon{
    display: block;
    font-size: 14px;
    width: 14px;
    height: 14px;
    color: $placeholder-color;
}
.list-font{
    height: 20px;
    display: block;
    line-height: 22px;
    -webkit-box-flex:1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $sub-color;
}
.list-icon+.list-font{
	margin-left: 8px;
}
/*---------------list.less(end)---------------*/