/*----------------switch.less(start)--------------*/
/*关闭状态*/
.switch {
	position: relative;
	display: inline-block;
	height: 30px;
	width: 60px;
	background-color:transparent;
	border-radius: 30px;
	-webkit-transition-duration: .2s;
	-webkit-transition-property: background-color, border;
	border-width:1px;
	border-style:solid;
	
	border-color:$dpborder;

	/*关闭状态文字off*/
	&:after{
		position: absolute;
		right: 11px;
		top:50%;
		-webkit-transform:translateY(-50%);
		content: attr(data-off);
		
		color: $placeholder;
	}
	/*关闭状态圆点*/
	.switch-handle{
		pointer-events:none;
		position: absolute;
		left:0;
		top:50%;
		-webkit-transform:translate(4px,-50%);
		width: 20px;
		height: 20px;
		border-radius: 100px;
		-webkit-transition-duration: .2s;
		-webkit-transition-property:-webkit-transform, border, width;
		
		background-color:$dpborder;
	}
	/*打开状态*/
	&.active {
		background-color:transparent;
		/*打开状态文字on*/
		&:after{
			right: auto;
			left: 11px;
			content: attr(data-on);

			color: $placeholder;
		}
		/*打开状态小圆点*/
		.switch-handle{
			left:0;
			top:50%;
			-webkit-transform: translate(34px,-50%);

			background-color: $success-bg;
		}
	}
	/*开关控件toggle-反转*/
	&.reverse{
		border:none;
		background-color:white;
		box-shadow: inset 0 0 0 2px $dpborder;
		
		.switch-handle{
			width: 26px;
			height: 26px;
			-webkit-transform: translate(2px,-50%);

			background-color:white;
			-webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
		}
		&.active{
			background-color:$success-bg;
			-webkit-box-shadow: none;
			&:after{
				color:white;
			}
			.switch-handle{
				-webkit-transform: translate(32px,-50%);

				background-color:white;
			}
		}
		&:after{
			color:$placeholder;
		}
	}
}
/*开关控件toggle-无文字*/
.notext.switch{
	width: 50px;
	&.active{
		.switch-handle{
			 -webkit-transform: translate(24px,-50%);
		}
	}
	&:after{
		content:none;
	}
	&.reverse.active .switch-handle{
		-webkit-transform: translate(22px,-50%);
	}
}
/*----------------switch.less(end)--------------*/