/*----------------timepart.less(start)--------------*/
.timepart{
    padding: 1px 0;
    background-color:white;
}
.timepart-row{
    display: -webkit-box;
    margin: 20px 20px 40px 20px;
}
.timepart-part{
    display: block;
    width:16%;
    height:18px;
    border-width:1px 1px 1px 0;
    border-style:solid;
    box-sizing:border-box;
    border-color:$border;
    span{
        float:left;
        margin-top:22px;
        font-size:13px;
        margin-left:-16px;
    }
    &:nth-of-type(even){
        span{
            display:none;
        }
    }
    &:nth-of-type(1){
        border-width:1px;
        span{
            margin-left:-7px;
        }
    }
    &:nth-last-of-type(1){
        span{
            display:inline-block;
            float:right;
            margin-right:-7px;
        }
    }
    &.active{
        background-color: $primary-bg;
    }
    &.disabled{
        color:$sub-color;
        background-color:$disable-bg;
    }
}
.timepart[data-col="2"] .timepart-row .timepart-part{
    width:50%;
}
.timepart[data-col="3"] .timepart-row .timepart-part{
    width:33%;
}
.timepart[data-col="3"] .timepart-row .timepart-part:nth-of-type(even){
    width:34%;
}
.timepart[data-col="4"] .timepart-row .timepart-part{
    width:25%;
}
.timepart[data-col="5"] .timepart-row .timepart-part{
    width:20%;
}
.timepart[data-col="6"] .timepart-row .timepart-part{
    width:17%;
}
.timepart[data-col="6"] .timepart-row .timepart-part:nth-of-type(even){
    width:16%;
}
/*----------------timepart.less(end)--------------*/