/*----------------titlebar.less(start)--------------*/
.titlebar{
	display:-webkit-box;
    -webkit-box-align:center;
	min-height:44px;
	box-sizing:border-box;

	background-color:$bar-bg;
	

	//标题
	h1{
		font-size: 17px;
		font-weight: normal;

		color:$bar-color;
		&:first-child{
			margin-left:8px;
		}
		&:only-child{
			margin-right:8px;
		}
	}

	/*左右对齐*/
	.titlebar-left,.titlebar-right{
		position:absolute;
		top:50%;
		-webkit-transform:translateY(-50%);
		transform:translateY(-50%);
		z-index:1;
	}
	.titlebar-left{
		left:0;
	}
	.titlebar-right{
		right:0;
	}

	//底线
	&:after{
		content: '';
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		right: auto;
		height: 1px;
		width: 100%;
		display: block;
		-webkit-transform-origin: 50% 100%;
		background-color: $border;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 2) {
		&:after {
			-webkit-transform: scaleY(0.5);
		}
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 3) {
		&:after {
			-webkit-transform: scaleY(0.33);
		}
	}
}




.titlebar,.titlebar-button,.titlebar h1{
	position:relative;
}
.titlebar .icon+.icon{
	margin-left: 0;
}
.titlebar-button{
	max-height:32px;
	margin:0 8px;
}
.titlebar-button+.titlebar-button{
	margin-left:0px;
}
.titlebar-button:active{
	color:$bar-link-active;
	border-color:$bar-link-active;
}
.titlebar.reverse{
	background-color:$bar-reverse-bg;
	border-color:$bar-reverse-border;
}
.titlebar.reverse h1{
	color:$bar-reverse-color;
}
/*----------------titlebar.less(end)----------------*/