/*----------------turn.less(start)--------------*/
.turn{
	position: relative;
	border-radius:4px;
	width: 74px;
	height: 30px;
	background-color: $primary-bg;
	border:1px solid $primary-bg;
}
.turn-on,.turn-off{
	position: absolute;
	display: -webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	width: 50%;
	height: 100%;
	top:0;
}
.turn-on{
	right: 0;
	background-color: white;
	color: $primary-bg;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.turn-off{
	left: 0;
	background-color: $primary-bg;
	color: white;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.turn.active{
	.turn-on{
		background-color: $primary-bg;
		color: white;
	}
	.turn-off{
		background-color: white;
		color: $primary-bg;
	}
}
/*----------------turn.less(end)--------------*/