<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
	<title>exmobi-webview</title>
	<link rel="stylesheet" href="../../scripts/lib/seedsui/seedsui.min.css">
</head>

<body ontouchstart="">
		<header>
		    <div class="titlebar">
		        <a href="javascript:Exmobi.close()"><i class="icon icon-arrowleft"></i></a>
		        <h1>webview</h1>
		    </div>
		</header>
		<article>
			<a class="button block margin8" href="exmobi-webview-second.html">下一级</a>
		</article>
	
    <script src="../../scripts/lib/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../../scripts/lib/exmobi/exmobi.js"></script>-->
	<script>
		//定义exmobi返回
		function back(){Exmobi.close();}
	</script>
</body>
</html>
