<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>group-row</title>
    <link rel="stylesheet" href="../../plugin/seedsui/seedsui.min.css">
</head>

<body ontouchstart="">
    <header>
        <div class="titlebar">
            <a class="titlebar-button" href="javascript:back()"><i class="icon icon-arrowleft"></i></a>
            <h1>行分组</h1>
        </div>
    </header>
    <article>
        <div class="inputbox underline">
            <label class="inputbox-left">行左侧</label>
            <div class="inputbox-right">
                行右侧内容
            </div>
        </div>
        <div class="inputbox underline">
            <label class="inputbox-left">行左侧</label>
            <div class="inputbox-right">
                行右侧内容
            </div>
        </div>
        <div class="inputbox underline">
            <label class="inputbox-left">行左侧</label>
            <div class="inputbox-right">
                行右侧内容
            </div>
        </div>
    </article>
    <script src="../../plugin/seedsui/seedsui.min.js"></script>
    <!--Exmobi能力-->
    <!--<script src="../../plugin/exmobi/exmobi.js"></script>-->
    <script>
    //定义exmobi返回
    function back(){history.go(-1);}
</script>
</body>
</html>